@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .mdc-snackbar__surface {
  background-color: #313a46 !important;

  .mat-mdc-button-ripple {
    color: #d4aa32 !important;
  }
  .mdc-button__label {
    color: #d4aa32 !important;
  }
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar {
  -webkit-appearance: none;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar:vertical {
  width: 8px;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar:horizontal {
  height: 11px;
}

::ng-deep .mat-mdc-select-panel::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 2px solid white; /* should match background, can't be transparent */
  background-color: rgba(111, 111, 111, 0.5);
}

::ng-deep .textfield-options-category:first-child {
  background: none !important;
  cursor: default;
  padding: 0 !important;
  justify-content: center !important;
  min-height: unset !important;
  padding-bottom: 7px !important;

  &:hover {
    background: none;
  }
  .mat-ripple {
    display: none;
  }

  .mdc-list-item__primary-text {
    margin: 0 !important;
    width: 100%;
    padding: 0 5px;
  }

  .input-search {
    padding: 5px 7px;
    font-size: 13px;
    width: 100%;
    border: 1px solid #c2cede;
    border-radius: 3px;

    .search-icon {
      width: 14px;
    }

    input {
      border: none;
    }
  }
  .input-search::placeholder {
    font-size: 13px;
  }
}

::ng-deep .textfield-dropdown-category {
  width: 15rem;
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-infix {
      padding: 5px 0;
      height: 35px;
      min-height: unset;

      .mat-mdc-select-min-line {
        font-size: 13px;
      }
    }

    &:hover {
      .mat-mdc-form-field-infix {
        .mat-mdc-select-min-line {
          color: #d4aa32;
        }
      }

      .mat-mdc-form-field-flex {
        .mdc-notched-outline {
          .mdc-notched-outline__leading {
            border-left: 1px solid #d4aa32;
            border-bottom: 1px solid #d4aa32;
            border-top: 1px solid #d4aa32;
          }

          .mdc-notched-outline__trailing {
            border-bottom: 1px solid #d4aa32;
            border-top: 1px solid #d4aa32;
            border-right: 1px solid #d4aa32;
          }
        }
      }
    }

    .mat-mdc-form-field-flex {
      .mdc-notched-outline {
        .mdc-floating-label {
          top: 18px !important;
        }

        .mdc-notched-outline__leading {
          border-left: 1px solid #c2cede;
          border-bottom: 1px solid #c2cede;
          border-top: 1px solid #c2cede;
        }

        .mdc-notched-outline__trailing {
          border-bottom: 1px solid #c2cede;
          border-top: 1px solid #c2cede;
          border-right: 1px solid #c2cede;
        }
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

.alert-msg {
  position: absolute;
  top: 5rem;
  right: 2rem;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 100;
}

.add-catagory {
  background-color: #d4aa32;
}

.card {
  cursor: pointer;

  .card-top-img {
    max-width: 2em;
    max-height: 2em;
  }

  .category-name {
    font-size: 1.25rem;
    font-weight: 600;
    max-width: 7rem;
  }

  .category-description {
    font-size: 0.986rem;
  }
}

.category-card {
  background: white;
  border: 1px solid #e0e6ee;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.25rem;
  position: relative;
  color: #d4aa32;
  padding: 25px 30px;

  .category-icon {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  .btn-style {
    background: white;
    color: #2b333e;
    box-shadow: none;
    border: 1px solid #2b333e69;
    font-size: 13px;
    font-weight: 500;
    padding: 0.5rem;
    z-index: 10;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap-reverse;

    img {
      width: 16px;
      filter: invert(17%) sepia(12%) saturate(1113%) hue-rotate(175deg)
        brightness(91%) contrast(89%);
    }

    &:hover {
      background: #2b333e;
      color: white;
      box-shadow: none;
      border: 1px solid #2b333e69;
      img {
        width: 16px;
        filter: brightness(0) invert(1);
      }
    }
  }

  .delete-btn {
    background: rgb(255 0 0 / 4%);
    color: red;
    box-shadow: none;
    border: 1px solid #ff000059;
    font-size: 13px;
    font-weight: 500;
    padding: 0.5rem;
    z-index: 10;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap-reverse;

    img {
      width: 16px;
      filter: invert(17%) sepia(79%) saturate(7468%) hue-rotate(358deg)
        brightness(105%);
    }

    &:hover {
      background: #e30000c4;
      color: white;
      box-shadow: none;
      border: 1px solid #ff000059;
      img {
        width: 16px;
        filter: brightness(0) invert(1);
      }
    }
  }
}

::ng-deep
  .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
  .mdc-switch__shadow {
  background-color: #d4aa32;
  /*replace with your color*/
}

::ng-deep
  .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled)
  .mdc-switch__track::after {
  background-color: #f0d99a !important;
  /*replace with your color*/
}
