<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="main-content reports-bg">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div class="col">
      <div
        class="alert-msg"
        [ngClass]="[item_deleted ? 'bg-success' : 'bg-danger']"
        *ngIf="display_msg"
      >
        {{msg}}
      </div>

      <div class="row m-0 justify-content-between align-items-center">
        <div class="row m-0 align-items-center">
          <span style="font-size: 2rem; font-weight: 600">All Categories</span>
          <div class="textfield-dropdown-category ml-3">
            <mat-form-field class="textField w-100" appearance="outline">
              <mat-select
                (click)="resetMatSelect()"
                [(ngModel)]="property_id"
                (selectionChange)="selectProperty($event)"
                placeholder="Select Building"
              >
                <mat-option
                  class="textfield-options-category"
                  *ngFor="let prop of propertiesFilter;let first = first;"
                  [value]="prop.value"
                >
                  <div
                    *ngIf="first"
                    class="row m-0 align-items-center input-search"
                  >
                    <img
                      class="search-icon mr-1"
                      src="assets/img/svg/searchbar/search-normal-1.svg"
                      alt=""
                    />
                    <input
                      [(ngModel)]="searchTextValue"
                      placeholder="Search Building"
                      #inputBox
                      type="text"
                      (click)="focusOnInput($event)"
                      (keyup)="searchBuilding(inputBox.value,$event)"
                    />
                  </div>

                  <span *ngIf="!first">{{prop.viewValue | titlecase}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div
          class="btn"
          style="
            margin: 0;
            padding: 7px 15px;
            margin-right: 10px;
            background: #d4aa32;
          "
          (click)="openWindow()"
        >
          <div
            class="row m-0 align-items-center"
            style="width: 135px; justify-content: space-between"
          >
            <img
              src="assets/img/svg/add-square.svg"
              alt
              style="width: 20px; filter: brightness(0) invert(1)"
            />
            <p class="m-0">Add Category</p>
          </div>
        </div>
      </div>

      <div
        *ngIf="isCategoryLoading"
        style="
          display: flex;
          width: 100%;
          height: 700px;
          justify-content: center;
          align-items: center;
        "
      >
        <span
          class="spinner-border spinner-border-m mr-2"
          style="color: #d4aa32"
        >
        </span>
      </div>
      <div
        *ngIf="!isCategoryLoading"
        class="row d-flex align-items-stretch mt-2"
      >
        <div
          class="col-lg-4"
          *ngFor="let category of categories_props; let index = i"
        >
          <div class="card category-card m-0 mt-4">
            <div class="card-body p-0">
              <div class="row">
                <div class="col-4">
                  <img
                    src="https://indusre.app/api/upload/category/{{category?.icon}}"
                    alt="category icon"
                    class="category-icon"
                  />
                </div>
                <div
                  class="col-8 m-auto"
                  style="font-size: 20px; font-weight: 500"
                >
                  {{category?.name | titlecase}}
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-4 d-flex m-auto">
                  <button
                    class="btn btn-style"
                    title="EDIT"
                    (click)="edit_item(category)"
                  >
                    <p class="w-100 m-0">
                      <img src="assets/img/svg/property-page/edit.svg" alt />
                      <span class="m-auto px-2">Edit</span>
                    </p>
                  </button>
                </div>

                <div class="col-4 d-flex m-auto">
                  <mat-slide-toggle
                    class="m-auto slider-toggle-status"
                    [checked]="category?.status !== '0' ? true : false"
                    (change)="stauts_change($event,category?.id)"
                  ></mat-slide-toggle>
                </div>

                <div class="col-4 d-flex m-auto">
                  <button
                    class="btn delete-btn"
                    title="DELETE"
                    (click)="delete_item(category?.id)"
                  >
                    <p class="w-100 m-0">
                      <img src="assets/img/svg/delete.svg" alt />
                      <span class="m-auto px-2">Delete</span>
                    </p>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
