@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.alert-msg {
  position: absolute;
  top: 5rem;
  right: 2rem;
  color: #fff;
  font-weight: 600;
  padding: 1rem;
  border-radius: 1rem;
  z-index: 100;
}

.add-catagory {
  background-color: #d4aa32;
}

.card {
  cursor: pointer;

  .card-top-img {
    max-width: 2em;
    max-height: 2em;
  }

  .category-name {
    font-size: 1.25rem;
    font-weight: 600;
    max-width: 7rem;
  }

  .category-description {
    font-size: 0.986rem;
  }
}

.category-card {
  background: white;
  border: 1px solid #e0e6ee;
  box-shadow: none;
  font-weight: 700;
  font-size: 1.25rem;
  position: relative;
  color: #d4aa32;
  padding: 25px 30px;

  .category-icon {
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
  }

  .btn-style {
    background: white;
    color: #2b333e;
    box-shadow: none;
    border: 1px solid #2b333e69;
    font-size: 13px;
    font-weight: 500;
    padding: 0.5rem;
    z-index: 10;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap-reverse;

    img {
      width: 16px;
      filter: invert(17%) sepia(12%) saturate(1113%) hue-rotate(175deg)
        brightness(91%) contrast(89%);
    }

    &:hover {
      background: #2b333e;
      color: white;
      box-shadow: none;
      border: 1px solid #2b333e69;
      img {
        width: 16px;
        filter: brightness(0) invert(1);
      }
    }
  }

  .delete-btn {
    background: rgb(255 0 0 / 4%);
    color: red;
    box-shadow: none;
    border: 1px solid #ff000059;
    font-size: 13px;
    font-weight: 500;
    padding: 0.5rem;
    z-index: 10;
    width: 100%;
    display: flex;
    align-content: center;
    flex-wrap: wrap-reverse;

    img {
      width: 16px;
      filter: invert(17%) sepia(79%) saturate(7468%) hue-rotate(358deg)
        brightness(105%);
    }

    &:hover {
      background: #e30000c4;
      color: white;
      box-shadow: none;
      border: 1px solid #ff000059;
      img {
        width: 16px;
        filter: brightness(0) invert(1);
      }
    }
  }

  mat-slide-toggle {
    color: #34ae39 !important;
  }

  mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #34ae39 !important;
  }
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__shadow {
  background-color: #d4aa32;
  /*replace with your color*/
}

::ng-deep .mat-mdc-slide-toggle.mat-mdc-slide-toggle-checked:not(.mat-disabled) .mdc-switch__track::after {
  background-color: #f0d99a !important;
  /*replace with your color*/
}
