<div class="stepper-one-page">

  

  <div class="reqInfo-title">
    <span>Request Information</span>
  </div>

  <div id="block_container">
    <div id="bloc1">
      <td>
        Account Name:
      </td>
      <td class="block-val">
        John Doe
      </td>
    </div>
    <div id="bloc2">
      <td>
        Request Type:
      </td>
      <td class="block-val">
        Make a Payment
      </td>
    </div>

  </div>

  <div class="divider-req-payment">

  </div>

  <div class="reqInfo-title">
    <span>Service Requirements</span>
  </div>

  <div class="service-requirements-sec">

    <ul style="list-style-type:disc;" class="service-requirements-ul-list">
      <li>Please submit your application to report maintenance issue, during the Defect Liability Period (DLP).</li>
      <li>Please schedule a visit by selecting the preferred date and time.</li>
      <li>You will be contacted by our Facilities Management Representative to confirm the appointment.</li>
    </ul>
  </div>

  <!-- <div class="upper-box text-right">
    <button mat-raised-button type="submit" class="btn-next">
      Next
    </button>
  </div> -->

</div>