<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <!-- <div class="card-header"></div> -->
  <div class="card-body" style="padding: 1.5rem 1.5rem">
    <div class="col">
      <div class="row m-0 align-items-start w-100">
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">Tenants</p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
        />
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">
          My Tenants
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
        />
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">
          Property Related Requests
        </p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt=""
        />
      </div>

      <p class="details-title mt-4">All Requests</p>

      <div
        class="card"
        style="
          background: #e0b86a29;
          border-radius: 10px;
          overflow: auto;
          height: 32rem;
        "
      >
        <div class="card-header" style="background: #dba53ed1">
          <div class="row m-0" style="padding: 0 1rem">
            <div class="col-2 pl-0 heading-docs">REQ NO.</div>
            <div class="col-4 heading-docs">REQUEST TYPE</div>
            <div class="col-2 heading-docs">STATUS</div>
            <div class="col-3 heading-docs">DATE ISSUED</div>
            <div class="col-1 heading-docs">More</div>
          </div>
        </div>
        <div class="card-body" style="padding: 1rem 2rem">
          <div
            *ngIf="reqs_loading == true"
            style="
              height: 170px;
              display: flex;
              justify-content: center;
              align-items: end;
            "
          >
            <span
              class="spinner-border spinner-border-m mr-2"
              style="color: #e0b35d"
            >
            </span>
          </div>
          <div *ngIf="reqs_loading == false">
            <div
              class="w-100 d-flex justify-content-center align-items-center"
              *ngIf="prop_reqs.length == 0"
              style="height: 25rem"
            >
              <p style="font-size: 1.3rem; font-weight: 600; color: #e0b35d">
                No Documents to show :(
              </p>
            </div>
            <div class="mt-4" *ngFor="let req of prop_reqs;let last = last">
              <div class="row m-0">
                <div class="col-2 pl-0">
                  <div *ngIf="req.request_type == 'PAYMENT'">
                    <p>{{req.request_id}}</p>
                  </div>
                  <div *ngIf="req.request_type != 'PAYMENT'">
                    <p>{{req.request_no}}</p>
                  </div>
                </div>

                <div class="col-4">
                  <p>{{getRequestType(req.request_type)}}</p>
                </div>
                <div class="col-2">
                  <p>{{req.status}}</p>
                </div>
                <div class="col-3">
                  <div *ngIf="req.request_type == 'PAYMENT'">
                    <p>{{req.issue_date}}</p>
                  </div>
                  <div *ngIf="req.request_type != 'PAYMENT'">
                    <p>{{req.created_date}}</p>
                  </div>
                </div>
                <div class="col-1">
                  <div class="row m-0">
                    <img
                      matTooltip="View Request"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      class="more-btn"
                      style="width: 20px"
                      src="assets/img/pngs/req_view.png"
                      alt=""
                    />
                  </div>
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
