<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <!-- <div class="card-header"></div> -->
  <div class="card-body" style="padding: 1.5rem 1.5rem">
    <div class="col">
      <div class="row m-0 align-items-start w-100">
        <p
          class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 20px"
        >
          Add New Unit
        </p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt=""
        />
      </div>
      <div class="row m-0 my-3">
        <div
          (click)="fileInputImage.click()"
          class="col"
          style="
            display: grid;
            max-width: 130px;
            background: #d4aa323b;
            border: 2px solid #d4aa32;
            border-radius: 8px;
            padding: 10px 10px;
            cursor: pointer;
          "
        >
          <img
            class="mx-auto"
            src="assets/img/pngs/add-image.png"
            alt=""
            style="width: 30px"
          />
          <span class="mx-auto mt-2">Add Images</span>
          <input
            multiple
            hidden
            (change)="onImageFileSelected($event.target.files)"
            #fileInputImage
            type="file"
            accept="image/*"
          />
        </div>

        <div
          class="d-flex"
          style="max-width: calc(100% - 135px); overflow: auto"
        >
          <div
            class="mx-3"
            *ngFor="let img of imgFilesBase64Uploaded;let index = index"
            style="max-width: 80px; background: #d4aa3229; min-width: 100px"
          >
            <div class="row m-0" style="position: relative">
              <div
                style="
                  width: 100%;
                  height: 7rem;
                  overflow: hidden;
                  background-image: url('{{ img }}');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  border-radius: 10px;
                "
              >
                <!-- <img
                  src="{{img}}"
                  style="height: 100%; width: 100%; object-fit: contain"
                  alt=""
                /> -->
                <img
                  (click)="removeUploadedImg(index)"
                  src="assets/img/svg/success-dialog/close-square.svg"
                  alt=""
                  style="position: absolute; width: 20px; cursor: pointer"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row m-0 mt-3">
          <div class="col pl-0">
            <div
              class="mt-2 mb-4 btn w-100"
              (click)="addPaginatorDialog('property')"
              style="
                text-align: start;
                background: white;
                box-shadow: none;
                border: 1px solid #d4aa32;
                color: black;
                padding: 15px 13px;
                font-size: 15px;
              "
            >
              <span style="color: grey"
                >{{ selected_property == undefined ? 'Select Property*' :
                selected_property.name}}</span
              >
            </div>
            <mat-form-field class="textField" appearance="outline">
              <mat-label>Unit Number*</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 101"
                [(ngModel)]="unit_number"
              />
            </mat-form-field>

            <mat-form-field class="mt-2 textField" appearance="outline">
              <mat-label>Ownership Type*</mat-label>
              <mat-select [(ngModel)]="selected_owner_type">
                <mat-option
                  *ngFor="let type of owner_type"
                  [value]="type.value"
                >
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field class="textField" appearance="outline">
              <mat-label>Unit Size</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 1250"
                [(ngModel)]="unit_size"
              />
            </mat-form-field>

            <mat-form-field class="textField" appearance="outline">
              <mat-label>Plot No.</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 10"
                [(ngModel)]="plot_no"
              />
            </mat-form-field>

            <mat-form-field class="textField" appearance="outline">
              <mat-label>Bathrooms</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 1"
                [(ngModel)]="bathrooms"
              />
            </mat-form-field>
            <mat-form-field class="textField" appearance="outline">
              <mat-label>Bedrooms</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 1"
                [(ngModel)]="bedrooms"
              />
            </mat-form-field>

            <mat-form-field class="mt-2" class="textField" appearance="outline">
              <mat-label>Description</mat-label>
              <textarea
                matInput
                rows="2"
                [(ngModel)]="unit_description"
              ></textarea>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="mt-2 textField" appearance="outline">
              <mat-label>Unit Type*</mat-label>
              <mat-select [(ngModel)]="unit_type">
                <mat-option *ngFor="let type of unitTypes" [value]="type.value">
                  {{type.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <div
              class="row m-0 justify-content-between"
              style="margin-top: -20px !important"
            >
              <div class="checkbox-add-unit">
                <mat-checkbox [(ngModel)]="extra_living_room"
                  >Extra Living Room</mat-checkbox
                >
              </div>
              <div class="checkbox-add-unit">
                <mat-checkbox [(ngModel)]="maids_room">Maids Room</mat-checkbox>
              </div>
              <div class="checkbox-add-unit">
                <mat-checkbox [(ngModel)]="family_room"
                  >Family Room</mat-checkbox
                >
              </div>
            </div>

            <div
              class="mt-2 mb-4 btn w-100"
              (click)="addPaginatorDialog('user')"
              style="
                text-align: start;
                background: white;
                box-shadow: none;
                border: 1px solid #d4aa32;
                color: black;
                padding: 15px 13px;
                font-size: 15px;
              "
            >
              <span style="color: grey">{{ getSelectOwnerTitle()}}</span>
            </div>

            <p
              *ngIf="selected_owner_type == 'multiple' && selected_all_owners.length != 0"
              class="mb-1"
              style="
                margin-top: -10px;
                margin-left: 5px;
                font-weight: 500;
                color: #d4aa32;
              "
            >
              Added Owners
            </p>

            <div
              *ngIf="selected_owner_type == 'multiple' && selected_all_owners.length != 0"
              style="max-height: 13rem; overflow: auto; margin-bottom: 10px"
            >
              <div
                class="row m-0 mb-2"
                *ngFor="let ow of selected_all_owners;let index = index"
              >
                <span
                  style="
                    background: #3c485814;
                    color: #3c4858;
                    border: 1px solid #3c4858;
                    padding: 3px 8px;
                    border-radius: 3px;
                    font-weight: 400;
                    text-overflow: ellipsis;
                    max-width: 160px;
                    overflow: hidden;
                    white-space: nowrap;
                  "
                  >{{ow.name}}</span
                >

                <img
                  (click)="removeOwner(index)"
                  class="ml-2"
                  style="width: 20px; cursor: pointer"
                  matTooltip="Remove Owner"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  src="assets/img/svg/delete.svg"
                  alt=""
                />
              </div>
            </div>

            <mat-form-field class="textField" appearance="outline">
              <mat-label>Premises No.</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 675692831"
                [(ngModel)]="premises_no"
              />
            </mat-form-field>

            <mat-form-field class="textField" appearance="outline">
              <mat-label>Floors</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 1"
                [(ngModel)]="floors"
              />
            </mat-form-field>

            <mat-form-field class="textField" appearance="outline">
              <mat-label>No. of Parking</mat-label>
              <input
                matInput
                type="number"
                placeholder="Ex. 2"
                [(ngModel)]="number_of_parking"
              />
            </mat-form-field>
          </div>

          <div class="col p-0">
            <div class="col" style="height: 31vh; overflow: auto">
              <div
                (click)="fileInput.click()"
                class="btn ml-4"
                style="background: #d4aa32"
              >
                Add Documents
              </div>
              <input
                multiple
                hidden
                (change)="onFileSelected($event.target.files)"
                #fileInput
                type="file"
                id="file"
              />

              <div *ngIf="docsFilesUploaded.length != 0">
                <div
                  *ngFor="let file of docsFilesUploaded;let index=index"
                  class="row m-0 mt-2 align-items-center"
                  style="
                    background: #d4aa3230;
                    border: solid 1px #d4aa32;
                    border-radius: 5px;
                    padding: 10px 10px;
                  "
                >
                  <img
                    src="assets/img/svg/documents/document-text.svg"
                    alt=""
                  />
                  <span
                    class="m-0 ml-3"
                    style="
                      font-weight: 500;
                      text-overflow: ellipsis;
                      max-width: 160px;
                      overflow: hidden;
                      white-space: nowrap;
                    "
                    >{{file.name}}</span
                  >
                  <img
                    (click)="removeUploadedDoc(index)"
                    src="assets/img/svg/success-dialog/close-square.svg"
                    alt=""
                    style="
                      position: absolute;
                      right: 25px;
                      width: 20px;
                      cursor: pointer;
                    "
                  />
                </div>
              </div>
            </div>
            <div class="col pr-0" style="height: 31vh; overflow: auto">
              <span style="font-size: 17px; font-weight: 500">Amenties</span>
              <div
                class="row m-0 align-items-start justify-content-between mt-2"
              >
                <mat-form-field
                  class="textField"
                  style="width: unset !important"
                  appearance="outline"
                >
                  <mat-label>Add amenties</mat-label>
                  <input
                    matInput
                    type="text"
                    placeholder="Ex. Water, ELectricity"
                    [(ngModel)]="new_amenty"
                  />
                </mat-form-field>
                <div
                  *ngIf="new_amenty != ''"
                  (click)="addAmenty()"
                  class="btn"
                  style="padding: 7px 10px; background: #d4aa32"
                >
                  Add
                </div>
                <div
                  *ngIf="new_amenty == ''"
                  class="btn"
                  style="padding: 7px 10px"
                >
                  Add
                </div>
              </div>
              <div
                class="row m-0 align-items-center my-2"
                *ngFor="let am of amenties ;let index = index"
                style="
                  background: #3c485829;
                  padding: 6px 15px;
                  border: 1px solid #3c48585c;
                  border-radius: 6px;
                "
              >
                <span>{{am}}</span>
                <img
                  (click)="deleteAmenty(index)"
                  src="assets/img/svg/success-dialog/close-square.svg"
                  alt=""
                  style="
                    position: absolute;
                    right: 15px;
                    width: 20px;
                    cursor: pointer;
                  "
                />
              </div>
            </div>
          </div>
        </div>
        <div class="col p-0">
          <span style="font-size: 17px; font-weight: 500">Add Inventory</span>
          <div class="row m-0 mt-3">
            <div class="col pl-0">
              <mat-form-field class="textField" appearance="outline">
                <mat-label>Inventory Name</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Ex. Refrigerator"
                  [(ngModel)]="inventory_name"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="textField" appearance="outline">
                <mat-label>Inventory Place</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Ex. Kitchen"
                  [(ngModel)]="inventory_place"
                />
              </mat-form-field>
            </div>
            <div class="col">
              <mat-form-field class="textField" appearance="outline">
                <mat-label>Inventory Count</mat-label>
                <input
                  matInput
                  type="number"
                  placeholder="Ex. 2"
                  [(ngModel)]="inventory_count"
                />
              </mat-form-field>
            </div>
            <div class="col pr-0">
              <div
                *ngIf="inventory_name == '' || inventory_place == '' || inventory_count == ''"
                class="btn"
                style="padding: 9px 20px"
              >
                Add
              </div>
              <div
                (click)="addinventory()"
                *ngIf="inventory_name != '' && inventory_place != '' && inventory_count != ''"
                class="btn"
                style="padding: 9px 20px; background: #d4aa32"
              >
                Add
              </div>
            </div>
          </div>
          <div class="d-flex my-2" style="max-width: 100%; overflow: auto">
            <div
              class="mx-2 mb-2"
              *ngFor="let inventory of inventories;let index = index"
              style="background: #d4aa3229; min-width: 215px"
            >
              <div
                class="row m-0 justify-content-between"
                style="
                  padding: 5px 10px;
                  border: 1px solid #d4aa3291;
                  border-radius: 7px;
                "
              >
                <span
                  style="
                    font-weight: 500;
                    text-overflow: ellipsis;
                    max-width: 160px;
                    overflow: hidden;
                    white-space: nowrap;
                  "
                  >{{inventory.name}}</span
                >
                <img
                  class="ml-2"
                  (click)="deleteInventory(index)"
                  src="assets/img/svg/success-dialog/close-square.svg"
                  alt=""
                  style="width: 20px; cursor: pointer"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="row m-0 w-100 justify-content-end align-items-center">
          <span
            class="mr-3"
            *ngIf="formNotFilled"
            style="
              color: #ff0000db;
              font-weight: 500;
              background: #ff000017;
              padding: 7px 20px;
              border: 1px solid #d1000033;
              border-radius: 7px;
            "
            >Please fill the form.</span
          >
          <span
            class="mr-3"
            *ngIf="imageNotAdded"
            style="
              color: #ff0000db;
              font-weight: 500;
              background: #ff000017;
              padding: 7px 20px;
              border: 1px solid #d1000033;
              border-radius: 7px;
            "
            >Please add atleast 1 image.</span
          >
          <span
            class="mr-3"
            *ngIf="documentNotAdded"
            style="
              color: #ff0000db;
              font-weight: 500;
              background: #ff000017;
              padding: 7px 20px;
              border: 1px solid #d1000033;
              border-radius: 7px;
            "
            >Please add atleast 1 document.</span
          >
          <span
            *ngIf="uploading"
            class="mr-3"
            style="font-size: 19px; font-weight: 600; color: #3c4858"
            >{{uploading_progress}}%</span
          >
          <div class="progress-bar mr-4" *ngIf="uploading">
            <div
              class="progress-bar-fill"
              [ngStyle]="{'width.%': uploading_progress % 100}"
            ></div>
          </div>
          <div
            class="btn"
            style="background: #3c4858; min-width: 120px; padding: 10px 20px"
            (click)="onSubmit()"
          >
            <span *ngIf="!uploading">Submit</span>
            <span
              *ngIf="uploading"
              class="spinner-border spinner-border-m mx-auto"
              style="height: 25px; width: 25px"
            >
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
