<div class="main-content reports-bg">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div class="card" *ngIf="isLoading == false">
      <div
        class="card-header"
        style="
          background-color: #2b333e;
          padding: 40px 20px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        "
      >
        <div class="row" style="margin: 0; justify-content: space-between">
          <div class="col">
            <p
              *ngIf="currentServicePageType == 'payment-tenant' || currentServicePageType == 'payment-landlord'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Payment
            </p>
            <p
              *ngIf="currentServicePageType == 'inspection'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Inspection Request
            </p>
            <p
              *ngIf="currentServicePageType == 'maintenance'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Maintenance Request
            </p>
            <p
              *ngIf="currentServicePageType == 'tenant-move-in'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Tenant Move-in Request
            </p>
            <p
              *ngIf="currentServicePageType == 'tenant-move-out'"
              style="margin: 0; font-size: 20px; font-weight: 900; color: white"
            >
              Make A Tenant Move-out Request
            </p>
            <p
              *ngIf="currentServicePageType == 'conditioning'"
              style="margin: 0; font-size: 20px; font-weight: 900; color: white"
            >
              Make A Property Conditioning Request
            </p>
            <div class="row" style="margin: 0; margin-top: 5px">
              <p style="margin-bottom: 0; color: #88909b">
                Activity regarding payment
              </p>
              <img
                src="assets/img/svg/home-page/info-circle.svg"
                alt=""
                style="
                  filter: invert(62%) sepia(67%) saturate(434%) hue-rotate(7deg)
                    brightness(96%) contrast(92%);
                  width: 15px;
                  margin-left: 5px;
                "
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="card-body"
        style="width: 100%; padding: 50px; padding-top: 15px"
      >
        <hr />

        <div class="row" style="margin: 0">
          <div
            class="col"
            style="
              padding-left: 0;
              border-right: 1px solid rgba(0, 0, 0, 0.1);
              padding-bottom: 20px;
            "
          >
            <p style="font-size: 17px; font-weight: 600">Type of Application</p>
            <p style="font-size: 15px; color: #707070">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <div class="col" style="padding: 0">
              <mat-form-field appearance="fill">
                <mat-select
                  [(ngModel)]="selectedServiceSubType"
                  placeholder="Choose an Application"
                >
                  <div *ngIf="currentServicePageType == 'payment-tenant'">
                    <mat-option
                      *ngFor="let t of serviceSubTypePaymentTenant"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'payment-landlord'">
                    <mat-option
                      *ngFor="let t of serviceSubTypePaymentLandlord"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'maintenance'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeFM_Maintenance"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'tenant-move-in'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeTenant_move_in"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'tenant-move-out'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeTenant_move_out"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'conditioning'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeProperty_conditioning"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'inspection'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeProperty_inspection"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <input
                *ngIf="currentServicePageType != 'inspection'"
                [(ngModel)]="service_amount"
                type="text"
                placeholder="Enter the Amount to be paid"
                style="
                  margin-top: 15px;
                  width: 100%;
                  height: 40px;
                  border-radius: 7px;
                  border: 1px solid #a3a3a3;
                  padding-left: 20px;
                "
              />
            </div>
          </div>
          <div class="col" style="padding-left: 30px; padding-bottom: 20px">
            <p style="font-size: 17px; font-weight: 600">Documents</p>

            <span
              *ngIf="uploadedDoc == null"
              style="font-size: 18px; font-weight: 700; color: #c7c7c7"
              >No Document has uploaded</span
            >
            <div
              *ngIf="uploadedDoc != null"
              class="card"
              style="padding: 10px; max-width: 450px"
            >
              <div class="row" style="margin: 0">
                <div
                  style="
                    width: 50px;
                    height: 45px;
                    border: 1px solid #e8e8e8;
                    border-radius: 7px;
                    padding: 12px;
                    padding-top: 7px;
                  "
                >
                  <img
                    src="assets/img/svg/request-page/document-text.svg"
                    alt=""
                    style="width: 25px"
                  />
                </div>

                <div class="col" style="padding-left: 40px">
                  <p style="margin-bottom: 0; font-weight: 600">
                    Payment Receipts
                  </p>
                  <p class="doc-view-link" (click)="docViewBtnClicked()">
                    View
                  </p>
                </div>
              </div>
            </div>

            <div
              class="col"
              style="width: 100%; display: flex; justify-content: end"
            >
              <div
                (click)="openUploadDocDialog('payment_doc')"
                class="btn"
                style="
                  background-color: #d4aa32;
                  border-radius: 8px;
                  padding: 10px 20px;
                "
              >
                upload
              </div>
            </div>
          </div>
        </div>

        <div
          class="col"
          style="
            padding-left: 0;
            padding-top: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
          "
        >
          <p style="font-weight: 600; font-size: 17px; margin-bottom: 30px">
            Further informations
          </p>

          <ul style="padding-left: 30px">
            <li>Management Fees is 15%</li>
            <li>Upload necessary Documents</li>
          </ul>
        </div>

        <div
          class="col"
          style="width: 100%; display: flex; justify-content: end"
        >
          <div
            (click)="nextBtnClicked()"
            class="btn"
            style="
              background-color: #d4aa32;
              border-radius: 8px;
              padding: 10px 20px;
            "
          >
            next
          </div>
        </div>
        <p
          *ngIf="applicationNotChoosed == true"
          style="
            text-align: end;
            margin-top: 20px;
            margin-right: 15px;
            color: red;
          "
        >
          Please choose a application.
        </p>
        <p
          *ngIf="amountNotEntered == true"
          style="
            text-align: end;
            margin-top: 20px;
            margin-right: 15px;
            color: red;
          "
        >
          Please enter a amount.
        </p>
      </div>
    </div>
  </div>
</div>
