<div class="main-content reports-bg">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div class="card" *ngIf="isLoading == false">
      <div
        class="card-header"
        style="
          background-color: #2b333e;
          padding: 40px 20px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        "
      >
        <div class="row" style="margin: 0; justify-content: space-between">
          <div class="col">
            <p
              *ngIf="currentServicePageType == 'payment-tenant' || currentServicePageType == 'payment-landlord'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Payment
            </p>
            <p
              *ngIf="currentServicePageType == 'inspection'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Inspection Request
            </p>
            <p
              *ngIf="currentServicePageType == 'maintenance'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Maintenance Request
            </p>
            <p
              *ngIf="currentServicePageType == 'tenant-move-in'"
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              Make A Tenant Move-in Request
            </p>
            <p
              *ngIf="currentServicePageType == 'tenant-move-out'"
              style="margin: 0; font-size: 20px; font-weight: 900; color: white"
            >
              Make A Tenant Move-out Request
            </p>
            <p
              *ngIf="currentServicePageType == 'conditioning'"
              style="margin: 0; font-size: 20px; font-weight: 900; color: white"
            >
              Make A Property Conditioning Request
            </p>
            <div class="row" style="margin: 0; margin-top: 5px">
              <p style="margin-bottom: 0; color: #88909b">
                Activity regarding payment
              </p>
              <img
                src="assets/img/svg/home-page/info-circle.svg"
                alt=""
                style="
                  filter: invert(62%) sepia(67%) saturate(434%) hue-rotate(7deg)
                    brightness(96%) contrast(92%);
                  width: 15px;
                  margin-left: 5px;
                "
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="card-body"
        style="width: 100%; padding: 50px; padding-top: 15px"
      >
        <hr />

        <div class="row" style="margin: 0">
          <div
            class="col"
            style="
              padding-left: 0;
              border-right: 1px solid rgba(0, 0, 0, 0.1);
              padding-bottom: 20px;
            "
          >
            <p style="font-size: 17px; font-weight: 600">Type of Application</p>
            <p style="font-size: 15px; color: #707070">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>

            <div class="col" style="padding: 0">
              <mat-form-field appearance="fill">
                <mat-select
                  [(ngModel)]="selectedServiceSubType"
                  placeholder="Choose an Application"
                >
                  <div *ngIf="currentServicePageType == 'payment-tenant'">
                    <mat-option
                      *ngFor="let t of serviceSubTypePaymentTenant"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'payment-landlord'">
                    <mat-option
                      *ngFor="let t of serviceSubTypePaymentLandlord"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'maintenance'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeFM_Maintenance"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'tenant-move-in'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeTenant_move_in"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'tenant-move-out'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeTenant_move_out"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'conditioning'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeProperty_conditioning"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                  <div *ngIf="currentServicePageType == 'inspection'">
                    <mat-option
                      *ngFor="let t of serviceSubTypeProperty_inspection"
                      [value]="t"
                    >
                      {{ t }}
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <mat-form-field
                class="agents-select"
                appearance="fill"
                *ngIf="user_auth == 'landlord'"
                style="margin-top: 15px"
              >
                <mat-select
                  [(ngModel)]="tenantChoose"
                  placeholder="Choose a tenant"
                >
                  <!-- (selectionChange)="selectTenant($event.target.value)" -->
                  <!-- (ngModelChange)="selectTenant($event)" -->
                  <div *ngIf="tenantsLoading == true">
                    <mat-option
                      style="text-align: center; height: 7rem !important"
                    >
                      <span
                        class="spinner-border spinner-border-m"
                        style="color: #d4aa32"
                      >
                      </span>
                    </mat-option>
                  </div>
                  <div *ngIf="tenantsLoading == false">
                    <mat-option
                      *ngFor="let t of allTenants;let first = first"
                      [value]="t"
                      style="
                        height: 6rem !important;
                        border-bottom: 1px solid #e5e5e5;
                      "
                    >
                      <div class="row m-0">
                        <div
                          *ngIf="t.profile_photo != ''"
                          style="
                                width: 3.5rem;
                                height: 3.5rem;
                                overflow: hidden;
                                background-image: url('{{usrImgPath}}{{t.profile_photo}}');
                                background-size: cover;
                                background-position: center;
                                background-repeat: no-repeat;
                                border-radius: 50%;
                                margin: 0.7rem 0;
                                "
                        ></div>
                        <img
                          *ngIf="t.profile_photo == ''"
                          src="assets/img/faces/avatar.webp"
                          alt=""
                          style="
                            max-width: 100px;
                            min-width: 100px;
                            max-height: 100px;
                            min-height: 100px;
                            border-radius: 9px;
                            user-select: none;
                            pointer-events: none;
                          "
                        />
                        <div class="col my-auto">
                          <p
                            class="m-0"
                            style="font-size: 15px; font-weight: 600"
                          >
                            {{t.firstname | titlecase}}
                          </p>
                          <!-- <p
                            class="m-0"
                            style="
                              font-size: 13px;
                              font-weight: 400;
                              color: #a1a1a1;
                              margin-top: -20px !important;
                            "
                          >
                            {{t.user_id}}
                          </p> -->
                        </div>
                      </div>
                    </mat-option>
                  </div>
                </mat-select>
              </mat-form-field>

              <input
                *ngIf="currentServicePageType != 'inspection'"
                [(ngModel)]="service_amount"
                type="number"
                placeholder="Enter the Amount to be paid"
                style="
                  margin-top: 15px;
                  width: 100%;
                  height: 40px;
                  border-radius: 7px;
                  border: 1px solid #a3a3a3;
                  padding-left: 20px;
                "
              />
            </div>
          </div>
          <div class="col" style="padding-left: 30px; padding-bottom: 20px">
            <p style="font-size: 17px; font-weight: 600">Documents</p>

            <span
              *ngIf="uploadedDoc == null"
              style="font-size: 18px; font-weight: 700; color: #c7c7c7"
              >No Document has uploaded</span
            >
            <div
              *ngIf="uploadedDoc != null"
              class="card"
              style="padding: 10px; max-width: 450px"
            >
              <div class="row" style="margin: 0">
                <div
                  style="
                    width: 50px;
                    height: 45px;
                    border: 1px solid #e8e8e8;
                    border-radius: 7px;
                    padding: 12px;
                    padding-top: 7px;
                  "
                >
                  <img
                    src="assets/img/svg/request-page/document-text.svg"
                    alt=""
                    style="width: 25px"
                  />
                </div>

                <div class="col" style="padding-left: 40px">
                  <p
                    *ngIf="currentServicePageType == 'payment-tenant' || currentServicePageType == 'payment-landlord'"
                    style="margin-bottom: 0; font-weight: 600"
                  >
                    Payment Document
                  </p>
                  <p
                    *ngIf="currentServicePageType == 'inspection'"
                    style="margin-bottom: 0; font-weight: 600"
                  >
                    Inspection Document
                  </p>
                  <div class="row m-0">
                    <p class="doc-view-link pr-2" (click)="viewDoc()">View</p>
                    <p class="doc-view-link" (click)="removeDoc()">Remove</p>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col"
              style="width: 100%; display: flex; justify-content: end"
            >
              <div
                *ngIf="uploadedDoc == null"
                (click)="openUploadDocDialog('payment_doc')"
                class="btn"
                style="
                  background-color: #d4aa32;
                  border-radius: 8px;
                  padding: 10px 20px;
                "
              >
                upload
              </div>
              <div
                *ngIf="uploadedDoc != null"
                class="btn"
                style="
                  background-color: #adadad;
                  border-radius: 8px;
                  padding: 10px 20px;
                  cursor: auto;
                "
              >
                upload
              </div>
            </div>
          </div>
        </div>

        <div
          class="col"
          style="
            padding-left: 0;
            padding-top: 20px;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
          "
        >
          <p style="font-weight: 600; font-size: 17px; margin-bottom: 30px">
            Further informations
          </p>

          <ul style="padding-left: 30px">
            <li>Management Fees is 15%</li>
            <li>Upload necessary Documents</li>
          </ul>
        </div>

        <div
          class="col"
          style="width: 100%; display: flex; justify-content: end"
        >
          <div
            (click)="nextBtnClicked()"
            class="btn"
            style="
              background-color: #d4aa32;
              border-radius: 8px;
              padding: 10px 20px;
            "
          >
            next
          </div>
        </div>
        <p
          *ngIf="applicationNotChoosed == true"
          style="
            text-align: end;
            margin-top: 20px;
            margin-right: 15px;
            color: red;
          "
        >
          Please choose a application.
        </p>
        <p
          *ngIf="amountNotEntered == true"
          style="
            text-align: end;
            margin-top: 20px;
            margin-right: 15px;
            color: red;
          "
        >
          Please enter a amount.
        </p>
        <p
          *ngIf="docNotUploaded == true"
          style="
            text-align: end;
            margin-top: 20px;
            margin-right: 15px;
            color: red;
          "
        >
          Please upload a document.
        </p>
        <p
          *ngIf="tenantNotChoosed == true"
          style="
            text-align: end;
            margin-top: 20px;
            margin-right: 15px;
            color: red;
          "
        >
          Please select a Tenant.
        </p>
      </div>
    </div>
  </div>
</div>
