<div class="main-content">
  <div>
    <button mat-raised-button color="primary" (click)="pressCounter()">Counter</button>
    <div>
      <h2>{{counterValue}}</h2>
    </div>
    <mat-form-field appearance="fill" [hideRequiredMarker]=false [floatLabel]="">
      <input matInput placeholder="Enter something" required [(ngModel)]='newValue'>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="addData(newValue)">AddData</button>


    <div *ngFor=" let e of data " class="curd-list">

      <span>{{e}}</span>
      <button mat-raised-button color="primary" (click)="editData(e)" class="edit-btn">Edit</button>
      <button mat-raised-button color="primary" (click)="deleteData(e)" class="delete-btn">Delete</button>
    </div>
  </div>
</div>