.curd-list {
    padding: 20px;
    margin: 20px;
    width: 500;
    height: 100;
    background-color: gray;
    color: white;

    .delete-btn {
        background-color: red;
        margin-left: 20px;
        width: 200;
        height: 200;

    }

    .edit-btn {
        background-color: green;
        margin-left: 20px;
        width: 200;
        height: 200;

    }
}