<div class="wrapper" *ngIf="isUserSignedOut == true">
  <div
    class="main-panel"
    style="
      width: 100%;
      height: 100%;
      justify-content: center;
      display: flex;
      align-items: center;
    "
  >
    <router-outlet (activate)="onActivate($event)"></router-outlet>
  </div>
</div>

<div class="wrapper" *ngIf="isUserSignedOut == false">
  <div
    *ngIf="isLogoutProcessing == false"
    class="sidebar"
    data-color="danger"
    data-background-color="white"
    data-image="./assets/img/sidebar-1.jpg"
  >
    <app-sidebar></app-sidebar>
    <div class="sidebar-background"></div>
  </div>
  <div class="main-panel" *ngIf="isLogoutProcessing == false">
    <app-navbar></app-navbar>

    <router-outlet (activate)="onActivate($event)"> </router-outlet>

    <!-- success toast -->
    <div
      *ngIf="successNotificationMessage != null"
      style="
        position: fixed;
        width: 70%;
        background-color: #699d69;
        height: 60px;
        border-radius: 10px;
        bottom: 50px;
        color: white;
        z-index: 100;
        margin-left: 140px;
      "
    >
      <div class="row" style="margin-left: 40px">
        <img
          src="assets/img/svg/admin-layout/tick-circle.svg"
          style="filter: brightness(0) invert(1); width: 35px; margin-top: 2px"
        />
        <p
          style="
            margin-left: 25px;
            margin-top: 15px;
            font-size: 20px;
            font-weight: 500;
          "
        >
          {{ successNotificationMessage.message }} :
        </p>
        <p style="margin-left: 20px; margin-top: 15px">
          {{ successNotificationMessage.description }}
        </p>
      </div>
    </div>

    <!-- success toast end -->

    <!-- error toast -->

    <div
      *ngIf="errorNotificationMessage != null"
      style="
        position: fixed;
        width: 70%;
        background-color: #a14d50;
        height: 60px;
        border-radius: 10px;
        bottom: 50px;
        color: white;
        z-index: 100;
        margin-left: 140px;
      "
    >
      <div class="row" style="margin-left: 40px">
        <img
          src="assets/img/svg/admin-layout/danger.svg"
          style="filter: brightness(0) invert(1); width: 35px; margin-top: 1px"
        />
        <p
          style="
            margin-left: 25px;
            margin-top: 16px;
            font-size: 20px;
            font-weight: 500;
          "
        >
          {{ errorNotificationMessage.message }} :
        </p>
        <p style="margin-left: 20px; margin-top: 15px">
          {{ errorNotificationMessage.description }}
        </p>
      </div>
    </div>

    <!-- error toast end-->

    <app-footer></app-footer>
  </div>
  <div
    class="spinner-loader"
    style="
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    "
    *ngIf="isLogoutProcessing == true"
  >
    <span class="spinner-border spinner-border-m mr-2"> </span>
  </div>
</div>
