<div class="main-content">
  <div *ngIf="properties.length == 0">
    <p *ngIf="isLoading == false" class="no-properties-text">You have'nt listed any property.</p>
    <div
      class="spinner-loader"
      *ngIf="isLoading == true"
    >
      <mat-spinner [diameter]="40"></mat-spinner>
    </div>
  </div>
  <div class="card-deck" style="margin: 20px;">
    <div *ngFor="let property of properties">
      <div class="card" style="width: 18rem; height: 430px;">
        <img
          class="card-img-top"
          src="{{ property.images }}"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">{{ property.property_name }}</h5>
          <p class="card-text">
            {{ property.property_address }}
          </p>
          <a href="#" class="btn btn-primary">Update</a>`
          <a href="#" class="btn btn-primary">Actions</a>
          <a href="#" class="btn btn-primary">Remove</a>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
  </div>
</div>
