::ng-deep .spinner-loader {
  width: 100% !important;
  text-align: -webkit-center !important;
  margin-top: 400px !important;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d3ab33 !important;
}

.no-properties-text {
  text-align: center;
  margin-top: 400px;
  font-size: 25px;
  font-weight: 500;
  color: #d3ab33;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.card-deck {
  .property-listed-card {
    border-radius: 10px;
    cursor: pointer;
    width: 18rem;
    height: 430px;
    transition: 0.3s ease-out;

    &:hover {
      transform: translateY(5px);
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    }

    .info-icon {
      filter: invert(62%) sepia(67%) saturate(434%) hue-rotate(7deg)
        brightness(96%) contrast(92%);
      margin-left: 5px;
      width: 20px;
      margin-top: -2px;
    }
  }

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 170px;
    width: auto;
    max-width: 500px;
  }

  .card-title {
    font-size: 20px;
    font-weight: 500;
  }

  .details-btn {
    bottom: 0;
    position: absolute;
    background-color: #2b333e;
    color: white;

    &:hover {
      background-color: #d3ab33;
      color: white;

      .info-icon {
        filter: brightness(0) invert(1);
        margin-left: 5px;
        width: 20px;
        margin-top: -2px;
      }
    }
  }

  .card-footer {
    .text-muted {
      padding-left: 6px;
    }
  }

  .property-add-card {
    width: 290px !important;
    height: 430px;
    flex: none;
    background-color: #404040;
    justify-content: center;

    .add-property-inner-card {
      cursor: pointer;
      background-color: #404040;
      color: #9f9e9f;
      margin: 0px;
      height: 120px;
      width: 165px;
      margin-left: 63px;
      font-size: 20px;
      padding: 10px;
      font-weight: 600;
      margin-top: 10px;
      box-shadow: 6px 6px 11px #3a3a3a, -6px -6px 11px #464646;
      border-radius: 18px;
      transition: 0.3s ease-out;
      &:hover {
        transform: translateY(5px);
        color: #d3ab33;

        .add-property-card-svg-icon {
          filter: invert(61%) sepia(37%) saturate(734%) hue-rotate(7deg)
            brightness(104%) contrast(93%);
          width: 25px;
          margin-left: 60px;
          margin-top: 15px;
        }

      }

      .add-property-card-svg-icon {
        width: 25px;
        margin-left: 60px;
        margin-top: 15px;
        filter: invert(70%) sepia(5%) saturate(55%) hue-rotate(251deg)
          brightness(89%) contrast(91%);
      }
    }

    .add-property-card-text-bottom-mouseLeave {
      color: #9f9e9f;
      padding-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: -59px;
    }

    .add-property-card-text-bottom-mouseEnter {
      color: #d3ab33;
      padding-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
      margin-bottom: -59px;
    }
  }
}

.mat-menu-wrapper {
  width: 200px;
  margin: 10px;
  padding-left: 5px;

  .menu-header {
    font-size: 14px;
    font-weight: 600;
  }

  .menu-content {
    font-size: 14px;
    padding-top: 10px;
  }
}
