<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->

<div class="main-content" *ngIf="screenWidth <= 430">
  <div *ngIf="properties.length == 0">
    <p *ngIf="isLoading == false">You have'nt listed any property.</p>

    <div
      *ngIf="isLoading == true"
      [ngStyle]="{
        display: 'flex',
        width: '100%',
        height: screenHeight + 'px',
        'justify-content': 'center',
        'align-items': 'center'
      }"
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>
  </div>

  <div *ngIf="properties.length != 0">
    <div
      routerLink="/add-property-form"
      class="card"
      style="
        background-color: #2b333e;
        border-radius: 7px;
        padding: 10px 10px;
        width: 47%;
        margin-top: 0;
      "
    >
      <div class="row" style="margin: 0">
        <img
          src="assets/img/svg/my-properties/add-square.svg"
          style="filter: brightness(0) invert(1)"
        />
        <p style="color: white; margin-bottom: 0; margin-left: 15px">
          Add Property
        </p>
      </div>
    </div>

    <div *ngFor="let property of properties" class="col" style="padding: 0">
      <div
        (click)="goToPropertyPage(property)"
        class="card"
        style="margin-top: 5px; border-radius: 10px; padding: 10px"
      >
        <div
          style="
            position: absolute;
            border-radius: 5px;
            background-color: #d3ab33;
            color: white;
            padding: 0 10px;
            font-size: 11px;
            right: 20px;
            top: 20px;
          "
        >
          <p style="margin-bottom: 0">{{ property.property_size }} SQFT</p>
        </div>
        <div *ngIf="isImagesLoading == false">
          <img
            *ngIf="property.image1 != ''"
            src="{{ getPropertyImage(property) }}"
            alt=""
            style="
              height: 162.5px;
              width: 100%;
              max-width: 500px;
              border-radius: 8px;
              margin-bottom: 0;
              pointer-events: none;
            "
          />
          <img
            *ngIf="property.image1 == ''"
            src="assets/img/properties/property_placeholder.webp"
            alt=""
            style="
              height: 162.5px;
              width: 100%;
              max-width: 500px;
              border-radius: 8px;
              margin-bottom: 0;
              pointer-events: none;
            "
          />
        </div>

        <div *ngIf="isImagesLoading == true" style="height: 162.5px">
          <ngx-skeleton-loader [theme]="{ width: '100%', height: '162.5px' }">
          </ngx-skeleton-loader>
        </div>
        <p
          style="
            font-size: 17px;
            margin-top: 10px;
            font-weight: 500;
            margin-left: 5px;
            margin-bottom: 5px;
          "
        >
          {{ property.property_name }}
        </p>
        <p style="margin-left: 5px; color: #a3a3a3; margin-bottom: 10px">
          {{ property.property_address }}
        </p>

        <div
          class="row"
          style="margin: 0; width: 60%; margin-bottom: 10px; padding-top: 10px"
        >
          <div class="col" style="padding-left: 0">
            <div
              class="card"
              style="
                margin: 0;
                text-align: center;
                background-color: #d3ab3330;
                color: #d3ab33;
                box-shadow: none;
              "
            >
              <span style="font-size: 12px; font-weight: 700"
                >{{ property.bedroom_no }} Rooms</span
              >
            </div>
          </div>
          <div class="col" style="padding-left: 0">
            <div
              class="card"
              style="
                margin: 0;
                text-align: center;
                background-color: #d3ab3330;
                color: #d3ab33;
                box-shadow: none;
              "
            >
              <span style="font-size: 12px; font-weight: 700"
                >{{ property.parking_no }} Parking</span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content" *ngIf="screenWidth > 430">
  <div *ngIf="properties.length == 0">
    <p *ngIf="isLoading == false" class="no-properties-text">
      You have'nt listed any property.
    </p>

    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>
  </div>
  <div class="card-deck" style="margin: 20px" *ngIf="properties.length != 0">
    <div *ngFor="let property of properties">
      <div
        class="card property-listed-card"
        (click)="goToPropertyPage(property)"
      >
        <div *ngIf="isImagesLoading == false">
          <img
            *ngIf="property.property_images != ''"
            class="card-img-top"
            src="{{ getPropertyImage(property) }}"
            alt=""
            style="pointer-events: none"
          />
          <img
            *ngIf="property.property_images == ''"
            src="assets/img/properties/property_placeholder.webp"
            alt=""
            style="
              pointer-events: none;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom: 1px solid #80808061;
              height: 193px;
              width: auto;
              max-width: 500px;
            "
          />
        </div>

        <div *ngIf="isImagesLoading == true" style="height: 170px">
          <ngx-skeleton-loader [theme]="{ width: '288px', height: '170px' }">
          </ngx-skeleton-loader>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ property.property_name }}</h5>
          <p class="card-text">
            {{ property.property_address }}
          </p>
          <a
            [matMenuTriggerFor]="aboutProperty"
            #propertyAboutTrigger="matMenuTrigger"
            (mouseenter)="openMatMenu(propertyAboutTrigger)"
            (mouseleave)="closeMatMenu(propertyAboutTrigger)"
            class="btn btn-primary details-btn"
            >Info
            <img
              class="info-icon"
              src="assets/img/svg/my-properties/info-circle.svg"
            />
          </a>
          <mat-menu
            #aboutProperty="matMenu"
            [hasBackdrop]="false"
            [overlapTrigger]="false"
          >
            <div class="mat-menu-wrapper">
              <th>
                <span class="menu-header">Info</span>
              </th>

              <tr>
                <span class="menu-content"
                  >Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.</span
                >
              </tr>
            </div>
          </mat-menu>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="card property-add-card" *ngIf="properties.length != 0">
      <div class="text-center">
        <div
          class="card add-property-inner-card"
          routerLink="/add-property-form"
          queryParams="{uid: user.id}"
          (mouseenter)="mouseEnterAddPropertyCard = true"
          (mouseleave)="mouseEnterAddPropertyCard = false"
        >
          Add Properties
          <img
            class="add-property-card-svg-icon"
            src="assets/img/svg/my-properties/add-square.svg"
          />
        </div>
        <p
          [ngClass]="
            mouseEnterAddPropertyCard == true
              ? 'add-property-card-text-bottom-mouseEnter'
              : 'add-property-card-text-bottom-mouseLeave'
          "
        >
          List more of your properties through our Property Management
        </p>
      </div>
    </div>
  </div>
</div>
