<div class="main-content">
  <div *ngIf="properties.length == 0">
    <p *ngIf="isLoading == false" class="no-properties-text">
      You have'nt listed any property.
    </p>

    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>
  </div>
  <div class="card-deck" style="margin: 20px" *ngIf="properties.length != 0">
    <div *ngFor="let property of properties">
      <div
        class="card property-listed-card"
        (click)="goToPropertyPage(property)"
      >
        <div *ngIf="isImagesLoading == false">
          <img
            *ngIf="property.image1 != ''"
            class="card-img-top"
            src="{{ imagesUrl }}/{{ property.image1 }}"
            alt=""
            style="pointer-events: none"
          />
          <img
            *ngIf="property.image1 == ''"
            src="assets/img/properties/property_placeholder.webp"
            alt=""
            style="
              pointer-events: none;
              border-top-left-radius: 10px;
              border-top-right-radius: 10px;
              border-bottom: 1px solid #80808061;
              height: 193px;
              width: auto;
              max-width: 500px;
            "
          />
        </div>

        <div *ngIf="isImagesLoading == true" style="height: 170px">
          <ngx-skeleton-loader [theme]="{ width: '288px', height: '170px' }">
          </ngx-skeleton-loader>
        </div>

        <div class="card-body">
          <h5 class="card-title">{{ property.property_name }}</h5>
          <p class="card-text">
            {{ property.property_address }}
          </p>
          <a
            [matMenuTriggerFor]="aboutProperty"
            #propertyAboutTrigger="matMenuTrigger"
            (mouseenter)="openMatMenu(propertyAboutTrigger)"
            (mouseleave)="closeMatMenu(propertyAboutTrigger)"
            class="btn btn-primary details-btn"
            >Info
            <img
              class="info-icon"
              src="assets/img/svg/my-properties/info-circle.svg"
            />
          </a>
          <mat-menu
            #aboutProperty="matMenu"
            [hasBackdrop]="false"
            [overlapTrigger]="false"
          >
            <div class="mat-menu-wrapper">
              <th>
                <span class="menu-header">Info</span>
              </th>

              <tr>
                <span class="menu-content"
                  >Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.</span
                >
              </tr>
            </div>
          </mat-menu>
        </div>
        <div class="card-footer">
          <small class="text-muted">Last updated 3 mins ago</small>
        </div>
      </div>
    </div>
    <div class="card property-add-card" *ngIf="properties.length != 0">
      <div class="text-center">
        <div
          class="card add-property-inner-card"
          routerLink="/add-property-form"
          queryParams="{uid: user.id}"
          (mouseenter)="mouseEnterAddPropertyCard = true"
          (mouseleave)="mouseEnterAddPropertyCard = false"
        >
          Add Properties
          <img
            class="add-property-card-svg-icon"
            src="assets/img/svg/my-properties/add-square.svg"
          />
        </div>
        <p
          [ngClass]="
            mouseEnterAddPropertyCard == true
              ? 'add-property-card-text-bottom-mouseEnter'
              : 'add-property-card-text-bottom-mouseLeave'
          "
        >
          List more of your properties through our Property Management
        </p>
      </div>
    </div>
  </div>
</div>
