::ng-deep .spinner-loader {
  width: 100% !important;
  text-align: -webkit-center !important;
  margin-top: 400px !important;
}

::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #d3ab33 !important;
}

.no-properties-text {
  text-align: center;
  margin-top: 400px;
  font-size: 25px;
  font-weight: 500;
  color: #d3ab33;
}
@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.card-deck {
  .card {
    border-radius: 10px;
    cursor: pointer;
    width: 18rem;
    height: 430px;
    transition: 0.3s ease-out;

    &:hover {
      transform: translateY(5px);
      box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
    }

    .info-icon {
      filter: invert(62%) sepia(67%) saturate(434%) hue-rotate(7deg)
        brightness(96%) contrast(92%);
      margin-left: 5px;
      width: 20px;
      margin-top: -2px;
    }
  }

  .card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 170px;
    width: auto;
    max-width: 500px;
  }

  .card-title {
    font-size: 20px;
    font-weight: 500;
  }

  .details-btn {
    bottom: 0;
    position: absolute;
    background-color: #2b333e;
    color: white;

    &:hover {
      background-color: #d3ab33;
      color: white;

      .info-icon {
        filter: brightness(0) invert(1);
        margin-left: 5px;
        width: 20px;
        margin-top: -2px;
      }
    }
  }

  .card-footer {
    .text-muted {
      padding-left: 6px;
    }
  }
}

.mat-menu-wrapper {
  width: 200px;
  margin: 10px;
  padding-left: 5px;

  .menu-header {
    font-size: 14px;
    font-weight: 600;
  }

  .menu-content {
    font-size: 14px;
    padding-top: 10px;
  }
}
