<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->

<div
  class="main-content home-bg"
  *ngIf="screenWidth <= 430"
  style="padding: 10px 15px"
>
  <div class="container-fluid" style="margin-top: 10px; padding: 0">
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div
      class="col"
      style="width: 100%; height: 100%; padding: 0"
      *ngIf="isLoading == false"
    >
      <div class="row back-btn-row" navigateBack style="margin-left: 13px">
        <img src="assets/img/svg/request-page/arrow-left.svg" alt="" />
        <p style="margin-bottom: 0">Back</p>
      </div>
      <p
        style="
          font-size: 20px;
          margin-top: 10px;
          font-weight: 600;
          margin-bottom: 10px;
          margin-left: 15px;
        "
      >
        Clients
      </p>
      <div
        class="row"
        style="
          margin: 0;
          width: 50%;
          justify-content: space-between;
          margin-left: 15px;
        "
      >
        <p style="color: #d4aa32; font-weight: 500">Dasboard</p>
        <p>></p>
        <p>Landlords</p>
      </div>

      <div
        class="card"
        *ngIf="isContentLoading == true"
        style="margin-top: 3px"
      >
        <div class="row" style="margin: 0; padding: 20px">
          <div
            style="
              max-width: 100px;
              max-height: 100px;
              border-radius: 9px;
              user-select: none;
              pointer-events: none;
            "
          >
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '100px' }">
            </ngx-skeleton-loader>
          </div>

          <div class="col">
            <div
              style="
                max-width: 120px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>

            <div
              style="
                max-width: 100px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
                margin-top: 10px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '100px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
            <div
              style="
                max-width: 150px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
                margin-top: 10px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '150px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
          </div>

          <div class="col" style="padding: 0; margin-top: 10px">
            <div class="col" style="padding: 0">
              <p style="margin-bottom: 8px; color: #707070">Location</p>
              <div
                style="
                  max-width: 180px;
                  max-height: 20px;
                  border-radius: 9px;
                  user-select: none;
                  pointer-events: none;
                  margin-bottom: 4px;
                "
              >
                <ngx-skeleton-loader
                  [theme]="{ width: '180px', height: '20px' }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>

            <div class="col" style="padding: 0">
              <p style="margin-bottom: 8px; color: #707070">Phone Number</p>
              <div
                style="
                  max-width: 140px;
                  max-height: 20px;
                  border-radius: 9px;
                  user-select: none;
                  pointer-events: none;
                  margin-bottom: 4px;
                "
              >
                <ngx-skeleton-loader
                  [theme]="{ width: '140px', height: '20px' }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>

            <div class="col" style="padding: 0">
              <p style="margin-bottom: 8px; color: #707070">Email Address</p>
              <div
                style="
                  max-width: 160px;
                  max-height: 20px;
                  border-radius: 9px;
                  user-select: none;
                  pointer-events: none;
                  margin-bottom: 4px;
                "
              >
                <ngx-skeleton-loader
                  [theme]="{ width: '160px', height: '20px' }"
                >
                </ngx-skeleton-loader>
              </div>
            </div>
            <div
              class="col"
              style="display: flex; justify-content: end; padding: 0"
            >
              <div
                class="btn"
                style="
                  padding: 8px 10px;
                  background-color: #d4aa32;
                  border-radius: 8px;
                  font-size: 10px;
                  margin-bottom: 15px;
                "
              >
                Show Requests
              </div>
            </div>
          </div>
        </div>
      </div>

      <div
        class="card"
        style="
          width: 100%;
          background-color: #ffffff;
          margin-top: 3px;
          padding: 10px 3px;
          padding-top: 0;
        "
        *ngIf="isContentLoading == false"
      >
        <div *ngFor="let client of allLandlordClients; let last = last;">
          <div
            class="row"
            style="margin: 0; padding: 10px 15px; padding-top: 20px"
          >
            <img
              *ngIf="client.user_details.profile_photo != ''"
              src="data:image/jpg;base64,{{client.user_details.profile_photo}}"
              alt=""
              style="
                max-width: 90px;
                min-width: 90px;
                max-height: 90px;
                min-height: 90px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
              "
            />
            <img
              *ngIf="client.user_details.profile_photo == ''"
              src="assets/img/faces/avatar.webp"
              alt=""
              style="
                max-width: 90px;
                min-width: 90px;
                max-height: 90px;
                min-height: 90px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
              "
            />
            <div class="col">
              <p style="margin-bottom: 0; color: #d4aa32; font-weight: 500">
                #123423
              </p>
              <p
                style="
                  margin-bottom: 4px;
                  font-size: 20px;
                  margin-top: 3px;
                  font-weight: 600;
                "
              >
                {{client.firstname}}
              </p>
              <p style="color: #a3a3a3">
                Joined on {{client.user_details.joined_date}}
              </p>
            </div>
          </div>
          <div class="col">
            <p style="margin-bottom: 0; color: #707070; font-size: 13px">
              Location
            </p>
            <p style="font-size: 14px; font-weight: 600; margin-bottom: 8px">
              {{client.user_details.address}}
            </p>
          </div>

          <div class="col">
            <p style="margin-bottom: 0; color: #707070; font-size: 13px">
              Phone Number
            </p>
            <p style="font-size: 14px; font-weight: 600; margin-bottom: 8px">
              {{client.user_details.phone_number}}
            </p>
          </div>

          <div class="col">
            <p style="margin-bottom: 0; color: #707070; font-size: 13px">
              Email Address
            </p>
            <p style="font-size: 14px; font-weight: 600; margin-bottom: 8px">
              {{client.user_details.email}}
            </p>
          </div>

          <div class="col" style="display: flex; justify-content: end">
            <div
              class="btn"
              style="
                padding: 8px 10px;
                background-color: #d4aa32;
                border-radius: 8px;
                font-size: 10px;
                margin-bottom: 15px;
              "
            >
              Show Requests
            </div>
          </div>
          <hr
            *ngIf="!last"
            style="
              border: 1.5px solid #d4aa32;
              margin: 0 10px;
              border-radius: 5px;
              background-color: #d4aa32;
              margin-top: 10px;
            "
          />
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->

<div class="main-content home-bg" *ngIf="screenWidth > 430">
  <div class="container-fluid" style="margin-top: 25px; max-width: 2576px">
    <!-- <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div> -->

    <div
      class="col"
      style="width: 100%; height: 100%; padding: 0 3rem"
    >
      <div class="row back-btn-row" navigateBack>
        <img src="assets/img/svg/request-page/arrow-left.svg" alt="" />
        <p style="margin-bottom: 0">Back</p>
      </div>
      <p
        style="
          font-size: 25px;
          margin-top: 10px;
          font-weight: 600;
          margin-bottom: 10px;
        "
      >
        Clients
      </p>
      <div class="row" style="margin: 0">
        <p style="color: #d4aa32; font-weight: 500; margin-right: 15px">
          Dasboard
        </p>
        <p style="margin-right: 15px">></p>
        <p>Tenants</p>
      </div>

      <div class="card" *ngIf="isContentLoading == true">
        <div class="row" style="margin: 0; padding: 25px">
          <div
            style="
              max-width: 100px;
              max-height: 100px;
              border-radius: 9px;
              user-select: none;
              pointer-events: none;
            "
          >
            <ngx-skeleton-loader [theme]="{ width: '100px', height: '100px' }">
            </ngx-skeleton-loader>
          </div>

          <div class="col">
            <div
              style="
                max-width: 120px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>

            <div
              style="
                max-width: 100px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
                margin-top: 10px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '100px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
            <div
              style="
                max-width: 150px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
                margin-top: 10px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '150px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
          </div>

          <div class="col">
            <p style="margin-bottom: 8px; color: #707070">Location</p>
            <div
              style="
                max-width: 140px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '140px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
          </div>

          <div class="col">
            <p style="margin-bottom: 8px; color: #707070">Phone Number</p>
            <div
              style="
                max-width: 140px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '140px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
          </div>

          <div class="col">
            <p style="margin-bottom: 8px; color: #707070">Email Address</p>
            <div
              style="
                max-width: 140px;
                max-height: 20px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
                margin-bottom: 4px;
              "
            >
              <ngx-skeleton-loader [theme]="{ width: '140px', height: '20px' }">
              </ngx-skeleton-loader>
            </div>
          </div>

          <div class="col">
            <div
              class="btn"
              style="padding: 12px 25px; background-color: #d4aa32"
            >
              More Info
            </div>
          </div>
        </div>
      </div>

      <div
        class="card"
        style="width: 100%; background-color: #ffffff"
        *ngIf="isContentLoading == false"
      >
        <div *ngFor="let client of allClients; let last = last;">
          <div class="row" style="margin: 0; padding: 25px">
            <div
              *ngIf="client.profile_photo != ''"
              style="
                    width: 100px;
                    height: 100px;
                    overflow: hidden;
                    background-image: url('{{usrImgPath}}{{client.profile_photo}}');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 10px;
                  "
            ></div>

            <img
              *ngIf="client.profile_photo == ''"
              src="assets/img/faces/avatar.webp"
              alt=""
              style="
                max-width: 100px;
                min-width: 100px;
                max-height: 100px;
                min-height: 100px;
                border-radius: 9px;
                user-select: none;
                pointer-events: none;
              "
            />
            <div class="col">
              <p style="margin-bottom: 0; color: #d4aa32; font-weight: 500">
                #123423
              </p>
              <p
                style="
                  margin-bottom: 4px;
                  font-size: 20px;
                  margin-top: 3px;
                  font-weight: 600;
                "
              >
                {{client.firstname}}
              </p>
              <p style="color: #a3a3a3">
                Joined on {{client.joined_date}}
              </p>
            </div>

            <div class="col">
              <p style="margin-bottom: 8px; color: #707070">Location</p>
              <p style="font-size: 15px; font-weight: 600">
                {{client.address}}
              </p>
            </div>

            <div class="col">
              <p style="margin-bottom: 8px; color: #707070">Phone Number</p>
              <p style="font-size: 15px; font-weight: 600">
                {{client.phone_number}}
              </p>
            </div>

            <div class="col">
              <p style="margin-bottom: 8px; color: #707070">Email Address</p>
              <p style="font-size: 15px; font-weight: 600">
                {{client.email}}
              </p>
            </div>

            <div class="col">
              <div
                #menuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="moreInfoMenu"
                class="btn"
                style="padding: 12px 25px; background-color: #d4aa32"
              >
                More Info
              </div>
            </div>
            <mat-menu
              class="tenant-more-action-menu"
              style="display: none"
              #moreInfoMenu="matMenu"
            >
              <div class="col" style="display: grid">
                <div class="btn actions-menu-btn">See all Requests</div>
                <div
                  class="btn actions-menu-btn"
                  routerLink="/client-documents"
                  [queryParams]="{ userId: client.user_id }"
                >
                  See all Documents
                </div>
              </div>
            </mat-menu>
          </div>
          <hr *ngIf="!last" style="margin: 0" />
        </div>
      </div>
    </div>
  </div>
</div>
