<div class="main-content" *ngIf="screenWidth > 430">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <ngx-skeleton-loader
          *ngIf="isContentLoading"
          class="skeleton-left"
          [theme]="{ 
          width: (700) + 'px',
           height: '40px',
           marginLeft : '20px'
           }"
        >
        </ngx-skeleton-loader>
        <div *ngIf="!isContentLoading" style="display: grid">
          <span class="item-header">
            {{'Maintenance request - ' + all_data.main_request_category + ' - '
            | titlecase}}
            <span
              style="text-transform: capitalize"
              [ngStyle]="{'color' : assignColor(main_request_status)}"
              >{{main_request_status}}</span
            >
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <ngx-skeleton-loader
          *ngIf="isContentLoading"
          class="skeleton-left"
          [theme]="{ 
          width: sideBar_opened? (((screenWidth/2) + ((screenWidth/2)/2)) - 450) + 'px' : (((screenWidth/2) + ((screenWidth/2)/2)) - 300) + 'px',
          height: '50vh',
          marginLeft: '20px'
          }"
        >
        </ngx-skeleton-loader>
        <div class="row" *ngIf="!isContentLoading">
          <div class="col-md-12">
            <div class="card card-main">
              <div class="card-header">
                <h4 class="title-header">Request details</h4>
              </div>
              <div class="card-body">
                <div class="table-row">
                  <table class="teble table-striped w-100 px-3">
                    <thead class="thead">
                      <tr>
                        <th scope="col" class="p-3">Title</th>
                        <th scope="col" class="p-3">Details</th>
                      </tr>
                    </thead>
                    <tbody class="tbody text-uppercase">
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">
                          Date of request
                        </th>
                        <td class="p-3 col-md-8">
                          {{all_data.main_request_date | date}}
                        </td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">
                          Type of request
                        </th>
                        <td
                          class="p-3 col-md-8"
                          [ngStyle]="all_data.main_request_type.toLowerCase() == 'urgent' ? {'color':  '#ff0000', 'font-weight' : '700'} : {}"
                        >
                          {{all_data.main_request_type}}
                        </td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">Request for</th>
                        <td class="p-3 col-md-8">
                          {{all_data.main_request_for}}
                        </td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">
                          Category of request
                        </th>
                        <td class="p-3 col-md-8">
                          {{all_data.main_request_category}}
                        </td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">
                          Status of request
                        </th>
                        <td class="p-3 col-md-8">
                          <span
                            style="
                              text-transform: capitalize;
                              font-weight: 700;
                              padding: 5px 10px;
                              border-radius: 5px;
                            "
                            [ngStyle]="{'background-color' : assignColor(main_request_status)}"
                          >
                            {{main_request_status}}
                          </span>
                        </td>
                      </tr>
                      <!-- <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">Assigned staff</th>
                        <td class="p-3 col-md-8">
                          <ul
                            style="list-style: none; flex-wrap: wrap; display: flex; padding: 0; margin: 0;">
                            <li
                              style="padding: 5px 10px; background-color: rgb(180, 138, 0);margin: 0px 5px;border-radius: 5px;"
                              *ngFor="let item of Staff">{{item}}</li>
                          </ul>
                        </td>
                      </tr> -->
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">
                          Tenant availability
                        </th>
                        <td class="p-3 col-md-8">
                          {{all_data.main_user_availability_time}} on
                          {{all_data.main_user_availability_date | date}}
                        </td>
                      </tr>

                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">Media</th>
                        <td class="p-3 col-md-8">
                          <button
                            class="btn"
                            (click)="viewMedia(all_data.main_media)"
                            matTooltip="View media"
                            matTooltipClass="tooltip"
                            matTooltipPosition="above"
                            style="background-color: #2b333e"
                          >
                            View media
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ngx-skeleton-loader
          *ngIf="isContentLoading"
          [theme]="{ 
            width: sideBar_opened? (((screenWidth/2) + ((screenWidth/2)/2)) - 450) + 'px' : (((screenWidth/2) + ((screenWidth/2)/2)) - 300) + 'px',
            height: '30vh',
            marginLeft: '20px',
          }"
        >
        </ngx-skeleton-loader>
        <div class="row" *ngIf="!isContentLoading">
          <div class="col-md-6">
            <div class="card card-main h-100">
              <div class="card-header">
                <div class="row d-flex">
                  <div class="col-10 my-auto">
                    <h4 class="title-header">
                      Unit details - {{all_data.unit_no}}
                    </h4>
                  </div>
                  <div class="col-2 my-auto d-flex">
                    <button
                      matTooltip="Go to Unit Details"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      (click)="navigateToUnit(all_data.unit_id)"
                      class="btn open-external-link-icon"
                    >
                      <img
                        src="assets/img/svg/common-icons/open-external-link-icon.svg"
                        alt
                      />
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="row m-0">
                  <div class="col">
                    <span style="color: #2b333ebf; font-weight: 500"
                      >Bedrooms</span
                    >
                    <div class="row m-0 mt-2">
                      <span
                        class="mr-3"
                        style="font-size: 20px; font-weight: 600"
                        >{{all_data.unit_bed}}</span
                      >
                      <img
                        src="assets/img/svg/bedroom.svg"
                        alt
                        style="
                          filter: invert(95%) sepia(37%) saturate(5934%)
                            hue-rotate(328deg) brightness(88%) contrast(87%);
                          width: 20px;
                          cursor: pointer;
                        "
                      />
                    </div>
                  </div>
                  <div class="col">
                    <span style="color: #2b333ebf; font-weight: 500"
                      >Bathrooms</span
                    >
                    <div class="row m-0 mt-2">
                      <span
                        class="mr-3"
                        style="font-size: 20px; font-weight: 600"
                        >{{all_data.unit_bath}}</span
                      >
                      <img
                        src="assets/img/svg/bath.svg"
                        alt
                        style="
                          filter: invert(95%) sepia(37%) saturate(5934%)
                            hue-rotate(328deg) brightness(88%) contrast(87%);
                          width: 20px;
                          cursor: pointer;
                        "
                      />
                    </div>
                  </div>
                  <div class="col">
                    <span style="color: #2b333ebf; font-weight: 500">Area</span>
                    <p
                      class="m-0 mt-2"
                      style="font-size: 20px; font-weight: 600"
                    >
                      {{all_data.unit_size}} SqFt
                    </p>
                  </div>
                </div>
                <div class="row m-0 mt-3">
                  <div class="col">
                    <span style="color: #2b333ebf; font-weight: 500"
                      >Parking</span
                    >
                    <div class="row m-0 mt-2">
                      <span
                        class="mr-3"
                        style="font-size: 20px; font-weight: 600"
                        >{{all_data.unit_parking}}</span
                      >
                      <img
                        src="assets/img/svg/parking.svg"
                        alt
                        style="
                          filter: invert(95%) sepia(37%) saturate(5934%)
                            hue-rotate(328deg) brightness(88%) contrast(87%);
                          width: 20px;
                          cursor: pointer;
                        "
                      />
                    </div>
                  </div>
                  <div class="col">
                    <span style="color: #2b333ebf; font-weight: 500"
                      >Floors</span
                    >
                    <div class="row m-0 mt-2">
                      <span
                        class="mr-3"
                        style="font-size: 20px; font-weight: 600"
                        >{{all_data.unit_floor}}</span
                      >
                      <img
                        src="assets/img/svg/parking.svg"
                        alt
                        style="
                          filter: invert(95%) sepia(37%) saturate(5934%)
                            hue-rotate(328deg) brightness(88%) contrast(87%);
                          width: 20px;
                          cursor: pointer;
                        "
                      />
                    </div>
                  </div>
                  <div class="col"></div>
                </div>
                <div
                  class="mt-4 mb-3 mx-auto"
                  style="height: 2px; width: 90%; background: #faebd7a6"
                ></div>
                <div class="col">
                  <p class="m-0" style="color: #2b333ebf; font-weight: 500">
                    Amenities
                  </p>
                  <div class="row m-0 d-flex justify-content-start">
                    <div
                      style="
                        padding: 3px 8px;
                        background: #d4aa3233;
                        font-size: 13px;
                        font-weight: 600;
                        color: #d4aa32;
                        border-radius: 3px;
                        margin-right: 10px;
                      "
                      class="d-flex mt-2"
                      *ngFor="let item of amenities; let index = i"
                    >
                      <span>{{item | titlecase}}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card card-main h-100">
              <div class="card-header">
                <div class="row d-flex">
                  <div class="col-10 my-auto">
                    <h4 class="title-header">Property details</h4>
                  </div>
                  <div class="col-2 my-auto d-flex">
                    <button
                      matTooltip="Go to Property Details"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      (click)="openProperty()"
                      class="btn open-external-link-icon"
                      title
                    >
                      <img
                        src="assets/img/svg/common-icons/open-external-link-icon.svg"
                        alt
                      />
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body">
                <div class="table-row">
                  <table class="teble table-striped w-100 px-3">
                    <thead class="thead">
                      <tr>
                        <th scope="col" class="p-3">Title</th>
                        <th scope="col" class="p-3">Details</th>
                      </tr>
                    </thead>
                    <tbody class="tbody text-uppercase">
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">name</th>
                        <td class="p-3 col-md-8">{{all_data.prop_name}}</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">address</th>
                        <td class="p-3 col-md-8">{{all_data.prop_address}}</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">type</th>
                        <td class="p-3 col-md-8">{{all_data.prop_type}}</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">
                          number of units
                        </th>
                        <td class="p-3 col-md-8">
                          {{all_data.prop_no_of_units}}
                        </td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">locality name</th>
                        <td class="p-3 col-md-8">
                          {{all_data.prop_locality_name}}
                        </td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">incharge</th>
                        <td class="p-3 col-md-8">
                          {{all_data.prop_in_charge}}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row">
         
          <div class="col-md-12 " *ngIf="!isContentLoading">
            <div class="card card-main" style="height: 93%">
              <div class="card-header row m-0 justify-content-between">
                <h4
                  class="overview-header"
                  style="
                    padding: 0;
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: 500;
                    align-items: center;
                    text-shadow: none;
                  "
                >
                  Tenant Details
                </h4>
                <img
                  src="{{ all_data.tenant_profile_img != '' ? 'https://www.indusre.app/api/upload/user/' + all_data.tenant_uid + '/image/' + all_data.tenant_profile_img : 'assets/img/images/user.png'}}"
                  alt
                  class="card-img-top user-image"
                  style="width: 2.5rem"
                />
              </div>
              <div class="card-body" style="padding: 25px 20px">
                <div class="row m-0 align-items-start">
                  <div class="col p-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Name</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.tenant_name}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.tenant_email}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span *ngIf="all_data.tenant_alternative_email != ''"
                            >{{all_data.tenant_alternative_email}}</span
                          >
                          <span *ngIf="all_data.tenant_alternative_email == ''"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          {{all_data.tenant_country_code_number}}
                          {{all_data.tenant_mobile_number}}
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span
                            *ngIf="all_data.tenant_alternative_mobile_number != 0"
                            >{{all_data.tenant_country_code_alternative_number}}
                            {{all_data.tenant_alternative_mobile_number}}</span
                          >
                          <span
                            *ngIf="all_data.tenant_alternative_mobile_number == 0"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Gender</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.tenant_gender | titlecase}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0 mt-4 d-flex justify-content-end">
                  <button
                    class="call-btn btn"
                    (click)="call_tenant_person()"
                    title="CALL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/phone.svg"
                      alt
                    />
                    <span class="ml-2">Call</span>
                  </button>

                  <button
                    class="email-btn btn"
                    (click)="email_tenant_person()"
                    title="MAIL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/email-with-at.svg"
                      alt
                    />
                    <span class="ml-2">Mail</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <ngx-skeleton-loader
            *ngIf="isContentLoading"
            [theme]="{
              width: sideBar_opened? (((screenWidth/2) - ((screenWidth/2)/2)) - 25) + 'px' : (((screenWidth/2) - ((screenWidth/2)/2))) + 'px', 
              height: '30vh'
          }"
          >
          </ngx-skeleton-loader>
          <div class="col-md-12" *ngIf="!isContentLoading">
            <div class="card card-main" style="height: 93%">
              <div class="card-header row m-0 justify-content-between">
                <h4
                  class="overview-header"
                  style="
                    padding: 0;
                    display: flex;
                    font-size: 1.5rem;
                    font-weight: 500;
                    align-items: center;
                    text-shadow: none;
                  "
                >
                  Owner Details
                </h4>
                <img
                  src="{{ all_data.user_profile_img != '' ? 'https://www.indusre.app/api/upload/user/' + all_data.user_uid + '/image/' + all_data.user_profile_img : 'assets/img/images/user.png'}}"
                  alt
                  class="card-img-top user-image"
                  style="width: 2.5rem"
                />
              </div>
              <div class="card-body" style="padding: 25px 20px">
                <div class="row m-0 align-items-start">
                  <div class="col p-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Name</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_name}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_email}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span *ngIf="all_data.user_alternative_email != ''"
                            >{{all_data.user_alternative_email}}</span
                          >
                          <span *ngIf="all_data.user_alternative_email == ''"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          {{all_data.user_country_code_number}}
                          {{all_data.user_mobile_number}}
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span
                            *ngIf="all_data.user_alternative_mobile_number != 0"
                            >{{all_data.user_country_code_alternative_number}}
                            {{all_data.user_alternative_mobile_number}}</span
                          >
                          <span
                            *ngIf="all_data.user_alternative_mobile_number == 0"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Gender</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_gender | titlecase}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0 mt-4 d-flex justify-content-end">
                  <button
                    class="call-btn btn"
                    (click)="call_person()"
                    title="CALL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/phone.svg"
                      alt
                    />
                    <span class="ml-2">Call</span>
                  </button>

                  <button
                    class="email-btn btn"
                    (click)="email_person()"
                    title="MAIL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/email-with-at.svg"
                      alt
                    />
                    <span class="ml-2">Mail</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <ngx-skeleton-loader
            *ngIf="isContentLoading"
            [theme]="{
              width: sideBar_opened? (((screenWidth/2) - ((screenWidth/2)/2)) - 25) + 'px' : (((screenWidth/2) - ((screenWidth/2)/2))) + 'px', 
              height: '30vh'
          }"
          >
          </ngx-skeleton-loader>
          <div
            class="col-12"
            *ngIf="!isContentLoading && all_data.main_description !== null"
          >
            <div class="card card-main">
              <div class="card-header">
                <h4 class="title-header">Description</h4>
              </div>
              <div
                class="card-body"
                style="
                  font-size: 1rem;
                  font-weight: 500;
                  height: 14vh;
                  overflow-y: auto;
                "
              >
                {{all_data.main_description}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <ngx-skeleton-loader
      *ngIf="isContentLoading"
      class="skeleton-left"
      [theme]="{ 
            width: sideBar_opened? ((screenWidth/2) - 450) + 'px' : ((screenWidth/2) - 300) + 'px',
            height: '50vh',
            marginLeft: '20px'
            }"
    >
    </ngx-skeleton-loader>
    <div class="row mt-5" *ngIf="!isContentLoading">
      <div class="col-md-12">
        <div class="card card-main">
          <div class="card-header">
            <h4 class="title-header">Change Request Status</h4>
          </div>
          <div class="card-body">
            <div class="row">
              <!-- <ngx-skeleton-loader
                *ngIf="isContentLoading"
                [theme]="{
                  width: sideBar_opened? ((screenWidth)  - 450) + 'px' : ((screenWidth/2)  - 300) + 'px',
                    height: '30vh',
                  }">
              </ngx-skeleton-loader> -->
              <!-- <div class="col-md-8 mb-5"
                *ngIf="!isContentLoading && maintenance_staff !== undefined">
                <div class="table-row">
                  <table
                    class="teble table-striped w-100 px-3 text-uppercase">
                    <thead class="thead">
                      <tr>
                        <th scope="col" class="p-3">name</th>
                        <th scope="col" class="p-3">date</th>
                        <th scope="col" class="p-3">time</th>
                      </tr>
                    </thead>
                    <tbody class="tbody text-uppercase">
                      <tr scope="row">
                        <th class="p-3 col-md-4"
                          style="cursor: pointer;" scope="row">{{maintenance_staff.name
                          !== '' ? maintenance_staff.name : '-'}}</th>
                        <td class="p-3 col-md-4"
                          style="cursor: pointer;" scope="row">{{maintenance_staff.date
                          !== '' ? maintenance_staff.date : '-'}}</td>
                        <td class="p-3 col-md-4"
                          style="cursor: pointer;" scope="row">
                          {{maintenance_staff.time !== '' ?
                          maintenance_staff.time : '-'}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <button class="btn mt-3"
                  matTooltip="Reassign"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  style="background: #d4aa32;"
                  (click)="reassignStaff()">Reassign</button>
              </div> -->

              <!-- <ng-container *ngIf="maintenance_staff == undefined">
                <div class="col-md-8" *ngIf="!staff_assigned">
                  <mat-form-field class="w-100 mat-datepicker textField"
                    appearance="outline" *ngIf="!staff_selected">
                    <mat-label>Assign Staff</mat-label>
                    <mat-select [(ngModel)]="select_staff"
                      (selectionChange)="assignStaffSelect($event)">
                      <mat-option *ngFor="let item of all_data.staff"
                        [value]="item.name">
                        {{item.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>

                  <mat-card class="w-100 my-3" *ngIf="staff_selected">
                    <mat-card-content>
                      <div class="row">
                        <div class="col-2"
                          style="display: flex; align-items: center;">
                          <img src="assets/img/images/user.png" alt="user"
                            style="width: 2rem; border-radius: 50rem;">
                        </div>
                        <div class="col-8"
                          style="display: flex; align-items: center;">
                          <h4 class="m-0">{{select_staff}}</h4>
                        </div>
                        <div class="col-2"
                          style="display: flex; align-items: center; justify-content: center;">
                          <button class="btn"
                            style="background:none; border: 0;padding: 0; margin: 0;">
                            <img
                              style="width: 20px;width: 20px;
                                  position: absolute;
                                  top: 50%;
                                  left: 50%;
                                  transform: translate(-50%, -50%);margin: 0; padding: 0;"
                              matTooltip="Close"
                              matTooltipClass="tooltip"
                              matTooltipPosition="above"
                              (click)="clearAssignStaff()"
                              class="mr-2 mt-1 close-icon"
                              src="assets/img/svg/req-details/close-circle.svg"
                              alt />
                          </button>
                        </div>
                      </div>
                    </mat-card-content>
                  </mat-card>

                  <mat-form-field class="mat-datepicker textField w-100"
                    appearance="outline">
                    <mat-label>Assign date</mat-label>
                    <input
                      matInput
                      [matDatepicker]="start_date_picker"
                      [(ngModel)]="assign_date"
                      [min]="current_date"
                      (dateChange)="getDateTime()" [disabled]="staff_selected ? 'false' : 'true'"/>

                    <mat-datepicker-toggle
                      matIconSuffix
                      [for]="start_date_picker"></mat-datepicker-toggle>
                    <mat-datepicker #start_date_picker></mat-datepicker>
                  </mat-form-field>

                  <ul
                    style="display: flex; flex-wrap: wrap; padding: 0; list-style: none;"
                    *ngIf="date_select && staff_selected">
                    <li
                      style="margin: 5px; background-color: #d4aa32; padding: 5px 15px; border-radius: 50rem; cursor: pointer; font-weight: 600; color: #fff;"
                      *ngFor="let item of timeSlotSelectedValues"
                      (click)="assignValue(item)"
                      [ngStyle]="{'background-color' : selected_time !== '' && selected_time == item ? '#2b333e' : '#d4aa32'}">
                      {{item}}
                    </li>
                  </ul>

                  <button class="btn"
                    mat-flat-button
                    matTooltip="Assign staff"
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    [ngStyle]="{'background-color' : date_select && is_time_selected && staff_selected ? '#d4aa32' : '#ffe290', 'cursor': date_select && is_time_selected && staff_selected ? 'pointer' : 'not-allowed'}"
                    style="font-weight: 600; color: #fff; margin-top: 10px;"
                    (click)="assignStaff()">ASSIGN
                    STAFF</button>
                </div>
              </ng-container> -->

              <div class="col-md-4">
                <button
                  class="btn mx-auto mb-auto"
                  [matMenuTriggerFor]="menu"
                  matTooltip="Change Request Status"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  style="background-color: #d4aa32; font-weight: 600"
                >
                  Change Request Status
                </button>

                <mat-card
                  class="mt-5"
                  style="border: 0; background-color: #d4a932"
                >
                  <mat-card-content
                    style="
                      font-weight: 600;
                      font-size: 20px;
                      text-align: center;
                      text-transform: uppercase;
                      color: #ffff;
                    "
                  >
                    current request status <br />
                    <br />
                    <span
                      style="
                        padding: 5px 10px;
                        border-radius: 10px;
                        margin-top: 5px;
                      "
                      [ngStyle]="{'background-color': assignColor(main_request_status)}"
                      >{{main_request_status}}</span
                    >
                  </mat-card-content>
                </mat-card>
                <mat-menu #menu="matMenu" class="more-menu">
                  <button
                    mat-menu-item
                    class="more-archived"
                    (click)="changeStatus(all_data.main_request_id,'open')"
                  >
                    Open
                  </button>
                  <button
                    mat-menu-item
                    class="more-span"
                    (click)="changeStatus(all_data.main_request_id,'assigned')"
                  >
                    Assigned
                  </button>
                  <button
                    mat-menu-item
                    class="more-archived"
                    (click)="changeStatus(all_data.main_request_id,'inprogress')"
                  >
                    In Progress
                  </button>
                  <button
                    mat-menu-item
                    class="more-span"
                    (click)="changeStatus(all_data.main_request_id,'completed')"
                  >
                    Complete
                  </button>
                  <button
                    mat-menu-item
                    class="more-archived"
                    (click)="changeStatus(all_data.main_request_id,'hold')"
                  >
                    Hold
                  </button>
                  <button
                    mat-menu-item
                    class="more-span"
                    (click)="changeStatus(all_data.main_request_id,'reopen')"
                  >
                    Re Open
                  </button>
                  <button
                    mat-menu-item
                    class="more-archived"
                    (click)="changeStatus(all_data.main_request_id,'reassigned')"
                  >
                    Re Assigned
                  </button>
                  <button
                    mat-menu-item
                    class="more-span"
                    (click)="changeStatus(all_data.main_request_id,'rejected')"
                  >
                    Rejected
                  </button>
                  <button
                    mat-menu-item
                    class="more-span"
                    (click)="changeStatus(all_data.main_request_id,'cancelled')"
                  >
                    Cancelled
                  </button>
                </mat-menu>
              </div>
            </div>
            <!-- <ul
                  style="list-style: none;margin: 0;padding: 0; flex-wrap: wrap; display: flex;">
                  <li style="margin: 5px 10px; padding: 5px 10px;">
                    <button class="btn"
                      matTooltip="Assign staff"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      (click)="openAssignStaff(all_data.main_request_id)"
                      style="background-color: #d4aa32;font-weight: 600;">
                      Assign staff
                    </button>
                  </li>
                  <li style="margin: 5px 10px; padding: 5px 10px;">

                  </li>
                </ul> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
