<div class="main-content" *ngIf="screenWidth > 430">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-8">
                <div class="row">
                  <img
                    src="../../assets/img/maintenance.png"
                    alt=""
                    width="30"
                    height="30"
                    class="maintainance_img"
                  />
                  <h3 class="font-weight-bold">Maintenance Request Details</h3>
                </div>
                <div class="row">
                  <div class="col-4">
                    <h5>Request date:</h5>
                    <h5 class="font-weight-normal">1/8/2023</h5>
                  </div>
                  <div class="col-4">
                    <h5>Request status:</h5>
                    <h5 class="font-weight-normal">Completed</h5>
                  </div>
                </div>

                <div class="row mt-3">
                  <div class="col-4">
                    <h5>Request Type:</h5>
                    <h5 class="font-weight-normal">Normal</h5>
                  </div>
                  <div class="col-4">
                    <h5>Request for:</h5>
                    <h5 class="font-weight-normal">Unit</h5>
                  </div>
                  <div class="col-4">
                    <h5>Request Category:</h5>
                    <h5 class="font-weight-normal">Air</h5>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <button class="btn">View all Media</button>
              </div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
          <div class="card">
            <div class="card-body">
              <h3 class="font-weight-bold">User Details</h3>
              <div class="row">
                <div class="col-3">
                  <img
                    src="../../assets/img/user.png"
                    alt
                    class="card-img-top user-image m-auto rounded-circle img-fluid"
                    width="100%"
                  />
                </div>
                <div class="col-9">
                  <!-- <h4 class="user-name"></h4>
                          <span class="user-uid text-secondery"></span> -->
                  <ul class="user-details font-weight-bold">
                    <li>Name: Kiran</li>
                    <li>Email: k@gmail.Completed</li>
                    <li>Alternative email: k@gmail.com</li>
                    <li>Phone: 0551234545</li>
                    <li>Alternative phone:06776767545</li>
                    <li>Gender:Male</li>
                    <li>Nationality:Indian</li>
                    <li>DOB:12/06/2034</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-md-12">
            <!-- <div class="card">
              <div class="card-body">
                <h3 class="font-weight-bold">Property Details</h3>
              </div>
            </div> -->
            <div class="table-row">
              <div class="card main-card">
                <div class="card-body">
                  <h3 class=" font-weight-bold">Property details
                  </h3>
                  <table class="teble table-striped w-100 px-3 detail-table">
                    <thead class="thead">
                      <tr>
                        <th scope="col" class="p-3">Title</th>
                        <th scope="col" class="p-3">Details</th>
                      </tr>
                    </thead>
                    <tbody class="tbody text-uppercase">
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">property name</th>
                        <td class="p-3 col-md-8">Test Property</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">property address</th>
                        <td class="p-3 col-md-8">JLT, Dubai</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">property type</th>
                        <td class="p-3 col-md-8">Residentials</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">government id</th>
                        <td class="p-3 col-md-8">1234</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">number of units</th>
                        <td class="p-3 col-md-8">2</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">locality
                          name</th>
                        <td class="p-3 col-md-8">Proepry</td>
                      </tr>
                      <tr scope="row">
                        <th class="p-3 col-md-4" scope="row">property incharge</th>
                        <td class="p-3 col-md-8">property</td>
                      </tr>
                      <tr scope="row" *ngIf="all_data.prop_description !== ''">
                        <th class="p-3 col-md-4" scope="row">property description</th>
                        <td class="p-3 col-md-8">property</td>
                      </tr>
                     
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="row">
          <div class="card">
            <div class="card-body">
              <h3 class="font-weight-bold">Unit Details</h3>
              <div class="row">
                <div class="col-6">
                  <h3>This is Unit Name</h3>
                </div>
                <div class="col-6">
                  <button class="btn" style="float: right">
                    View Unit Media
                  </button>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <!-- <img src="../../assets/img/rent.png" alt="" width="30" height="30"> --> 
                  
                  <h5>Unit Number:</h5>
                  <h5 class="font-weight-normal">1234</h5>
                </div>
                <div class="col-4">
                  <h5>Property Name:</h5>
                  <h5 class="font-weight-normal">Abcd</h5>
                </div>
                <div class="col-4">
                  <h5>Unit Type:</h5>
                  <h5 class="font-weight-normal">Appartment</h5>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <h5>Floor:</h5>
                  <h5 class="font-weight-normal">4</h5>
                </div>
                <div class="col-4">
                  <h5>Size:</h5>
                  <h5 class="font-weight-normal">200</h5>
                </div>
                <div class="col-4">
                  <h5>Unit Type:</h5>
                  <h5 class="font-weight-normal">Appartment</h5>
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-4">
                  <h5>Status:</h5>
                  <h5 class="font-weight-normal">Occupied</h5>
                </div>
                <div class="col-4">
                  <h5>Bedroom:</h5>
                  <h5 class="font-weight-normal">2</h5>
                </div>
                <div class="col-4">
                  <h5>Bathroom:</h5>
                  <h5 class="font-weight-normal">2</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
