@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.all-req-card-admin {
  background-color: #f4f4f4;
  padding: 20px;
  padding-bottom: 10px;
  transition: width 600ms ease-out, height 600ms ease-out;
  height: 240px;
}
.all-req-card-admin-expanded {
  background-color: #f4f4f4;
  padding: 20px;
  padding-bottom: 10px;
  height: 520px;
  transition: width 600ms ease-out, height 600ms ease-out;

  .description-req-card {
    transition: width 600ms ease-out, height 600ms ease-out;
    height: 320px;
  }
}

.request-show-type-btns {
  background-color: #ffffff;
  border: 1px solid #d1d1d1;
  box-shadow: none;
  margin-left: 10px;
  padding: 6px 7px;

  img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(21%) saturate(31%)
      hue-rotate(76deg) brightness(88%) contrast(92%);
  }

  &:hover {
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
    border: 1px solid #ffffff;
  }
}

.request-show-type-btns-active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  padding: 6px 7px;

  img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(14%) saturate(2200%)
      hue-rotate(343deg) brightness(85%) contrast(96%);
  }
}

.request-approve-btns {
  background: transparent;
  color: black;
  box-shadow: none;

  &:hover {
    box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%),
      0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153 / 12%);
    color: #d4aa32;
  }
}

:host ::ng-deep .mat-tab-header {
  background-color: #2b333e !important;
}
:host ::ng-deep .mat-tab-label {
  color: #ffffff !important;
  font-family: "Montserrat" !important;
}
:host ::ng-deep .mat-tab-label-active {
  color: #d3ab33 !important;
  font-family: "Montserrat" !important;
}
:host ::ng-deep .mat-ink-bar {
  background-color: #d3ab33 !important;
  width: 110px !important;
  margin-left: 25px !important;
}

:host ::ng-deep .filter-menu {
  .mat-radio-inner-circle {
    background-color: #d4aa32 !important;
  }

  .mat-ripple-element {
    background-color: #d4aa32 !important;
  }

  .mat-radio-checked {
    .mat-radio-outer-circle {
      border-color: #d4aa32 !important;
    }
  }
}

.actions-menu-btn {
  padding: 8px 15px;
  font-size: 10px;
  font-weight: 600;
  background-color: #2b333e;

  &:hover {
    background-color: #d4aa32;
  }
}

.refresh-table-btn{
  height: 2rem;
  width: 1.2rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover{
    transform: scaleY(1.2) scaleX(1.2);
  }
}

.demo-table {
  min-width: 1250px;
  width: 100%;
  margin-top: 35px;
  border-radius: 10px;

  box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.2),
    0px 1px 2px -2px rgba(0, 0, 0, 0.14), 0px 1px 6px 1px rgba(0, 0, 0, 0.12);

  .first-col {
    border-bottom-left-radius: 10px;
    font-weight: 600;
  }

  .first-col-last {
    border-bottom-left-radius: 10px;
    border-bottom: none;
    font-weight: 600;
  }

  .second-col {
    color: #a3a3a3;
    font-weight: 600;
  }
  .second-col-last {
    border-bottom: none;
    color: #a3a3a3;
    font-weight: 600;
  }

  .third-col {
    font-weight: 600;
  }
  .third-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .fourth-col {
    font-weight: 600;
  }
  .fourth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .fifth-col {
    font-weight: 600;
  }
  .fifth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .sixth-col {
    font-weight: 600;
  }
  .sixth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .approved-status::before {
    color: #8ae16b;
    font-weight: 600;
    content: "ACCEPTED";
    background-color: #e9ffed;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 11px;
  }
  .declined-status::before {
    color: #ff0000;
    font-weight: 600;
    content: "DECLINED";
    background-color: #fff2f5;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 11px;
  }
  .pending-status::before {
    color: #d4aa32;
    font-weight: 600;
    content: "PENDING";
    background-color: #fbf8ef;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 11px;
  }

  .eighth-col-last {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .eighth-col {
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .mat-header-cell {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #84878f;
    font-weight: 600;
  }

  .mat-header-row {
    background-color: #f9fafc;
  }
}

:host ::ng-deep .table-paginator {
  .mat-form-field-underline {
    display: none !important;
  }

  .mat-form-field-infix {
    border-top: none !important;
    padding: 10px 0 !important;
  }

  .mat-form-field {
    margin: 0 !important;
  }

  .mat-select-arrow-wrapper {
    margin: 0 5px !important;
    margin-top: 8px !important;
  }

  .mat-paginator-page-size-label {
    margin: 0 10px !important;
    font-size: 13px !important;
    margin-right: 20px !important;
  }

  .mat-select-value-text {
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .mat-form-field-wrapper {
    padding: 0 !important;
  }

  .mat-paginator-page-size {
    border: 1px solid #a3a3a37d !important;
    border-radius: 8px !important;
    align-items: center !important;
  }

  .mat-select-value {
    margin-bottom: -10px !important;
  }

  .mat-icon-button {
    svg {
      border: 1px solid #c7c7c7 !important;
      border-radius: 7px !important;
      padding: 3px !important;
    }
  }
}

.table_view_class_hidden {
  display: none;
}

:host ::ng-deep .tooltip {
  position: relative;
  background-color: #ececec;
  color: #313a46 !important;
  font-size: 11px;
  font-weight: 600;
  padding: 2px 6px !important;
  max-width: none !important;
  min-width: auto !important;
}
