<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <!-- <div class="card-header"></div> -->
  <div class="card-body" style="padding: 1.5rem 1.5rem">
    <div class="col">
      <div class="row m-0 align-items-start w-100">
        <p
          class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 20px"
        >
          Add New User
        </p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt=""
        />
      </div>

      <div class="row m-0 mt-3">
        <div class="col-2 pl-0">
          <div
            *ngIf="imgFileBase64Uploaded != ''"
            style="
              width: 100%;
              height: 10rem;
              overflow: hidden;
              background-image: url('{{ imgFileBase64Uploaded }}');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 10px
            "
          >
            <img
              (click)="removeProfileImg()"
              src="assets/img/svg/success-dialog/close-square.svg"
              alt=""
              style="
                position: absolute;
                right: 7px;
                top: -7px;
                width: 25px;
                background: white;
                border-radius: 7px;
                cursor: pointer;
              "
            />
          </div>
          <div
            *ngIf="imgFileBase64Uploaded == ''"
            (click)="fileInputImage.click()"
            style="
              background: #3c485826;
              display: grid;
              padding: 35px 0;
              border: 1px solid #3c48585e;
              border-radius: 8px;
              cursor: pointer;
            "
          >
            <input
              hidden
              (change)="onImageSelected($event.target.files)"
              #fileInputImage
              type="file"
              accept="image/*"
            />
            <img
              class="mx-auto"
              src="assets/img/pngs/add-profile-photo.png"
              alt=""
              style="width: 30px"
            />
            <span class="mx-auto mt-3">Add Image</span>
          </div>
        </div>
        <div class="col">
          <mat-form-field class="textField" appearance="outline">
            <mat-label>Name*</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_name"
            />
          </mat-form-field>

          <mat-form-field class="mt-2 textField" appearance="outline">
            <mat-label>Email*</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. jhon@example.ae"
              [(ngModel)]="user_email"
            />
          </mat-form-field>
          <form #f="ngForm" [formGroup]="phoneForm">
            <mat-form-field class="mt-2 textField" appearance="outline">
              <mat-label>Mobile Number*</mat-label>
              <ngx-mat-intl-tel-input
                [preferredCountries]="['us', 'gb']"
                [enablePlaceholder]="true"
                customPlaceholder="Mobile Number*"
                [enableSearch]="true"
                name="phone"
                describedBy="phoneInput"
                (countryChanged)="phoneNumberChanged($event)"
                formControlName="phone"
                #phone
              ></ngx-mat-intl-tel-input>
              <mat-hint>e.g. {{phone.selectedCountry.placeHolder}}</mat-hint>
              <mat-error
                *ngIf="f.form.controls['phone']?.errors?.validatePhoneNumber"
                >Invalid Number</mat-error
              >
            </mat-form-field>
          </form>
          <!-- <mat-form-field class="mt-2">
            <mat-label>Mobile Number*</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_mobile_number"
            />
          </mat-form-field> -->

          <mat-form-field
            class="mat-datepicker mt-2 textField"
            appearance="outline"
          >
            <mat-label>Choose Date of Birth</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="user_dob" />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col">
          <form #f="ngForm" [formGroup]="phoneForm">
            <mat-form-field class="textField" appearance="outline">
              <mat-label>Alternative Mobile Number</mat-label>
              <ngx-mat-intl-tel-input
                [preferredCountries]="['us', 'gb']"
                [enablePlaceholder]="true"
                [enableSearch]="true"
                name="phone"
                describedBy="phoneInput"
                (countryChanged)="alternativePhoneNumberChanged($event)"
                formControlName="phone"
                #phone_alt
              ></ngx-mat-intl-tel-input>
              <mat-hint
                >e.g. {{phone_alt.selectedCountry.placeHolder}}</mat-hint
              >
              <mat-error
                *ngIf="f.form.controls['phone']?.errors?.validatePhoneNumber"
                >Invalid Number</mat-error
              >
            </mat-form-field>
          </form>

          <mat-form-field class="mt-2 textField" appearance="outline">
            <mat-label>Alternative Email</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_alternative_email"
            />
          </mat-form-field>

          <country-dropdown #country_dropdown></country-dropdown>
        </div>

        <div class="col">
          <mat-form-field class="textField" appearance="outline">
            <mat-label>Select Gender</mat-label>
            <mat-select [(ngModel)]="user_gender">
              <mat-option *ngFor="let gender of genders" [value]="gender.value">
                {{gender.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mt-2 textField" appearance="outline">
            <mat-label>Select ID Type*</mat-label>
            <mat-select [(ngModel)]="user_id_type">
              <mat-option *ngFor="let id of idType" [value]="id.viewValue">
                {{id.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="mt-2 textField" appearance="outline">
            <mat-label>ID Number*</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_id_number"
            />
          </mat-form-field>
        </div>
      </div>
      <div
        class="my-3"
        style="width: 100%; height: 2px; background: #f0ba243b"
      ></div>
      <span style="font-size: 17px; font-weight: 500; color: #3c4858b5"
        >Bank Details</span
      >
      <div class="row m-0 mt-3">
        <div class="col pl-0">
          <mat-form-field class="textField" appearance="outline">
            <mat-label>Bank Name</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_bank_name"
            />
          </mat-form-field>

          <mat-form-field class="textField" appearance="outline">
            <mat-label>Bank Account Number</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_bank_ac_no"
            />
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="textField" appearance="outline">
            <mat-label>Swift Code</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_bank_swift_code"
            />
          </mat-form-field>

          <mat-form-field class="textField" appearance="outline">
            <mat-label>IBAN Coder</mat-label>
            <input
              matInput
              type="text"
              placeholder="Ex. Jhon"
              [(ngModel)]="user_bank_iban"
            />
          </mat-form-field>
        </div>
        <div class="col" style="height: 20vh; overflow: auto">
          <div
            (click)="fileInput.click()"
            class="btn ml-4"
            style="background: #d4aa32"
          >
            Add Documents
          </div>
          <input
            multiple
            hidden
            (change)="onFileSelected($event.target.files)"
            #fileInput
            type="file"
            id="file"
          />

          <div *ngIf="docsFilesUploaded.length != 0">
            <div
              *ngFor="let file of docsFilesUploaded;let index=index"
              class="row m-0 mt-2 align-items-center"
              style="
                background: #d4aa3230;
                border: solid 1px #d4aa32;
                border-radius: 5px;
                padding: 10px 10px;
              "
            >
              <img src="assets/img/svg/documents/document-text.svg" alt="" />
              <span
                class="m-0 ml-3"
                style="
                  font-weight: 500;
                  text-overflow: ellipsis;
                  max-width: 160px;
                  overflow: hidden;
                  white-space: nowrap;
                "
                >{{file.name}}</span
              >
              <img
                (click)="removeUploadedDoc(index)"
                src="assets/img/svg/success-dialog/close-square.svg"
                alt=""
                style="
                  position: absolute;
                  right: 25px;
                  width: 20px;
                  cursor: pointer;
                "
              />
            </div>
          </div>
        </div>
      </div>

      <div class="row m-0 w-100 justify-content-end align-items-center">
        <span
          class="mr-3"
          *ngIf="formNotFilled"
          style="
            color: #ff0000db;
            font-weight: 500;
            background: #ff000017;
            padding: 7px 20px;
            border: 1px solid #d1000033;
            border-radius: 7px;
          "
          >Please fill the form.</span
        >

        <span
          class="mr-3"
          *ngIf="documentNotAdded"
          style="
            color: #ff0000db;
            font-weight: 500;
            background: #ff000017;
            padding: 7px 20px;
            border: 1px solid #d1000033;
            border-radius: 7px;
          "
          >Please add atleast 1 document.</span
        >
        <span
          *ngIf="uploading"
          class="mr-3"
          style="font-size: 19px; font-weight: 600; color: #3c4858"
          >{{uploading_progress}}%</span
        >
        <div class="progress-bar mr-4" *ngIf="uploading">
          <div
            class="progress-bar-fill"
            [ngStyle]="{'width.%': uploading_progress % 100}"
          ></div>
        </div>
        <div
          class="btn"
          style="background: #3c4858; min-width: 120px; padding: 10px 20px"
          (click)="onSubmit()"
        >
          <span *ngIf="!uploading">Submit</span>
          <span
            *ngIf="uploading"
            class="spinner-border spinner-border-m mx-auto"
            style="height: 25px; width: 25px"
          >
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
