@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.card {
  max-width: 1300px;
  .card-header {
    background-color: #2b333e;
    color: white;

    .form-card-title {
      margin-top: 20px;
      font-size: 20px;
      font-weight: 600;
    }
    .form-card-id {
      margin-top: 20px;
      color: #a3a3a3;
      margin-right: 15px;
      font-size: 13px;
    }
  }

  .card-body {
    background-color: #eeeeee;
    padding: 35px;
    .card-body-title {
      font-size: 20px;
      font-weight: 800;
      margin-top: 20px;
    }

    .card-divider {
      border-top: 5px solid #d4aa32;
      border-radius: 30px;
      margin-top: 10px;
    }

    .grey-text-form {
      color: #a3a3a3;
    }

    .description-field {
      background-color: #ffffff;
    }

    .custom-focus {
      background-color: #d4aa32;
    }
  }
}

:host ::ng-deep .mat-radio-outer-circle {
  border-radius: 6px !important;
  width: 25px !important;
  height: 25px !important;
  border: none !important;
  background-color: white !important;
}

:host ::ng-deep .mat-radio-container {
  width: 25px !important;
  height: 25px !important;
}

:host ::ng-deep .mat-radio-inner-circle {
  border-radius: 9px !important;
  width: 50px !important;
  margin-left: -12px !important;
  height: 47px !important;
  margin-top: -11px !important;
  background-color: #d4aa32 !important;
}

:host ::ng-deep .mat-ripple-element {
  background-color: #d4aa32 !important;
}

:host ::ng-deep .mat-checkbox-frame {
  border: none !important;
}

:host ::ng-deep .mat-checkbox-inner-container {
  background-color: white !important;
  width: 25px !important;
  height: 25px !important;
  border-radius: 5px !important;
}

:host ::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #d4aa32 !important;
  border-radius: 5px !important;
}

:host ::ng-deep .mat-form-field-underline {
  display: none !important;
}

:host ::ng-deep .mat-form-field {
  background-color: white !important;
  border-radius: 5px !important;
  padding-bottom: 0px !important;
  padding-right: 5px !important;
  margin-top: -8px !important;
  height: 40px !important;
  padding-left: 10px !important;
  font-size: 15px !important;
}

:host ::ng-deep .mat-form-field-infix {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  margin-top: -3px !important;
}

:host ::ng-deep .mat-datepicker-toggle-default-icon {
  width: 20px !important;
  margin-bottom: 5px !important;
  color: #d4aa32 !important;
}

:host ::ng-deep .mat-form-field-flex {
  padding: 3px !important;
  background-color: #ffffff00 !important;
}

/* Change the white to any color */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
