<div class="main-content reports-bg">
  <div class="container-fluid h-100 d-flex justify-content-center">
    <span
      *ngIf="pageLoading == true"
      class="spinner-border spinner-border-m mr-2"
      style="color: #d4aa32; margin-top: 365px"
    >
    </span>
    <div class="card" *ngIf="pageLoading == false">
      <div class="card-header">
        <div class="row" style="margin-left: 0px">
          <div class="col">
            <div class="row" style="margin-left: 0px">
              <p class="form-card-title">Property Listing Details</p>
              <img
                src="assets/img/svg/add-property-form/verify.svg"
                style="
                  filter: invert(64%) sepia(55%) saturate(486%) hue-rotate(7deg)
                    brightness(93%) contrast(100%);
                  margin-left: 10px;
                  margin-top: 5px;
                "
              />
            </div>

            <p class="form-card-date">Date: 20/01/2023</p>
          </div>
          <div class="col text-right">
            <p class="form-card-id">Form Id: IRE/F-A/112016RO</p>
          </div>
        </div>
      </div>

      <div class="card-body">
        <span
          *ngIf="isLoading == true"
          class="spinner-border spinner-border-m mr-2"
          style="position: absolute; top: 170px; left: 620px; color: #d4aa32"
        >
        </span>
        <p class="card-body-title">PROPERTY DETAILS</p>
        <hr class="card-divider" />
        <p class="grey-text-form">
          Please Enter every detail correctly and according to the following
        </p>
        <form [formGroup]="addPropertyForm">
          <div class="row" style="margin-left: 0px; margin-top: 10px">
            <div class="row" style="margin-left: 0px">
              <p class="grey-text-form">For Rent</p>

              <mat-radio-group
                [(ngModel)]="propertyState"
                style="margin-left: 15px"
                formControlName="property_state"
              >
                <mat-radio-button
                  class="example-margin"
                  value="rent"
                ></mat-radio-button>
              </mat-radio-group>
            </div>
            <div class="row" style="margin-left: 50px">
              <p class="grey-text-form">For Sale</p>

              <mat-radio-group
                [(ngModel)]="propertyState"
                style="margin-left: 15px"
                formControlName="property_state"
              >
                <mat-radio-button
                  class="example-margin"
                  value="sale"
                ></mat-radio-button>
              </mat-radio-group>
            </div>

            <div
              class="col h-100 d-flex justify-content-end"
              style="padding-right: 30px"
            >
              <div class="row" style="margin-left: 0px">
                <p class="grey-text-form" style="margin-right: 30px">
                  Offer validity:
                </p>
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker"
                    [(ngModel)]="offerValidity"
                    (dateChange)="onOfferValidityDate($event)"
                    formControlName="offer_validity"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>

          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div class="col" style="padding-left: 0">
              <p class="grey-text-form">Furnish Details</p>
              <mat-form-field>
                <input matInput formControlName="furnishDetails" />
              </mat-form-field>
            </div>
            <div class="col" style="padding-left: 0">
              <p class="grey-text-form">Property Type</p>
              <mat-form-field appearance="fill">
                <mat-select
                  [(ngModel)]="selectedPropertyType"
                  formControlName="propertyType"
                >
                  <mat-option *ngFor="let p of propertyType" [value]="p">
                    {{ p }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div class="col" style="padding: 0px">
              <p class="grey-text-form" style="margin-right: 30px">
                Title Deed Number
              </p>
              <mat-form-field>
                <input matInput formControlName="titleDeedNumber" />
              </mat-form-field>
            </div>
            <div class="col">
              <p class="grey-text-form" style="margin-right: 30px">
                Project Name
              </p>
              <mat-form-field>
                <input matInput formControlName="ProjectName" />
              </mat-form-field>
            </div>
          </div>
          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div class="col" style="padding: 0px">
              <p class="grey-text-form" style="margin-right: 30px">
                Community Name
              </p>
              <mat-form-field>
                <input matInput formControlName="CommunityName" />
              </mat-form-field>
            </div>
            <div class="col">
              <p class="grey-text-form" style="margin-right: 30px">
                Building Name
              </p>
              <mat-form-field>
                <input matInput formControlName="BuildingName" />
              </mat-form-field>
            </div>
          </div>
          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div class="col" style="padding: 0px">
              <p class="grey-text-form" style="margin-right: 30px">Size Area</p>
              <mat-form-field>
                <input matInput formControlName="SizeArea" />
              </mat-form-field>
            </div>
            <div class="col">
              <p class="grey-text-form" style="margin-right: 30px">
                No. of Bedrooms
              </p>
              <mat-form-field>
                <input
                  matInput
                  formControlName="NumberOfBedRooms"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>
          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div class="col" style="padding: 0px">
              <p class="grey-text-form" style="margin-right: 30px">
                Unit Number
              </p>
              <mat-form-field>
                <input matInput formControlName="UnitNumber" type="number" />
              </mat-form-field>
            </div>
            <div class="col">
              <p class="grey-text-form" style="margin-right: 30px">
                No. of Carparking
              </p>
              <mat-form-field>
                <input
                  matInput
                  formControlName="NumberOfCarParking"
                  type="number"
                />
              </mat-form-field>
            </div>
          </div>

          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div
              class="row"
              style="margin-left: 0px; width: -webkit-fill-available"
            >
              <p class="grey-text-form" style="margin-right: 30px">
                Addtional Information
              </p>
              <div
                class="description-field"
                style="
                  width: -webkit-fill-available;
                  width: -moz-available;
                  margin-right: 30px;
                  border-radius: 5px;
                  height: 100px;
                "
              >
                <textarea
                  formControlName="AdditionalInformation"
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row" style="margin-left: 0px; margin-top: 80px">
            <div class="row" style="margin-left: -10px">
              <div class="col">
                <p style="margin-bottom: 0px; font-weight: 600">
                  Upload Images of the Property:
                </p>
                <p class="grey-text-form">*Clear Images required*</p>
              </div>

              <div
                style="
                  width: 250px;
                  height: 40px;
                  border-radius: 8px;
                  margin-top: 4px;
                  border: none;
                "
              >
                <div class="row">
                  <div
                    style="
                      width: 55px;
                      margin: 0px;
                      margin-left: 10px;
                      height: 40px;
                      border-radius: 6px;
                      border-bottom-right-radius: 0px;
                      border-top-right-radius: 0px;
                      margin-top: -1px;
                      background-color: #d4aa32;
                    "
                    class="btn"
                    (click)="propertyImageInput.click()"
                  >
                    <img
                      src="assets/img/svg/add-property-form/document-upload.svg"
                      style="
                        filter: brightness(0) invert(1);
                        width: 21px;
                        margin-top: -4px;
                        margin-left: -8px;
                      "
                    />
                  </div>

                  <div
                    style="
                      border-start-end-radius: 6px;
                      background-color: #d9d9d9;
                      color: #a3a3a3;
                      height: 40px;
                      margin-top: -1px;
                      width: 195px;
                      border-bottom-right-radius: 6px;
                      padding-top: 7px;
                      padding-left: 17px;
                    "
                  >
                    {{uploadedImgCount}}
                  </div>
                </div>
              </div>
              <input
                #propertyImageInput
                type="file"
                (change)="pickImg($event)"
                style="display: none"
              />
            </div>

            <div
              class="col h-100 d-flex justify-content-end"
              style="margin-right: 15px"
            >
              <div class="row">
                <div class="col">
                  <p style="margin-bottom: 0px; font-weight: 600">
                    Upload Required Documents:
                  </p>
                  <p class="grey-text-form">
                    Sale Deed, Possession letter, etc
                  </p>
                </div>

                <div
                  style="
                    width: 250px;
                    height: 40px;
                    border-radius: 8px;
                    margin-top: 4px;
                    border: none;
                  "
                >
                  <div class="row">
                    <div
                      style="
                        width: 55px;
                        margin: 0px;
                        margin-left: 10px;
                        height: 40px;
                        border-radius: 6px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 0px;
                        margin-top: -1px;
                        background-color: #d4aa32;
                      "
                      class="btn"
                      (click)="propertyDocInput.click()"
                    >
                      <img
                        src="assets/img/svg/add-property-form/document-upload.svg"
                        style="
                          filter: brightness(0) invert(1);
                          width: 21px;
                          margin-top: -4px;
                          margin-left: -8px;
                        "
                      />
                    </div>

                    <div
                      style="
                        border-start-end-radius: 6px;
                        background-color: #d9d9d9;
                        color: #a3a3a3;
                        height: 40px;
                        margin-top: -1px;
                        width: 195px;
                        border-bottom-right-radius: 6px;
                        padding-top: 7px;
                        padding-left: 17px;
                      "
                    >
                      {{uploadedDocCount}}
                    </div>
                  </div>
                </div>

                <input
                  #propertyDocInput
                  type="file"
                  (change)="pickDoc($event)"
                  style="display: none"
                />
              </div>
            </div>
          </div>
          <p
            *ngIf="moreThan4PropertyDocs == true"
            style="
              color: #ff0000e6;
              text-align-last: end;
              margin-top: -10px;
              font-size: 12px;
            "
          >
            You cannot add more than 4 documents.
          </p>
          <p
            *ngIf="moreThan5PropertyImages == true"
            style="
              color: #ff0000e6;
              text-align-last: start;
              margin-top: -10px;
              font-size: 12px;
            "
          >
            You cannot add more than 5 Images.
          </p>

          <p class="card-body-title" style="margin-top: 65px">
            MARKETING/ADVERTISING
          </p>
          <hr class="card-divider" />

          <p class="grey-text-form">
            Please Enter every detail correctly and according to the following
          </p>

          <div class="row" style="margin-left: 0px; margin-top: 35px">
            <div class="col" style="padding: 0px">
              <div class="row" style="margin-left: 0px">
                <p class="grey-text-form">
                  Through Electronic, Media & Social Media
                </p>

                <mat-checkbox
                  [(ngModel)]="marketingSocialMedia"
                  style="margin-left: 10px"
                  (change)="marketingSocialMediaCheckBoxChecked($event)"
                ></mat-checkbox>
              </div>
              <div
                class="description-field"
                style="
                  width: -webkit-fill-available;
                  width: -moz-available;
                  margin-right: 20px;
                  border-radius: 5px;
                  height: 100px;
                "
              >
                <textarea
                  *ngIf="marketingSocialMedia == false"
                  [readonly]="true"
                  value=""
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
                <textarea
                  *ngIf="marketingSocialMedia == true"
                  [readonly]="false"
                  formControlName="SocialMediaMarketingDetails"
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
              </div>
            </div>
            <div class="col">
              <div class="row" style="margin-left: 22px">
                <p class="grey-text-form">
                  Through Hoardings, panaflex & Boards
                </p>

                <mat-checkbox
                  [(ngModel)]="marketingBoards"
                  style="margin-left: 10px"
                  (change)="marketingBoardsCheckBoxChecked($event)"
                ></mat-checkbox>
              </div>
              <div
                class="description-field"
                style="
                  width: -webkit-fill-available;
                  width: -moz-available;
                  margin-left: 20px;
                  border-radius: 5px;
                  height: 100px;
                "
              >
                <textarea
                  *ngIf="marketingBoards == false"
                  [readonly]="true"
                  value=""
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
                <textarea
                  *ngIf="marketingBoards == true"
                  [readonly]="false"
                  formControlName="BoardMarketingDetails"
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row" style="margin-left: 0px; margin-top: 20px">
            <div
              class="row"
              style="margin-left: 0px; width: -webkit-fill-available"
            >
              <div class="row" style="margin-left: 0px">
                <p class="grey-text-form">Others</p>

                <mat-checkbox
                  [(ngModel)]="marketingOthers"
                  style="margin-left: 10px"
                  (change)="marketingOthersCheckBoxChecked($event)"
                ></mat-checkbox>
              </div>
              <div
                class="description-field"
                style="
                  width: -webkit-fill-available;
                  width: -moz-available;
                  margin-right: 30px;
                  border-radius: 5px;
                  height: 100px;
                "
              >
                <textarea
                  *ngIf="marketingOthers == false"
                  [readonly]="true"
                  value=""
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
                <textarea
                  *ngIf="marketingOthers == true"
                  [readonly]="false"
                  formControlName="OthersMarketingDetails"
                  matInput
                  style="
                    height: 80px !important;
                    padding: 10px !important;
                    width: -webkit-fill-available !important;
                    width: -moz-available !important;
                    font-size: 17px;
                  "
                ></textarea>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 50px">
            <p
              class="grey-text-form"
              style="margin-left: 17px; max-width: 600px"
            >
              Both Parties are mutually agreed upon that First Party (The
              broker) is authorize / allowed to advertise the said property
            </p>

            <div
              class="col h-100 d-flex justify-content-end"
              style="margin-right: 15px"
            >
              <div class="row" style="margin-left: 0px">
                <p class="grey-text-form" style="margin-right: 30px">
                  Valid Until:
                </p>
                <mat-form-field>
                  <input
                    matInput
                    [matDatepicker]="picker2"
                    [(ngModel)]="validUntil"
                    (dateChange)="onValidUntilDate($event)"
                    formControlName="valid_until"
                  />
                  <mat-datepicker-toggle
                    matSuffix
                    [for]="picker2"
                  ></mat-datepicker-toggle>
                  <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
          </div>
        </form>

        <p class="card-body-title" style="margin-top: 65px">
          SIGNATURE OF PARTIES
        </p>
        <hr class="card-divider" />

        <div class="col d-flex justify-content-center">
          <div class="row">
            <div class="col">
              <p class="grey-text-form">First Party (The Broker)</p>
              <div
                style="
                  background-color: white;
                  height: 130px;
                  border-radius: 6px;
                  width: 329px;
                "
              >
                <img
                  src="assets/img/logo/indus-logo.webp"
                  alt=""
                  style="margin: 42px; margin-left: 140px"
                />
              </div>

              <div class="row" style="margin-top: 20px">
                <button
                  style="
                    margin-left: 15px;
                    width: 100px;
                    height: 40px;
                    background-color: #343b44;
                    color: white;
                    border: none;
                    border-radius: 8px;
                    margin-top: 4px;
                  "
                >
                  Clear
                </button>

                <button
                  style="
                    width: 215px;
                    height: 40px;
                    background-color: #d4aa32;
                    border-radius: 8px;
                    margin-top: 4px;
                    border: none;
                    margin-left: 15px;
                  "
                >
                  <div class="row">
                    <div style="width: 55px; margin-left: 9px">
                      <img
                        src="assets/img/svg/add-property-form/document-upload.svg"
                        style="
                          filter: brightness(0) invert(1);
                          width: 21px;
                          padding-top: 8px;
                        "
                      />
                    </div>

                    <div
                      style="
                        border-start-end-radius: 8px;
                        background-color: #343b44;
                        color: #ffffff;
                        height: 40px;
                        margin-top: -1px;
                        width: 160px;
                        border-bottom-right-radius: 8px;
                        padding-top: 7px;
                      "
                    >
                      Upload Signature
                    </div>
                  </div>
                </button>
              </div>
            </div>

            <div
              style="
                border-right: 2px solid #a3a3a3;
                margin-left: 100px;
                margin-right: 100px;
                height: 195px;
                margin-top: 15px;
                border-radius: 5px;
              "
            ></div>

            <div class="col">
              <p class="grey-text-form">
                Second Party (Property Owner/Legal Rep)
              </p>
              <div
                style="
                  background-color: white;
                  height: 130px;
                  border-radius: 6px;
                  width: 329px;
                  text-align-last: center;
                "
              >
                <img
                  src="{{secondPartySignature}}"
                  alt=""
                  *ngIf="secondPartySignature != ''"
                  style="
                    max-width: 150px;
                    max-height: 110px !important;
                    margin-top: 15px;
                  "
                />
                <p
                  *ngIf="secondPartySignature == ''"
                  style="color: #a3a3a3; text-align: center; padding-top: 50px"
                >
                  Signing with E-Stamp
                </p>
              </div>

              <div class="row" style="margin-top: 20px">
                <button
                  class="btn"
                  (click)="clearSignature()"
                  style="
                    margin-left: 15px;
                    width: 100px;
                    height: 40px;
                    background-color: #343b44;
                    color: white;
                    border: none;
                    border-radius: 8px;
                    margin-top: 4px;
                    padding: 0px;
                  "
                >
                  Clear
                </button>

                <div
                  style="
                    width: 210px;
                    height: 40px;
                    border-radius: 8px;
                    margin-top: 4px;
                    border: none;
                    margin-left: 14px;
                  "
                >
                  <div class="row">
                    <div
                      style="
                        width: 55px;
                        margin: 0px;
                        margin-left: 10px;
                        height: 40px;
                        border-radius: 6px;
                        border-bottom-right-radius: 0px;
                        border-top-right-radius: 0px;
                        margin-top: -1px;
                        background-color: #d4aa32;
                      "
                      class="btn"
                      (click)="propertySignatureInput.click()"
                    >
                      <img
                        src="assets/img/svg/add-property-form/document-upload.svg"
                        style="
                          filter: brightness(0) invert(1);
                          width: 21px;
                          margin-top: -4px;
                          margin-left: -11px;
                        "
                      />
                    </div>

                    <div
                      *ngIf="secondPartySignature == ''"
                      style="
                        border-start-end-radius: 6px;
                        background-color: #343b44;
                        color: #ffffff;
                        height: 40px;
                        margin-top: -1px;
                        width: 160px;
                        border-bottom-right-radius: 6px;
                        padding-top: 7px;
                        padding-left: 17px;
                      "
                    >
                      Upload Signature
                    </div>
                    <div
                      *ngIf="secondPartySignature != ''"
                      style="
                        border-start-end-radius: 6px;
                        background-color: #343b44;
                        color: #ffffff;
                        height: 40px;
                        margin-top: -1px;
                        width: 160px;
                        border-bottom-right-radius: 6px;
                        padding-top: 7px;
                        padding-left: 17px;
                      "
                    >
                      Replace Signature
                    </div>
                  </div>
                </div>

                <input
                  #propertySignatureInput
                  type="file"
                  (change)="pickSignature($event)"
                  style="display: none"
                />
              </div>
            </div>
          </div>
        </div>

        <hr class="card-divider" style="margin-top: 40px" />

        <div class="row" style="margin-top: 50px">
          <p class="grey-text-form" style="margin-left: 17px; max-width: 600px">
            By submitting this property I have agreed with the terms and
            conditions and have followed every required documents to be uploaded
          </p>

          <div
            class="col h-100 d-flex justify-content-end"
            style="margin-right: 15px"
          >
            <button
              class="btn submit"
              (click)="clickSubmit()"
              style="
                background-image: linear-gradient(
                    to bottom,
                    rgb(243 243 243 / 34%) 50%,
                    rgb(243 243 243 / 32%) 80%
                  ),
                  url('assets/img/bg/navbar_bg.webp');
                background-size: cover;
                width: 175px;
                height: 55px;
              "
            >
              <span style="color: #d4aa32; font-size: 17px; font-weight: 900"
                >Submit</span
              >
            </button>
          </div>
        </div>
        <p
          *ngIf="formNotCompletelyFilled == true"
          style="
            color: #ff0000e6;
            text-align-last: end;
            margin-top: 15px;
            font-size: 12px;
            margin-right: 15px;
          "
        >
          Please fill the form completely before submit.
        </p>
      </div>
    </div>
  </div>
</div>
