<div class="wrapper" *ngIf="isUserSignedIn == true">
  <div
    class="sidebar"
    data-color="danger"
    data-background-color="white"
    data-image="./assets/img/sidebar-1.jpg"
  >
    <app-sidebar></app-sidebar>
    <div
      class="sidebar-background"
      style="background-image: url(./assets/img/sidebar-4.jpg)"
    ></div>
  </div>
  <div class="main-panel">
    <app-navbar></app-navbar>

    <router-outlet (activate)="onActivate($event)"> </router-outlet>
  </div>
  <div
    class="spinner-loader"
    style="margin-top: 0px !important"
    *ngIf="isLogoutProcessing == true"
  >
    <span
      class="spinner-border spinner-border-m mr-2"
      style="position: absolute; top: 490px"
    >
    </span>
  </div>
</div>
