@import url(https://fonts.googleapis.com/css?family=Montserrat);


* {
  font-family: "Montserrat";
}

.navbar {
  color: #2B333E !important;
  background-image: linear-gradient(
      to bottom,
      rgb(243 243 243 / 89%) 50%,
      rgb(243 243 243 / 90%) 80%
    ),
    url("../../../assets/img/bg/navbar_bg.webp") !important;
  box-shadow: 0 3px 3px 3px rgba(107, 107, 107, 0.048) !important;

  .navbar-brand {
    font-size: 20px !important;
    font-weight: 500 !important;
  }

  .navbar-svg-icons {
    filter: blur(3px);
    filter: grayscale(1);
    filter: saturate(2.2);

    filter: none;
  }
}

.navBar-main-top {
  // background-color: black;
  top: 0;

  .notification-dropdown {
    .notification-dropdown-item {
      &:hover {
        cursor: pointer;
        background-color: #2b333e;
        box-shadow: 0px 0px 5px -200px rgba(0, 0, 0, 0) !important;
        -webkit-box-shadow: 0px 0px 5px -200px rgba(0, 0, 0, 0) !important;
        -moz-box-shadow: 0px 0px 5px -200px rgba(0, 0, 0, 0) !important;
      }
    }
  }
}

.profile-dropdown {
  cursor: pointer;
}

::ng-deep .mat-menu-panel {
  margin-top: 25px !important;
}

.profile-dropdown-div {
  margin: 10px;

  .profile-dropdown-btn {
    margin: 10px;
    width: 110px;
    background-color: #d3ab33;
    color: white;

    &:hover {
      background-color: white;
      color: #d3ab33;

      .navbar-svg-icon-logout {
        filter: invert(66%) sepia(37%) saturate(772%) hue-rotate(7deg)
          brightness(97%) contrast(88%);
        width: 20px;
        margin-left: -3px;
        margin-right: 2px;
      }
    }

    .navbar-svg-icon-logout {
      filter: brightness(0) invert(1);
      width: 20px;
      margin-left: -3px;
      margin-right: 2px;
    }
  }
}
