.navbar{
    background-color: #2B333E !important;
    color: white !important;
}

.navBar-main-top {
    // background-color: black;
    top: 0;

    .notification-dropdown {
        .notification-dropdown-item {
            &:hover {
                background-color: #2B333E;
                box-shadow: 0;
            }

        }
    }
}

.profile-dropdown{
    cursor: pointer;
}

.profile-dropdown-div{
    margin: 10px;

    .profile-dropdown-btn{
        margin: 10px;
        width: 110px;
        background-color: #d3ab33;
        color: white;

        &:hover{
            background-color: white;
            color: #d3ab33;
        }

        .profile-dropdown-btn-icon{
            font-size: 15px;
            padding-right: 5px;
        }
    }
}