<nav class="navbar navbar-expand-lg navbar-absolute fixed-top">
  <div class="container-fluid navBar-main-top">
    <div class="navbar-wrapper">
      <a class="navbar-brand" hidden>{{ getTitle() }}</a>

      <div
        *ngIf="currentPage == 'home' || currentPage == 'admin-dashboard'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 274px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/home.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Dashboard
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Overview
        </p>
      </div>

      <div
        *ngIf="currentPage == 'admin-properties-sale'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 380px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/home.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Dashboard
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          All Properties For Sale
        </p>
      </div>

      <div
        *ngIf="currentPage == 'admin-properties-rent'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 380px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/home.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Dashboard
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          All Properties For Rent
        </p>
      </div>

      <div
        *ngIf="currentPage == 'admin-landlord-clients'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 370px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/home.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Dashboard
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          All Landlord Clients
        </p>
      </div>

      <div
        *ngIf="currentPage == 'admin-tenant-clients'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 355px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/home.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Dashboard
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          All Tenant Clients
        </p>
      </div>

      <div
        *ngIf="currentPage == 'user-profile'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 274px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/admin-requests/user.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">User</p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Profile Overview
        </p>
      </div>

      <div
        *ngIf="currentPage == 'customer-care'"
        class="row"
        style="margin: 0; margin-left: 17px; margin-top: 25px"
      >
        <img
          src="assets/img/svg/sidebar/customer-service.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
            margin-right: 15px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Customer Care
        </p>
        <!-- <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Profile Overview
        </p> -->
      </div>

      <div
        *ngIf="currentPage == 'admin-requests'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 274px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/menu.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Requests
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          All Requests
        </p>
      </div>

      <div
        *ngIf="currentPage == 'my-properties'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 285px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/buildings.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          My Properties
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Overview
        </p>
      </div>

      <div
        *ngIf="currentPage == 'property-page'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 500px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/buildings.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          My Properties
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p class="overview-back-btn-property-page" (click)="navigateOverview()">
          Overview
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Property Details
        </p>
      </div>

      <div
        *ngIf="currentPage == 'request-page'"
        class="row"
        style="margin: 0; margin-left: 17px; margin-top: 25px"
      >
        <img
          src="assets/img/svg/sidebar/menu.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
            margin-right: 15px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p
          style="
            color: #858585;
            margin-bottom: 0;
            font-size: 16px;
            margin-right: 15px;
          "
        >
          Requests
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p
          class="overview-back-btn-property-page"
          (click)="navigateMyRequests('my-requests')"
          *ngIf="requestPageType == 'my-requests'"
          style="margin-right: 15px"
        >
          My Requests
        </p>
        <p
          class="overview-back-btn-property-page"
          (click)="navigateMyRequests('maintenance')"
          *ngIf="requestPageType == 'maintenance'"
          style="margin-right: 15px"
        >
          Maintenance Requests
        </p>
        <p
          class="overview-back-btn-property-page"
          (click)="navigateMyRequests('tenant-move-in')"
          *ngIf="requestPageType == 'tenant-move-in'"
          style="margin-right: 15px"
        >
          Tenant Move-in Requests
        </p>
        <p
          class="overview-back-btn-property-page"
          (click)="navigateMyRequests('tenant-move-out')"
          *ngIf="requestPageType == 'tenant-move-out'"
          style="margin-right: 15px"
        >
          Tenant Move-out Requests
        </p>
        <p
          class="overview-back-btn-property-page"
          (click)="navigateMyRequests('payment')"
          *ngIf="requestPageType == 'payment'"
          style="margin-right: 15px"
        >
          Payment Requests
        </p>
        <p
          class="overview-back-btn-property-page"
          (click)="navigateMyRequests('conditioning')"
          *ngIf="requestPageType == 'conditioning'"
          style="margin-right: 15px"
        >
          Property Conditioning Requests
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Request Details
        </p>
      </div>

      <div
        *ngIf="currentPage == 'add-property-form'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 310px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/buildings.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          My Properties
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Add Property
        </p>
      </div>

      <div
        *ngIf="currentPage == 'new-payment'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 255px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/arrow-swap-horizontal.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Services
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">Payment</p>
      </div>

      <div
        *ngIf="currentPage == 'payment-recap'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 400px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/arrow-swap-horizontal.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Services
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">Payment</p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Payment Recap
        </p>
      </div>

      <div
        *ngIf="currentPage == 'tenant-register-form'"
        class="row"
        style="
          margin: 0;
          margin-left: 17px;
          width: 500px;
          justify-content: space-between;
          margin-top: 25px;
        "
      >
        <img
          src="assets/img/svg/sidebar/arrow-swap-horizontal.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Services
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Tenant Registration
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
          "
        />
        <p style="color: #858585; margin-bottom: 0; font-size: 16px">
          Register My Own
        </p>
      </div>

      <div
        *ngIf="currentPage == 'documents'"
        class="row"
        style="margin: 0; margin-left: 17px; margin-top: 25px"
      >
        <img
          src="assets/img/svg/admin-requests/document-copy.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
            margin-right: 15px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p
          style="
            color: #858585;
            margin-bottom: 0;
            font-size: 16px;
            margin-right: 15px;
          "
        >
          Documents
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p
          *ngIf="requestPageType == 'my-documents'"
          style="color: #858585; margin-bottom: 0; font-size: 16px"
        >
          My Documents
        </p>
        <p
          *ngIf="requestPageType == 'tenant-documents'"
          style="color: #858585; margin-bottom: 0; font-size: 16px"
        >
          Tenant Documents
        </p>
        <p
          *ngIf="requestPageType == 'all-client-documents'"
          style="color: #858585; margin-bottom: 0; font-size: 16px"
        >
          All Clients Documents
        </p>
      </div>

      <div
        *ngIf="currentPage == 'requests'"
        class="row"
        style="margin: 0; margin-left: 17px; margin-top: 25px"
      >
        <img
          src="assets/img/svg/sidebar/menu.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(72%) sepia(0%)
              saturate(9%) hue-rotate(146deg) brightness(90%) contrast(93%);
            width: 20px;
            margin-right: 15px;
          "
        />
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p
          style="
            color: #858585;
            margin-bottom: 0;
            font-size: 16px;
            margin-right: 15px;
          "
        >
          Requests
        </p>
        <img
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
          style="
            filter: brightness(0) saturate(100%) invert(96%) sepia(1%)
              saturate(0%) hue-rotate(145deg) brightness(84%) contrast(88%);
            width: 17px;
            margin-right: 15px;
          "
        />
        <p
          style="color: #858585; margin-bottom: 0; font-size: 16px"
          *ngIf="requestPageType == 'my-requests'"
        >
          My Requests
        </p>
        <p
          style="color: #858585; margin-bottom: 0; font-size: 16px"
          *ngIf="requestPageType == 'maintenance'"
        >
          Maintenance Requests
        </p>
        <p
          style="color: #858585; margin-bottom: 0; font-size: 16px"
          *ngIf="requestPageType == 'tenant-move-in'"
        >
          Tenant Move-in Requests
        </p>
        <p
          style="color: #858585; margin-bottom: 0; font-size: 16px"
          *ngIf="requestPageType == 'tenant-move-out'"
        >
          Tenant Move-out Requests
        </p>
        <p
          style="color: #858585; margin-bottom: 0; font-size: 16px"
          *ngIf="requestPageType == 'payment'"
        >
          Payment Requests
        </p>
        <p
          style="color: #858585; margin-bottom: 0; font-size: 16px"
          *ngIf="requestPageType == 'conditioning'"
        >
          Property Conditioning Requests
        </p>
      </div>
    </div>

    <button
      mat-raised-button
      class="navbar-toggler"
      type="button"
      (click)="sidebarToggle()"
      style="height: 40px"
    >
      <span class="sr-only">Toggle navigation</span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
      <span class="navbar-toggler-icon icon-bar"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navigation">
      <!-- <form class="navbar-form">
                <div class="input-group no-border">
                    <input type="text" value="" class="form-control" placeholder="Search...">
                    <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                </div>
            </form> -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="javascript:void(0)">
            <img
              class="navbar-svg-icons"
              src="assets/img/svg/navbar/message.svg"
              alt=""
            />
            <p>
              <span class="d-lg-none d-md-block">Stats</span>
            </p>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            href="javascript:void(0)"
            id="navbarDropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <img
              class="navbar-svg-icons"
              src="assets/img/svg/navbar/notification.svg"
              alt=""
            />
            <span class="notification">5</span>
            <p>
              <span class="d-lg-none d-md-block">Some Actions</span>
            </p>
          </a>
          <div
            class="dropdown-menu dropdown-menu-right notification-dropdown"
            aria-labelledby="navbarDropdownMenuLink"
          >
            <a class="dropdown-item notification-dropdown-item"
              >Mike John responded to your email</a
            >
            <a class="dropdown-item notification-dropdown-item"
              >You have 5 new tasks</a
            >
            <a class="dropdown-item notification-dropdown-item"
              >You're now friend with Andrew</a
            >
            <a class="dropdown-item notification-dropdown-item"
              >Another Notification</a
            >
            <a class="dropdown-item notification-dropdown-item">Another One</a>
          </div>
        </li>
        <li class="nav-item">
          <a
            class="nav-link profile-dropdown"
            [matMenuTriggerFor]="menuHero"
            ng-init
          >
            <img
              class="navbar-svg-icons"
              src="assets/img/svg/navbar/user-square.svg"
              alt=""
            />
            <p>
              <span class="d-lg-none d-md-block">Account</span>
            </p>
          </a>
          <mat-menu #menuHero="matMenu" class="uxg-user-profile">
            <div class="profile-dropdown-div">
              <div *ngIf="isUserAdmin == false">
                <button
                  mat-raised-button
                  class="profile-dropdown-btn"
                  routerLink="/user-profile"
                  queryParams="{uid: user.id}"
                >
                  View profile
                </button>
              </div>
              <div>
                <button
                  mat-raised-button
                  class="profile-dropdown-btn"
                  (click)="userLogOut()"
                  routerLink="/login"
                >
                  <img
                    class="navbar-svg-icon-logout"
                    src="assets/img/svg/navbar/logout-1.svg"
                    alt=""
                  />
                  Logout
                </button>
              </div>
            </div>
          </mat-menu>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!--

<nav class="navbar navbar-transparent navbar-absolute">
    <div class="container-fluid">
        <div class="navbar-header">
            <button mat-raised-button type="button" class="navbar-toggle" data-toggle="collapse" (click)="sidebarToggle()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0)">{{getTitle()}}</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">dashboard</i>
                        <p class="hidden-lg hidden-md">Dashboard</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="material-icons">notifications</i>
                        <span class="notification">5</span>
                        <p class="hidden-lg hidden-md">Notifications</p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)">Mike John responded to your email</a></li>
                        <li><a href="javascript:void(0)">You have 5 new tasks</a></li>
                        <li><a href="javascript:void(0)">You're now friend with Andrew</a></li>
                        <li><a href="javascript:void(0)">Another Notification</a></li>
                        <li><a href="javascript:void(0)">Another One</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                       <i class="material-icons">person</i>
                       <p class="hidden-lg hidden-md">Profile</p>
                    </a>
                </li>
            </ul>

            <form class="navbar-form navbar-right" role="search">
                <div class="form-group form-black is-empty">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="material-input"></span>
                </div>
                <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i><div class="ripple-container"></div>
                </button>
            </form>
        </div>
    </div>
</nav> -->
