@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.dropdown-services {
  // margin: 10px 15px 0;
  padding: 7px 7px;
  cursor: pointer;
  height: 42px;
  transition: width 400ms ease-out, height 400ms ease-out;

  img {
    pointer-events: none;
    user-select: none;
    filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(9%)
      hue-rotate(146deg) brightness(90%) contrast(93%);
    margin-left: 6px;
    margin-right: 13px;
    width: 15px;
  }

  p {
    color: #a3a3a3;
  }

  &:hover {
    background-color: #455365;
    border-radius: 8px;

    img {
      filter: brightness(0) invert(1);
    }

    p {
      color: white;
    }
  }
}

.dropdown-services-opened {
  padding: 7px 7px;
  cursor: pointer;
  height: 145px;
  background-color: #455365;
  border-radius: 8px;
  transition: width 400ms ease-out, height 400ms ease-out;

  .dropDownBtnRow {
    border-bottom: 1px solid #a3a3a3b0;
    padding-bottom: 6px;
  }

  img {
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    margin-left: 6px;
    margin-right: 13px;
    width: 15px;
  }

  p {
    color: white;
  }

  .subMenu-dropdown {
    margin: 6px 0px;
    padding: 5px 5px;
    transition: all 150ms ease-in;

    img {
      margin-right: 6px;
      margin-left: 3px;
    }
    
    p{
      font-size: 12px;
      font-weight: 500;
    }

    &:hover {
      background-color: #313a46;
      border-radius: 5px;
      padding: 5px 5px;
    }
  }
}

.dropdown-services-opened-open {
  padding: 7px 7px;
  cursor: pointer;
  height: 100px;
  background-color: #455365;
  border-radius: 8px;
  transition: width 400ms ease-out, height 400ms ease-out;

  .dropDownBtnRow {
    border-bottom: 1px solid #a3a3a3b0;
    padding-bottom: 6px;
  }

  img {
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    margin-left: 6px;
    margin-right: 13px;
    width: 15px;
  }

  p {
    color: white;
  }

  .subMenu-dropdown {
    margin: 6px 0px;
    padding: 5px 5px;
    transition: all 150ms ease-in;

    img {
      margin-right: 6px;
      margin-left: 3px;
    }
    
    p{
      font-size: 12px;
      font-weight: 500;
    }

    &:hover {
      background-color: #313a46;
      border-radius: 5px;
      padding: 5px 5px;
    }
  }
}
