<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content reports-bg" *ngIf="screenWidth > 430">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div class="col" style="padding: 0">
      <div class="row m-0 w-100 align-items-end justify-content-between">
        <div class="row m-0 align-items-end mb-3">
          <p class="m-0 ml-4" style="font-size: 2rem; font-weight: 600">
            All Users
          </p>
          <img
            (click)="refreshTable()"
            matTooltip="Refresh table"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="refresh-table-btn ml-3"
            src="assets/img/svg/home-page/refresh-2.svg"
            alt=""
          />
          <!-- <table-filters 
            #table_filter
            (refresh)="refreshTable()"
            (showAllFlaggedReqs)="showAllFlaggedRequests()"
            (closeFlaggedReqs)="closeFlaggedRequestFilter()"
            (statusFilterEmitter)="showRequestsOnStatus($event)"
            (closeStatusFilterEmitter)="closeStatusFilter()"
            (timeLineFilter)="filterByTimeline()"
            (closeTimeLineFilterEmitter)="closeTimelineFilter()"
          ></table-filters> -->
        </div>
        <div class="row m-0 align-items-end mb-3">
          <searchbar-table (myEvent)="applyFilter($event)"></searchbar-table>
          <div
            class="btn"
            style="
              margin: 0;
              padding: 7px 15px;
              margin-right: 10px;
              background: #d4aa32;
            "
            (click)="addUserDialogOpen()"
          >
            <div
              class="row m-0 align-items-center"
              style="width: 100px; justify-content: space-between"
            >
              <img
                src="assets/img/svg/add-square.svg"
                alt=""
                style="width: 20px; filter: brightness(0) invert(1)"
              />
              <p class="m-0">Add User</p>
            </div>
          </div>
          <div
            class="btn"
            style="
              margin: 0;
              padding: 7px 15px;
              margin-right: 10px;
              background: #2b333e;
            "
            (click)="exportExcelFile()"
          >
            <div
              class="row m-0 align-items-center"
              style="width: 125px; justify-content: space-between"
            >
              <img
                src="assets/img/svg/excel.svg"
                alt=""
                style="width: 20px; filter: brightness(0) invert(1)"
              />
              <p class="m-0">Export Excel</p>
            </div>
          </div>
        </div>
      </div>

      <loading-table-admin-all-users
        *ngIf="isContentLoading == true"
      ></loading-table-admin-all-users>

      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <div *ngIf="isContentLoading == false">
        <div style="overflow: auto; padding: 0 5px; padding-bottom: 1rem">
          <table
            mat-table
            [dataSource]="allUsersMatTableData"
            class="mat-elevation-z8 demo-table"
            *ngIf="allUsers.length != 0"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'first-col-last' : 'first-col'"
                (click)="viewUser(element)"
                style="cursor: pointer"
              >
                {{ element.name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
              <th mat-header-cell *matHeaderCellDef>Mobile No.</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'second-col-last' : 'second-col'"
                (click)="viewUser(element)"
              >
                {{ element.country_code_number }} {{ element.mobile_number }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="userType">
              <th mat-header-cell *matHeaderCellDef>User Type</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'third-col-last' : 'third-col'"
                (click)="viewUser(element)"
              >
                <div
                  *ngIf="element.user_type == 'new_user'"
                  style="
                    color: white;
                    background: #596677;
                    padding: 5px 5px;
                    display: flex;
                    justify-content: center;
                    border-radius: 3px;
                  "
                >
                  New User
                </div>
                <div
                  *ngIf="element.user_type == 'tenant'"
                  style="
                    color: white;
                    background: #596677;
                    padding: 5px 5px;
                    display: flex;
                    justify-content: center;
                    border-radius: 3px;
                  "
                >
                  Tenant
                </div>
                <div
                  *ngIf="element.user_type == 'owner'"
                  style="
                    color: white;
                    background: #596677;
                    padding: 5px 5px;
                    display: flex;
                    justify-content: center;
                    border-radius: 3px;
                  "
                >
                  Landlord
                </div>
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email ID</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
                (click)="viewUser(element)"
              >
                {{ element.email }}
              </td>
            </ng-container>

            <ng-container matColumnDef="idType">
              <th mat-header-cell *matHeaderCellDef>ID Type</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewUser(element)"
              >
                {{ element.id_type}}
              </td>
            </ng-container>

            <ng-container matColumnDef="idNumber">
              <th mat-header-cell *matHeaderCellDef>ID Number</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewUser(element)"
              >
                {{ element.id_number}}
              </td>
            </ng-container>
            <ng-container matColumnDef="nationality">
              <th mat-header-cell *matHeaderCellDef>Nationality</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewUser(element)"
              >
                {{ element.nationality}}
              </td>
            </ng-container>
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewUser(element)"
              >
                {{ element.dob | date:'M/d/y'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="allocated_unit">
              <th mat-header-cell *matHeaderCellDef>Allocated Unit</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                style="max-width: 160px"
              >
                <span
                  *ngIf="element.allocated_unit == ''"
                  style="text-align: center"
                  >-</span
                >
                <span
                  [matMenuTriggerFor]="unitInfoMenu"
                  [ngStyle]="{'color': element.user_type == 'owner'? '#4185e3' : '#c49920'}"
                  style="
                    text-overflow: ellipsis;
                    overflow: hidden;
                    white-space: nowrap;
                  "
                  class="prop_name"
                  *ngIf="element.allocated_unit != ''"
                  (click)="navigateToUnitDetailPage(element.allocated_unit,element.user_type, element.user_id)"
                  >{{getUnitNo(element.allocated_unit,
                  element.user_type)}}</span
                >

                <mat-menu
                  #unitInfoMenu="matMenu"
                  class="landlords-all-units-menu"
                >
                  <div *ngIf="!fetching_all_units_under_landlord">
                    <button
                      mat-menu-item
                      *ngFor="let unit of all_units_landlord"
                      (click)="navigateToUnitDetailPageFromUnitsListLandlord(unit.unit.unit_id)"
                    >
                      {{unit.unit.unit_no}}, {{unit.prop.property_name}},
                      {{unit.prop.address}}
                    </button>
                  </div>
                  <div
                    *ngIf="fetching_all_units_under_landlord"
                    class="d-flex justify-content-center align-items-center"
                    style="height: 150px"
                  >
                    <span
                      class="spinner-border spinner-border-m mr-2"
                      style="color: #d4aa32"
                    >
                    </span>
                  </div>
                </mat-menu>
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="building">
              <th mat-header-cell *matHeaderCellDef>Building</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
              >
                <span
                  *ngIf="element.property_id == ''"
                  style="text-align: center"
                  >-</span
                >
                <span
                  class="prop_name"
                  *ngIf="element.property_id != ''"
                  (click)="navigateToPropertyDetailsPage(element.property_id)"
                  >{{ getbuildingName(element.property_id)}}</span
                >
              </td>
            </ng-container> -->

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'eighth-col-last' : 'eighth-col'"
              >
                <img
                  [matMenuTriggerFor]="menu"
                  matTooltip="More Actions"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  src="assets/img/svg/home-page/more.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
                      saturate(14%) hue-rotate(333deg) brightness(91%)
                      contrast(77%);
                    width: 20px;
                    cursor: pointer;
                  "
                />

                <mat-menu #menu="matMenu" class="more-menu">
                  <button mat-menu-item>
                    <div class="row m-0 justify-content-between">
                      <span style="color: #c89914">Edit</span>
                      <img
                        src="assets/img/svg/property-page/edit.svg"
                        alt
                        style="
                          filter: invert(68%) sepia(13%) saturate(2701%)
                            hue-rotate(5deg) brightness(110%) contrast(66%);
                        "
                      />
                    </div>
                  </button>
                  <button mat-menu-item>
                    <div class="row m-0 justify-content-between">
                      <span style="color: red">Delete</span>
                      <img
                        src="assets/img/svg/delete.svg"
                        alt
                        style="
                          filter: invert(56%) sepia(71%) saturate(3838%)
                            hue-rotate(328deg) brightness(97%) contrast(90%);
                        "
                      />
                    </div>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              style="cursor: pointer"
            ></tr>
          </table>
          <div
            *ngIf="allUsersMatTableData.filteredData.length == 0 && allUsers.length != 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: 0;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1600px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              NO RESULTS :(
            </p>
          </div>
          <table
            *ngIf="allUsers.length == 0"
            mat-table
            [dataSource]="loadingTable"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef>Name</th>
            </ng-container>

            <ng-container matColumnDef="mobileNumber">
              <th mat-header-cell *matHeaderCellDef>Mobile Number</th>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="userType">
              <th mat-header-cell *matHeaderCellDef>User Type</th>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>Email ID</th>
            </ng-container>
            <ng-container matColumnDef="idType">
              <th mat-header-cell *matHeaderCellDef>ID Type</th>
            </ng-container>

            <ng-container matColumnDef="idNumber">
              <th mat-header-cell *matHeaderCellDef>ID Number</th>
            </ng-container>
            <ng-container matColumnDef="nationality">
              <th mat-header-cell *matHeaderCellDef>Nationality</th>
            </ng-container>
            <ng-container matColumnDef="dob">
              <th mat-header-cell *matHeaderCellDef>Date of Birth</th>
            </ng-container>
            <ng-container matColumnDef="allocated_unit">
              <th mat-header-cell *matHeaderCellDef>Allocated unit</th>
            </ng-container>
            <!-- <ng-container matColumnDef="building">
              <th mat-header-cell *matHeaderCellDef>Building</th>
            </ng-container> -->

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            *ngIf="allUsers.length == 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: -2rem;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1600px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              No Users
            </p>
            <p
              class="pl-3"
              style="font-size: 1.3rem; font-weight: 500; color: #d3ab33"
            >
              (－_－) zzZ
            </p>
          </div>
        </div>
        <div style="margin-top: 25px" class="table-paginator">
          <mat-paginator
            #paginator
            [pageSizeOptions]="[6, 8, 10, 14, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
