<div
  class="card main-card m-0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane">

  <div class="card-body" style="padding: 1.5rem 1.5rem">
    <div class="col">
      <div class="row m-0 align-items-start w-100">
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">All
          Units</p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt />
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">
          Unit Details
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt />
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">
          View all Docs
        </p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt />
      </div>
      <div class="row m-0 align-items-start w-100">
        <p class="details-title my-4">View all Documents</p>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="table-row">
            <table mat-table [dataSource]="data_source" class="mat-elevation-z8">
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef>File Name</th>
                <td mat-cell *matCellDef="let element"
                  [ngClass]="element !== '' ? 'text-dark' : 'text-danger'">
                  {{element !== '' ? element : 'No data'}}</td>
              </ng-container>
              <ng-container matColumnDef="download">
                <th mat-header-cell *matHeaderCellDef>File Download</th>
                <td mat-cell *matCellDef="let element">
                  <button class="btn ms-auto"
                    matTooltip="Download Docs"
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    style="background-color: #2b333e;"
                    (click)="downloadDoc(element)">
                    Download
                  </button>
                </td>
              </ng-container>
              <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
