<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div id="full-screen-image">
  <button class="close-btn" title="Exit">
    <img
      matTooltip="Close"
      matTooltipClass="tooltip"
      matTooltipPosition="above"
      (click)="onCloseDialog()"
      class="mr-2 mt-1 close-icon"
      src="assets/img/svg/req-details/close-circle.svg"
      alt
    />
  </button>
  <img src alt id="image" />
</div>
<div class="main-content reports-bg" *ngIf="screenWidth > 430">
  <div class="container-fluid" style="max-width: 100vw">
    <ngx-skeleton-loader
      *ngIf="isContentLoading"
      [theme]="{ width: (screenWidth/2 - 100) + 'px', height: '50px' }"
    >
    </ngx-skeleton-loader>
    <div class="row m-0 justify-content-between">
      <h1
        *ngIf="!isContentLoading"
        class="item-header"
        style="font-weight: 600"
      >
        Contract ID
        <span
          class="ml-2"
          style="
            font-size: 20px;
            font-weight: 500;
            background: #dbb9553b;
            padding: 5px 15px;
            border: 1px solid #d4aa328c;
            border-radius: 5px;
            color: #b88d11;
          "
          >#{{all_data.lease_contract_id}}</span
        >
      </h1>
      <img
        *ngIf="!isContentLoading"
        mat-button
        [matMenuTriggerFor]="menuEdit"
        class="mx-4"
        matTooltip="More Actions"
        matTooltipClass="tooltip"
        matTooltipPosition="above"
        src="assets/img/svg/home-page/more.svg"
        alt
        style="
          filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
            saturate(14%) hue-rotate(333deg) brightness(91%) contrast(77%);
          width: 25px;
          cursor: pointer;
        "
      />
      <mat-menu #menuEdit="matMenu">
        <button mat-menu-item (click)="openEditLease()">Edit</button>
        <button mat-menu-item (click)="openCautionDialog()">
          Terminate Lease
        </button>
      </mat-menu>
    </div>

    <div class="row">
      <ngx-skeleton-loader
        *ngIf="isContentLoading"
        class="col-md-8"
        [theme]="{ width: ((screenWidth/2 + (screenWidth/2)/2)) - 50 + 'px', height: '100vh' }"
      >
      </ngx-skeleton-loader>
      <div class="col-md-8" *ngIf="!isContentLoading">
        <div class="card card-main">
          <div class="card-header">
            <h4 class="title-header">Lease details</h4>
          </div>
          <div class="card-body">
            <div
              *ngIf="all_data.lease_dewa_inclusive != '0' || all_data.lease_chiller_inclusive != '0' || all_data.lease_gas_inclusive != '0'"
              class="card mt-1 mb-3"
              style="
                padding: 15px 15px;
                box-shadow: none;
                border: 1px solid #e6ebf1;
              "
            >
              <div class="row m-0">
                <div
                  *ngIf="all_data.lease_dewa_inclusive == '1'"
                  class="row m-0 mr-5 align-items-center"
                >
                  <img
                    class="mr-2"
                    style="width: 40px"
                    src="assets/img/svg/dewa.svg"
                    alt=""
                  />
                  <p class="m-0" style="font-size: 17px; font-weight: 500">
                    Dewa Inclusive
                  </p>
                </div>
                <div
                  *ngIf="all_data.lease_chiller_inclusive == '1'"
                  class="row m-0 mr-5 align-items-center"
                >
                  <img
                    class="mr-2"
                    style="width: 40px"
                    src="assets/img/svg/chiller.svg"
                    alt=""
                  />
                  <p class="m-0" style="font-size: 17px; font-weight: 500">
                    Chiller Inclusive
                  </p>
                </div>
                <div
                  *ngIf="all_data.lease_gas_inclusive == '1'"
                  class="row m-0 align-items-center"
                >
                  <img
                    class="mr-2"
                    style="width: 40px"
                    src="assets/img/svg/gas.svg"
                    alt=""
                  />
                  <p class="m-0" style="font-size: 17px; font-weight: 500">
                    Gas Inclusive
                  </p>
                </div>
              </div>
            </div>
            <div class="table-row">
              <table class="teble table-striped w-100 px-3">
                <thead class="thead">
                  <tr>
                    <th scope="col" class="p-3">Title</th>
                    <th scope="col" class="p-3">Details</th>
                  </tr>
                </thead>
                <tbody class="tbody text-uppercase">
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Contract Purpose</th>
                    <td class="p-3 col-md-8">{{all_data.lease_purpose}}</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Contract Start</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_contract_start | date}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Contract End</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_contract_end | date}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">No. of Cheques</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_no_of_cheques}} {{
                      all_data.lease_no_of_cheques > 1 ? 'Cheques' : 'Cheque' }}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Annual Rent</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_yearly_amount | currency:'AED '}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Security deposit</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_security_deposit == 0 ? '-' :
                      (all_data.lease_security_deposit | currency:'AED ')}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Move In</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_move_in == '0000-00-00' ? '-' :
                      (all_data.lease_move_in | date)}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Move Out</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_move_out == '0000-00-00' ? '-' :
                      (all_data.lease_move_out | date)}}
                    </td>
                  </tr>
                  <tr scope="row" *ngIf="all_data.lease_notice_period != ''">
                    <th class="p-3 col-md-4" scope="row">Notice period</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_notice_period}}
                      {{(all_data.lease_notice_period > 1 ? 'months' :
                      'month')}}
                    </td>
                  </tr>
                  <tr scope="row" *ngIf="all_data.lease_payment_currency != ''">
                    <th class="p-3 col-md-4" scope="row">Payment Currency</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_payment_currency}}
                    </td>
                  </tr>

                  <tr scope="row" *ngIf="all_data.lease_rent_amount != '0'">
                    <th class="p-3 col-md-4" scope="row">Rent Amount</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_rent_amount | currency:'AED '}}
                    </td>
                  </tr>

                  <tr scope="row" *ngIf="all_data.lease_govt_charges != '0'">
                    <th class="p-3 col-md-4" scope="row">government charges</th>
                    <td class="p-3 col-md-8">
                      {{all_data.lease_govt_charges | currency:'AED '}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Documents</th>
                    <td class="p-3 col-md-8">
                      <div class="row d-flex">
                        <div class="col-8 my-auto">
                          <mat-form-field style="width: 100%">
                            <mat-label>Select Document</mat-label>
                            <mat-select [(ngModel)]="selectDoc">
                              <mat-option
                                *ngFor="let item of lease_doc; let index = i"
                                [value]="item"
                              >
                                {{item}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                        </div>
                        <div class="col-4 mb-auto">
                          <button
                            class="btn"
                            (click)="downloadDoc()"
                            matTooltip="Download lease doc"
                            matTooltipClass="tooltip"
                            matTooltipPosition="above"
                            [ngStyle]="{'background-color' : selectDoc == '' ? '#6d737b' : '#2b333e', 'cursor' : selectDoc == '' ? 'not-allowed' : 'pointer'}"
                          >
                            Download Doc
                          </button>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="row position-relative">
          <ngx-skeleton-loader
            *ngIf="isContentLoading"
            class="col-md-12 d-flex"
            [theme]="{ width: ((screenWidth/2 - (screenWidth/2)/2)) - 100 + 'px', height: '50vh', right: '0', marginLeft: 'auto' }"
          >
          </ngx-skeleton-loader>
          <div class="col-12" *ngIf="!isContentLoading">
            <div class="card card-main" style="height: 93%">
              <div
                class="card-header row m-0 justify-content-between align-items-center"
              >
                <h4 class="m-0" style="text-shadow: none; font-weight: 500">
                  Owner Details
                </h4>
                <img
                  src="{{ all_data.user_profile_img != '' ? 'https://www.indusre.app/api/upload/user/' + all_data.user_uid + '/image/' + all_data.user_profile_img : 'assets/img/images/user.png'}}"
                  alt
                  class="card-img-top user-image"
                  style="width: 2rem"
                />
              </div>
              <div class="card-body" style="padding: 25px 20px">
                <div class="row m-0 align-items-start">
                  <div class="col p-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Name</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_name}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_email}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span *ngIf="all_data.user_alternative_email != ''"
                            >{{all_data.user_alternative_email}}</span
                          >
                          <span *ngIf="all_data.user_alternative_email == ''"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          {{all_data.user_country_code_number}}
                          {{all_data.user_mobile_number}}
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span
                            *ngIf="all_data.user_alternative_mobile_number != 0"
                            >{{all_data.user_country_code_alternative_number}}
                            {{all_data.user_alternative_mobile_number}}</span
                          >
                          <span
                            *ngIf="all_data.user_alternative_mobile_number == 0"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Gender</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_gender | titlecase}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0 mt-4 d-flex justify-content-end">
                  <button
                    class="call-btn btn"
                    (click)="call_person()"
                    title="CALL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/phone.svg"
                      alt
                    />
                    <span class="ml-2">Call</span>
                  </button>

                  <button
                    class="email-btn btn"
                    (click)="email_person()"
                    title="MAIL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/email-with-at.svg"
                      alt
                    />
                    <span class="ml-2">Mail</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row position-relative">
          <ngx-skeleton-loader
            *ngIf="isContentLoading"
            class="col-md-12 d-flex"
            [theme]="{ width: ((screenWidth/2 - (screenWidth/2)/2)) - 100 + 'px', height: '50vh', right: '0', marginLeft: 'auto' }"
          >
          </ngx-skeleton-loader>
          <div class="col-12" *ngIf="!isContentLoading">
            <div class="card card-main" style="height: 93%">
              <div
                class="card-header row m-0 justify-content-between align-items-center"
              >
                <h4 class="m-0" style="text-shadow: none; font-weight: 500">
                  Owner Details
                </h4>
                <img
                  src="{{ all_data.tenant_profile_img != '' ? 'https://www.indusre.app/api/upload/user/' + all_data.tenant_uid + '/image/' + all_data.tenant_profile_img : 'assets/img/images/user.png'}}"
                  alt
                  class="card-img-top user-image"
                  style="width: 2rem"
                />
              </div>
              <div class="card-body" style="padding: 25px 20px">
                <div class="row m-0 align-items-start">
                  <div class="col p-0">
                    <div class="row m-0">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Name</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.tenant_name}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.tenant_email}}</span
                        >
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative email</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span *ngIf="all_data.tenant_alternative_email != ''"
                            >{{all_data.tenant_alternative_email}}</span
                          >
                          <span *ngIf="all_data.tenant_alternative_email == ''"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          {{all_data.tenant_country_code_number}}
                          {{all_data.tenant_mobile_number}}
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Alternative phone</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                        >
                          <span
                            *ngIf="all_data.tenant_alternative_mobile_number != 0"
                            >{{all_data.tenant_country_code_alternative_number}}
                            {{all_data.tenant_alternative_mobile_number}}</span
                          >
                          <span
                            *ngIf="all_data.tenant_alternative_mobile_number == 0"
                            >-</span
                          >
                        </span>
                      </div>
                    </div>
                    <div class="row m-0 mt-2">
                      <div class="col p-0">
                        <span
                          style="
                            font-size: 14px;
                            font-weight: 400;
                            color: #2b333ec4;
                          "
                          >Gender</span
                        >
                      </div>
                      <div class="col pr-0">
                        <span
                          style="
                            color: #d4aa32;
                            font-size: 14px;
                            font-weight: 500;
                          "
                          >{{all_data.user_gender | titlecase}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row m-0 mt-4 d-flex justify-content-end">
                  <button
                    class="call-btn btn"
                    (click)="call_person()"
                    title="CALL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/phone.svg"
                      alt
                    />
                    <span class="ml-2">Call</span>
                  </button>

                  <button
                    class="email-btn btn"
                    (click)="email_person()"
                    title="MAIL"
                  >
                    <img
                      class="mr-1"
                      style="width: 16px"
                      src="assets/img/svg/common-icons/email-with-at.svg"
                      alt
                    />
                    <span class="ml-2">Mail</span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row" *ngIf="!isContentLoading">
      <div class="col-md-6">
        <div class="card card-main">
          <div class="card-header">
            <div class="row d-flex">
              <div class="col-10 my-auto">
                <h4 class="title-header">Property details</h4>
              </div>
              <div class="col-2 my-auto d-flex">
                <button
                  matTooltip="Go to Property Details"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  (click)="openProperty()"
                  class="btn open-external-link-icon"
                  title
                >
                  <img
                    src="assets/img/svg/common-icons/open-external-link-icon.svg"
                    alt
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-row">
              <table class="teble table-striped w-100 px-3">
                <thead class="thead">
                  <tr>
                    <th scope="col" class="p-3">Title</th>
                    <th scope="col" class="p-3">Details</th>
                  </tr>
                </thead>
                <tbody class="tbody text-uppercase">
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">name</th>
                    <td class="p-3 col-md-8">{{all_data.prop_name}}</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">address</th>
                    <td class="p-3 col-md-8">{{all_data.prop_address}}</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">type</th>
                    <td class="p-3 col-md-8">{{all_data.prop_type}}</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">number of units</th>
                    <td class="p-3 col-md-8">{{all_data.prop_no_of_units}}</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">locality name</th>
                    <td class="p-3 col-md-8">
                      {{all_data.prop_locality_name}}
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">incharge</th>
                    <td class="p-3 col-md-8">{{all_data.prop_in_charge}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card card-main">
          <div class="card-header">
            <div class="row d-flex">
              <div class="col-10 my-auto">
                <h4 class="title-header">
                  Unit details - {{all_data.unit_no}}
                </h4>
              </div>
              <div class="col-2 my-auto d-flex">
                <button
                  matTooltip="Go to Unit Details"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  (click)="navigateToUnit(all_data.unit_id)"
                  class="btn open-external-link-icon"
                >
                  <img
                    src="assets/img/svg/common-icons/open-external-link-icon.svg"
                    alt
                  />
                </button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row m-0">
              <div class="col">
                <span style="color: #2b333ebf; font-weight: 500">Bedrooms</span>
                <div class="row m-0 mt-2">
                  <span class="mr-3" style="font-size: 20px; font-weight: 600"
                    >{{all_data.unit_bed}}</span
                  >
                  <img
                    src="assets/img/svg/bedroom.svg"
                    alt
                    style="
                      filter: invert(95%) sepia(37%) saturate(5934%)
                        hue-rotate(328deg) brightness(88%) contrast(87%);
                      width: 20px;
                      cursor: pointer;
                    "
                  />
                </div>
              </div>
              <div class="col">
                <span style="color: #2b333ebf; font-weight: 500"
                  >Bathrooms</span
                >
                <div class="row m-0 mt-2">
                  <span class="mr-3" style="font-size: 20px; font-weight: 600"
                    >{{all_data.unit_bath}}</span
                  >
                  <img
                    src="assets/img/svg/bath.svg"
                    alt
                    style="
                      filter: invert(95%) sepia(37%) saturate(5934%)
                        hue-rotate(328deg) brightness(88%) contrast(87%);
                      width: 20px;
                      cursor: pointer;
                    "
                  />
                </div>
              </div>
              <div class="col">
                <span style="color: #2b333ebf; font-weight: 500">Area</span>
                <p class="m-0 mt-2" style="font-size: 20px; font-weight: 600">
                  {{all_data.unit_size}} SqFt
                </p>
              </div>
            </div>
            <div class="row m-0 mt-3">
              <div class="col">
                <span style="color: #2b333ebf; font-weight: 500">Parking</span>
                <div class="row m-0 mt-2">
                  <span class="mr-3" style="font-size: 20px; font-weight: 600"
                    >{{all_data.unit_parking}}</span
                  >
                  <img
                    src="assets/img/svg/parking.svg"
                    alt
                    style="
                      filter: invert(95%) sepia(37%) saturate(5934%)
                        hue-rotate(328deg) brightness(88%) contrast(87%);
                      width: 20px;
                      cursor: pointer;
                    "
                  />
                </div>
              </div>
              <div class="col">
                <span style="color: #2b333ebf; font-weight: 500">Floors</span>
                <div class="row m-0 mt-2">
                  <span class="mr-3" style="font-size: 20px; font-weight: 600"
                    >{{all_data.unit_floor}}</span
                  >
                  <img
                    src="assets/img/svg/parking.svg"
                    alt
                    style="
                      filter: invert(95%) sepia(37%) saturate(5934%)
                        hue-rotate(328deg) brightness(88%) contrast(87%);
                      width: 20px;
                      cursor: pointer;
                    "
                  />
                </div>
              </div>
              <div class="col"></div>
            </div>
            <div
              class="mt-4 mb-3 mx-auto"
              style="height: 2px; width: 90%; background: #faebd7a6"
            ></div>
            <div class="col">
              <p class="m-0" style="color: #2b333ebf; font-weight: 500">
                Amenities
              </p>
              <div class="row m-0 d-flex justify-content-start">
                <div
                  style="
                    padding: 3px 8px;
                    background: #d4aa3233;
                    font-size: 13px;
                    font-weight: 600;
                    color: #d4aa32;
                    border-radius: 3px;
                    margin-right: 10px;
                  "
                  class="d-flex mt-2"
                  *ngFor="let item of amenities; let index = i"
                >
                  <span>{{item | titlecase}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
