<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content home-bg" *ngIf="screenWidth > 430">
  <div class="container-fluid" style="max-width: 2576px">
    <div class="row m-0 w-100 main-wrapper">
      <div
        class="col-3 py-3 tab-1"
        [ngClass]="sidebarChatOpened? 'tab-1-opened' : 'tab-1-closed'"
      >
        <div class="tab-1-sec-1" style="height: 93%">
          <div style="height: 13%">
            <div class="row m-0 justify-content-between align-items-center">
              <p *ngIf="sidebarChatOpened" class="m-0 tab-1-title">Messages</p>
              <img
                *ngIf="isAllClientsLoading == false"
                #newChatMenuTrigger="matMenuTrigger"
                [matMenuTriggerFor]="newChatMenu"
                class="add-new-chat"
                src="assets/img/svg/chat-add.svg"
                alt=""
              />
              <mat-menu #newChatMenu="matMenu">
                <div class="newChat-menu">
                  <div
                    class="row m-0 search-bar-client mt-3 mb-4"
                    (click)="$event.stopPropagation()"
                  >
                    <img
                      class="mr-2"
                      src="assets/img/svg/searchbar/search-normal-1.svg"
                      alt=""
                    />
                    <input
                      (keyup)="serachChats('clients')"
                      [(ngModel)]="search_clients"
                      type="text"
                      placeholder="Search"
                    />
                  </div>
                  <div
                    class="all-c row m-0"
                    *ngFor="let c of allClients"
                    (click)="newChatOpen(c)"
                  >
                    <div
                      matTooltip="{{c.firstname | titlecase}} is Online."
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      *ngIf="c.online == true"
                      class="online"
                    ></div>
                    <div
                      class=""
                      *ngIf="c.profile_photo != ''"
                      style="
                        width: 2.5rem;
                        height: 2.5rem;
                        overflow: hidden;
                        background-image: url('{{ usrImgPath }}{{ c.profile_photo }}');
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                        border-radius: 50%;
                      "
                    ></div>
                    <img
                      class=""
                      *ngIf="c.profile_photo == ''"
                      src="assets/img/faces/avatar.webp"
                      alt=""
                      style="
                        max-width: 2.5rem;
                        min-width: 2.5rem;
                        max-height: 2.5rem;
                        min-height: 2.5rem;
                        border-radius: 50%;
                        user-select: none;
                        pointer-events: none;
                      "
                    />
                    <div class="col">
                      <p class="m-0 name">{{c.firstname | titlecase}}</p>
                      <p class="m-0 auth">{{c.auth_type | titlecase}}</p>
                    </div>
                  </div>
                </div>
              </mat-menu>
            </div>

            <div *ngIf="sidebarChatOpened" class="row m-0 search-bar mt-3 mb-4">
              <img
                class="mr-2"
                src="assets/img/svg/searchbar/search-normal-1.svg"
                alt=""
              />
              <input
                (keyup)="serachChats('chats')"
                [(ngModel)]="search_chats"
                type="text"
                placeholder="Search"
              />
            </div>
          </div>

          <div
            *ngIf="sidebarChatOpened"
            class="mb-3"
            style="overflow: auto; height: 86%"
          >
            <div class="chats-wrapper mt-3 mr-2" *ngFor="let c of chats">
              <div
                class="row m-0 align-items-center"
                *ngIf="chats_loading == true"
              >
                <ngx-skeleton-loader
                  appearance="circle"
                  [theme]="{ width: '3rem', height: '3rem' }"
                >
                </ngx-skeleton-loader>
                <ngx-skeleton-loader
                  class="ml-2"
                  [theme]="{ width: '15rem', height: '50px', 'margin':'0px' }"
                >
                </ngx-skeleton-loader>
              </div>

              <div
                class="row m-0"
                *ngIf="chats_loading == false"
                (click)="newChatOpen(c)"
              >
                <div
                  class=""
                  *ngIf="c.profile_photo != ''"
                  style="
                    width: 2.5rem;
                    height: 2.5rem;
                    overflow: hidden;
                    background-image: url('{{ usrImgPath }}{{ c.profile_photo }}');
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                  "
                ></div>
                <img
                  class=""
                  *ngIf="c.profile_photo == ''"
                  src="assets/img/faces/avatar.webp"
                  alt=""
                  style="
                    max-width: 2.5rem;
                    min-width: 2.5rem;
                    max-height: 2.5rem;
                    min-height: 2.5rem;
                    border-radius: 50%;
                    user-select: none;
                    pointer-events: none;
                  "
                />

                <div
                  matTooltip="{{c.firstname | titlecase}} is Online."
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  *ngIf="c.online == true"
                  class="online"
                ></div>

                <div class="col my-auto">
                  <p class="m-0 client-name">
                    {{c.firstname | titlecase}} {{c.lastname | titlecase}}
                  </p>
                  <p class="m-0 client-auth">{{c.auth_type | titlecase}}</p>
                </div>
                <div class="col-2 p-0">
                  <p class="messaged-time m-0">2h ago</p>
                  <div
                    *ngIf="c.new_msg != undefined"
                    class="mt-1 new-messages"
                  ></div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          [ngClass]="sidebarChatOpened? '' : 'justify-content-center'"
          class="row m-0 settings"
          style="height: 7%"
        >
          <img
            [ngClass]="sidebarChatOpened? 'mr-2' : 'mr-0'"
            src="assets/img/svg/setting-2.svg"
            alt=""
          />
          <p *ngIf="sidebarChatOpened" class="m-0">Settings</p>
        </div>
      </div>
      <div class="col py-3 tab-2">
        <div
          class="row m-0 top-bar justify-content-between"
          style="height: 7%"
          *ngIf="currentChat_usr == undefined"
        >
          <img
            (click)="sideBarCloseChats()"
            class="mr-4 my-auto sideBar-toggler"
            src="assets/img/svg/sidebar/menu.svg"
            alt=""
          />

          <img
            class="more my-auto mr-2"
            src="assets/img/pngs/option.png"
            alt=""
          />
        </div>
        <div
          class="row m-0 top-bar"
          style="height: 7%"
          *ngIf="currentChat_usr != undefined"
        >
          <img
            (click)="sideBarCloseChats()"
            class="mr-4 my-auto sideBar-toggler"
            src="assets/img/svg/sidebar/menu.svg"
            alt=""
          />

          <div
            class=""
            *ngIf="currentChat_usr.profile_photo != ''"
            style="
              width: 2.5rem;
              height: 2.5rem;
              overflow: hidden;
              background-image: url('{{ usrImgPath }}{{ currentChat_usr.profile_photo }}');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 50%;
            "
          ></div>
          <img
            class=""
            *ngIf="currentChat_usr.profile_photo == ''"
            src="assets/img/faces/avatar.webp"
            alt=""
            style="
              max-width: 2.5rem;
              min-width: 2.5rem;
              max-height: 2.5rem;
              min-height: 2.5rem;
              border-radius: 50%;
              user-select: none;
              pointer-events: none;
            "
          />

          <div class="col my-auto" *ngIf="currentChat_usr != undefined">
            <p class="m-0 name">{{currentChat_usr.firstname | titlecase}}</p>
            <p
              *ngIf="currentChat_usr.online == false || currentChat_usr.online == undefined"
              class="m-0 status"
            >
              Active 2 hours ago
            </p>
            <p
              *ngIf="currentChat_usr.online == true"
              class="m-0 status"
              style="font-weight: 700; color: #00c700bf"
            >
              Online
            </p>
          </div>
          <img
            class="more my-auto mr-2"
            src="assets/img/pngs/option.png"
            alt=""
          />
        </div>
        <div
          *ngIf="currentChat_usr == undefined"
          style="
            height: 85%;
            margin: 2rem 1rem;
            display: flex;
            width: 97%;
            align-items: center;
            justify-content: center;
          "
        >
          <img style="height: 20rem" src="assets/img/bg/chat-bg.png" alt="" />
        </div>
        <div
          #msg_bar
          *ngIf="currentChat_usr != undefined"
          class="messages-bar"
          style="
            height: 78%;
            overflow: auto;
            max-height: 37rem;
            padding-right: 10px;
            padding-bottom: 10px;
          "
        >
          <div class="overlay-bg"></div>
          <div
            *ngFor="let m of chatroom_msgs;let i = index"
            [ngClass]="m.recieved == 0 ? 'message-send-wrp' : 'message-coming-wrp'"
          >
            <div
              class="more-actions"
              *ngIf="m.file == 0 && m.image == 0 && m.recieved == 0"
            >
              <div class="row m-0">
                <img
                  [cdkCopyToClipboard]="m.message"
                  matTooltip="Copy Message"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  class="download-file"
                  src="assets/img/svg/copy.svg"
                  alt=""
                />
                <img
                  (click)="deleteMessage(m,i)"
                  matTooltip="Delete Message"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  class="download-file ml-2 mr-2"
                  src="assets/img/svg/delete.svg"
                  alt=""
                />
              </div>
            </div>
            <div
              class="mt-3"
              [ngClass]="m.recieved == 0 ? 'message-send' : 'message-coming'"
              [ngStyle]="{'background' : m.file == 1 ? 'rgb(255 252 244)' : 'rgb(255 244 207)', 'border' : m.file == 1 ? '1px solid #be8e0047' : 'none'}"
            >
              <div *ngIf="m.file == 0 && m.image == 0">
                <span class="m-0 msg">{{m.message}}</span>
                <br />
                <span class="m-0 time">{{m.time | date : 'shortTime'}}</span>
              </div>
              <div class="row m-0" *ngIf="m.file == 1">
                <div class="col p-0 py-3" style="width: 8rem">
                  <svg
                    version="1.1"
                    id="Capa_1"
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    x="0px"
                    y="0px"
                    viewBox="0 0 58 58"
                    style="enable-background: new 0 0 58 58"
                    xml:space="preserve"
                  >
                    <polygon
                      style="fill: #edeada"
                      points="51.5,14 37.5,0 6.5,0 6.5,58 51.5,58 "
                    />
                    <g>
                      <path
                        style="fill: #cec9ae"
                        d="M16.5,23h25c0.552,0,1-0.447,1-1s-0.448-1-1-1h-25c-0.552,0-1,0.447-1,1S15.948,23,16.5,23z"
                      />
                      <path
                        style="fill: #cec9ae"
                        d="M16.5,15h10c0.552,0,1-0.447,1-1s-0.448-1-1-1h-10c-0.552,0-1,0.447-1,1S15.948,15,16.5,15z"
                      />
                      <path
                        style="fill: #cec9ae"
                        d="M41.5,29h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,29,41.5,29z"
                      />
                      <path
                        style="fill: #cec9ae"
                        d="M41.5,37h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,37,41.5,37z"
                      />
                      <path
                        style="fill: #cec9ae"
                        d="M41.5,45h-25c-0.552,0-1,0.447-1,1s0.448,1,1,1h25c0.552,0,1-0.447,1-1S42.052,45,41.5,45z"
                      />
                    </g>
                    <polygon
                      style="fill: #cec9ae"
                      points="37.5,0 37.5,14 51.5,14 "
                    />
                  </svg>
                </div>

                <div class="col-8 my-auto">
                  <span
                    style="font-size: 17px; font-weight: 500; color: #b78e00"
                    >{{getFileName(m.file_data)}}</span
                  ><br />
                  <span
                    style="font-size: 12px; font-weight: 600; color: #808080b3"
                    >{{getFileSize(m.file_data)}}</span
                  ><br />
                  <div class="row m-0 justify-content-end">
                    <img
                      (click)="downloadFile(m.file_path, m.file_data)"
                      matTooltip="Download File"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      class="download-file"
                      src="assets/img/svg/document-download.svg"
                      alt=""
                    />
                    <img
                      (click)="deleteMessage(m,i)"
                      *ngIf="m.recieved == 0"
                      matTooltip="Delete File"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      class="download-file ml-3"
                      src="assets/img/svg/delete.svg"
                      alt=""
                    />
                  </div>
                  <span class="m-0 time">{{m.time | date : 'shortTime'}}</span>
                </div>
              </div>
              <div *ngIf="m.image == 1">
                <img
                  id="{{'chat_img' + i}}"
                  (error)="onImageError(m,i)"
                  (load)="onImageLoad(m,i)"
                  style="max-width: 25rem; border-radius: 5px; display: none"
                  src="{{chatImgsPath}}{{m.image_path}}"
                  alt="error"
                />
                <div *ngIf="m.loading == true || m.loading == undefined">
                  <ngx-skeleton-loader
                    [theme]="{ width: '20rem', height: '10rem'}"
                  >
                  </ngx-skeleton-loader>
                </div>

                <div class="row m-0 justify-content-end">
                  <img
                    (click)="downloadFile(m.image_path, m.image_data)"
                    matTooltip="Download Image"
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    class="download-file"
                    src="assets/img/svg/document-download.svg"
                    alt=""
                  />
                  <img
                    (click)="deleteMessage(m,i)"
                    *ngIf="m.recieved == 0"
                    matTooltip="Delete Image"
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    class="download-file ml-3"
                    src="assets/img/svg/delete.svg"
                    alt=""
                  />
                </div>
                <span class="m-0 time">{{m.time | date : 'shortTime'}}</span>
              </div>
            </div>
            <div
              class="more-actions"
              *ngIf="m.file == 0 && m.image == 0 && m.recieved == 1"
            >
              <div class="row m-0">
                <img
                  [cdkCopyToClipboard]="m.message"
                  matTooltip="Copy Message"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  class="download-file ml-2"
                  src="assets/img/svg/copy.svg"
                  alt=""
                />
              </div>
            </div>
          </div>
          <div
            *ngIf="sending_new_message == true"
            class="d-flex w-100 justify-content-end mt-3"
          >
            <div
              style="
                padding: 7rem 9rem;
                background: #faf1d2;
                border-radius: 10px;
              "
            >
              <span
                class="spinner-border spinner-border-m"
                style="color: #d4aa32; padding: 23px"
              >
              </span>
            </div>
          </div>
        </div>
        <div
          class="bottom-bar"
          style="height: 15%"
          *ngIf="currentChat_usr != undefined"
        >
          <textarea
            (paste)="onPaste($event)"
            [(ngModel)]="sending_msg"
            class="mt-2 text-area"
            rows="3"
            placeholder="Message.."
          ></textarea>
          <div class="row m-0 mt-2 justify-content-between">
            <div class="row m-0">
              <img
                (click)="attachFile()"
                matTooltip="Attach File"
                matTooltipClass="tooltip"
                matTooltipPosition="above"
                class="bottom-bar-btns ml-2 mr-4"
                src="assets/img/svg/attachment.svg"
                alt=""
              />
              <img
                (click)="attachImage()"
                matTooltip="Send Media"
                matTooltipClass="tooltip"
                matTooltipPosition="above"
                style="width: 20px"
                class="bottom-bar-btns mr-4"
                src="assets/img/svg/image.svg"
                alt=""
              />
              <img
                matTooltip="Emoji"
                matTooltipClass="tooltip"
                matTooltipPosition="above"
                style="width: 18px"
                class="bottom-bar-btns"
                src="assets/img/svg/smile.svg"
                alt=""
              />
            </div>

            <img
              (click)="sendMsg()"
              matTooltip="Send Message"
              matTooltipClass="tooltip"
              matTooltipPosition="above"
              style="width: 20px"
              class="bottom-bar-btns"
              src="assets/img/svg/send.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
