<div class="main-content reports-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-appointments">
                    <div class="card-header card-appointments-head">
                        <tr>
                            <td>
                                <i class="material-icons appointments-icon">app_registration</i>
                            </td>
                            <td>
                                <h4 class="card-title mt-0 tableList-title">My Appointments</h4>
                            </td>
                        </tr>

                    </div>
                    <div class="appointments-table" *ngIf="eventsCurrentMonth.length == 0">
                        <p *ngIf="isLoading == false">No Appointments for this month</p>
                        <div class="spinner-loader" style="width:800px; margin:0 auto;" *ngIf="isLoading == true">
                            <mat-spinner [diameter]="40"></mat-spinner>
                        </div>
                    </div>

                    <div class="appointments-table" *ngIf="eventsCurrentMonth.length != 0">
                        <span class="monthly-appointments-heading">This month :</span>
                        <ul *ngFor="let event of eventsCurrentMonth" class="monthly-appointments-ind">
                            <li><b>{{event["title"]}}</b> on {{event["start"] | date: 'MMM d, y, h:mm:ss a'}}</li>
                        </ul>
                    </div>

                </div>
                <div class="card card-appointments">
                    <div class="card-header card-appointments-head">
                        <tr>
                            <td>
                                <i class="material-icons appointments-icon">calendar_month</i>
                            </td>
                            <td>
                                <h4 class="card-title mt-0 tableList-title">Calendar</h4>
                            </td>
                        </tr>

                    </div>
                    <div class="calendar-wrapper">
                        <full-calendar #calendar [options]="calendarOptions"
                            class="calendar-appointents"></full-calendar>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>