<div class="main-content reports-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-appointments">
          <div class="card-header card-appointments-head">
            <div class="row">
              <img
                class="home-card-icon-main"
                src="assets/img/svg/appointment/activity.svg"
                style="
                  filter: brightness(0) invert(1);
                  margin-left: 15px;
                  width: 22px;
                  margin-top: -5px;
                "
              />
              <h4
                class="card-title mt-0 tableList-title"
                style="padding-left: 20px"
              >
                Appointments
              </h4>
            </div>
          </div>
          <div
            class="appointments-table"
            *ngIf="currentMonthEvents.length == 0"
          >
            <p *ngIf="isLoading == false">No Appointments for this month</p>
            <div
              class="spinner-loader"
              style="width: 800px; margin: 0 auto"
              *ngIf="isLoading == true"
            >
              <mat-spinner [diameter]="40"></mat-spinner>
            </div>
          </div>

          <div
            class="appointments-table"
            *ngIf="currentMonthEvents.length != 0"
          >
            <span class="monthly-appointments-heading">This month :</span>
            <ul
              *ngFor="let event of currentMonthEvents"
              class="monthly-appointments-ind"
            >
              <li>
                <b>{{ event["title"] }}</b> on
                {{ event["start"] | date : "MMM d, y, h:mm:ss a" }}
              </li>
            </ul>
          </div>
        </div>
        <div class="card card-appointments">
          <div class="card-header card-appointments-head">
            <div class="row">
              <img
                class="home-card-icon-main"
                src="assets/img/svg/appointment/calendar.svg"
                style="
                  filter: brightness(0) invert(1);
                  margin-left: 15px;
                  width: 22px;
                  margin-top: -5px;
                "
              />
              <h4
                class="card-title mt-0 tableList-title"
                style="padding-left: 20px"
              >
                Calendar
              </h4>
            </div>
          </div>
          <div class="calendar-wrapper">
            <full-calendar
              #calendar
              [options]="calendarOptions"
              class="calendar-appointents"
            ></full-calendar>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
