.stepper-one-page {
    padding-top: 45px;
    margin: -25px !important;

    

    .reqInfo-title {
        padding-top: 20px;
        font-size: 18px;
        font-weight: 400;
    }

    #block_container {
        // padding-top: 20px;
        text-align: left;

        #bloc1 {
            margin: 20px;
            display: inline;
            border-right: solid 1px rgba(128, 128, 128, 0.308);
            border-spacing: 20px;

            .block-val {
                padding-left: 20px;
                font-weight: 400;
            }
        }

        #bloc2 {
            margin: 20px;
            margin-left: 10px;
            display: inline;

            .block-val {
                padding-left: 20px;
                font-weight: 400;
            }
        }
    }

    .divider-req-payment {
        height: 1px;
        width: 95%;
        background-color: rgba(128, 128, 128, 0.308);
        margin-left: 25px;
    }

    .service-requirements-sec{
        padding-top: 15px;
        .service-requirements-ul-list{
            font-weight: 400;
        }
    }
}