<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div
  class="main-content reports-bg"
  *ngIf="screenWidth > 430"
  style="padding: 20px 15px"
>
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div class="col" style="padding: 0">
      <div class="row m-0 w-100 align-items-center justify-content-between">
        <div class="row m-0 align-items-center">
          <p class="m-0 ml-4" style="font-size: 2rem; font-weight: 600">
            All Lease Contracts
          </p>
          <img
            (click)="refreshTable()"
            matTooltip="Refresh table"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="refresh-table-btn ml-3"
            src="assets/img/svg/home-page/refresh-2.svg"
            alt=""
          />
          <div class="row m-0 align-items-end">
            <div
              [ngClass]="current_sort_option == 'all' ? 'sort-lease-btns-active' : 'sort-lease-btns'"
              class="btn m-0 ml-4"
              (click)="changeSortOption('all')"
            >
              All
            </div>
            <div
              [ngClass]="current_sort_option == 'active' ? 'sort-lease-btns-active' : 'sort-lease-btns'"
              class="btn m-0 ml-2"
              (click)="changeSortOption('active')"
            >
              Active
            </div>
            <div
              [ngClass]="current_sort_option == 'inactive' ? 'sort-lease-btns-active' : 'sort-lease-btns'"
              class="btn m-0 ml-2"
              (click)="changeSortOption('inactive')"
            >
              Inactive
            </div>
          </div>
        </div>
        <div class="row m-0 align-items-center">
          <searchbar-table
            (myEvent)="searchContracts($event)"
          ></searchbar-table>
          <div
            class="btn"
            style="
              margin: 0;
              padding: 7px 10px;
              margin-right: 10px;
              background: #d4aa32;
            "
            (click)="addLeaseDialogOpen()"
          >
            <div
              class="row m-0 align-items-center"
              style="width: 140px; justify-content: space-between"
            >
              <img
                src="assets/img/svg/add-square.svg"
                alt=""
                style="width: 15px; filter: brightness(0) invert(1)"
              />
              <p class="m-0">Add New Lease</p>
            </div>
          </div>
          <div
            (click)="exportExcelFile()"
            matTooltip="Export Excel File"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="btn"
            style="
              margin: 0;
              padding: 5px 10px;
              margin-right: 10px;
              background: #2b333e;
            "
          >
            <img
              src="assets/img/svg/excel.svg"
              alt=""
              style="width: 20px; filter: brightness(0) invert(1)"
            />
          </div>
        </div>
      </div>

      <loading-table-admin-all-lease
        *ngIf="isContentLoading == true"
      ></loading-table-admin-all-lease>

      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <div *ngIf="isContentLoading == false">
        <div style="overflow: auto; padding: 0 5px; padding-bottom: 1rem">
          <div
            *ngIf="pageChangerLoading"
            style="
              position: absolute;
              width: 100%;
              height: 50rem;
              background: #ffffffba;
              text-align: center;
            "
          >
            <span
              class="spinner-border spinner-border-m mr-2"
              style="color: #d4aa32; margin-top: 15rem"
            >
            </span>
          </div>
          <table
            mat-table
            [dataSource]="allLeaseMatTableData"
            class="mat-elevation-z8 demo-table"
            *ngIf="allLease.length != 0"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="contractId">
              <th mat-header-cell *matHeaderCellDef>Contract ID</th>
              <td
                style="
                  max-width: 150px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                "
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'first-col-last' : 'first-col'"
                matTooltip="{{element.contract_id}}"
                matTooltipClass="tooltip"
                matTooltipPosition="above"
                (click)="viewDetails(element.contract_id)"
              >
                {{ element.contract_id}}
              </td>
            </ng-container>

            <ng-container matColumnDef="buliding">
              <th mat-header-cell *matHeaderCellDef>Building</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'second-col-last' : 'second-col'"
              >
                <span
                  class="prop_name"
                  (click)="navigateToPropertyDetailsPage(element.property_id)"
                  >{{ element.property_name | titlecase}}</span
                >
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="unitNo">
              <th mat-header-cell *matHeaderCellDef>Unit No.</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'third-col-last' : 'third-col'"
              >
                <span
                  class="prop_name"
                  (click)="navigateToUnitDetailPage(element.unit_id)"
                  >{{ element.unit_no }}</span
                >
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
                (click)="viewDetails(element.contract_id)"
              >
                <div
                  *ngIf="getLeaseExpiryStyleClass(element.contract_end) == 'lease-expired-date'"
                  class="d-flex justify-content-center"
                  style="
                    color: #d29c00;
                    background: #d29c0024;
                    padding: 5px 7px;
                    border-radius: 5px;
                    font-size: 12px;
                    border: 1px solid #d29c0047;
                  "
                >
                  INACTIVE
                </div>

                <div
                  *ngIf="getLeaseExpiryStyleClass(element.contract_end) == 'lease-expiry-date'"
                  class="d-flex justify-content-center"
                  style="
                    color: #37b400;
                    background: #37b4001c;
                    padding: 5px 7px;
                    border-radius: 5px;
                    font-size: 12px;
                    border: 1px solid #37b4003b;
                  "
                >
                  ACTIVE
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="leaseExpiry">
              <th mat-header-cell *matHeaderCellDef>Lease Expiry</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
                style="width: 210px"
              >
                <div
                  class="d-flex justify-content-center"
                  [ngClass]="getLeaseExpiryStyleClass(element.contract_end)"
                >
                  {{ getLeaseExpiry(element.contract_end)}}
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef>Owner</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
              >
                <span
                  class="prop_name"
                  (click)="navigateToUserDetailsPage(element.owner_id, 'owner')"
                  >{{ element.owner_name | titlecase}}</span
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="tenant">
              <th mat-header-cell *matHeaderCellDef>Tenant</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                style="
                  cursor: pointer;
                  max-width: 200px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                "
              >
                <span
                  class="prop_name"
                  (click)="navigateToUserDetailsPage(element.tenant_id, 'tenant')"
                  >{{ element.tenant_name | titlecase}}</span
                >
              </td>
            </ng-container>
            <!-- <ng-container matColumnDef="moveIn">
              <th mat-header-cell *matHeaderCellDef>Move-in</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
              >
                {{ element.move_in | date:'M/d/y'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="moveOut">
              <th mat-header-cell *matHeaderCellDef>Move-out</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
              >
                {{ element.move_out | date:'M/d/y'}}
              </td>
            </ng-container> -->

            <ng-container matColumnDef="contractStartDate">
              <th mat-header-cell *matHeaderCellDef>Contract Start Date</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
              >
                {{ element.contract_start | date:'M/d/y'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="contractEndDate">
              <th mat-header-cell *matHeaderCellDef>Contract End Date</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
              >
                {{ element.contract_end | date:'M/d/y'}}
              </td>
            </ng-container>
            <ng-container matColumnDef="rentYearly">
              <th mat-header-cell *matHeaderCellDef>Annual Rent</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
                style="
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  max-width: 200px;
                "
              >
                {{ element.yearly_amount | currency:'AED '}}
              </td>
            </ng-container>
            <ng-container matColumnDef="deposit">
              <th mat-header-cell *matHeaderCellDef>Deposit</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="viewDetails(element.contract_id)"
                style="
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  max-width: 200px;
                "
              >
                {{ element.security_deposit == 0 ? '-' :
                (element.security_deposit | currency:'AED ')}}
              </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last;let index = index"
                [ngClass]="last ? 'eighth-col-last' : 'eighth-col'"
              >
                <img
                  [matMenuTriggerFor]="menu"
                  matTooltip="More Actions"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  src="assets/img/svg/home-page/more.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
                      saturate(14%) hue-rotate(333deg) brightness(91%)
                      contrast(77%);
                    width: 20px;
                    cursor: pointer;
                  "
                />

                <mat-menu #menu="matMenu" class="more-menu-lease">
                  <button
                    mat-menu-item
                    (click)="openEditLease(index,element.contract_id)"
                  >
                    <div class="row m-0 justify-content-between">
                      <span style="color: #c89914">Edit</span>
                      <img
                        src="assets/img/svg/property-page/edit.svg"
                        alt
                        style="
                          filter: invert(68%) sepia(13%) saturate(2701%)
                            hue-rotate(5deg) brightness(110%) contrast(66%);
                        "
                      />
                    </div>
                  </button>
                  <button
                    *ngIf="getLeaseExpiryStyleClass(element.contract_end) == 'lease-expiry-date'"
                    mat-menu-item
                    (click)="openCautionDialog(element.contract_id, element.unit_id , element.tenant_id)"
                  >
                    <div class="row m-0 justify-content-between">
                      <span style="color: red">Terminate</span>
                      <img
                        src="assets/img/svg/delete.svg"
                        alt
                        style="
                          filter: invert(56%) sepia(71%) saturate(3838%)
                            hue-rotate(328deg) brightness(97%) contrast(90%);
                        "
                      />
                    </div>
                  </button>
                  <button
                    (click)="reniewContract(element.contract_id)"
                    mat-menu-item
                    class="mat-mdc-menu-item-reniew"
                    *ngIf="getLeaseExpiryStyleClass(element.contract_end) == 'lease-expired-date'"
                  >
                    <div class="row m-0 justify-content-between">
                      <span style="color: green">Reniew</span>
                      <img
                        src="assets/img/svg/add-square.svg"
                        alt
                        style="
                          filter: invert(26%) sepia(90%) saturate(1528%)
                            hue-rotate(93deg) brightness(98%) contrast(106%);
                        "
                      />
                    </div>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              style="cursor: pointer"
            ></tr>
          </table>
          <div
            *ngIf="allLeaseMatTableData.filteredData.length == 0 && allLease.length != 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: 0;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1800px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              NO RESULTS :(
            </p>
          </div>
          <table
            *ngIf="allLease.length == 0"
            mat-table
            [dataSource]="loadingTable"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="contractId">
              <th mat-header-cell *matHeaderCellDef>Contract ID</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="buliding">
              <th mat-header-cell *matHeaderCellDef>Building</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="unitNo">
              <th mat-header-cell *matHeaderCellDef>Unit No.</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="leaseExpiry">
              <th mat-header-cell *matHeaderCellDef>Lease Expiry</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="owner">
              <th mat-header-cell *matHeaderCellDef>Owner</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="tenant">
              <th mat-header-cell *matHeaderCellDef>Tenant</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <!-- <ng-container matColumnDef="moveIn">
              <th mat-header-cell *matHeaderCellDef>Move-in</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="moveOut">
              <th mat-header-cell *matHeaderCellDef>Move-out</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container> -->
            <ng-container matColumnDef="contractStartDate">
              <th mat-header-cell *matHeaderCellDef>Contract Start Date</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="contractEndDate">
              <th mat-header-cell *matHeaderCellDef>Contract End Date</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="rentYearly">
              <th mat-header-cell *matHeaderCellDef>Anuual Rent</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="deposit">
              <th mat-header-cell *matHeaderCellDef>Deposit</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            *ngIf="allLease.length == 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: -16rem;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 20rem;
              min-width: 1800px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              No Lease Contracts
            </p>
            <p
              class="pl-3"
              style="font-size: 1.3rem; font-weight: 500; color: #d3ab33"
            >
              (－_－) zzZ
            </p>
          </div>
        </div>
        <div style="margin-top: 25px" class="table-paginator">
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[1,6, 8, 10, 14, 20]"
            [length]="tableLength"
            (page)="pageChange($event)"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
