@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .mdc-snackbar__surface {
  background-color: #313a46 !important;
  
  .mat-mdc-button-ripple{
    color: #d4aa32 !important;
  }
  .mdc-button__label {
    color: #d4aa32 !important;
  }
}

::ng-deep .more-menu-lease {
  .mat-mdc-menu-content {
    padding: 5px 15px;
    width: 170px;

    .mat-mdc-menu-item:first-child {
      border: 1px solid #e6ebf1;
      border-radius: 5px;
      margin: 10px 0;
      min-height: 40px;

      &:hover {
        background: #d4a9321a;
      }

      .mdc-list-item__primary-text {
        width: 100%;
        .row {
          span {
            font-size: 14px;
          }

          img {
            width: 15px;
          }
        }
      }
    }

    .mat-mdc-menu-item:last-child {
      border: 1px solid #e6ebf1;
      border-radius: 5px;
      margin: 10px 0;
      min-height: 40px;

      &:hover {
        background: rgba(255, 0, 0, 0.053);
      }

      .mdc-list-item__primary-text {
        width: 100%;
        .row {
          span {
            font-size: 14px;
          }

          img {
            width: 15px;
          }
        }
      }
    }
  }
}

.sort-lease-btns {
  padding: 5px 10px;
  font-size: 12px;
  color: #596677;
  background: white;
  box-shadow: none;
  border: 1px solid #59667796;
}

.sort-lease-btns-active {
  padding: 5px 10px;
  font-size: 12px;
  color: white;
  background: #596677;
  border: 1px solid #59667796;
}

.all-req-card-admin {
  background-color: #f4f4f4;
  padding: 20px;
  padding-bottom: 10px;
  transition: width 600ms ease-out, height 600ms ease-out;
  height: 240px;
}
// .all-req-card-admin-expanded {
//   background-color: #f4f4f4;
//   padding: 20px;
//   padding-bottom: 10px;
//   height: 520px;
//   transition: width 600ms ease-out, height 600ms ease-out;

//   .description-req-card {
//     transition: width 600ms ease-out, height 600ms ease-out;
//     height: 320px;
//   }
// }

.flagged-reqs-filter {
  margin-bottom: -3px !important;
  background: rgb(212 170 50 / 10%);
  padding: 3px 8px;
  border-radius: 6px;
  border: 1px solid #d4aa3230;

  p {
    font-size: 13px;
    font-weight: 600;
    color: #d4aa32;
  }

  img {
    cursor: pointer;
    width: 15px;
    filter: invert(65%) sepia(100%) saturate(328%) hue-rotate(2deg)
      brightness(89%) contrast(90%);
  }
}

// .request-show-type-btns {
//   background-color: #ffffff;
//   border: 1px solid #d1d1d1;
//   box-shadow: none;
//   margin-left: 10px;
//   padding: 6px 7px;

//   img {
//     width: 20px;
//     filter: brightness(0) saturate(100%) invert(72%) sepia(21%) saturate(31%)
//       hue-rotate(76deg) brightness(88%) contrast(92%);
//   }

//   &:hover {
//     box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
//     border: 1px solid #ffffff;
//   }
// }

.request-show-type-btns-active {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin-left: 10px;
  padding: 6px 7px;

  img {
    width: 20px;
    filter: brightness(0) saturate(100%) invert(87%) sepia(14%) saturate(2200%)
      hue-rotate(343deg) brightness(85%) contrast(96%);
  }
}

.request-approve-btns {
  background: transparent;
  color: black;
  box-shadow: none;

  &:hover {
    box-shadow: 0 2px 2px 0 rgb(153 153 153 / 14%),
      0 3px 1px -2px rgb(153 153 153 / 20%), 0 1px 5px 0 rgb(153 153 153 / 12%);
    color: #d4aa32;
  }
}

:host ::ng-deep .mat-tab-header {
  background-color: #2b333e !important;
}
:host ::ng-deep .mat-tab-label {
  color: #ffffff !important;
  font-family: "Montserrat" !important;
}
:host ::ng-deep .mat-tab-label-active {
  color: #d3ab33 !important;
  font-family: "Montserrat" !important;
}
:host ::ng-deep .mat-ink-bar {
  background-color: #d3ab33 !important;
  width: 110px !important;
  margin-left: 25px !important;
}

::ng-deep .timeline-menu {
  padding: 0 15px;

  .cal-title {
    font-size: 15px;
    font-weight: 600;
    color: #d4aa32;
    margin-bottom: 0;
  }

  .search-btn {
    padding: 6px 12px;
    background: #2b333e;
    font-weight: 500;
  }

  .mat-calendar {
    width: 15rem;
  }

  .vertical-divider {
    width: 1px;
    background: #93939340;
    margin: 0 30px;
  }
}

::ng-deep.mat-menu-panel {
  max-width: none !important;
}

::ng-deep .filter-menu {
  width: 10rem;
  height: auto;
  padding: 0 10px;

  hr {
    margin: 0;
    background: #d4aa32;
  }

  .small-title {
    margin-bottom: 0;
    font-size: 11px;
    font-weight: 600;
  }

  .list {
    cursor: pointer;
    padding: 3px 6px;
    margin-top: 5px;
    border-radius: 5px;
    transition: 0.2s all ease-in-out;
    p {
      font-size: 12px;
      font-weight: 400;
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      p {
        color: #d4aa32;
      }
      background: #d4a93227;
    }
  }
}

.actions-menu-btn {
  padding: 8px 15px;
  font-size: 10px;
  font-weight: 600;
  background-color: #2b333e;

  &:hover {
    background-color: #d4aa32;
  }
}

.refresh-table-btn {
  height: 22px;
  width: 1.2rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scaleY(1.2) scaleX(1.2);
  }
}

.sort-table-btn {
  height: 25px;
  filter: invert(44%) sepia(5%) saturate(30%) hue-rotate(48deg) brightness(91%)
    contrast(87%);
  cursor: pointer;
  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scaleY(1.2) scaleX(1.2);
  }
}

::ng-deep .status-menu {
  .list {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    img {
      height: 15px;
      transition: 0.2s all ease-in-out;
    }
    p {
      margin-bottom: 0;
      margin-left: 13px;
      font-size: 14px;
      font-weight: 400;
      color: #6c757dd9;
      transition: 0.2s all ease-in-out;
    }

    .arrow-dropdown {
      filter: invert(47%) sepia(5%) saturate(796%) hue-rotate(167deg)
        brightness(94%) contrast(80%);
    }

    &:hover {
      background: rgb(212 215 218 / 26%);
      border: 1px solid #80808026;

      p {
        color: #d4aa32;
      }
      img {
        filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
          brightness(90%) contrast(83%);
      }
    }
  }

  .list-approve {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    img {
      height: 15px;
      transition: 0.2s all ease-in-out;
    }
    p {
      margin-bottom: 0;
      margin-left: 13px;
      font-size: 14px;
      font-weight: 400;
      color: #6c757dd9;
      transition: 0.2s all ease-in-out;
    }

    .arrow-dropdown {
      filter: invert(47%) sepia(5%) saturate(796%) hue-rotate(167deg)
        brightness(94%) contrast(80%);
    }

    &:hover {
      background: rgb(212 215 218 / 26%);
      border: 1px solid #80808026;

      p {
        color: #8ae16b;
      }
      img {
        filter: invert(79%) sepia(32%) saturate(678%) hue-rotate(54deg)
          brightness(99%) contrast(87%);
      }
    }
  }

  .list-decline {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    img {
      height: 15px;
      transition: 0.2s all ease-in-out;
    }
    p {
      margin-bottom: 0;
      margin-left: 13px;
      font-size: 14px;
      font-weight: 400;
      color: #6c757dd9;
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      background: rgb(212 215 218 / 26%);
      border: 1px solid #80808026;

      p {
        color: #e1473c;
      }
      img {
        filter: invert(40%) sepia(65%) saturate(2320%) hue-rotate(335deg)
          brightness(89%) contrast(98%);
      }
    }
  }
}

::ng-deep .more-actions {
  width: 18rem;
  padding: 5px 13px;

  .list {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    img {
      height: 15px;
      transition: 0.2s all ease-in-out;
    }
    p {
      margin-bottom: 0;
      margin-left: 13px;
      font-size: 14px;
      font-weight: 400;
      color: #6c757dd9;
      transition: 0.2s all ease-in-out;
    }

    .arrow-dropdown {
      filter: invert(47%) sepia(5%) saturate(796%) hue-rotate(167deg)
        brightness(94%) contrast(80%);
    }

    &:hover {
      background: rgb(212 215 218 / 26%);
      border: 1px solid #80808026;

      p {
        color: #d4aa32;
      }
      img {
        filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
          brightness(90%) contrast(83%);
      }

      .arrow-dropdown {
        filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
          brightness(90%) contrast(83%);
      }
    }
  }

  .list-delete {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
    img {
      height: 15px;
      transition: 0.2s all ease-in-out;
    }
    p {
      margin-bottom: 0;
      margin-left: 13px;
      font-size: 14px;
      font-weight: 400;
      color: #6c757dd9;
      transition: 0.2s all ease-in-out;
    }

    &:hover {
      background: rgb(212 215 218 / 26%);
      border: 1px solid #80808026;

      p {
        color: #e1473c;
      }
      img {
        filter: invert(40%) sepia(65%) saturate(2320%) hue-rotate(335deg)
          brightness(89%) contrast(98%);
      }
    }
  }
}

.demo-table {
  min-width: 1800px;
  width: 100%;
  margin-top: 35px;
  border-radius: 10px;

  box-shadow: none !important;
  border: 1px solid #e6ebf1;
  .mat-mdc-header-row {
    background: #d4aa320a;
  }

  .mat-row {
    &:hover {
      cursor: pointer;
      background: #fbf9f2;

      .more-btn {
        display: block !important;
      }
      .more-btn-disabled {
        display: none;
      }
    }
  }

  .hidden {
    display: none;
  }

  .first-col {
    border-bottom-left-radius: 10px;
    font-weight: 600;
  }

  .first-col-last {
    border-bottom-left-radius: 10px;
    border-bottom: none;
    font-weight: 600;
  }

  .second-col {
    color: #a3a3a3;
    font-weight: 600;
  }
  .second-col-last {
    border-bottom: none;
    color: #a3a3a3;
    font-weight: 600;
  }

  .third-col {
    font-weight: 600;
  }
  .third-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .fourth-col {
    font-weight: 600;
  }
  .fourth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .fifth-col {
    font-weight: 600;
  }
  .fifth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .sixth-col {
    font-weight: 600;
  }
  .sixth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .approved-status::before {
    color: #8ae16b;
    font-weight: 600;
    content: "APPROVED";
    background-color: #e9ffed;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #a9e16b85;
  }
  .declined-status::before {
    color: #ff0000;
    font-weight: 600;
    content: "DECLINED";
    background-color: #fff2f5;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #ff00003d;
  }
  .pending-status::before {
    color: #2b333ea6;
    font-weight: 700;
    content: "PENDING";
    background-color: #2b333e0f;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #2b333e2b;
  }
  .review-status::before {
    color: #d4aa32;
    font-weight: 600;
    content: "REVIEW";
    background-color: #fbf8ef;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #e6a60040;
  }

  .eighth-col-last {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .eighth-col {
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .mat-header-cell {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #84878f;
    font-weight: 600;
  }

  .mat-header-row {
    background-color: #f9fafc;
  }
}

:host ::ng-deep .table-paginator {
  .mat-form-field-underline {
    display: none !important;
  }

  .mat-form-field-infix {
    border-top: none !important;
    padding: 10px 0 !important;
  }

  .mat-form-field {
    margin: 0 !important;
  }

  .mat-select-arrow-wrapper {
    margin: 0 5px !important;
    margin-top: 8px !important;
  }

  .mat-mdc-paginator {
    background: transparent !important;
  }
  .mat-paginator-page-size-label {
    margin: 0 10px !important;
    font-size: 13px !important;
    margin-right: 20px !important;
  }

  .mat-select-value-text {
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .mat-form-field-wrapper {
    padding: 0 !important;
  }

  .mat-paginator-page-size {
    border: 1px solid #a3a3a37d !important;
    border-radius: 8px !important;
    align-items: center !important;
  }

  .mat-select-value {
    margin-bottom: -10px !important;
  }

  .mat-icon-button {
    svg {
      border: 1px solid #c7c7c7 !important;
      border-radius: 7px !important;
      padding: 3px !important;
    }
  }
}

.table_view_class_hidden {
  display: none;
}

::ng-deep .tooltip {
  position: relative;
  background-color: transparent;
  color: #313a46 !important;
  font-size: 11px;
  font-weight: 600;
  padding: 2px 6px !important;
  max-width: none !important;
  min-width: auto !important;
}

::ng-deep .prop_name {
  cursor: pointer;
  text-decoration: underline !important;
  color: #c49920;
  &:hover {
    text-decoration: none !important;
    color: #c49920;
  }
}
