<div class="card" style="margin: 0">
  <div
    class="card-header"
    style="
      background-image: linear-gradient(
          to bottom,
          rgb(255 255 255 / 73%) 50%,
          rgb(255 255 255 / 76%) 80%
        ),
        url('assets/img/bg/navbar_bg.webp');
    "
  >
    <div class="row" style="margin: 0; justify-content: start">
      <img
        src="assets/img/logo/logo-extended.webp"
        alt=""
        style="
          width: 150px;
          height: 40.29px;
          margin-top: 5px;
          margin-left: 10px;
          margin-bottom: 5px;
        "
      />

      <!-- <img
        src="assets/img/svg/success-dialog/close-square.svg"
        alt=""
        style="
          width: 30px;
          filter: invert(55%) sepia(75%) saturate(380%) hue-rotate(7deg)
            brightness(106%) contrast(97%);
        "
      /> -->
    </div>
  </div>
  <div
    class="card-body"
    style="
      background-color: #2b333e;
      height: 356px;
      justify-content: center;
      display: flex;
      align-items: center;
    "
  >
    <div class="col" style="display: block">
      <h3
        mat-dialog-title
        style="
          font-size: 20px;
          font-weight: 600;
          color: white;
          margin-bottom: -10px;
          text-align: center;
          margin-top: 0;
        "
      >
        Thank you for Registring with us!.
      </h3>

      <h3
        mat-dialog-title
        style="
          font-size: 15px;
          font-weight: 600;
          color: #a3a3a3;
          text-align: center;
          margin-bottom: 3px;
        "
      >
        we will contact you back regarding your account.
      </h3>
      <h3
        mat-dialog-title
        style="
          font-size: 13px;
          font-weight: 600;
          color: #a3a3a3d6;
          text-align: center;
          margin-top: 0;
        "
      >
        This page will redirect to login page in 3 seconds.
      </h3>
      <span
        class="spinner-border spinner-border-m mr-2"
        style="color: #d4aa32; margin-top: 20px; margin-left: 310px"
      >
      </span>
    </div>
  </div>
</div>
