<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <!-- <div class="card-header"></div> -->
  <div class="card-body" style="padding: 1.5rem 1.5rem">
    <div class="col">
      <div class="row m-0 align-items-start w-100">
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">
          {{getReqSection()}}
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
        />
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">Details</p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt=""
        />
      </div>

      <p class="details-title mt-3">Request Informations</p>
      <div class="row m-0">
        <div class="col-3 pl-0" (mouseleave)="viewUserDetailsMiniTab('leave')">
          <p class="prop-tab">Request Type</p>
          <p class="prop">{{getRequestType()}}</p>
          <p class="prop-tab mt-2">Request ID</p>

          <div
            *ngIf="request_data.request_type == 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
          >
            <p class="prop">{{request_data.property_req_id}}</p>
          </div>
          <div *ngIf="request_data.request_type == 'PAYMENT'">
            <p class="prop">{{request_data.request_id}}</p>
          </div>
          <div
            *ngIf="request_data.request_type != 'PAYMENT' && request_data.request_type != 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
          >
            <p class="prop">{{request_data.request_no}}</p>
          </div>
        </div>
        <div class="col-3 pl-0">
          <p class="prop-tab" (mouseleave)="viewUserDetailsMiniTab('leave')">
            Requested Date
          </p>
          <p (mouseleave)="viewUserDetailsMiniTab('leave')" class="prop">
            {{request_data.issue_date | date : "d/M/yy"}}
          </p>

          <div
            *ngIf="req_section != 'my-reqs' && req_section != 'recent'"
            (mouseleave)="viewUserDetailsMiniTab('leave')"
          >
            <p
              class="prop-tab mt-2"
              (mouseleave)="viewUserDetailsMiniTab('leave')"
            >
              Requested By
            </p>
            <span
              class="user-name"
              (mouseenter)="viewUserDetailsMiniTab('enter')"
            >
              {{request_data.firstname | titlecase}}
            </span>
            <div
              #user_data_mini_tab
              style="
                display: none;
                width: 20rem;
                height: 20rem;
                background: white;
                position: absolute;
                z-index: 100;
                box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.2),
                  0px 1px 2px -2px rgba(0, 0, 0, 0.14),
                  0px 1px 6px 1px rgba(0, 0, 0, 0.12);
                border-radius: 7px;
                padding: 25px 25px;
              "
            >
              <div class="row m-0 justify-content-between">
                <div
                  *ngIf="request_data.profile_photo != ''"
                  style="
                  width: 5rem;
                  height: 5rem;
                  overflow: hidden;
                  background-image: url('{{usrImgPath}}{{request_data.profile_photo}}');
                  background-size: cover;
                  background-position: center;
                  background-repeat: no-repeat;
                  border-radius: 50%;
                "
                ></div>
                <img
                  *ngIf="request_data.profile_photo == ''"
                  src="assets/img/faces/avatar.webp"
                  alt=""
                  style="
                    max-width: 5rem;
                    min-width: 5rem;
                    max-height: 5rem;
                    min-height: 5rem;
                    border-radius: 50%;
                    user-select: none;
                    pointer-events: none;
                  "
                />
                <div [ngClass]="getUserAppState()"></div>
              </div>
              <div class="w-100 text-start">
                <p class="mt-3" style="font-size: 20px; font-weight: 500">
                  {{request_data.firstname | titlecase}} {{request_data.lastname
                  | titlecase}}
                </p>

                <div class="row m-0 mt-4">
                  <img
                    class="mr-2"
                    style="height: 18px"
                    src="assets/img/pngs/email.png"
                    alt=""
                  />
                  <p style="font-size: 15px" class="mb-2">
                    {{request_data.email}}
                  </p>
                </div>
                <div class="row m-0">
                  <img
                    class="mr-2"
                    style="height: 18px"
                    src="assets/img/pngs/mobile-phone.png"
                    alt=""
                  />
                  <p style="font-weight: 400">{{request_data.phone_number}}</p>
                </div>

                <div
                  class="btn user-more-details-btn"
                  (click)="openUserDetails()"
                >
                  More Details
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-3 pl-0" (mouseleave)="viewUserDetailsMiniTab('leave')">
          <p class="prop-tab">Status</p>
          <div
            class="mt-3"
            [ngClass]="getRequestStatus(request_data.status)"
          ></div>
          <div
            *ngIf="request_data.request_type != 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
            class="links mt-4"
            (click)="viewRequestDoc()"
          >
            Request Document
          </div>
        </div>
        <div class="col-1 pl-0" *ngIf="req_section == 'my-reqs'">
          <div class="btn contact-btns" style="min-width: 9rem">
            Send Reminder
          </div>
        </div>
        <div class="col-1 pl-0" *ngIf="req_section != 'my-reqs'">
          <div class="btn contact-btns" style="min-width: 8rem">{{changeStatus()}}</div>
          <div class="btn contact-btns">Report</div>
        </div>
      </div>
      <p
        class="details-title mt-3"
        (mouseleave)="viewUserDetailsMiniTab('leave')"
      >
        Property Informations
      </p>
      <div class="row m-0" (mouseleave)="viewUserDetailsMiniTab('leave')">
        <div class="col-3 pl-0">
          <p class="prop-tab">Name</p>
          <div
            *ngIf="request_data.request_type == 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
          >
            <p class="prop">{{request_data.property_building_name}}</p>
          </div>
          <div
            *ngIf="request_data.request_type != 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
          >
            <p class="prop">{{request_data.property_name}}</p>
          </div>
          <p class="prop-tab mt-1">Address</p>
          <p class="prop">{{request_data.property_address}}</p>
        </div>
        <div class="col-3">
          <p class="prop-tab">Type</p>
          <p class="prop">{{request_data.property_type}}</p>
          <p class="prop-tab mt-1">Community</p>
          <div
            *ngIf="request_data.request_type == 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
          >
            <p class="prop">{{request_data.property_community}}</p>
          </div>
          <div
            *ngIf="request_data.request_type != 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
          >
            <p class="prop">{{request_data.property_community_name}}</p>
          </div>
        </div>
        <div class="col">
          <div class="links mt-2" (click)="viewRelatedDoc()">
            Property Related Documents
          </div>
          <div
            *ngIf="request_data.request_type != 'ADD_PROPERTY_REC_EXIST_LANDLORD'"
            (click)="navigateToPropertyDetailsPage()"
            class="links mt-2"
          >
            Go to Property Details
          </div>
        </div>
      </div>
      <p
        class="details-title mt-3"
        (mouseleave)="viewUserDetailsMiniTab('leave')"
      >
        Request Progress
      </p>
      <div class="row m-0" (mouseleave)="viewUserDetailsMiniTab('leave')">
        <div class="col pl-0 mt-5">
          <request-timeline #req_procs></request-timeline>
        </div>
      </div>
    </div>
  </div>
</div>
