@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  border-radius: 1rem;
}

.card-body {
  height: 45rem;

  .header-arrow-icon {
    filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
      brightness(90%) contrast(83%);
    width: 1rem;
  }

  .close-icon {
    filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%)
      hue-rotate(145deg) brightness(84%) contrast(88%);
    width: 1.5rem;
    right: 0;
    position: absolute;
    width: 1.5rem;
    cursor: pointer;

    transition: 0.3s all ease-in-out;

    &:hover {
      transform: scaleY(1.2) scaleX(1.2);
      filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
        brightness(90%) contrast(83%);
    }
  }

  .prop-tab-card {
    background: #fff4df;
    text-align: center;
    border-radius: 6px;
    color: #c28003;
    border: 1px solid #c2800317;
    height: 20px;

    p {
      margin: 0;
      margin-top: -3px;
      font-size: 11px;
      letter-spacing: 0.6px;
    }
  }

  .prop-tab {
    margin: 0;
    color: #d3ab33;
    font-weight: 500;
  }

  .prop {
    font-size: 14px;
    font-weight: 400;
  }

  .contact-btns {
    background: #3c4858;
    padding: 8px 1rem;
    border-radius: 8px;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.6px;
    min-width: 6rem;
  }

  .details-title {
    color: #3c4858;
    font-size: 1.2rem;
    font-weight: 500;

    &:after {
      content: "";
      position: absolute;
      width: 70%;
      height: 1.5px;
      background: rgb(123 131 142 / 26%);
      right: 0;
      margin-top: 1rem;
      margin-right: 2rem;
    }
  }

  .links {
    text-decoration: underline;
    color: #2b4b76;
    font-size: 14px;
    cursor: pointer;
    transition: 0.1s all ease-in-out;

    &:hover {
      text-decoration: none;
      color: #d3ab33;
    }
  }

  .prop-link {
    width: 0.9rem;
    filter: invert(23%) sepia(8%) saturate(6176%) hue-rotate(181deg)
      brightness(92%) contrast(80%);

    transition: 0.2s all ease-in-out;
    cursor: pointer;
    &:hover {
      transform: scaleY(1.2) scaleX(1.2);
      filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
        brightness(90%) contrast(83%);
    }
  }

  .approved-status::before {
    color: #8ae16b;
    font-weight: 600;
    content: "APPROVED";
    background-color: #e9ffed;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #afed9f87;
  }
  .declined-status::before {
    color: #ff0000;
    font-weight: 600;
    content: "DECLINED";
    background-color: #fff2f5;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #ffb6b8a3;
  }

  .pending-status::before {
    color: #2b333ea6;
    font-weight: 600;
    content: "PENDING";
    background-color: #2b333e0f;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #2b333e2b;
  }

  .review-status::before {
    color: #d4aa32;
    font-weight: 600;
    content: "REVIEW";
    background-color: #fbf8ef;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: 1px solid #d6b14157;
  }
}
