<p style="color: #686868; font-size: 17px; font-weight: 900; margin-top: 20px">
  Documents & Required Information
</p>
<div class="row" style="margin: 0">
  <div class="col" style="padding-left: 0">
    <div class="btn upload-btns" (click)="openDialog('passport')">
      <div class="row" style="margin: 0; justify-content: space-between">
        <p class="upload-btn-title">Passport Front & Back</p>
        <img
          class="upload-btn-icon"
          src="assets/img/svg/landlord-register-form/document-upload.svg"
        />
      </div>
    </div>

    <div class="btn upload-btns" (click)="openDialog('ownership_doc')">
      <div class="row" style="margin: 0; justify-content: space-between">
        <p class="upload-btn-title">Ownership</p>
        <img
          src="assets/img/svg/landlord-register-form/document-upload.svg"
          class="upload-btn-icon"
        />
      </div>
    </div>
  </div>
  <div class="col">
    <div class="btn upload-btns" (click)="openDialog('emirates_id')">
      <div class="row" style="margin: 0; justify-content: space-between">
        <p class="upload-btn-title">Emirates ID Front & Back</p>
        <img
          src="assets/img/svg/landlord-register-form/document-upload.svg"
          class="upload-btn-icon"
        />
      </div>
    </div>

    <div class="btn upload-btns" (click)="openDialog('sales_deed')">
      <div class="row" style="margin: 0; justify-content: space-between">
        <p class="upload-btn-title">Sales deed</p>
        <img
          src="assets/img/svg/landlord-register-form/document-upload.svg"
          class="upload-btn-icon"
        />
      </div>
    </div>
  </div>
</div>
