@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}
.mbtn{
margin: 0;
padding: 7px 15px;
margin-right: 10px; 
background-color: #d4aa32;
border: none; 
color:white;
border-radius: 0.3rem;
}
// .banner-img{
//   height: 50vh;
// }
// .carousel-item{
//   height: 50vh !important;
// }
// .carousel{
//   height: 50vh !important; 
// }
