@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.card-body {
  .back-btn-row {
    margin: 0;
    width: 65px;
    justify-content: space-between;

    img {
      width: 20px;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      cursor: pointer;

      img {
        transform: translateX(-2px);
      }
    }
  }

  .doc-view-link {
    margin-bottom: 0;
    margin-bottom: 0;
    font-size: 12px;
    color: #a3a3a3;
    max-width: 35px;

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
