<div class="main-content reports-bg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card card-payment">
          <div class="card-header card-payment-head">
            <div class="row">
              <img
                class="home-card-icon-main"
                src="assets/img/svg/payment/wallet-2.svg"
                style="
                  filter: brightness(0) invert(1);
                  margin-left: 15px;
                  width: 22px;
                  margin-top: -5px;
                "
              />
              <h4
                class="card-title mt-0 tableList-title"
                style="padding-left: 20px"
              >
                Make a Payment
              </h4>
            </div>
          </div>

          <div class="new-payment-wrapper">
            <mat-horizontal-stepper
              #stepper
              [selectedIndex]="selectedIndex"
              labelPosition="bottom"
              linear="true"
            >
              <mat-step label="Introduction" [stepControl]="oneForm">
                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>
                <div class="upper-box text-right">
                  <button
                    mat-raised-button
                    type="submit"
                    class="btn-next"
                    matStepperNext
                    (click)="stateDone()"
                  >
                    Next
                  </button>
                </div>
                <stepper-one #one></stepper-one>
              </mat-step>
              <mat-step label="Request Details Page 1" [stepControl]="twoForm">
                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>
                <stepper-two #two></stepper-two>
              </mat-step>
              <mat-step
                label="Request Details Page 2"
                [stepControl]="threeForm"
              >
                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>
                <stepper-three #three></stepper-three>
              </mat-step>
              <mat-step label="Attactments" [stepControl]="fourForm">
                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>
                <stepper-four #four></stepper-four>
              </mat-step>
              <mat-step label="Preview and Submit" [stepControl]="fiveForm">
                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>
                <stepper-five #five></stepper-five>
              </mat-step>
              <mat-step label="Comfirmation" [stepControl]="sixForm">
                <ng-template matStepperIcon="edit">
                  <mat-icon>done</mat-icon>
                </ng-template>
                <stepper-six #six></stepper-six>
              </mat-step>
            </mat-horizontal-stepper>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
