@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

::ng-deep .mat-progress-bar-fill::after {
  background-color: #ffffff !important;
}

::ng-deep .mat-progress-bar-buffer {
  background: #959090 !important;
}

::ng-deep .mat-progress-bar {
  border-radius: 5px !important;
  height: 7px !important;
}

.view-request-link {
  color: white;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: #d4aa32;
    text-decoration: none;
  }
}

.more-btn-request-Overview {
  cursor: pointer;
  margin: 0;

  p {
    margin: 0;
    margin-right: 10px;
    font-size: 17px;
    font-weight: 900;
  }

  img {
    width: 15px;
    transition: 0.3s ease-out;
  }

  &:hover {
    img {
      transform: translateX(3px);
    }
  }
}

.dashboard-sm-card {
  transition: 0.3s ease-out;
  cursor: pointer;
  &:hover {
    transform: scaleY(1.001) scaleX(1.001);
    box-shadow: -1px 2px 26px -9px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: -1px 2px 26px -9px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -1px 2px 26px -9px rgba(0, 0, 0, 0.74);
  }
}
