<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content home-bg" *ngIf="screenWidth > 430">
  <div class="container-fluid" style="max-width: 2576px">
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div class="col p-0" *ngIf="isLoading == false">
      <div class="row m-0">
        <div class="col pl-0">
          <div class="row m-0">
            <div class="col pl-0" *ngFor="let card of dashboardMainCards">
              <div
                class="col small-cards"
                [ngStyle]="{'padding' : card.title == 'Total Units' ?  '25px 20px 10px' : '25px 20px '}"
              >
                <div class="row m-0">
                  <img src="{{card.icon}}" alt="" style="height: 4rem" />
                  <div class="col">
                    <p
                      class="m-0"
                      style="
                        font-size: 17px;
                        font-weight: 600;
                        color: #2b333ec4;
                      "
                    >
                      {{card.title}}
                    </p>
                    <p
                      class="m-0 mt-3"
                      style="
                        font-size: 2.5rem;
                        font-weight: 600;
                        color: #6384af;
                      "
                    >
                      {{getStatsCount(card.title)}}
                    </p>
                  </div>
                </div>
                <div
                  class="row m-0 mt-4 justify-content-end align-items-end"
                  *ngIf="card.title == 'Total Units'"
                  style="min-height: 35px"
                >
                  <span
                    style="font-size: 13px; font-weight: 600; color: #3564a2"
                    >Vacant : {{allUnits_vacant_length}}</span
                  >
                  <span
                    style="font-size: 13px; font-weight: 600; color: #3564a2"
                    class="ml-3"
                    >Occupied : {{allUnits_occupied_length}}</span
                  >
                </div>
              </div>
            </div>
          </div>

          <div class="row m-0 mt-3">
            <div
              class="col pl-0"
              *ngFor="let card of dashboardMainCardsPartTwo"
            >
              <div class="row m-0 small-cards">
                <img src="{{card.icon}}" alt="" style="height: 4rem" />
                <div class="col">
                  <p
                    class="m-0"
                    style="font-size: 17px; font-weight: 600; color: #2b333ec4"
                  >
                    {{card.title}}
                  </p>
                  <p
                    class="m-0 mt-3"
                    style="font-size: 2.5rem; font-weight: 600; color: #6384af"
                  >
                    {{getStatsCount(card.title)}}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!------------------------------------------------------------------ Area Chart -------------------------------------------->
          <!------------------------------------------------------------------ Area Chart -------------------------------------------->
          <!------------------------------------------------------------------ Area Chart -------------------------------------------->
          <div class="col pl-0">
            <div
              class="card mt-3"
              style="
                margin: 0;
                box-shadow: none;
                border: 1px solid #e6ebf1;
                background: white;
              "
            >
              <div class="card-header" style="border-bottom: 1px solid #e6ebf1">
                <div class="row m-0 justify-content-between">
                  <span style="font-weight: 600">Upcoming Contracts</span>
                  <span style="font-weight: 600; color: #d4aa32"
                    >Total Reminders : 10</span
                  >
                </div>
              </div>

              <div class="card-body">
                <div
                  *ngIf="total_contracts_reminders_loading"
                  class="d-flex w-100 justify-content-center align-items-center"
                  style="height: 150px"
                >
                  <span
                    class="spinner-border spinner-border-m mr-2"
                    style="color: #d4aa32"
                  >
                  </span>
                </div>

                <div
                  *ngIf="!total_contracts_reminders_loading && reminders_length == 0"
                  class="d-flex w-100 justify-content-center align-items-center"
                  style="height: 80px"
                >
                  <span
                    style="font-size: 20px; font-weight: 500; color: #537096"
                    >No Reminders :-)</span
                  >
                </div>
                <div
                  *ngIf="!total_contracts_reminders_loading && reminders_length != 0"
                >
                  <div
                    *ngFor="let contract of contracts_reminders;let index = index"
                    class="row m-0 mb-2 justify-content-between"
                    style="
                      padding: 8px 15px;
                      background: #537096;
                      border-radius: 5px;
                      color: white;
                    "
                  >
                    <div class="row m-0">
                      <img
                        class="mx-2"
                        src="assets/img/svg/sidebar/lease.svg"
                        alt=""
                        style="width: 30px; filter: invert(1)"
                      />
                      <div class="col">
                        <p
                          [routerLink]="['/admin-lease-details']"
                          [queryParams]="{contact_id : contract.contract_id }"
                          class="mb-1 contract-reminder-id"
                        >
                          #{{contract.contract_id}}
                        </p>
                        <p
                          class="mb-1"
                          [ngClass]="getLeaseExpiryStyleClass(contract.contract_end)"
                        >
                          {{getContractsEndsInPeriod(contract.contract_end) < 0
                          ? 'This Contract has been Expired for ' +
                          getContractsExpiredPeriod(contract.contract_end) + '
                          days.' : 'This contract will end within ' +
                          getContractsEndsInPeriod(contract.contract_end) + '
                          days.'}}
                        </p>
                      </div>
                    </div>

                    <div class="row m-0 align-items-center">
                      <p
                        class="m-0 mr-3"
                        *ngIf="getReminderSendedTime(contract) != 'loading..'"
                        style="font-size: 12px; font-weight: 500"
                      >
                        {{getReminderSendedTime(contract)}}
                      </p>
                      <div
                        *ngIf="getReminderSendedTime(contract) == 'loading..'"
                        (click)="sendContractReminder(contract)"
                        class="btn"
                        style="padding: 5px 10px; background: #d4aa32"
                      >
                        Send Reminder
                      </div>
                      <div
                        *ngIf="getReminderSendedTime(contract) != 'loading..'"
                        class="btn"
                        style="
                          padding: 5px 10px;
                          background: #a9a9a9;
                          cursor: default;
                        "
                      >
                        Send Reminder
                      </div>
                      <div
                        class="btn ml-2"
                        style="padding: 5px 10px; background: #ff5353"
                      >
                        Ignore
                      </div>
                    </div>
                  </div>
                </div>

                <mat-paginator
                  #paginator_reminder
                  (page)="onPaginateChange($event)"
                  [length]="reminders_length"
                  [pageSize]="3"
                  [pageSizeOptions]="[3, 5]"
                  aria-label="Select page"
                >
                </mat-paginator>

                <div class="row m-0 w-100 mt-1 justify-content-end">
                  <div
                    class="btn"
                    style="padding: 5px 15px; background: #313a46"
                  >
                    Clear All
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col pl-0">
            <div
              class="card mt-3"
              style="
                margin: 0;
                box-shadow: none;
                border: 1px solid #e6ebf1;
                background: white;
              "
            >
              <div class="card-header" style="border-bottom: 1px solid #e6ebf1">
                <span style="font-weight: 600">Contracts Status By Month</span>
              </div>

              <div class="card-body">
                <kendo-chart>
                  <kendo-chart-title
                    text="2023 (January - July)"
                  ></kendo-chart-title>
                  <kendo-chart-area
                    background="transparent"
                    [height]="screenHeight / 3"
                  >
                    <kendo-chart-category-axis>
                      <kendo-chart-category-axis-item
                        [categories]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul']"
                      >
                      </kendo-chart-category-axis-item>
                    </kendo-chart-category-axis>

                    <kendo-chart-series-defaults
                      [highlight]="{ inactiveOpacity: 0.3 }"
                    >
                    </kendo-chart-series-defaults>

                    <kendo-chart-series>
                      <kendo-chart-series-item
                        type="area"
                        [data]="[123, 276, 310, 212, 240, 156, 98, ]"
                        color="#3db9ac"
                      >
                      </kendo-chart-series-item>
                      <kendo-chart-series-item
                        type="area"
                        [data]="[165, 210, 287, 144, 190, 167, 212]"
                        color="#feda6a"
                      >
                      </kendo-chart-series-item>
                      <kendo-chart-series-item
                        type="area"
                        [data]="[56, 140, 195, 46, 123, 78, 95]"
                        color="#93cf3c"
                      >
                      </kendo-chart-series-item>
                      <kendo-chart-series-item
                        type="area"
                        [data]="[30, 120, 43, 20, 100, 60, 152]"
                        color="#fe8178"
                      >
                      </kendo-chart-series-item>
                    </kendo-chart-series>
                  </kendo-chart-area>
                </kendo-chart>
                <div
                  class="row m-0 mt-3 align-items-center justify-content-center"
                >
                  <span
                    style="width: 50px; background: #3db9ac; height: 15px"
                  ></span>
                  <span class="ml-2" style="font-weight: 500">No Action</span>
                  <span
                    class="ml-4"
                    style="width: 50px; background: #feda6a; height: 15px"
                  ></span>
                  <span class="ml-2" style="font-weight: 500">Contracted</span>
                  <span
                    class="ml-4"
                    style="width: 50px; background: #93cf3c; height: 15px"
                  ></span>
                  <span class="ml-2" style="font-weight: 500">Renewing</span>
                  <span
                    class="ml-4"
                    style="width: 50px; background: #fe8178; height: 15px"
                  ></span>
                  <span class="ml-2" style="font-weight: 500"
                    >Not Renewing</span
                  >
                </div>
              </div>
            </div>
          </div>

          <!------------------------------------------------------------------ Area Chart ends-------------------------------------------->
          <!------------------------------------------------------------------ Area Chart ends-------------------------------------------->
          <!------------------------------------------------------------------ Area Chart ends-------------------------------------------->
        </div>
        <div class="col-4 pl-0 pr-0">
          <div
            class="card"
            style="
              margin: 0;
              box-shadow: none;
              border: 1px solid #e6ebf1;
              background: white;
            "
          >
            <div class="card-header" style="border-bottom: 1px solid #e6ebf1">
              <div class="row m-0 justify-content-between">
                <span style="font-weight: 600">Unit Stats</span>
                <span style="font-weight: 600; color: #d4aa32"
                  >Total Units : {{allUnits_length}}</span
                >
              </div>
            </div>
            <div class="card-body" #card_body>
              <div
                *ngIf="donut_chart_loading"
                class="d-flex w-100 justify-content-center align-items-center"
                style="height: 420px"
              >
                <span
                  class="spinner-border spinner-border-m mr-2"
                  style="color: #d4aa32"
                >
                </span>
              </div>
              <!------------------------------------------------------------------ Donut Chart -------------------------------------------->
              <!------------------------------------------------------------------ Donut Chart -------------------------------------------->
              <!------------------------------------------------------------------ Donut Chart -------------------------------------------->
              <kendo-chart
                *ngIf="!donut_chart_loading"
                (render)="onRender($event)"
                style="height: 330px; display: flex; width: 100%"
              >
                <kendo-chart-area
                  background="transparent"
                  [height]="screenHeight / 2.5"
                  [width]="card_body.offsetWidth - 40"
                >
                  <kendo-chart-series>
                    <kendo-chart-series-item
                      type="donut"
                      [data]="chart_data"
                      categoryField="kind"
                      field="share"
                      [visual]="visualHandler"
                      [holeSize]="80"
                    >
                      <kendo-chart-series-item-labels
                        [content]="labelContent"
                        color="#fff"
                        background="none"
                      >
                      </kendo-chart-series-item-labels>
                    </kendo-chart-series-item>
                  </kendo-chart-series>
                  <kendo-chart-legend [visible]="false"></kendo-chart-legend>
                </kendo-chart-area>
              </kendo-chart>

              <!------------------------------------------------------------------ Donut Chart ends-------------------------------------------->
              <!------------------------------------------------------------------ Donut Chart ends-------------------------------------------->
              <!------------------------------------------------------------------ Donut Chart ends-------------------------------------------->

              <div class="row m-0 justify-content-center align-items-center">
                <span
                  style="background: #fac83a; width: 40px; height: 15px"
                  class="mr-3"
                ></span>
                <span style="font-size: 12px; font-weight: 600"
                  >{{getRoundData((this.allUnits_occupied_length /
                  this.allUnits_length) * 100)}}% Units Occupied</span
                >
              </div>
              <div
                class="row m-0 mt-1 justify-content-center align-items-center"
              >
                <span
                  style="background: #ff5353; width: 40px; height: 15px"
                  class="mr-3"
                ></span>
                <span style="font-size: 12px; font-weight: 600"
                  >{{getRoundData((this.allUnits_vacant_length /
                  this.allUnits_length) * 100)}}% Units Vacant</span
                >
              </div>
            </div>
          </div>

          <div
            class="card mt-3"
            style="
              margin: 0;
              box-shadow: none;
              border: 1px solid #e6ebf1;
              background: white;
            "
          >
            <div class="card-header" style="border-bottom: 1px solid #e6ebf1">
              <span style="font-weight: 600">Revenue generated per year</span>
            </div>
            <div class="card-body" #card_body>
              <kendo-chart>
                <kendo-chart-area
                  background="transparent"
                  [height]="screenHeight / 2.7"
                  [width]="card_body.offsetWidth - 40"
                >
                  <kendo-chart-title text="Past 4 Years"></kendo-chart-title>
                  <kendo-chart-category-axis>
                    <kendo-chart-category-axis-item
                      [categories]="['2020', '2021', '2022', '2023']"
                    >
                    </kendo-chart-category-axis-item>
                  </kendo-chart-category-axis>
                  <kendo-chart-series>
                    <kendo-chart-series-item
                      type="column"
                      [gap]="2"
                      [spacing]=".25"
                      [data]="[100, 123, 234, 343]"
                      color="#3f92ff"
                    >
                    </kendo-chart-series-item>
                    <kendo-chart-series-item
                      [data]="[120, 67, 231, 196]"
                      color="#fe947b"
                    >
                    </kendo-chart-series-item>
                  </kendo-chart-series>
                </kendo-chart-area>
              </kendo-chart>
              <div
                class="row m-0 mt-3 align-items-center justify-content-center"
              >
                <span
                  style="width: 40px; background: #3f92ff; height: 15px"
                ></span>
                <span class="ml-2" style="font-weight: 500">Recieved</span>
                <span
                  class="ml-4"
                  style="width: 40px; background: #fe947b; height: 15px"
                ></span>
                <span class="ml-2" style="font-weight: 500">Pending</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
