@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  border-radius: 1rem;
}

.category-dialog {
  width: 40rem;
  

  .header-arrow-icon {
    filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
      brightness(90%) contrast(83%);
    width: 1rem;
  }

  .close-icon {
    filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%)
      hue-rotate(145deg) brightness(84%) contrast(88%);
    width: 1.5rem;
    right: 0;
    position: absolute;
    width: 1.5rem;
    z-index: 100;
    top: 0;
    cursor: pointer;

    transition: 0.3s all ease-in-out;

    &:hover {
      transform: scaleY(1.2) scaleX(1.2);
      filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
        brightness(90%) contrast(83%);
    }
  }
}
