<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane" class="category-dialog">
  <!-- <div class="card-header"></div> -->
  <div class="card-header position-relative">
    <!-- <button (click)="onCloseDialog()" class="close-btn" title="close btn">X</button> -->
    <h4 class="text-center">Add Category</h4>
    <img
      matTooltip="Close"
      matTooltipClass="tooltip"
      matTooltipPosition="above"
      (click)="onCloseDialog()"
      class="mr-2 mt-1 close-icon"
      src="assets/img/svg/req-details/close-circle.svg"
      alt />
  </div>
  
  <div class="card-body position-relative" style="padding: 1.5rem 1.5rem">

    

  </div>
</div>
