<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title" *ngIf="events.length === 0">Add Event</h1>
        <h1 id="modal-title" *ngIf="events.length !== 0">Events</h1>
    </header>
    <h3 class="date-string">{{date}}</h3>
    <div class="modal-date-content" *ngIf="events.length !== 0">
        <span class="today-events-span">Today Events :</span>

        <ul *ngFor="let e of events" class="today-event-ind">
            <li><b>{{e["title"]}}</b> at {{e["start"] | date: 'h:mm a'}}</li>
        </ul>

    </div>
    <div class="modal-date-content">
        <span class="today-events-span">Add Event :</span>
        <mat-form-field appearance="fill" [hideRequiredMarker]=false [floatLabel]="">
            <input matInput placeholder="Name of event" [(ngModel)]='newEvent'>
        </mat-form-field>
        
        <tr>
            <td><input type="time"  [(ngModel)]="time" class="time-input"></td>
            <td class="time-input-text">Select Time</td>
        </tr>
        <div *ngIf="noEventName == true" class="event-name-warning">
            Please enter event name.
        </div>
        
    </div>



    <footer id="modal-footer">
        <button mat-raised-button id="modal-addEvent-button" (click)="addEvent()" >Add Event</button>
        <button mat-raised-button id="modal-close-button" (click)="closeModal()">Close</button>
    </footer>
</div>