<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content reports-bg" *ngIf="screenWidth > 430">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <!-- <span
      *ngIf="isLoading == true"
      class="spinner-border spinner-border-m mr-2"
      style="color: #d4aa32; margin-top: 365px"
    >
    </span> -->
    <!-- <div class="card" style="border-radius: 8px">
      <div
        class="card-header"
        style="
          background-color: #2b333e;
          color: white;
          border-top-right-radius: 8px;
          border-top-left-radius: 8px;
        "
      >
        <p
          style="
            font-size: 23px;
            font-weight: 500;
            margin-left: 10px;
            margin-top: 15px;
          "
        >
          My Tenants
        </p>
      </div>
      <div
        class="card-body"
        style="
          background-color: #ffffff;
          color: #404040;
          padding: 30px;
          border-bottom-right-radius: 8px;
          border-bottom-left-radius: 8px;
        "
      >
        <div class="row" style="margin: 0; justify-content: space-between">
          <div class="row" style="margin: 0; width: 100%; justify-content: end">
            <input
              type="text"
              placeholder="Search"
              [(ngModel)]="searchString"
              style="
                max-height: 35px;
                padding-left: 10px;
                min-width: 300px;
                border-radius: 7px;
                border: 1px solid #a3a3a39e;
              "
            />
            <div
              class="btn"
              style="
                margin: 0;
                margin-left: 20px;
                padding: 9px 36px;
                max-height: 35px;
                background-color: #d3ab33;
              "
            >
              Search
            </div>
          </div>
        </div>
        <p
          *ngIf="isUserSearchedEmpty == true"
          style="
            text-align: end;
            font-size: 13px;
            color: #ff0000e6;
            margin-top: 10px;
            margin-right: 10px;
          "
        >
          No words found in searchbar.
        </p> -->

    <div class="col" style="padding: 0">
      <div class="row m-0 align-items-end mb-3">
        <p class="m-0 ml-4 mt-5" style="font-size: 2rem; font-weight: 600">
          My Tenants
        </p>
        <img
          (click)="refreshTable()"
          matTooltip="Refresh table"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          class="refresh-table-btn ml-3"
          src="assets/img/svg/home-page/refresh-2.svg"
          alt=""
          Tenants
        />
      </div>
      <table
        *ngIf="isContentLoading == true"
        mat-table
        [dataSource]="loadingTable"
        class="mat-elevation-z8 demo-table"
      >
        <ng-container matColumnDef="tenant">
          <th mat-header-cell *matHeaderCellDef>TENANT</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'first-col-last' : 'first-col'"
          >
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef>EMAIL</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'first-col-last' : 'first-col'"
          >
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'second-col-last' : 'second-col'"
          >
            <div style="max-width: 250px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '250px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="phone-no">
          <th mat-header-cell *matHeaderCellDef>PHONE NO.</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'third-col-last' : 'third-col'"
          >
            <div style="max-width: 150px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '150px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="nationality">
          <th mat-header-cell *matHeaderCellDef>NATIONALITY</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'third-col-last' : 'third-col'"
          >
            <div style="max-width: 150px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '150px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="more">
          <th mat-header-cell *matHeaderCellDef>MORE</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
          >
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!------------------------------------ My Tenants ----------------------------------------------------->
      <!------------------------------------ My Tenants ----------------------------------------------------->
      <!------------------------------------ My Tenants ----------------------------------------------------->
      <div *ngIf="isContentLoading == false">
        <div
          *ngIf="isUserSearchedRequests == false"
          style="overflow: auto; padding: 0 5px; padding-bottom: 1rem"
        >
          <table
            mat-table
            [dataSource]="allTenantsMatTableData"
            class="mat-elevation-z8 demo-table"
            *ngIf="allTenants.length != 0"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="tenant">
              <th mat-header-cell *matHeaderCellDef>TENANT</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'first-col-last' : 'first-col'"
              >
                <div class="row m-0 tenant-details">
                  <div
                    *ngIf="element.profile_photo != ''"
                    style="
                              width: 3.5rem;
                              height: 3.5rem;
                              overflow: hidden;
                              background-image: url('{{usrImgPath}}{{element.profile_photo}}');
                              background-size: cover;
                              background-position: center;
                              background-repeat: no-repeat;
                              border-radius: 50%;
                              margin: 0.7rem 0;
                              "
                  ></div>
                  <img
                    *ngIf="element.profile_photo == ''"
                    src="assets/img/faces/avatar.webp"
                    alt=""
                    style="
                      max-width: 100px;
                      min-width: 100px;
                      max-height: 100px;
                      min-height: 100px;
                      border-radius: 9px;
                      user-select: none;
                      pointer-events: none;
                    "
                  />
                  <div class="col my-auto">
                    <p class="m-0" style="font-size: 15px; font-weight: 700">
                      {{element.firstname | titlecase}}
                    </p>
                    <p
                      class="m-0"
                      style="
                        color: #6d6d6d;
                        font-weight: 400;
                        font-size: 12px;
                        margin-top: -4px !important;
                      "
                    >
                      {{element.user_id}}
                    </p>
                  </div>
                </div>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef>EMAIL</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'first-col-last' : 'first-col'"
              >
                {{ element.email }}
              </td>
            </ng-container>

            <ng-container matColumnDef="address">
              <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'second-col-last' : 'second-col'"
              >
                {{ element.address }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="phone-no">
              <th mat-header-cell *matHeaderCellDef>PHONE NO.</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'third-col-last' : 'third-col'"
              >
                {{ element.phone_number }}
              </td>
            </ng-container>
            <ng-container matColumnDef="nationality">
              <th mat-header-cell *matHeaderCellDef>NATIONALITY</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'third-col-last' : 'third-col'"
              >
                {{ element.nationality }}
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
              >
                <div class="row">
                  <div
                    (click)="viewDoc(element)"
                    class="btn"
                    style="
                      height: 40px;
                      padding: 11px 20px;
                      border-radius: 7px;
                      background-color: #d4aa32;
                      width: 90px;
                    "
                  >
                    More
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
        <div style="margin-top: 25px" class="table-paginator">
          <mat-paginator
            #paginator
            [pageSizeOptions]="[6, 8, 10, 14, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
