<div class="col" [ngClass]="dropDownBtnStyles()">
  <div
    class="row m-0 dropDownBtnRow"
    style="width: 172px"
    (click)="dropDownBtnClick()"
  >
    <img src="assets/img/svg/sidebar/request-send.svg" alt="" />
    <p style="font-size: 12px !important; font-weight: 500 !important">Tenant Requests</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    [ngClass]="requestActiveCheck('/maintenance-requests')"
    (click)="navigateToRequests('maintenance')"
  >
    <img src="assets/img/svg/sidebar/maintenance_icon.svg" alt="" />
    <p>Maintenance</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    [ngClass]="requestActiveCheck('/tenant-move-in-requests')"
    (click)="navigateToRequests('tenant-move-in')"
  >
    <img src="assets/img/svg/sidebar/User-admin-01.svg" alt="" />
    <p>Tenant Move-in</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    [ngClass]="requestActiveCheck('/tenant-move-out-requests')"
    (click)="navigateToRequests('tenant-move-out')"
  >
    <img src="assets/img/svg/sidebar/User-delete-02.svg" alt="" />
    <p>Tenant Move-out</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    [ngClass]="requestActiveCheck('/payment-requests')"
    (click)="navigateToRequests('payment')"
  >
    <img src="assets/img/svg/sidebar/empty-wallet.svg" alt="" />
    <p>Payment requests</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    [ngClass]="requestActiveCheck('/conditioning-requests')"
    (click)="navigateToRequests('conditioning')"
  >
    <img src="assets/img/svg/sidebar/property-conditioning.svg" alt="" />
    <p>Conditioning</p>
  </div>
</div>
