@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.prop {
  font-size: 15px;
  font-weight: 600;
  color: #d4aa32;
  margin-bottom: 3px;
}
.prop-data {
  font-size: 16px;
  color: #808080b8;
  font-weight: 600;
}

.doc-btns {
  padding: 8px 10px;
  background: white;
  color: inherit;
  border: 1px solid #8080807a;
  transition: 0.2s all ease-in-out;

  &:hover {
    background: #2b333e;
    color: white;
    border: 1px solid #2b333e;
  }
}

.back-btn-icon {
  width: 2rem;
  transition: all 0.3s ease-in-out;
  &:hover {
    cursor: pointer;
    transform: translateX(-2px);
  }
}

.close-icon {
  filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%)
    hue-rotate(145deg) brightness(84%) contrast(88%);
  width: 1.2rem;
  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scaleY(1.2) scaleX(1.2);
    filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
      brightness(90%) contrast(83%);
  }
}

.doc-btns-decline {
  padding: 8px 10px;
  background: white;
  color: inherit;
  border: 1px solid #8080807a;
  transition: 0.2s all ease-in-out;

  &:hover {
    background: #f04545;
    color: white;
    border: 1px solid #f04545;
  }
}

.links {
  text-decoration: underline;
  color: #2b4b76;
  font-size: 14px;
  cursor: pointer;
  transition: 0.1s all ease-in-out;

  &:hover {
    text-decoration: none;
    color: #d3ab33;
  }
}

.details-title {
  font-size: 22px;
  font-weight: 600;
  color: #2b333eb8;
  &:after {
    content: "";
    position: absolute;
    width: 75%;
    height: 1.5px;
    background: rgb(123 131 142 / 26%);
    right: 0;
    margin-top: 1rem;
    margin-right: 2rem;
  }
}

.approved-status::before {
  color: #8ae16b;
  font-weight: 600;
  content: "APPROVED";
  background-color: #e9ffed;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #afed9f87;
}
.declined-status::before {
  color: #ff0000;
  font-weight: 600;
  content: "DECLINED";
  background-color: #fff2f5;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #ffb6b8a3;
}

.pending-status::before {
  color: #2b333ea6;
  font-weight: 600;
  content: "PENDING";
  background-color: #2b333e0f;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #2b333e2b;
}

.review-status::before {
  color: #d4aa32;
  font-weight: 600;
  content: "REVIEW";
  background-color: #fbf8ef;
  padding: 5px 15px;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid #d6b14157;
}
