<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div
  class="main-content reports-bg"
  *ngIf="screenWidth > 430"
  style="padding: 20px 15px"
>
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div class="col" style="padding: 0">
      <div class="row m-0 w-100 align-items-center justify-content-between">
        <div class="row m-0 align-items-center">
          <p class="m-0 ml-4" style="font-size: 2rem; font-weight: 600">
            Announcements
          </p>
          <img
            (click)="refreshTable()"
            matTooltip="Refresh table"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="refresh-table-btn ml-3"
            src="assets/img/svg/home-page/refresh-2.svg"
            alt=""
          />
        </div>
        <div class="row m-0 align-items-center">
          <searchbar-table
            (myEvent)="searchAnnouncements($event)"
          ></searchbar-table>
          <div
            class="btn"
            style="
              margin: 0;
              padding: 7px 10px;
              margin-right: 10px;
              background: #d4aa32;
            "
            (click)="addAnnouncements()"
          >
            <div
              class="row m-0 align-items-center"
              style="width: 170px; justify-content: space-between"
            >
              <img
                src="assets/img/svg/add-square.svg"
                alt=""
                style="width: 15px; filter: brightness(0) invert(1)"
              />
              <p class="m-0">Add Announcement</p>
            </div>
          </div>
        </div>
      </div>

      <loading-table-announcement
        *ngIf="isContentLoading == true"
      ></loading-table-announcement>

      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <div *ngIf="isContentLoading == false">
        <div style="overflow: auto; padding: 0 5px; padding-bottom: 1rem">
          <div
            *ngIf="pageChangerLoading"
            style="
              position: absolute;
              width: 100%;
              height: 50rem;
              background: #ffffffba;
              text-align: center;
            "
          >
            <span
              class="spinner-border spinner-border-m mr-2"
              style="color: #d4aa32; margin-top: 15rem"
            >
            </span>
          </div>
          <table
            mat-table
            [dataSource]="allAnnouncementMatTableData"
            class="mat-elevation-z8 demo-table"
            *ngIf="allAnnouncement.length != 0"
          >
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td
                mat-cell
                *matCellDef="let element"
                matTooltip="{{element.announcement_id}}"
                matTooltipClass="tooltip"
                matTooltipPosition="above"
                style="
                  max-width: 50px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                  font-weight: 500;
                "
                (click)="openAnnouncementDetails(element)"
              >
                {{element.announcement_id}}
              </td>
            </ng-container>
            <!-- Weight Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="openAnnouncementDetails(element)"
              >
                {{element.title | titlecase}}
              </td>
            </ng-container>

            <ng-container matColumnDef="building">
              <th mat-header-cell *matHeaderCellDef>Building Name</th>
              <td mat-cell *matCellDef="let element">
                <span
                  style="font-weight: 600"
                  class="prop_name"
                  (click)="navigateToPropertyDetailsPage(element.property_id)"
                  >{{element.property_name | titlecase}}</span
                >
              </td>
            </ng-container>

            <ng-container matColumnDef="emergency">
              <th mat-header-cell *matHeaderCellDef>Emergency</th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="openAnnouncementDetails(element)"
              >
                <span
                  [ngClass]=" element.emergency == '0' ? 'not-emergency' : 'emergency'"
                  >{{element.emergency == '1' ? 'Emergency' : 'Not
                  Emergency'}}</span
                >
              </td>
            </ng-container>
            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Issued Date</th>
              <td
                mat-cell
                *matCellDef="let element"
                (click)="openAnnouncementDetails(element)"
                style="color: #a3a3a3; font-weight: 600"
              >
                {{element.date | date:'M/d/y'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last;let index = index"
              >
                <img
                  [matMenuTriggerFor]="menu"
                  matTooltip="More Actions"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  src="assets/img/svg/home-page/more.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
                      saturate(14%) hue-rotate(333deg) brightness(91%)
                      contrast(77%);
                    width: 20px;
                    cursor: pointer;
                  "
                />

                <mat-menu #menu="matMenu" class="more-menu">
                  <button
                    mat-menu-item
                    (click)="openEditProperty(element,index)"
                  >
                    <div class="row m-0 justify-content-between">
                      <span style="color: #c89914">Edit</span>
                      <img
                        src="assets/img/svg/property-page/edit.svg"
                        alt
                        style="
                          filter: invert(68%) sepia(13%) saturate(2701%)
                            hue-rotate(5deg) brightness(110%) contrast(66%);
                        "
                      />
                    </div>
                  </button>
                  <button
                    class="mat-mdc-menu-item-details"
                    mat-menu-item
                    *ngIf="element.created_user_id != ''"
                    (click)="viewCreatedDetails(element)"
                  >
                    <div class="row m-0 justify-content-between">
                      <span style="color: #c89914">Details</span>
                      <img
                        src="assets/img/svg/info-circle.svg"
                        alt
                        style="
                          filter: invert(68%) sepia(13%) saturate(2701%)
                            hue-rotate(5deg) brightness(110%) contrast(66%);
                        "
                      />
                    </div>
                  </button>
                  <button
                    mat-menu-item
                    (click)="deleteAnnouncement(element.announcement_id, index)"
                  >
                    <div class="row m-0 justify-content-between">
                      <span style="color: red">Delete</span>
                      <img
                        src="assets/img/svg/delete.svg"
                        alt
                        style="
                          filter: invert(56%) sepia(71%) saturate(3838%)
                            hue-rotate(328deg) brightness(97%) contrast(90%);
                        "
                      />
                    </div>
                  </button>
                </mat-menu>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              style="cursor: pointer"
            ></tr>
          </table>
          <div
            *ngIf="allAnnouncementMatTableData.filteredData.length == 0 && allAnnouncement.length != 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: 0;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1250px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              NO RESULTS :(
            </p>
          </div>
          <table
            *ngIf="allAnnouncement.length == 0"
            mat-table
            [dataSource]="loadingTable"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef>Id</th>
            </ng-container>

            <ng-container matColumnDef="emergency">
              <th mat-header-cell *matHeaderCellDef>Emergency</th>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="building">
              <th mat-header-cell *matHeaderCellDef>Building Name</th>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef>Title</th>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef>Issued Date</th>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            *ngIf="allAnnouncement.length == 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: 0rem;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1250px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              No Announcements!
            </p>
            <p
              class="pl-3"
              style="font-size: 1.3rem; font-weight: 500; color: #d3ab33"
            >
              (－_－) zzZ
            </p>
          </div>
        </div>
        <div style="margin-top: 25px" class="table-paginator">
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[6, 8, 10, 14, 20]"
            [length]="tableLength"
            (page)="pageChange($event)"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
