<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane">

  <div class="card-body">
    <div class="col mb-3">
      <div class="row m-0 align-items-start w-100 top-bar">
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">Requests</p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt />
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">
          Maintenance Requests Category
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt />
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">
          Add Ctegory
        </p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt />
      </div>

      <div class="row mx-0 mt-0 mb-1 align-items-start w-100">
        <p class="details-title my-4">
          Add category
        </p>
      </div>

      <div class="row mb-5">
        <div class="col-12">
          <mat-form-field class="textField w-100" appearance="outline">
            <mat-select
              matInput
              (click)="resetMatSelect()"
              [(ngModel)]="unit_id"
              (selectionChange)="selectunit($event)"
              placeholder="Select Building" class="textField">

              <mat-option
                class="textfield-options-category"
                *ngFor="let prop of unitsFilter;let first = first;"
                [value]="prop.value">
                <div
                  *ngIf="first"
                  class="row m-0 align-items-center input-search"
                  style="position: relative; display: flex; align-items: center;">
                  <input
                    style="position: relative; z-index: 10000; width: 100%;"
                    [(ngModel)]="searchTextValue"
                    placeholder="Search Unit Type"
                    #inputBox
                    type="text"
                    (click)="focusOnInput($event)"
                    (keyup)="searchBuilding(inputBox.value,$event)" />
                  <img
                    class="search-icon mr-1"
                    style="position: absolute;right: 10px;z-index: 10000;"
                    src="assets/img/svg/searchbar/search-normal-1.svg"
                    alt />
                </div>

                <span *ngIf="!first">{{prop.viewValue | titlecase}}</span>
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="textField w-100" appearance="outline">
            <mat-label>Category</mat-label>
            <input type="text" matInput [(ngModel)]="category_name">
          </mat-form-field>

          <div class="row">
            <div class="col-12">
              <ul
                style="list-style: none;flex-wrap: wrap; display: inline-flex; padding: 0; margin: 0;">
                <li>
                  <ng-container>
                    <label for="file">
                      <div class="col"
                        style="display: grid; max-width: 130px; background: #d4aa323b; border: 2px solid #d4aa32; border-radius: 8px; padding: 10px 10px; cursor: pointer;"><img
                          src="assets/img/pngs/add-image.png" alt
                          class="mx-auto" style="width: 30px;">
                        <span class="mx-auto mt-2">Add Icon</span>

                      </div>
                    </label>
                    <input id="file" multiple hidden type="file"
                      accept="image/*"
                      (change)="get_image_data($event)">
                  </ng-container>
                </li>
                <li style="margin-left: 10px;">
                  <img *ngIf="image_selected" src="{{preview_image}}"
                    alt="preview image" class="priview-image">
                </li>
              </ul>
            </div>
          </div>
          <div class="row d-flex justify-content-end">
            <button type="submit" (click)="submit()"
              style="
                  margin: 0;
                  padding: 5px 20px;
                  margin-right: 10px; 
                  border-radius: 5px;
                  border: 0px;
                  color: #fff;
                  font-weight: 500;"
              [ngStyle]="{'background' : this.unit_id !== '' && this.category_name !== '' && this.category_icon != undefined ? '#d4aa32' : '#d4aa3294','cursor': this.unit_id !== '' && this.category_name !== '' && this.category_icon != undefined ? 'pointer' : 'not-allowed'}">
              Add
            </button>
          </div>

        </div>
      </div>

    </div>
  </div>
</div>
