<div class="stepper-one-page">



  <div class="reqInfo-title">
    <span>Request Information</span>
  </div>

  <div id="block_container">
    <div id="bloc1">
      <td>
        Account Name:
      </td>
      <td class="block-val">
        John Doe
      </td>
    </div>
    <div id="bloc2">
      <td>
        Request Type:
      </td>
      <td class="block-val">
        Make a Payment
      </td>
    </div>

  </div>

  <div class="divider-req-payment">

  </div>

  <div class="reqInfo-title">
    <span>Service Requirements</span>
  </div>

  <div class="service-requirements-sec">

    <ul style="list-style-type:disc;" class="service-requirements-ul-list">

      <p>
        To ensure a smooth ‘Move Out’ experience, raise the move-out request and give us two working days prior to your
        move.
        Please be assured that any information you give us will remain confidential and shall be used for community
        level communications only.</p>
    </ul>
  </div>

  <!-- <div class="upper-box text-right">
    <button mat-raised-button type="submit" class="btn-next">
      Next
    </button>
  </div> -->

</div>