<div
  class="col"
  [ngClass]="
    isDropDownBtnClicked == true
      ? 'dropdown-services-opened'
      : 'dropdown-services'
  "
>
  <div
    class="row dropDownBtnRow"
    style="margin: -10px -15px; width: 220px; padding: 10px 15px"
    (click)="dropDownBtnClick()"
  >
    <img src="assets/img/svg/sidebar/key.svg" alt="" />
    <p>Tenant Registration</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row subMenu-dropdown"
    (click)="navigateToTenentRegistrationPage()"
  >
    <img src="assets/img/svg/sidebar/minus.svg" alt="" />
    <p>Register My Own</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row subMenu-dropdown"
    style="margin-top: -10px"
  >
    <img src="assets/img/svg/sidebar/minus.svg" alt="" />
    <p>Request Registration</p>
  </div>
</div>
