<div class="col d-flex">
  <div class="row m-0 mt-5 w-100 justify-content-center">
    <p
      class="m-0"
      [ngClass]="requestSended ? 'progress-title-completed' : 'progress-title'"
      style="left: 13%"
    >
      REQUEST SEND
    </p>
    <p
      class="m-0"
      [ngClass]="pending ? 'progress-title-completed' : 'progress-title'"
      style="left: 37%"
    >
      PENDING
    </p>
    <p
      class="m-0"
      [ngClass]="reviewing ? 'progress-title-completed' : 'progress-title'"
      style="left: 59%"
    >
      REVIEWING
    </p>
    <p
      *ngIf="!denied"
      class="m-0"
      [ngClass]="approved ? 'progress-title-approved' : 'progress-title'"
      style="right: 14%"
    >
      APPROVED
    </p>
    <p
      *ngIf="denied"
      class="m-0"
      [ngClass]="denied ? 'progress-title-decline' : 'progress-title'"
      style="right: 14%"
    >
      DECLINED
    </p>
    <div
      class="mr-2"
      [ngClass]="requestSended ? 'progress-dot-completed' : 'progress-dot'"
    ></div>

    <div class="my-auto mr-2 progress-line">
      <div
        [ngClass]="pending ? 'progress-line-completed' : 'progress-line-shell'"
      ></div>
    </div>

    <div
      class="mr-2"
      [ngClass]="pending ? 'progress-dot-completed' : 'progress-dot'"
    ></div>

    <div class="my-auto mr-2 progress-line">
      <div
        [ngClass]="reviewing ? 'progress-line-completed' : 'progress-line-shell'"
      ></div>
    </div>

    <div
      class="mr-2"
      [ngClass]="reviewing ? 'progress-dot-completed' : 'progress-dot'"
    ></div>

    <div *ngIf="!denied" class="my-auto mr-2 progress-line">
      <div
        [ngClass]="approved ? 'progress-line-completed' : 'progress-line-shell'"
      ></div>
    </div>

    <div
      *ngIf="!denied"
      [ngClass]="approved ? 'progress-dot-approved' : 'progress-dot'"
    ></div>

    <div *ngIf="denied" class="my-auto mr-2 progress-line">
      <div
        [ngClass]="denied ? 'progress-line-decline' : 'progress-line-shell'"
      ></div>
    </div>

    <div
      *ngIf="denied"
      [ngClass]="denied ? 'progress-dot-decline' : 'progress-dot-decline'"
    ></div>
  </div>
</div>
