<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div
  class="main-content reports-bg"
  *ngIf="screenWidth > 430"
  style="padding: 20px 15px"
>
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div class="col" style="padding: 0">
      <div class="row m-0 w-100 align-items-center justify-content-between">
        <div class="row m-0 align-items-center">
          <p class="m-0 ml-4" style="font-size: 2rem; font-weight: 600">
            All Units
          </p>
          <img
            (click)="refreshTable()"
            matTooltip="Refresh table"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="refresh-table-btn ml-3"
            src="assets/img/svg/home-page/refresh-2.svg"
            alt=""
          />
          <div class="row m-0 align-items-center">
            <div
              [ngClass]="current_sort_option == 'all' ? 'sort-unit-btns-active' : 'sort-unit-btns'"
              class="btn m-0 ml-4"
              (click)="changeSortOption('all')"
            >
              All
            </div>
            <div
              [ngClass]="current_sort_option == 'occupied' ? 'sort-unit-btns-active' : 'sort-unit-btns'"
              class="btn m-0 ml-2"
              (click)="changeSortOption('occupied')"
            >
              Occupied
            </div>
            <div
              [ngClass]="current_sort_option == 'vacant' ? 'sort-unit-btns-active' : 'sort-unit-btns'"
              class="btn m-0 ml-2"
              (click)="changeSortOption('vacant')"
            >
              Vacant
            </div>
          </div>
        </div>
        <div class="row m-0 align-items-center">
          <searchbar-table (myEvent)="searchUnit($event)"></searchbar-table>
          <div
            (click)="addUnitDialogOpen()"
            class="btn"
            style="
              margin: 0;
              padding: 7px 10px;
              margin-right: 10px;
              background: #d4aa32;
            "
          >
            <div
              class="row m-0 align-items-center"
              style="width: 95px; justify-content: space-between"
            >
              <img
                src="assets/img/svg/add-square.svg"
                alt=""
                style="width: 15px; filter: brightness(0) invert(1)"
              />
              <p class="m-0">Add Unit</p>
            </div>
          </div>
          <div
            matTooltip="Export Excel File"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="btn"
            style="
              margin: 0;
              padding: 5px 10px;
              margin-right: 10px;
              background: #2b333e;
            "
          >
            <img
              src="assets/img/svg/excel.svg"
              alt=""
              style="width: 20px; filter: brightness(0) invert(1)"
            />
          </div>
        </div>
      </div>

      <loading-table-admin-properties-units
        *ngIf="isContentLoading == true"
      ></loading-table-admin-properties-units>

      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <!------------------------------------ All Properties ----------------------------------------------------->
      <div *ngIf="isContentLoading == false">
        <div style="overflow: auto; padding: 0 5px; padding-bottom: 1rem">
          <div
            *ngIf="pageChangerLoading"
            style="
              position: absolute;
              width: 100%;
              height: 50rem;
              background: #ffffffba;
              text-align: center;
            "
          >
            <span
              class="spinner-border spinner-border-m mr-2"
              style="color: #d4aa32; margin-top: 15rem"
            >
            </span>
          </div>

          <table
            mat-table
            [dataSource]="allUnitsMatTableData"
            class="mat-elevation-z8 demo-table"
            *ngIf="allUnits.length != 0"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="unitNo">
              <th mat-header-cell *matHeaderCellDef>Unit No.</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'first-col-last' : 'first-col'"
                (click)="navigateToDetailPage(element)"
              >
                {{ element.unit_no}}
              </td>
            </ng-container>

            <ng-container matColumnDef="propertyName">
              <th mat-header-cell *matHeaderCellDef>Property Name</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'second-col-last' : 'second-col'"
                (click)="navigateToDetailPage(element)"
              >
                <span
                  class="prop_name"
                  (click)="navigateToPropertyDetailsPage(element.property_id)"
                  >{{ element.property_name | titlecase}}</span
                >
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef>Size</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
                (click)="navigateToDetailPage(element)"
              >
                {{ element.size }} Sqft
              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="navigateToDetailPage(element)"
                style="max-width: 100px"
              >
                <div
                  *ngIf="element.status == 'vacant'"
                  style="
                    color: #2b333eb0;
                    background: #2b333e1a;
                    padding: 5px 0;
                    border-radius: 5px;
                    font-size: 13px;
                    border: 1px solid #2b333e2e;
                    text-align: center;
                  "
                >
                  VACANT
                </div>
                <div
                  *ngIf="element.status == 'occupied'"
                  style="
                    color: #37b400;
                    background: #37b4001c;
                    padding: 5px 0;
                    border-radius: 5px;
                    font-size: 13px;
                    border: 1px solid #37b4003b;
                    text-align: center;
                  "
                >
                  OCCUPIED
                </div>
              </td>
            </ng-container>

            <ng-container matColumnDef="tenant">
              <th mat-header-cell *matHeaderCellDef>Tenant</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="navigateToDetailPage(element)"
                style="
                  cursor: pointer;
                  max-width: 200px;
                  text-overflow: ellipsis;
                  overflow: hidden;
                  white-space: nowrap;
                "
              >
                <span
                  *ngIf="element.tenant_name != ''"
                  class="prop_name"
                  (click)="navigateToUserDetailsPage(element.tenant_id)"
                  >{{ element.tenant_name}}</span
                >
                <span *ngIf="element.tenant_name == ''">-</span>
              </td>
            </ng-container>

            <ng-container matColumnDef="premises">
              <th mat-header-cell *matHeaderCellDef>Premises No.</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="navigateToDetailPage(element)"
              >
                {{ element.premises_no}}
              </td>
            </ng-container>

            <ng-container matColumnDef="plot">
              <th mat-header-cell *matHeaderCellDef>Plot</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="navigateToDetailPage(element)"
              >
                {{ element.plot_no}}
              </td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Unit Type</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last"
                [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
                (click)="navigateToDetailPage(element)"
              >
                {{ getUnitType(element.unit_type)}}
              </td>
            </ng-container>

            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
              <td
                mat-cell
                *matCellDef="let element;let last = last;let index = index"
                [ngClass]="last ? 'eighth-col-last' : 'eighth-col'"
              >
                <img
                  (click)="openMoreMenu(element.unit_id)"
                  [matMenuTriggerFor]="menu"
                  matTooltip="More Actions"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  src="assets/img/svg/home-page/more.svg"
                  alt=""
                  style="
                    filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
                      saturate(14%) hue-rotate(333deg) brightness(91%)
                      contrast(77%);
                    width: 20px;
                    cursor: pointer;
                  "
                />

                <mat-menu #menu="matMenu" class="more-menu">
                  <div
                    *ngIf="!more_menu_unit_loaded || more_menu_unit_all_data == ''"
                    class="d-flex justify-content-center align-items-center"
                    style="height: 110px"
                  >
                    <span
                      class="spinner-border spinner-border-m mr-2"
                      style="color: #d4aa32"
                    >
                    </span>
                  </div>

                  <div
                    *ngIf="more_menu_unit_loaded && more_menu_unit_all_data != ''"
                  >
                    <button mat-menu-item (click)="openEditUnit(index)">
                      <div class="row m-0 justify-content-between">
                        <span style="color: #c89914">Edit</span>
                        <img
                          src="assets/img/svg/property-page/edit.svg"
                          alt
                          style="
                            filter: invert(68%) sepia(13%) saturate(2701%)
                              hue-rotate(5deg) brightness(110%) contrast(66%);
                          "
                        />
                      </div>
                    </button>
                    <button mat-menu-item>
                      <div class="row m-0 justify-content-between">
                        <span style="color: red">Delete</span>
                        <img
                          src="assets/img/svg/delete.svg"
                          alt
                          style="
                            filter: invert(56%) sepia(71%) saturate(3838%)
                              hue-rotate(328deg) brightness(97%) contrast(90%);
                          "
                        />
                      </div>
                    </button>
                  </div>
                </mat-menu>
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColumns"
              class="unit-row"
            ></tr>
          </table>
          <div
            *ngIf="allUnitsMatTableData.filteredData.length == 0 && allUnits.length != 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: 0;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1250px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              NO RESULTS :(
            </p>
          </div>
          <table
            *ngIf="allUnits.length == 0"
            mat-table
            [dataSource]="loadingTable"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="unitNo">
              <th mat-header-cell *matHeaderCellDef>Unit No</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <ng-container matColumnDef="propertyName">
              <th mat-header-cell *matHeaderCellDef>Property Name</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="size">
              <th mat-header-cell *matHeaderCellDef>Size</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="tenant">
              <th mat-header-cell *matHeaderCellDef>Tenant</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="premises">
              <th mat-header-cell *matHeaderCellDef>Premises No.</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="plot">
              <th mat-header-cell *matHeaderCellDef>Plot</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef>Unit Type</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>
            <ng-container matColumnDef="more">
              <th mat-header-cell *matHeaderCellDef>More</th>
              <td mat-cell *matCellDef="let element"></td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            *ngIf="allUnits.length == 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: -16rem;
              text-align: center;
              box-shadow: none !important;
              border-bottom: 1px solid #e6ebf1;
              border-left: 1px solid #e6ebf1;
              border-right: 1px solid #e6ebf1;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 20rem;
              min-width: 1250px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              No Units
            </p>
            <p
              class="pl-3"
              style="font-size: 1.3rem; font-weight: 500; color: #d3ab33"
            >
              (－_－) zzZ
            </p>
          </div>
        </div>
        <div style="margin-top: 25px" class="table-paginator">
          <mat-paginator
            #paginator
            [pageSize]="10"
            [pageSizeOptions]="[6, 8, 10, 14, 20]"
            [length]="tableLength"
            (page)="pageChange($event)"
            showFirstLastButtons
          ></mat-paginator>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
      <!-- </div> -->
    </div>
  </div>
</div>
