@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}
// ::ng-deep .mat-calendar-body-today:not(.mat-calendar-body-selected){
//   border-color:darkblue;
// }

::ng-deep .table-finance {
  box-shadow: none !important;
}

.mat-mdc-row:nth-child(even) {
  background-color: rgb(252, 252, 252);
}

.mat-mdc-row:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}
.mat-mdc-card {
  box-shadow: none !important;
  border: 0.1rem solid rgb(240 236 236);
}

::ng-deep .textfield-dropdown-date {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-infix {
      padding: 5px 0;
      height: 35px;
      min-height: unset;

      .mat-mdc-input-element {
        font-size: 13px;
      }
    }

    .mat-mdc-form-field-icon-suffix {
      .mat-datepicker-toggle {
        .mat-mdc-icon-button {
          width: 38px;
          height: 35px;
          padding: 6px;

          .mat-datepicker-toggle-default-icon {
            width: 20px;
          }
        }
      }
    }

    &:hover {
      .mat-mdc-form-field-flex {
        .mdc-notched-outline {
          .mdc-notched-outline__leading {
            border-left: 1px solid #c0c8d1;
            border-bottom: 1px solid #c0c8d1;
            border-top: 1px solid #c0c8d1;
          }

          .mdc-notched-outline__trailing {
            border-bottom: 1px solid #c0c8d1;
            border-top: 1px solid #c0c8d1;
            border-right: 1px solid #c0c8d1;
          }
        }
      }
    }

    .mat-mdc-form-field-flex {
      .mdc-notched-outline {
        .mdc-floating-label {
          top: 18px !important;
        }

        .mdc-notched-outline__leading {
          border-left: 1px solid #e6ebf1;
          border-bottom: 1px solid #e6ebf1;
          border-top: 1px solid #e6ebf1;
        }

        .mdc-notched-outline__trailing {
          border-bottom: 1px solid #e6ebf1;
          border-top: 1px solid #e6ebf1;
          border-right: 1px solid #e6ebf1;
        }
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

::ng-deep .textfield-dropdown {
  .mat-mdc-text-field-wrapper {
    .mat-mdc-form-field-infix {
      padding: 5px 0;
      height: 35px;
      min-height: unset;

      .mat-mdc-select-min-line {
        font-size: 13px;
      }
    }

    &:hover {
      .mat-mdc-form-field-flex {
        .mdc-notched-outline {
          .mdc-notched-outline__leading {
            border-left: 1px solid #c0c8d1;
            border-bottom: 1px solid #c0c8d1;
            border-top: 1px solid #c0c8d1;
          }

          .mdc-notched-outline__trailing {
            border-bottom: 1px solid #c0c8d1;
            border-top: 1px solid #c0c8d1;
            border-right: 1px solid #c0c8d1;
          }
        }
      }
    }

    .mat-mdc-form-field-flex {
      .mdc-notched-outline {
        .mdc-floating-label {
          top: 18px !important;
        }

        .mdc-notched-outline__leading {
          border-left: 1px solid #e6ebf1;
          border-bottom: 1px solid #e6ebf1;
          border-top: 1px solid #e6ebf1;
        }

        .mdc-notched-outline__trailing {
          border-bottom: 1px solid #e6ebf1;
          border-top: 1px solid #e6ebf1;
          border-right: 1px solid #e6ebf1;
        }
      }
    }
  }

  .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}

::ng-deep .report-textfield {
  .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: #f0e6ff !important;
    border: grey;
    width: 9rem;
    height: 3rem;
    border-bottom: none !important;
    box-shadow: none;
    border-radius: 0.3rem;
  }
}

::ng-deep .table-finance {
  .mat-mdc-table tbody,
  .mat-mdc-table tfoot,
  .mat-mdc-table thead,
  .mat-mdc-cell,
  .mat-mdc-footer-cell,
  .mat-mdc-header-row,
  .mat-mdc-row,
  .mat-mdc-footer-row,
  .mat-mdc-table .mat-mdc-header-cell {
    border: 0;
  }
}
.summury {
  background-color: rgb(229, 219, 210);
}

.small-box img {
  font-size: 90px;
  position: absolute;
  right: 23px;
  top: 15px;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}
.small-box-footer {
  background-color: #d4aa32;
  color: rgba(255, 255, 255, 0.8);
  display: block;
  padding: 3px 0;
  position: relative;
  text-align: center;
  text-decoration: none;
  z-index: 10;
}
.redirect {
  color: #d4aa32;
  border-bottom: #d4aa32 0.3rem;
}
