@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
  
}
button {
  margin-right: 8px;
}
// .main-card{
//   width: 100%;;
// }

.main-div{
  width: 50rem !important;
}

.close-icon {
  // filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%)
  //   hue-rotate(145deg) brightness(84%) contrast(88%);
  width: 1.5rem;
  right: 0;
  position: absolute;
  width: 1.5rem;
  z-index: 100;
  top: 0;
  cursor: pointer;

  transition: 0.3s all ease-in-out;

  &:hover {
    transform: scaleY(1.2) scaleX(1.2);
    // filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
    //   brightness(90%) contrast(83%);
  }
}
.table-row {
  .teble {
    border-radius: 10px;
    color: #fff;
    background-color: #d4aa32;
    box-shadow: 5px 5px 15px #c4c4c4, -5px -5px 5px #ffffff;

    .tbody {
      background-color: #f9f9f95c;
      font-weight: 500;
      th{
        font-weight: 500;
      }
      td{
        font-weight: 500;
      }
      tr:nth-of-type(odd) {
        background-color: #d4aa3282;
      }
      tr:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        th:first-child{
          border-bottom-left-radius: 10px;
        }
        th:last-child{
          border-bottom-right-radius: 10px;
        }
        td:first-child{
          border-bottom-left-radius: 10px;
        }
        td:last-child{
          border-bottom-right-radius: 10px;
        }
      }
    }
  }
}
.main-div{
  width: 100%;
}