<img
      matTooltip="Close"
      matTooltipClass="tooltip"
      matTooltipPosition="above"
      (click)="onCloseDialog()"
      class="mr-2 mt-1 close-icon"
      src="../../../assets/img/cancel.png"
      alt />
  
<div class="main-div">
  <div class="table-row">
    <div class="card main-card" style="width: 100%;">
      <div class="card-body">
        <h3 class=" font-weight-bold">Unit Documents
        </h3>
        <ngx-skeleton-loader *ngIf="!isContentLoading" appearance="circle">
        <table class="teble table-striped w-100 px-3 detail-table">
          <thead class="thead">
            <tr>
              <th scope="col" class="p-3">Title</th>
              <th scope="col" class="p-3">Details</th>
            </tr>
          </thead>
          <tbody class="tbody text-uppercase">
            <tr scope="row" *ngFor="let item of unit_img_array">
              <td class="p-3" scope="col-4">{{item}}</td>
              <td class="p-3 col-md-8"><button class="btn btn-light" (click)="downloadDoc(item)">Download</button></td>
            </tr>
            
          </tbody>
        </table>
        </ngx-skeleton-loader>
      </div>
    </div>
  </div>
</div>

