@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.back-btn-row {
  margin: 0;
  width: 65px;
  justify-content: space-between;

  img {
    width: 20px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    img {
      transform: translateX(-2px);
    }
  }
}
