@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.reports-bg {
  background-color: #2b333e03;
}

.card-reports {
  .reports-icon {
    position: absolute;
    justify-self: center;
    margin: 0;
    color: white;
  }

  .card-reports-head {
    background-color: #2b333e;

    .card-title {
      color: white;
      padding-left: 40px;
    }
  }
}

.reports-row-body {
  width: 94%;
  margin: 30px;

  .reports-row-ind {
    padding-left: 20px;
    width: 1%;
  }
}

.custom-date-range {
  width: 94%;
  margin: 30px;

  .custom-date-range-ind {
    width: 1%;
    padding-left: 20px;
  }
}

.reports-show {
  text-align: center;
  margin: 20px;
  .show-reports-btn {
    font-size: 16px;
    background-color: #d3ab33;
    color: white;
    width: 90px;
  }
}

::ng-deep .mat-step-header .mat-step-icon {
  // margin-right: 45px !important;
  background-color: white;
  color: black;
  width: 100% !important;
  height: 70px !important;
  font-size: 23px !important;
  font-weight: 500 !important;
  border: solid 1px #dfdfdf !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: 0px;
}
::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  padding: 0 0 !important;
}
::ng-deep .mat-stepper-label-position-bottom .mat-stepper-horizontal-line {
  display: none !important;
}
::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header-container {
  justify-content: space-between !important;
  background-color: #fbfafa !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-horizontal-stepper-header {
  width: 100% !important;
  background-color: #fbfafa !important;
}

::ng-deep
  .mat-stepper-horizontal
  .mat-horizontal-stepper-header:not(:last-child)::after {
  display: none !important;
}

::ng-deep
  .mat-stepper-horizontal
  .mat-horizontal-stepper-header:not(:first-child)::before {
  display: none !important;
}

::ng-deep .mat-stepper-label-position-bottom .mat-step-label-active {
  background-color: #d3ab33 !important;
  padding: 5px 0 0 0 !important;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0px 30px 30px 30px !important;
  background-color: #fbfafa !important;
}
::ng-deep
  .mat-stepper-label-position-bottom
  .mat-horizontal-stepper-header
  .mat-step-icon {
  background-color: #fbfafa !important;
}
