<div class="stepper-one-page">



  <div class="reqInfo-title">
    <span>Request Information</span>
  </div>

  <div id="block_container">
    <div id="bloc1">
      <td>
        Account Name:
      </td>
      <td class="block-val">
        John Doe
      </td>
    </div>
    <div id="bloc2">
      <td>
        Request Type:
      </td>
      <td class="block-val">
        Make a Payment
      </td>
    </div>

  </div>

  <div class="divider-req-payment">

  </div>

  <div class="reqInfo-title">
    <span>Service Requirements</span>
  </div>

  <div class="service-requirements-sec">

    <ul style="list-style-type:disc;" class="service-requirements-ul-list">

      <li>
        To ensure a smooth move out experience, please raise the request two days prior to your move.
      </li>
      <li>
        Please be assured that any information you give us will remain confidential and shall be used for community
        level communications only.
      </li>
      <li>
        Access cards will be deactivated and should not be transferred to or handed over to anybody apart to your future
        registered tenants.
      </li>
      <li>
        Indus Real Estate Dubai management is not responsible for the condition or state of the unit at the time of
        move out. Community Management team shall not be responsible for any missing asset at the time of move out.
      </li>
    </ul>
  </div>

  <!-- <div class="upper-box text-right">
    <button mat-raised-button type="submit" class="btn-next">
      Next
    </button>
  </div> -->

</div>