<img
  matTooltip="Close"
  matTooltipClass="tooltip"
  matTooltipPosition="above"
  (click)="onCloseDialog()"
  class="mr-2 mt-1 close-icon"
  src="../../../assets/img/svg/req-details/close-circle.svg"
  alt
/>


          <div class="card main-card" style="box-shadow: none !important;
    ">
            <mat-card-header style="border-bottom: 0.1rem solid rgb(196, 196, 196); margin: 0rem;
            padding: 0rem;"><h3 style="font-size: 1.5rem; font-weight: 500;padding: 0rem !important;">Report</h3></mat-card-header>
            <div class="card-body">
              <div class="table-row">
              <table class="teble table-striped w-100 px-3 detail-table">
                <thead class="thead">
                  <tr>
                    <th scope="col" class="p-3">Title</th>
                    <th scope="col" class="p-3">Details</th>
                  </tr>
                </thead>
                <tbody class="tbody text-uppercase">
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Unit Name</th>
                    <td class="p-3 col-md-8">3 Central Ave</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Tenant Name</th>
                    <td class="p-3 col-md-8">kiran</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Rent</th>
                    <td class="p-3 col-md-8">55,000</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Rent Amount Received</th>
                    <td class="p-3 col-md-8">40,000</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Rent Amount Pending</th>
                    <td class="p-3 col-md-8">10,000</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Maintenance Amount</th>
                    <td class="p-3 col-md-8">
                      5,000
                    </td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Security Amount</th>
                    <td class="p-3 col-md-8">5,000</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Payment Mode</th>
                    <td class="p-3 col-md-8">Card</td>
                  </tr>
                  <tr scope="row">
                    <th class="p-3 col-md-4" scope="row">Payment Amount</th>
                    <td class="p-3 col-md-8">20,000</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      
    
  <!-- </mat-card-content>
</mat-card> -->
