<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <div class="card-header d-flex justify-content-between">
    <p>{{event_title}}</p>
    <img
      matTooltip="Close"
      matTooltipClass="tooltip"
      matTooltipPosition="above"
      (click)="onCloseDialog()"
      class="close-icon"
      src="assets/img/svg/req-details/close-circle.svg"
      alt=""
    />
  </div>
  <div class="card-body">
    <p class="description">{{event_description}}</p>

    <div class="row m-0 schedule">
      <div class="col pl-0">
        <span>START</span>
        <p class="mt-3">{{event_start | date:"h:mm a"}}</p>
      </div>
      <div class="col">
        <span>END</span>
        <p class="mt-3">{{event_end | date:"h:mm a"}}</p>
      </div>
    </div>
  </div>
</div>
