@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
}

.card {
  height: 20rem;
  .card-header {
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #e6ebf1;

    .close-icon {
      filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%)
        hue-rotate(145deg) brightness(84%) contrast(88%);
      width: 1.5rem;
      right: 2rem;
      position: absolute;
      cursor: pointer;

      transition: 0.3s all ease-in-out;

      &:hover {
        transform: scaleY(1.2) scaleX(1.2);
        filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
          brightness(90%) contrast(83%);
      }
    }

    p {
      font-size: 25px;
      font-weight: 500;
      color: #b48700;
      margin: 0;
    }
  }

  .card-body {
    padding: 1.5rem 2rem;

    .description {
      font-size: 15px;
      font-weight: 400;
    }

    .schedule {
      margin-top: 3.5rem !important;

      span {
        background: #cfa116d9;
        color: white;
        padding: 3px 7px;
        border-radius: 4px;
        font-weight: 500;
      }
    }
  }
}
