<table
  mat-table
  [dataSource]="loadingTable"
  class="mat-elevation-z8 demo-table"
>
  <!-- Name Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Payment ID</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'first-col-last' : 'first-col'"
    >
      <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef>Unit No.</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'second-col-last' : 'second-col'"
    >
      <div style="max-width: 250px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '250px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="tenant">
    <th mat-header-cell *matHeaderCellDef>Tenant</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'third-col-last' : 'third-col'"
    >
      <div style="max-width: 150px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '150px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="amount">
    <th mat-header-cell *matHeaderCellDef>Amount</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
    >
      <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="purpose">
    <th mat-header-cell *matHeaderCellDef>Purpose</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
    >
      <div style="max-width: 100px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '100px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="method">
    <th mat-header-cell *matHeaderCellDef>Payment Mode</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
    >
      <div style="max-width: 100px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '100px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="property">
    <th mat-header-cell *matHeaderCellDef>Property</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
    >
      <div style="max-width: 100px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '100px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef>Status</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
    >
      <div style="max-width: 100px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '100px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'fifth-col-last' : 'fifth-col'"
    >
      <div style="max-width: 100px; max-height: 30px; border-radius: 9px">
        <ngx-skeleton-loader [theme]="{ width: '100px', height: '30px' }">
        </ngx-skeleton-loader>
      </div>
    </td>
  </ng-container>

  <ng-container matColumnDef="more">
    <th mat-header-cell *matHeaderCellDef>More</th>
    <td
      mat-cell
      *matCellDef="let element;let last = last"
      [ngClass]="last ? 'eighth-col-last' : 'eighth-col'"
    >
      <img
        matTooltip="More Actions"
        matTooltipClass="tooltip"
        matTooltipPosition="above"
        src="assets/img/svg/home-page/more.svg"
        alt=""
        style="
          filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
            saturate(14%) hue-rotate(333deg) brightness(91%) contrast(77%);
          width: 20px;
          cursor: pointer;
        "
      />
    </td>
  </ng-container>

  <!-- Symbol Column -->

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
