@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.mat-mdc-table {
  .mat-mdc-row {
    cursor: pointer;
    &:hover {
      background: #d4aa3236;
    }
  }

  .mat-mdc-row-disabled {
    opacity: 0.5;
    cursor: default;
    &:hover {
      background: #e9e1ce36;
    }
  }

  .vacant {
    color: #2b333eb0;
    background: #2b333e1a;
    border: 1px solid #2b333e2e;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 11px;
  }
  .occupied {
    color: #37b400;
    background: #37b4001c;
    border: 1px solid #37b4003b;
    border-radius: 3px;
    padding: 2px 10px;
    font-size: 11px;
  }
}

::ng-deep .mat-dialog-container {
  padding: 0 !important;
  border-radius: 1rem;
}
