<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->

<div
  class="main-content reports-bg"
  *ngIf="screenWidth <= 430"
  style="padding: 55px 12px; margin-top: 0"
>
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="padding: 0"
  >
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div class="card" *ngIf="isLoading == false">
      <img
        *ngIf="propertyData.image1 != ''"
        src="{{ imagesUrl }}/{{ propertyData.image1 }}"
        class="card-img-top"
        alt="image"
        style="max-height: 500px; object-fit: cover; overflow: hidden"
      />
      <img
        *ngIf="propertyData.image1 == ''"
        src="assets/img/properties/property_placeholder.webp"
        alt="image"
        style="
          height: 600px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        "
      />

      <!-- <div
        *ngIf="propertyData.image1 == ''"
        class="row"
        style="
          top: 540px;
          position: absolute;
          left: 15px;
          background-color: #0000008c;
          padding: 5px;
          border-radius: 8px;
          margin: 0;
          padding-top: 2px;
          padding-bottom: 2px;
        "
      >
        <div class="btn floor-plan-btn">
          <div class="row" style="margin: 0; width: max-content">
            <img src="assets/img/svg/property-page/pen-tool.svg" />
            <p>Floor Plan</p>
          </div>
        </div>
        <div class="btn edit-property-btn" style="width: 165px">
          <div class="row" style="margin: 0; width: max-content">
            <p>Request for Images</p>
          </div>
        </div>
      </div>

      <div
        *ngIf="propertyData.image1 != ''"
        class="row"
        style="
          top: 420px;
          position: absolute;
          left: 15px;
          background-color: #0000008c;
          padding: 5px;
          border-radius: 8px;
          margin: 0;
          padding-top: 2px;
          padding-bottom: 2px;
        "
      >
        <div class="btn floor-plan-btn">
          <div class="row" style="margin: 0; width: max-content">
            <img src="assets/img/svg/property-page/pen-tool.svg" />
            <p>Floor Plan</p>
          </div>
        </div>
        <div class="btn edit-property-btn">
          <div class="row" style="margin: 0; width: max-content">
            <p>Edit</p>
            <img src="assets/img/svg/property-page/edit.svg" />
          </div>
        </div>
      </div> -->

      <div class="card-body" style="padding: 16px">
        <div class="col" style="padding: 0">
          <div style="max-width: 500px">
            <p style="color: #a3a3a3; max-width: 300px">
              {{ propertyData.property_address }}
            </p>
            <h6
              style="
                color: #404040;
                font-size: 30px;
                font-weight: 600;
                line-height: 1;
              "
            >
              {{ propertyData.property_name }}
            </h6>
            <p style="color: #d4aa32; font-size: 23px; margin-top: 12px">
              AED 2,300,000
            </p>
          </div>
        </div>
        <div class="col" style="padding: 0">
          <p style="color: #a3a3a3; margin-top: 20px">
            Nor again is there anyone who loves or pursues or desires to obtain
            pain of itself, because it is pain, but because occasionally
            circumstances occur in which toil and pain can procure him some
            great pleasure. To take a trivial example, which of us ever
            undertakes
          </p>
        </div>

        <div class="col" style="margin-top: 40px; padding: 0">
          <div
            class="row"
            style="margin: 0; width: 100%; justify-content: space-between"
          >
            <div class="row" style="margin: 0; width: 49%">
              <img
                src="assets/img/svg/property-page/floor-plan-icon.svg"
                style="width: 40px"
              />
              <div class="col">
                <p style="margin: 0; font-weight: 600; font-size: 11px">
                  PROPERTY SIZE
                </p>
                <p
                  style="
                    margin: 0;
                    font-weight: 600;
                    font-size: 11px;
                    margin-top: -5px;
                  "
                >
                  {{ propertyData.property_size }} SQFT
                </p>
              </div>
            </div>
            <div class="row" style="margin: 0; width: 46%">
              <img
                src="assets/img/svg/property-page/price-tag-us-dollar-icon.svg"
                style="width: 20px"
              />
              <div class="col" style="padding-right: 0">
                <p style="margin: 0; font-weight: 600; font-size: 11px">
                  PRICE RANGE
                </p>
                <p
                  style="
                    margin: 0;
                    font-weight: 600;
                    font-size: 11px;
                    margin-top: -5px;
                  "
                >
                  {{ propertyData.price_range }}
                </p>
              </div>
            </div>
          </div>

          <div
            class="row"
            style="
              margin: 0;
              width: 100%;
              margin-top: 20px;
              justify-content: space-between;
            "
          >
            <div class="row" style="margin: 0; width: 48%">
              <img
                src="assets/img/svg/property-page/property-icon.svg"
                style="width: 40px"
              />
              <div class="col">
                <p style="margin: 0; font-weight: 600; font-size: 11px">TYPE</p>
                <p
                  style="
                    margin: 0;
                    font-weight: 600;
                    font-size: 11px;
                    margin-top: -5px;
                  "
                >
                  {{ propertyData.property_type }}
                </p>
              </div>
            </div>
            <div class="row" style="margin: 0; width: 46%">
              <img
                src="assets/img/svg/property-page/architecture-plan-icon.svg"
                style="width: 35px"
              />
              <div class="col" style="padding-right: 0">
                <p style="margin: 0; font-weight: 600; font-size: 11px">
                  COMPLETION
                </p>
                <p
                  style="
                    margin: 0;
                    font-weight: 600;
                    font-size: 11px;
                    margin-top: -5px;
                  "
                >
                  {{ propertyData.completion }}
                </p>
              </div>
            </div>
          </div>

          <div class="row" style="margin: 0; width: 50%; margin-top: 20px">
            <img
              src="assets/img/svg/property-page/kitchen-icon.svg"
              style="width: 40px"
            />
            <div class="col">
              <p style="margin: 0; font-weight: 600; font-size: 11px">
                FINISH TYPE
              </p>
              <p
                style="
                  margin: 0;
                  font-weight: 600;
                  font-size: 11px;
                  margin-top: -5px;
                "
              >
                {{ propertyData.furnish_type }}
              </p>
            </div>
          </div>
        </div>

        <div class="col" style="padding: 0; margin-top: 50px">
          <p style="color: #404040; font-size: 22px; font-weight: 600">
            PROPERTY DETAILS
          </p>
          <div
            class="row"
            style="
              margin-left: 0;
              margin-right: 0;
              margin-top: 25px;
              width: 100%;
              justify-content: space-between;
            "
          >
            <div class="col" style="padding: 0">
              <div class="col" style="padding-left: 0">
                <p style="color: #a3a3a3; margin-bottom: 0; font-size: 13px">
                  Community
                </p>
                <p style="color: #404040; font-weight: 600">
                  {{ propertyData.community_name }}
                </p>
              </div>
              <div class="col" style="padding-left: 0">
                <p style="color: #a3a3a3; margin-bottom: 0; font-size: 13px">
                  Project Name
                </p>
                <p style="color: #404040; font-weight: 600">
                  {{ propertyData.project_name }}
                </p>
              </div>
              <div class="col" style="padding-left: 0">
                <p style="color: #a3a3a3; margin-bottom: 0; font-size: 13px">
                  Ownership
                </p>
                <p style="color: #404040; font-weight: 600">
                  {{ propertyData.ownership }}
                </p>
              </div>
            </div>
            <div class="col" style="padding: 0">
              <div class="col" style="padding: 0">
                <p style="color: #a3a3a3; margin-bottom: 0; font-size: 13px">
                  Reference No
                </p>
                <p style="color: #404040; font-weight: 600">
                  {{ propertyData.ref_no }}
                </p>
              </div>
              <div class="col" style="padding: 0">
                <p style="color: #a3a3a3; margin-bottom: 0; font-size: 13px">
                  Purpose
                </p>
                <p style="color: #404040; font-weight: 600">
                  {{ propertyData.purpose }}
                </p>
              </div>
              <div class="col" style="padding: 0">
                <p style="color: #a3a3a3; margin-bottom: 0; font-size: 13px">
                  Developer
                </p>
                <p style="color: #404040; font-weight: 600">
                  {{ propertyData.developer }}
                </p>
              </div>
            </div>
          </div>

          <!-- chart starting......................................... -->

          <!-- <div id="chart" style="margin-top: 60px; margin-left: -18px">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels"
                [grid]="chartOptions.grid"
                [stroke]="chartOptions.stroke"
                [title]="chartOptions.title"
              ></apx-chart>
            </div> -->

          <!-- chart ended......................................... -->
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content reports-bg" *ngIf="screenWidth > 430">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div class="card" *ngIf="isLoading == false">
      <img
        *ngIf="propertyData.property_images != ''"
        src="{{ getPropertyImage(propertyData) }}"
        class="card-img-top"
        alt="image"
        style="max-height: 500px; object-fit: cover; overflow: hidden"
      />
      <img
        *ngIf="propertyData.property_images == ''"
        src="assets/img/properties/property_placeholder.webp"
        alt="image"
        style="
          height: 600px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        "
      />

      <div
        *ngIf="propertyData.property_images == ''"
        class="row"
        style="
          top: 540px;
          position: absolute;
          left: 15px;
          background-color: #0000008c;
          padding: 5px;
          border-radius: 8px;
          margin: 0;
          padding-top: 2px;
          padding-bottom: 2px;
        "
      >
        <div class="btn floor-plan-btn">
          <div class="row" style="margin: 0; width: max-content">
            <img src="assets/img/svg/property-page/pen-tool.svg" />
            <p>Floor Plan</p>
          </div>
        </div>
        <div class="btn edit-property-btn" style="width: 165px">
          <div class="row" style="margin: 0; width: max-content">
            <p>Request for Images</p>
          </div>
        </div>
      </div>

      <div
        *ngIf="propertyData.property_images != ''"
        class="row"
        style="
          top: 420px;
          position: absolute;
          left: 15px;
          background-color: #0000008c;
          padding: 5px;
          border-radius: 8px;
          margin: 0;
          padding-top: 2px;
          padding-bottom: 2px;
        "
      >
        <div class="btn floor-plan-btn">
          <div class="row" style="margin: 0; width: max-content">
            <img src="assets/img/svg/property-page/pen-tool.svg" />
            <p>Floor Plan</p>
          </div>
        </div>
        <div class="btn edit-property-btn">
          <div class="row" style="margin: 0; width: max-content">
            <p>Edit</p>
            <img src="assets/img/svg/property-page/edit.svg" />
          </div>
        </div>
      </div>

      <div class="card-body" style="padding: 100px">
        <div class="row">
          <div class="col">
            <div style="max-width: 500px">
              <p style="color: #a3a3a3; max-width: 300px">
                {{ propertyData.property_address }}
              </p>
              <h6
                style="
                  color: #404040;
                  font-size: 40px;
                  font-weight: 600;
                  line-height: 1;
                "
              >
                {{ propertyData.property_name }}
              </h6>
              <p style="color: #d4aa32; font-size: 30px; margin-top: 20px">
                AED 2,300,000
              </p>
            </div>
          </div>
          <div class="col">
            <p style="color: #a3a3a3; margin-top: 20px">
              Nor again is there anyone who loves or pursues or desires to
              obtain pain of itself, because it is pain, but because
              occasionally circumstances occur in which toil and pain can
              procure him some great pleasure. To take a trivial example, which
              of us ever undertakes
            </p>
          </div>
        </div>
        <div
          class="row"
          style="
            margin-top: 50px;
            margin-left: 0px;
            margin-right: 0px;
            justify-content: space-between;
          "
        >
          <div class="row" style="margin-left: 0px; margin-right: 0px">
            <img
              src="assets/img/svg/property-page/floor-plan-icon.svg"
              style="width: 55px"
            />
            <div class="col">
              <p style="margin: 0; font-weight: 600">PROPERTY SIZE</p>
              <p style="margin: 0; font-weight: 600">
                {{ propertyData.property_size }} SQFT
              </p>
            </div>
          </div>
          <div class="row" style="margin-left: 0px">
            <img
              src="assets/img/svg/property-page/price-tag-us-dollar-icon.svg"
              style="width: 25px"
            />
            <div class="col">
              <p style="margin: 0; font-weight: 600">PRICE RANGE</p>
              <p style="margin: 0; font-weight: 600">
                {{ propertyData.property_price_range }}
              </p>
            </div>
          </div>
          <div class="row" style="margin-left: 0px">
            <img
              src="assets/img/svg/property-page/property-icon.svg"
              style="width: 50px"
            />
            <div class="col">
              <p style="margin: 0; font-weight: 600">TYPE</p>
              <p style="margin: 0; font-weight: 600">
                {{ propertyData.property_type }}
              </p>
            </div>
          </div>
          <div class="row" style="margin-left: 0px">
            <img
              src="assets/img/svg/property-page/architecture-plan-icon.svg"
              style="width: 55px"
            />
            <div class="col">
              <p style="margin: 0; font-weight: 600">COMPLETION</p>
              <p style="margin: 0; font-weight: 600">
                {{ propertyData.property_completion }}
              </p>
            </div>
          </div>
          <div class="row" style="margin-left: 0px">
            <img
              src="assets/img/svg/property-page/kitchen-icon.svg"
              style="width: 45px"
            />
            <div class="col">
              <p style="margin: 0; font-weight: 600">FINISH TYPE</p>
              <p style="margin: 0; font-weight: 600">
                {{ propertyData.property_furnish_type }}
              </p>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="margin-top: 100px; margin-left: 0; margin-right: 0"
        >
          <div class="col"></div>

          <div class="col">
            <p style="color: #404040; font-size: 30px; font-weight: 600">
              PROPERTY DETAILS
            </p>
            <div
              class="row"
              style="
                margin-left: 0;
                margin-right: 0;
                margin-top: 40px;
                justify-content: space-between;
              "
            >
              <div class="col">
                <div class="row">
                  <p style="color: #a3a3a3">Community</p>
                  <p
                    style="margin-left: 15px; color: #404040; font-weight: 600"
                  >
                    {{ propertyData.property_community_name }}
                  </p>
                </div>
                <div class="row">
                  <p style="color: #a3a3a3">Project Name</p>
                  <p
                    style="margin-left: 15px; color: #404040; font-weight: 600"
                  >
                    {{ propertyData.property_project_name }}
                  </p>
                </div>
                <div class="row">
                  <p style="color: #a3a3a3">Ownership</p>
                  <p
                    style="margin-left: 15px; color: #404040; font-weight: 600"
                  >
                    {{ propertyData.property_ownership }}
                  </p>
                </div>
              </div>
              <div class="col">
                <div class="row">
                  <p style="color: #a3a3a3">Reference No</p>
                  <p
                    style="margin-left: 15px; color: #404040; font-weight: 600"
                  >
                    {{ propertyData.property_ref_no }}
                  </p>
                </div>
                <div class="row">
                  <p style="color: #a3a3a3">Purpose</p>
                  <p
                    style="margin-left: 15px; color: #404040; font-weight: 600"
                  >
                    {{ propertyData.property_purpose }}
                  </p>
                </div>
                <div class="row">
                  <p style="color: #a3a3a3">Developer</p>
                  <p
                    style="margin-left: 15px; color: #404040; font-weight: 600"
                  >
                    {{ propertyData.property_developer }}
                  </p>
                </div>
              </div>
            </div>

            <!-- chart starting......................................... -->

            <!-- <div id="chart" style="margin-top: 60px; margin-left: -18px">
              <apx-chart
                [series]="chartOptions.series"
                [chart]="chartOptions.chart"
                [xaxis]="chartOptions.xaxis"
                [dataLabels]="chartOptions.dataLabels"
                [grid]="chartOptions.grid"
                [stroke]="chartOptions.stroke"
                [title]="chartOptions.title"
              ></apx-chart>
            </div> -->

            <!-- chart ended......................................... -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
