<form [formGroup]="form" fxLayout="column">
  <p
    style="color: #686868; font-size: 17px; font-weight: 900; margin-top: 20px"
  >
    Property Contract
  </p>
  <!-- <mat-form-field appearance="outline">
    <input matInput placeholder="Nickname" formControlName="nickname" />
  </mat-form-field> -->
  <div class="row" style="margin: 0">
    <div class="col-sm-4" style="padding-left: 0">
      <input
        autocomplete="chrome-off"
        matInput
        placeholder="Landlord Name"
        formControlName="landlordName"
        class="form-input"
      />
    </div>

    <div class="col-sm-8">
      <div
        class="row"
        style="
          margin: 0;
          margin-top: 25px;
          margin-left: 10px;
          width: 90%;
          justify-content: space-between;
        "
      >
        <p>Property Usage:</p>
        <div class="row" style="margin: 0px">
          <p style="font-weight: 600; color: #686868">Industrial</p>

          <mat-radio-group
            [(ngModel)]="propertyUsage"
            style="margin-left: 15px"
            formControlName="propertyUsage"
          >
            <mat-radio-button value="industrial"></mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row" style="margin-left: 30px">
          <p style="font-weight: 600; color: #686868">Commercial</p>

          <mat-radio-group
            [(ngModel)]="propertyUsage"
            style="margin-left: 15px"
            formControlName="propertyUsage"
          >
            <mat-radio-button value="commercial"></mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="row" style="margin-left: 30px">
          <p style="font-weight: 600; color: #686868">Residential</p>

          <mat-radio-group
            [(ngModel)]="propertyUsage"
            style="margin-left: 15px"
            formControlName="propertyUsage"
          >
            <mat-radio-button value="residential"></mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col-sm-4" style="padding-left: 0">
      <input
        autocomplete="off"
        matInput
        placeholder="Building Name"
        formControlName="buildingName"
        class="form-input"
      />
    </div>

    <div class="col-sm-8">
      <div
        class="row"
        style="
          margin: 0;
          margin-top: 25px;
          margin-left: 10px;
          width: 102.7%;
          justify-content: space-between;
        "
      >
        <p style="margin-top: 5px">Contract Period:</p>
        <div class="col" style="margin-top: -25px; margin-left: 50px">
          <mat-form-field class="form-input">
            <input
              matInput
              formControlName="contract_to"
              placeholder="to"
              [matDatepicker]="picker"
              [(ngModel)]="contract_to"
              (dateChange)="onContractToDateChange($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col" style="margin-top: -25px">
          <mat-form-field class="form-input">
            <input
              matInput
              formControlName="contract_from"
              placeholder="from"
              [matDatepicker]="picker2"
              [(ngModel)]="contract_from"
              (dateChange)="onContractFromDateChange($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="picker2"
            ></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="row" style="margin: 0">
    <div class="col" style="padding-left: 0">
      <input
        autocomplete="off"
        matInput
        placeholder="Property Size"
        formControlName="property_size"
        class="form-input"
      />
      <input
        autocomplete="off"
        matInput
        placeholder="Premises No. (DEWA)"
        formControlName="premisesNo"
        class="form-input"
      />
      <input
        autocomplete="off"
        matInput
        placeholder="Security Deposit Amount"
        formControlName="security_deposit_amnt"
        class="form-input"
      />
    </div>
    <div class="col">
      <div
        class="row"
        style="margin: 0; justify-content: space-between; width: 104%"
      >
        <input
          autocomplete="off"
          matInput
          placeholder="Property Type"
          formControlName="property_type"
          class="form-input"
          style="width: auto"
        />
        <input
          autocomplete="off"
          matInput
          placeholder="Property No"
          formControlName="propertyNo"
          class="form-input"
          style="width: auto"
        />
      </div>
      <input
        autocomplete="off"
        matInput
        placeholder="Annual Rent"
        formControlName="annualRent"
        class="form-input"
      />
      <input
        autocomplete="off"
        matInput
        placeholder="Mode of Payment"
        formControlName="mode_of_payment"
        class="form-input"
      />
    </div>

    <div class="col">
      <input
        autocomplete="off"
        matInput
        placeholder="Location"
        formControlName="location"
        class="form-input"
      />
      <input
        autocomplete="off"
        matInput
        placeholder="Contract Value"
        formControlName="contractValue"
        class="form-input"
      />
    </div>
  </div>
</form>
