<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content reports-bg" *ngIf="screenWidth > 430">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div class="col" style="padding: 0">
      <div class="row m-0 w-100 align-items-end justify-content-between">
        <div class="row m-0 align-items-end mb-3">
          <p class="m-0 ml-4 mt-5" style="font-size: 2rem; font-weight: 600">
            Tenant Move-out Requests
          </p>
          <img
            (click)="refreshTable()"
            matTooltip="Refresh table"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="refresh-table-btn ml-3"
            src="assets/img/svg/home-page/refresh-2.svg"
            alt=""
          />
          <img
            (click)="showAllFlaggedRequests()"
            matTooltip="Show All Flagged Requests"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="refresh-table-btn ml-4"
            src="assets/img/pngs/flag-bold.png"
            alt=""
          />

          <img
            #filterMenuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="filterMenu"
            matTooltip="Filter"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="sort-table-btn ml-4"
            src="assets/img/pngs/sort.png"
            alt=""
          />

          <img
            style="height: 21px"
            #timelineMenuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="timelineMenu"
            matTooltip="Filter By Date"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            class="sort-table-btn ml-4"
            src="assets/img/pngs/timeline.png"
            alt=""
          />

          <mat-menu #timelineMenu="matMenu">
            <div class="timeline-menu" (click)="$event.stopPropagation()">
              <div class="row m-0">
                <div class="col p-0">
                  <p class="cal-title">From</p>
                  <mat-calendar
                    [(selected)]="first_selected_timeline"
                  ></mat-calendar>
                </div>

                <div class="vertical-divider"></div>
                <div class="col p-0">
                  <p class="cal-title">To</p>
                  <mat-calendar
                    [(selected)]="last_selected_timeline"
                  ></mat-calendar>
                </div>
              </div>
              <div class="col mt-3 p-0 d-flex justify-content-end">
                <div
                  (click)="filterByTimeline(timelineMenuTrigger)"
                  class="btn search-btn"
                >
                  Search
                </div>
              </div>
              <p
                class="mb-0 mt-2"
                *ngIf="timeLineFilterDateNotSelected == true"
                style="
                  text-align: end;
                  font-size: 12px;
                  font-weight: 400;
                  color: red;
                "
              >
                Please Select Dates for Filtering.
              </p>
              <p
                class="mb-0 mt-2"
                *ngIf="timeLineFilterselectedWrong == true"
                style="
                  text-align: end;
                  font-size: 12px;
                  font-weight: 400;
                  color: red;
                "
              >
                Please Select Valid Date Timeline.
              </p>
            </div>
          </mat-menu>

          <mat-menu #filterMenu="matMenu">
            <div class="filter-menu" (click)="$event.stopPropagation()">
              <p class="small-title">Show Only</p>
              <hr />

              <div
                class="list mt-2"
                (click)="showRequestsOnStatus('approved', filterMenuTrigger)"
              >
                <p class="m-0">Approved Requests</p>
              </div>
              <div
                class="list"
                (click)="showRequestsOnStatus('declined', filterMenuTrigger)"
              >
                <p class="m-0">Declined Requests</p>
              </div>
              <div
                class="list"
                (click)="showRequestsOnStatus('pending', filterMenuTrigger)"
              >
                <p class="m-0">Pending Requests</p>
              </div>
              <div
                class="list"
                (click)="showRequestsOnStatus('review', filterMenuTrigger)"
              >
                <p class="m-0">Reviewing Requests</p>
              </div>
            </div>
          </mat-menu>

          <div
            class="row m-0 flagged-reqs-filter ml-4"
            *ngIf="flaggedRequestsFilterOn == true"
          >
            <p class="m-0">Important Requests</p>
            <img
              class="ml-2"
              (click)="closeFlaggedRequestFilter()"
              src="assets/img/svg/req-details/close-circle.svg"
              alt=""
            />
          </div>
          <div
            class="row m-0 flagged-reqs-filter ml-4"
            *ngIf="statusFilterOn == true"
          >
            <p class="m-0">
              Filtered On :
              <span class="ml-1" style="font-weight: 700"
                >{{ statusFilter | titlecase }}</span
              >
            </p>
            <img
              class="ml-2"
              (click)="closeStatusFilter()"
              src="assets/img/svg/req-details/close-circle.svg"
              alt=""
            />
          </div>
          <div
            class="row m-0 flagged-reqs-filter ml-4"
            *ngIf="timeLineFilterOn == true"
          >
            <p class="m-0">
              Filtered On :
              <span class="ml-1" style="font-weight: 700"
                >{{ first_selected_timeline | date : "d/M/yy" }}</span
              >
              <span class="ml-1" style="font-weight: 700">-</span>
              <span class="ml-1" style="font-weight: 700"
                >{{ last_selected_timeline | date : "d/M/yy" }}</span
              >
            </p>
            <img
              class="ml-2"
              (click)="closeTimelineFilter()"
              src="assets/img/svg/req-details/close-circle.svg"
              alt=""
            />
          </div>
        </div>
        <searchbar-table (myEvent)="applyFilter($event)"></searchbar-table>
      </div>
      <table
        *ngIf="isContentLoading == true"
        mat-table
        [dataSource]="loadingTable"
        class="mat-elevation-z8 demo-table"
      >
        <!-- Name Column -->
        <ng-container matColumnDef="issueDate">
          <th mat-header-cell *matHeaderCellDef>DATE ISSUED</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'first-col-last' : 'first-col'"
          >
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="reqNo">
          <th mat-header-cell *matHeaderCellDef>REQ NO.</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'second-col-last' : 'second-col'"
          >
            <div style="max-width: 250px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '250px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="reqType">
          <th mat-header-cell *matHeaderCellDef>REQUEST TYPE</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'third-col-last' : 'third-col'"
          >
            <div style="max-width: 150px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '150px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="propertyName">
          <th mat-header-cell *matHeaderCellDef>PROPERTY NAME</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
          >
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="clientName">
          <th mat-header-cell *matHeaderCellDef>CLIENT NAME</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'sixth-col-last' : 'sixth-col'"
          >
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>STATUS</th>
          <td mat-cell *matCellDef="let element; let last = last">
            <div style="max-width: 120px; max-height: 30px; border-radius: 9px">
              <ngx-skeleton-loader [theme]="{ width: '120px', height: '30px' }">
              </ngx-skeleton-loader>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
          <td
            mat-cell
            *matCellDef="let element; let last = last"
            [ngClass]="last ? 'eighth-col-last' : 'eighth-col'"
          >
            <img
              matTooltip="More Actions"
              matTooltipClass="tooltip"
              matTooltipPosition="above"
              src="assets/img/svg/home-page/more.svg"
              alt=""
              style="
                filter: brightness(0) saturate(100%) invert(73%) sepia(8%)
                  saturate(14%) hue-rotate(333deg) brightness(91%) contrast(77%);
                width: 20px;
                cursor: pointer;
              "
            />
          </td>
        </ng-container>

        <!-- Symbol Column -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <!------------------------------------ All Requests ----------------------------------------------------->
      <!------------------------------------ All Requests ----------------------------------------------------->
      <!------------------------------------ All Requests ----------------------------------------------------->
      <div *ngIf="isContentLoading == false">
        <div style="overflow: auto; padding: 0 5px; padding-bottom: 1rem">
          <table
            mat-table
            [dataSource]="allRequestsMatTableData"
            class="mat-elevation-z8 demo-table"
            *ngIf="allRequests.length != 0"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="issueDate">
              <th mat-header-cell *matHeaderCellDef>DATE ISSUED</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'first-col-last' : 'first-col'"
                (click)="reviewRequest(element)"
              >
                {{ element.issue_date }}
              </td>
            </ng-container>

            <ng-container matColumnDef="reqNo">
              <th mat-header-cell *matHeaderCellDef>REQ NO.</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'second-col-last' : 'second-col'"
                (click)="reviewRequest(element)"
              >
                {{ element.request_no }}
              </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="reqType">
              <th mat-header-cell *matHeaderCellDef>REQUEST TYPE</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'third-col-last' : 'third-col'"
                (click)="reviewRequest(element)"
              >
                Tenant-move-out Request
              </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="propertyName">
              <th mat-header-cell *matHeaderCellDef>PROPERTY NAME</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'fourth-col-last' : 'fourth-col'"
                (click)="reviewRequest(element)"
              >
                {{ element.property_name }}
              </td>
            </ng-container>

            <ng-container matColumnDef="clientName">
              <div>
                <th mat-header-cell *matHeaderCellDef>TENANT NAME</th>
                <td
                  mat-cell
                  *matCellDef="let element; let last = last"
                  [ngClass]="last ? 'sixth-col-last' : 'sixth-col'"
                  (click)="reviewRequest(element)"
                >
                  {{ element.firstname | titlecase}}
                </td>
              </div>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>STATUS</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="getRequestStatus(element, last)"
                (click)="reviewRequest(element)"
              ></td>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
              <td
                mat-cell
                *matCellDef="let element; let last = last"
                [ngClass]="last ? 'eighth-col-last' : 'eighth-col'"
              >
                <div class="row m-0 justify-content-center">
                  <img
                    class="more-btn d-none"
                    matTooltip="More Actions"
                    matTooltipClass="tooltip"
                    matTooltipPosition="above"
                    #mainMenuTrigger="matMenuTrigger"
                    [matMenuTriggerFor]="actionsMenuHome"
                    src="assets/img/svg/home-page/more.svg"
                    alt=""
                    style="
                      filter: invert(62%) sepia(67%) saturate(434%)
                        hue-rotate(7deg) brightness(96%) contrast(92%);
                      width: 20px;
                      cursor: pointer;
                    "
                    (click)="mainMenuOpened(element)"
                  />
                  <mat-menu #actionsMenuHome="matMenu">
                    <div
                      (click)="$event.stopPropagation()"
                      class="col more-actions"
                    >
                      <div
                        class="row m-0 list d-flex"
                        style="align-items: center"
                        (click)="flagAsImportant(element, mainMenuTrigger)"
                      >
                        <img src="assets/img/pngs/flag.png" alt="" />
                        <p *ngIf="flaggedRequest == false">Flag As Important</p>
                        <p *ngIf="flaggedRequest == true">Remove Flag</p>
                      </div>
                      <div
                        class="row mt-1 m-0 list d-flex"
                        style="align-items: center"
                        (click)="
                         archiveRequest(element, mainMenuTrigger, index)
                       "
                      >
                        <img src="assets/img/pngs/folder.png" alt="" />
                        <p>Archive Request</p>
                      </div>
                      <div
                        class="row mt-1 mb-2 m-0 list d-flex"
                        style="align-items: center"
                      >
                        <img src="assets/img/pngs/alarm.png" alt="" />
                        <p>Send Reminder</p>
                      </div>
                      <hr style="margin: 0 5px" />
                      <div
                        class="row mt-2 m-0 list-delete d-flex"
                        style="align-items: center"
                      >
                        <img src="assets/img/pngs/trash.png" alt="" />
                        <p>Delete Request</p>
                      </div>
                    </div>
                  </mat-menu>
                  <div
                    *ngIf="element.flag == 0"
                    class="more-btn-disabled"
                  ></div>

                  <div *ngIf="element.flag == 1">
                    <img
                      matTooltip="Important Request"
                      matTooltipClass="tooltip"
                      matTooltipPosition="above"
                      style="width: 17px"
                      class="ml-4"
                      src="assets/img/pngs/flag-bold.png"
                      alt=""
                    />
                  </div>
                </div>
              </td>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            *ngIf="allRequestsMatTableData.filteredData.length == 0  && allRequests.length != 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: 0;
              text-align: center;
              box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.2),
                0px 0px 1px -5px rgba(0, 0, 0, 0.14),
                0px 6px 9px 0px rgba(0, 0, 0, 0.12);
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1250px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              NO RESULTS :(
            </p>
          </div>
          <table
            *ngIf="allRequests.length == 0"
            mat-table
            [dataSource]="loadingTable"
            class="mat-elevation-z8 demo-table"
          >
            <!-- Name Column -->
            <ng-container matColumnDef="issueDate">
              <th mat-header-cell *matHeaderCellDef>DATE ISSUED</th>
            </ng-container>

            <ng-container matColumnDef="reqNo">
              <th mat-header-cell *matHeaderCellDef>REQ NO.</th>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="reqType">
              <th mat-header-cell *matHeaderCellDef>REQUEST TYPE</th>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="propertyName">
              <th mat-header-cell *matHeaderCellDef>PROPERTY NAME</th>
            </ng-container>

            <ng-container matColumnDef="clientName">
              <th mat-header-cell *matHeaderCellDef>CLIENT NAME</th>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>STATUS</th>
            </ng-container>

            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
            </ng-container>

            <!-- Symbol Column -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
          <div
            *ngIf="allRequests.length == 0"
            class="d-flex align-items-center justify-content-center"
            style="
              background: white;
              margin-top: -2rem;
              text-align: center;
              box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.2),
                0px 0px 1px -5px rgba(0, 0, 0, 0.14),
                0px 6px 9px 0px rgba(0, 0, 0, 0.12);
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
              height: 15rem;
              min-width: 1250px;
            "
          >
            <p style="font-size: 1.5rem; font-weight: 500; color: #d3ab33">
              NO REQUESTS
            </p>
            <p
              class="pl-3"
              style="font-size: 1.3rem; font-weight: 500; color: #d3ab33"
            >
              (－_－) zzZ
            </p>
          </div>
        </div>
        <div style="margin-top: 25px" class="table-paginator">
          <mat-paginator
            #paginator
            [pageSizeOptions]="[6, 8, 10, 14, 20]"
            showFirstLastButtons
          ></mat-paginator>
        </div>
        <!-- </div> -->
        <!-- </div> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</div>
