<div class="main-content reports-bg">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px"
  >
    <div
      *ngIf="isLoading == true"
      style="
        display: flex;
        width: 100%;
        height: 800px;
        justify-content: center;
        align-items: center;
      "
    >
      <span class="spinner-border spinner-border-m mr-2" style="color: #d4aa32">
      </span>
    </div>

    <div class="card" *ngIf="isLoading == false">
      <div
        class="card-header"
        style="
          background-color: #2b333e;
          padding: 40px 20px;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        "
      >
        <div class="row" style="margin: 0; justify-content: space-between">
          <div class="col">
            <p
              style="margin: 0; font-size: 20px; font-weight: 500; color: white"
            >
              {{getRecapHeading()}}
            </p>
            <div class="row" style="margin: 0; margin-top: 5px">
              <p style="margin-bottom: 0; color: #88909b">
                Activity regarding payment
              </p>
              <img
                src="assets/img/svg/home-page/info-circle.svg"
                alt=""
                style="
                  filter: invert(62%) sepia(67%) saturate(434%) hue-rotate(7deg)
                    brightness(96%) contrast(92%);
                  width: 15px;
                  margin-left: 5px;
                "
              />
            </div>
          </div>
        </div>
      </div>

      <div
        class="card-body"
        style="width: 100%; padding: 50px; padding-top: 15px"
      >
        <div class="row back-btn-row" navigateBack>
          <img src="assets/img/svg/request-page/arrow-left.svg" alt="" />
          <p style="margin-bottom: 0">Back</p>
        </div>
        <hr />

        <div class="row" style="margin: 0">
          <div
            class="col"
            style="
              padding-left: 0;
              border-right: 1px solid rgba(0, 0, 0, 0.1);
              padding-bottom: 20px;
            "
          >
            <p style="font-size: 19px; font-weight: 600">
              {{getOverviewHeading()}}
            </p>

            <div
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 10px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">
                  {{getRequestTitleHeading()}}
                </p>
                <p style="font-weight: 600">{{service_application_type}}</p>
              </div>
              <div class="col">
                <p style="margin-bottom: 0; color: #a3a3a3">Request Number</p>
                <p style="font-weight: 600">#132453</p>
              </div>
            </div>
            <div
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 20px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">
                  {{getRequestReciept()}}
                </p>
                <p style="font-weight: 600">Ref: Indus32132x1</p>
              </div>
              <div class="col" *ngIf="service_amount != 'none'">
                <p style="margin-bottom: 0; color: #a3a3a3">
                  Amount to be payed
                </p>
                <p style="font-weight: 600">
                  {{ service_amount | currency:'AED '}} +VAT
                </p>
              </div>
            </div>

            <hr />
            <p
              *ngIf="landlord == null"
              style="font-size: 19px; font-weight: 600"
            >
              Tenant Information
            </p>
            <p *ngIf="tenant == null" style="font-size: 19px; font-weight: 600">
              Landlord Information
            </p>

            <div
              *ngIf="landlord == null"
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 10px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">Full Name</p>
                <p style="font-weight: 600">
                  {{tenant.firstname | titlecase}} {{tenant.lastname}}
                </p>
              </div>
              <div class="col">
                <p style="margin-bottom: 0; color: #a3a3a3">Property Address</p>
                <p style="font-weight: 600">
                  {{tenant.property_name}}, {{tenant.property_address}}
                </p>
              </div>
            </div>
            <div
              *ngIf="tenant == null"
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 10px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">Full Name</p>
                <p style="font-weight: 600">
                  {{landlord.firstname | titlecase}} {{landlord.lastname}}
                </p>
              </div>
              <div class="col">
                <p style="margin-bottom: 0; color: #a3a3a3">Property Address</p>
                <p style="font-weight: 600">
                  {{landlord.property_name}}, {{landlord.property_address}}
                </p>
              </div>
            </div>
            <div
              *ngIf="landlord == null"
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 20px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">Mobile Number</p>
                <p style="font-weight: 600">{{tenant.phone_number}}</p>
              </div>
              <div class="col">
                <p style="margin-bottom: 0; color: #a3a3a3">Email Id</p>
                <p style="font-weight: 600">{{tenant.email}}</p>
              </div>
            </div>
            <div
              *ngIf="tenant == null"
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 20px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">Mobile Number</p>
                <p style="font-weight: 600">{{landlord.phone_number}}</p>
              </div>
              <div class="col">
                <p style="margin-bottom: 0; color: #a3a3a3">Email Id</p>
                <p style="font-weight: 600">{{landlord.email}}</p>
              </div>
            </div>
          </div>
          <div class="col" style="padding-left: 30px; padding-bottom: 20px">
            <p style="font-size: 17px; font-weight: 600">Documents</p>
            <span
              *ngIf="uploadedDoc == null"
              style="font-size: 18px; font-weight: 700; color: #c7c7c7"
              >No Document has uploaded</span
            >
            <div
              *ngIf="uploadedDoc != null"
              class="card"
              style="padding: 10px; max-width: 450px"
            >
              <div class="row" style="margin: 0">
                <div
                  style="
                    width: 50px;
                    height: 45px;
                    border: 1px solid #e8e8e8;
                    border-radius: 7px;
                    padding: 12px;
                    padding-top: 7px;
                  "
                >
                  <img
                    src="assets/img/svg/request-page/document-text.svg"
                    alt=""
                    style="width: 25px"
                  />
                </div>

                <div class="col" style="padding-left: 40px">
                  <p style="margin-bottom: 0; font-weight: 600">
                    {{getDocumentName()}}
                  </p>
                  <div class="row m-0">
                    <p class="doc-view-link pr-2" (click)="viewDoc()">View</p>
                    <p class="doc-view-link" (click)="removeDoc()">Remove</p>
                  </div>
                </div>
              </div>
            </div>

            <div
              class="col"
              style="width: 100%; display: flex; justify-content: end"
            >
              <div
                *ngIf="uploadedDoc == null"
                (click)="openUploadDocDialog('payment_doc')"
                class="btn"
                style="
                  background-color: #d4aa32;
                  border-radius: 8px;
                  padding: 10px 20px;
                "
              >
                upload
              </div>
              <div
                *ngIf="uploadedDoc != null"
                class="btn"
                style="
                  background-color: #adadad;
                  border-radius: 8px;
                  padding: 10px 20px;
                  cursor: auto;
                "
              >
                upload
              </div>
            </div>
          </div>
        </div>

        <div
          class="row"
          style="margin: 0; border-top: 1px solid rgba(0, 0, 0, 0.1)"
        >
          <!-- <div class="col" style="padding-left: 0; padding-top: 20px">
            <p style="font-size: 19px; font-weight: 600">Payment</p>

            <div
              class="row"
              style="
                margin: 0;
                justify-content: space-between;
                margin-top: 10px;
              "
            >
              <div class="col" style="padding: 0">
                <p style="margin-bottom: 0; color: #a3a3a3">Payment type</p>
                <p style="font-weight: 600">Credit/Debit Card</p>
              </div>
              <div class="col">
                <p style="margin-bottom: 0; color: #a3a3a3">
                  Amount to be paid
                </p>
                <p style="font-weight: 600">3,045 AED +VAT</p>
              </div>
            </div>
          </div> -->
          <div
            class="col pl-0 pt-5 w-100"
            *ngIf="currentServicePageType == 'payment-tenant' || currentServicePageType == 'payment-landlord'"
          >
            <p style="font-size: 19px; font-weight: 600">Payment Type</p>
            <mat-radio-group
              aria-labelledby="example-radio-group-label"
              class="example-radio-group"
              [(ngModel)]="selectedPayment"
            >
              <mat-radio-button class="example-radio-button" value="card">
                <div
                  [ngClass]="selectedPayment == 'card' ? 'payment-type-card-selected' : 'payment-type-card'"
                  class="card"
                >
                  <div
                    class="row"
                    style="margin: 0; justify-content: space-between"
                  >
                    <div class="row" style="margin: 0">
                      <img
                        src="assets/img/svg/payment-recap/card.svg"
                        alt=""
                        style="width: 25px"
                      />
                      <p
                        style="
                          margin-bottom: 0;
                          font-size: 15px;
                          font-weight: 600;
                          margin-left: 15px;
                        "
                      >
                        Visa Debit Card
                      </p>
                    </div>

                    <p
                      style="
                        margin-bottom: 0;
                        font-size: 15px;
                        font-weight: 600;
                      "
                    >
                      ********8324
                    </p>
                  </div>
                </div>
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="cash">
                <div
                  class="card"
                  [ngClass]="selectedPayment == 'cash' ? 'payment-type-card-selected' : 'payment-type-card'"
                >
                  <div class="row" style="margin: 0; justify-content: start">
                    <div class="row" style="margin: 0">
                      <img
                        src="assets/img/svg/payment-recap/money.svg"
                        alt=""
                        style="width: 25px"
                      />
                      <p
                        style="
                          margin-bottom: 0;
                          font-size: 15px;
                          font-weight: 600;
                          margin-left: 15px;
                        "
                      >
                        Cash Payment
                      </p>
                    </div>
                  </div>
                </div>
              </mat-radio-button>
              <mat-radio-button class="example-radio-button" value="other">
                <div
                  class="card"
                  [ngClass]="selectedPayment == 'other' ? 'payment-type-card-selected' : 'payment-type-card'"
                >
                  <div class="row" style="margin: 0; justify-content: start">
                    <div class="row" style="margin: 0">
                      <img
                        src="assets/img/svg/payment-recap/card-remove.svg"
                        alt=""
                        style="width: 25px"
                      />
                      <p
                        style="
                          margin-bottom: 0;
                          font-size: 15px;
                          font-weight: 600;
                          margin-left: 15px;
                        "
                      >
                        Other Payment Method
                      </p>
                    </div>
                  </div>
                </div>
              </mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div
          class="col pt-4"
          style="width: 100%; display: flex; justify-content: end"
        >
          <div
            class="btn"
            style="
              background-color: #d4aa32;
              border-radius: 8px;
              padding: 10px 20px;
            "
          >
            finish
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
