<div class="logo">
  <div class="logo-img-div">
    <a href="https://www.indusre.com">
      <img
        class="logo-img"
        src="https://www.indusre.com/images/indus-logo.png"
      />
    </a>
  </div>
  <!-- <div class="logo-heading">
        <span>Indus Real Estate</span>
    </div> -->
</div>

<div class="sidebar-wrapper sideBar-main">
  <div *ngIf="isMobileMenu()">
    <ul class="nav navbar-nav nav-mobile-menu">
      <li class="nav-item">
        <a class="nav-link" href="javascript:void(0)">
          <i class="material-icons">mail</i>
          <p>
            <span class="d-lg-none d-md-block sideBarMobile-navbar-buttons"
              >Mail us</span
            >
          </p>
        </a>
      </li>
      <li class="nav-item dropdown notification-dropdown-sidebar-mobile">
        <a
          class="nav-link"
          href="javascript:void(0)"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          <i class="material-icons">notifications</i>
          <span class="notification notification-count-sidebar-mobile">5</span>
          <p>
            <span class="d-lg-none d-md-block sideBarMobile-navbar-dropdown-btn"
              >Notifications</span
            >
          </p>
        </a>
        <div
          class="dropdown-menu dropdown-menu-right"
          aria-labelledby="navbarDropdownMenuLink"
        >
          <a
            class="dropdown-item notification-dropdown-item-sidebar-mobile"
            href="#"
            >Mike John responded to your email</a
          >
          <a
            class="dropdown-item notification-dropdown-item-sidebar-mobile"
            href="#"
            >You have 5 new tasks</a
          >
          <a
            class="dropdown-item notification-dropdown-item-sidebar-mobile"
            href="#"
            >You're now friend with Andrew</a
          >
          <a
            class="dropdown-item notification-dropdown-item-sidebar-mobile"
            href="#"
            >Another Notification</a
          >
          <a
            class="dropdown-item notification-dropdown-item-sidebar-mobile"
            href="#"
            >Another One</a
          >
        </div>
      </li>
    </ul>
  </div>
  <div class="sizedBox-div"></div>

  <ul class="nav" style="margin-top: 50px">
    <a
      *ngIf="user.auth_type != 'admin'"
      class="user-profile-logo-sidebar"
      routerLink="/user-profile"
      queryParams="{uid: user.id}"
      style="text-align: -webkit-center"
    >
      <div>
        <img
          *ngIf="userProfileFetching == false"
          mat-card-avatar
          class="sidebar-card-avatar"
          src="{{ userProfilePic }}"
          alt="User Avatar"
          style="pointer-events: none; margin-left: 0px"
        />
        <ngx-skeleton-loader
          *ngIf="userProfileFetching == true"
          appearance="circle"
          [theme]="{ width: '95px', height: '90px', left: '0px' }"
        >
        </ngx-skeleton-loader>

        <span
          *ngIf="profilePicUpdatingLoader == true"
          class="spinner-border spinner-border-m mr-2"
          style="position: absolute; right: 106px; top: 105px; color: #d3ab33"
        >
        </span>
      </div>
      <div>
        <span class="sidebar-card-avatar-title" style="padding-left: 0px">{{
          user.firstname
        }}</span>
      </div>
    </a>

    <div
      *ngIf="user.auth_type == 'admin'"
      style="
        text-align: -webkit-center;
        color: #a3a3a3;
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 100px;
        margin-top: 100px;
      "
    >
      <p>Admin Panel</p>
    </div>

    <div style="margin-top: 30px"></div>
    <li
      *ngFor="let item of homeRoute"
      class="{{ item.class }} nav-item sideBarNav-Item"
    >
      <a
        class="nav-link"
        [routerLink]="[item.path]"
        [queryParams]="{ uid: user.id }"
        [class.active]="isLinkActive(item.path)"
      >
        <!-- <i class="material-icons">{{ item.icon }}</i> -->
        <div class="row">
          <img class="sidebar-items-icon" [src]="[item.icon]" alt="hello" />
          <p class="nav-item-title">{{ item.title }}</p>
        </div>
      </a>
    </li>
    <li
      class="nav-item dropdown-btn-services"
      *ngIf="user.auth_type != 'admin'"
    >
      <dropdown-btn></dropdown-btn>
    </li>
    <li
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item sideBarNav-Item"
    >
      <a
        class="nav-link"
        [routerLink]="[menuItem.path]"
        [queryParams]="{ uid: user.id }"
        [class.active]="isLinkActive(menuItem.path)"
      >
        <div class="row">
          <img class="sidebar-items-icon" [src]="[menuItem.icon]" alt="hello" />
          <p class="nav-item-title">{{ menuItem.title }}</p>
        </div>
      </a>
    </li>
  </ul>
</div>
