@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.sizedBox-div {
  height: 20px;
}

.nav-mobile-menu {
  padding-top: 25px;
}

.logo:after {
  background-color: #00000000;
}

.logo {
  height: 70px;
  .logo-img-div {
    .logo-img {
      padding-left: 60px;
      width: 165px;
      margin-bottom: 20px;
      margin-top: 5px;
    }
  }
}

.logout-btn-sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 30px;
  margin-top: 8px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    background-color: #455365;
  }
}

.mini-sidebar-img {
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 6px;
  margin-bottom: 15px;
  transition: all 150ms ease-in;

  img {
    pointer-events: none;
    user-select: none;
    width: 17px;
    filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(9%)
      hue-rotate(146deg) brightness(90%) contrast(93%);
  }

  &:hover {
    background-color: #455365;
    border-radius: 8px;

    img {
      filter: brightness(0) invert(1);
    }
  }
}

.mini-sideBar-arrow-div {
  margin: 0 6px;
  padding: 7px 11px;
  cursor: pointer;

  .mini-sideBar-arrow-opened {
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    width: 18px;
    transition: all 250ms ease-out;
    transform: rotate(180deg);
  }
  .mini-sideBar-arrow-closed {
    pointer-events: none;
    user-select: none;
    filter: brightness(0) invert(1);
    width: 18px;
    transition: all 250ms ease-out;
  }

  &:hover {
    background-color: #f5d2717b;
    padding: 7px 11px;
    border-radius: 8px;
  }
}

.mini-sidebar-img-active {
  cursor: pointer;
  background-color: #455365;
  padding: 5px 10px;
  border-radius: 8px;
  margin: 0 6px;
  margin-bottom: 15px;

  img {
    width: 17px;
    filter: brightness(0) invert(1);
    pointer-events: none;
    user-select: none;
  }
}

.sideBarWrapper-width-large {
  width: 250px;
  padding: 0;
  overflow: hidden;
}
.sideBarWrapper-width-mini {
  width: 50px;
  padding: 0;
}

.nav-width-large {
  width: calc(250px - 50px);
}

.nav-width-mini {
  display: none;
}

.sideBar-row-width-large {
  margin: 0;
  height: 100%;
  width: 250px;
}

.sideBar-row-width-mini {
  margin: 0;
  height: 100%;
  width: 50px;
}

.sideBar-main {
  background-color: #313a46;
  height: 100%;

  .sideBarMobile-navbar-buttons {
    color: white;
    font-size: medium;
    font-weight: 400;
  }

  .notification-dropdown-sidebar-mobile {
    .notification-dropdown-item-sidebar-mobile {
      color: white;
    }

    .notification-count-sidebar-mobile {
      color: #d3ab33;
      font-weight: 400;
    }

    .sideBarMobile-navbar-dropdown-btn {
      color: white;
      font-size: medium;
      font-weight: 400;
    }
  }
}

.nav {
  .user-profile-logo-sidebar {
    cursor: pointer;

    .profile-image {
      width: 100px;
      height: 100px;
      border-radius: 50%;
    }
  }
  .sidebar-card-avatar {
    border: solid 2px #1f262f;
    margin-left: 70px;
    border-radius: 50%;
  }

  .sidebar-card-avatar-title {
    padding-left: 95px;
    color: white;
    font-size: large;
    font-weight: 500;
  }

  .sideBarNav-Item {
    .sidebar-items-icon {
      pointer-events: none;
      user-select: none;
      filter: brightness(0) saturate(100%) invert(72%) sepia(0%) saturate(9%)
        hue-rotate(146deg) brightness(90%) contrast(93%);
      margin-left: 17px;
      margin-right: 11px;
      width: 15px;
    }

    &:hover {
      .nav-link {
        background-color: #455365;
        border-radius: 8px;
        .nav-item-title {
          color: white;
        }

        .sidebar-items-icon {
          filter: brightness(0) invert(1);
        }
      }
    }
  }

  .nav-item {

    .nav-link{
      padding: 5px 8px !important;
      margin: 0 7px !important;
      margin-bottom: 12px !important;
    }

    .nav-item-title {
      font-size: 12px;
      font-weight: 500;
      color: #a3a3a3;
    }
    .active {
      background-color: #455365;
      border-radius: 8px;
      .nav-item-title {
        color: white;
      }

      .sidebar-items-icon {
        pointer-events: none;
        user-select: none;
        filter: brightness(0) invert(1);
      }
    }
  }

  .nav-link {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }
}

::ng-deep .tooltip {
  position: relative;
  background-color: transparent;
  color: #313a46 !important;
  font-size: 11px;
  font-weight: 600;
  padding: 2px 6px !important;
  max-width: none !important;
  min-width: auto !important;
}
