<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div id="full-screen-image">
  <button class="close-btn" title="Exit">

    <img
      matTooltip="Close"
      matTooltipClass="tooltip"
      matTooltipPosition="above"
      (click)="onCloseDialog()"
      class="mr-2 mt-1 close-icon"
      src="assets/img/svg/req-details/close-circle.svg"
      alt />
  </button>
  <img src alt id="image">
</div>
<div class="main-content reports-bg" *ngIf="screenWidth > 430">
  <div
    class="container-fluid h-100 d-flex justify-content-center"
    style="max-width: 2576px">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <h3 class="item-header" *ngIf="all_data != null">
              {{all_data.unit_no}} - {{all_data.prop_address}} -
              {{all_data.unit_type}} - {{all_data.prop_name}}
            </h3>
            <span *ngIf="all_data != null" class="prop-status"
              [ngClass]="all_data.unit_status.toLowerCase() == 'vacant' ? 'vacant' : 'occupant'">{{all_data.unit_status.toUpperCase()}}</span>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="card carousel-card">
              <div id="carouselExampleIndicators" class="carousel slide"
                data-ride="carousel" data-pause="Hover">
                <ol class="carousel-indicators" id="indicator"></ol>
                <div class="carousel-inner" #carousel id="carousel"></div>
                <a class="carousel-control-prev"
                  href="#carouselExampleIndicators" role="button"
                  data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next"
                  href="#carouselExampleIndicators" role="button"
                  data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
            </div>
          </div>

        </div>

        <div class="row" *ngIf=" all_data != null">

          <div class="col-md-4">
            <div class="card card-main h-100">
              <div class="card-body">
                <h4 class="overview-header card-header border-0 ms-3">Overview</h4>
                <div class="row px-3">

                  <div class="col-3 overview-item">
                    <div class="card overview-card">
                      <div class="card-body px-2 d-flex">
                        <ul class="p-0 d-flex icon-container m-auto">
                          <li class="mx-1"><img
                              src="../../assets/img/svg/common-icons/bath-2.svg"
                              alt class="over-viewicon card-img-top"></li>
                          <li class="mx-1"> {{all_data.unit_bath}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-3 overview-item">
                    <div class="card overview-card">
                      <div class="card-body px-2 d-flex">
                        <ul class="p-0 d-flex icon-container m-auto">
                          <li class="mx-1"><img
                              src="../../assets/img/svg/common-icons/bed.svg"
                              alt class="over-viewicon card-img-top"></li>
                          <li class="mx-1"> {{all_data.unit_bed}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-3 overview-item">
                    <div class="card overview-card">
                      <div class="card-body px-2 d-flex">
                        <ul class="p-0 d-flex icon-container m-auto">
                          <li class="mx-1"><img
                              src="../../assets/img/svg/common-icons/property.svg"
                              alt class="over-viewicon card-img-top"></li>
                          <li class="mx-1"> {{all_data.unit_floor}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-3 overview-item">
                    <div class="card overview-card">
                      <div class="card-body px-2 d-flex">
                        <ul class="p-0 d-flex icon-container m-auto">
                          <li class="mx-1"><img
                              src="../../assets/img/svg/common-icons/area.svg"
                              alt class="over-viewicon card-img-top"></li>
                          <li class="mx-1">{{all_data.unit_size}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="col-3 overview-item">
                    <div class="card overview-card">
                      <div class="card-body px-2 d-flex">
                        <ul class="p-0 d-flex icon-container m-auto">
                          <li class="mx-1"><img
                              src="../../assets/img/svg/common-icons/garage.svg"
                              alt class="over-viewicon card-img-top"></li>
                          <li class="mx-1">{{all_data.unit_parking}}</li>
                        </ul>
                      </div>
                    </div>
                  </div>

                </div>
                <!-- <hr class="my-3">
                <div class="row" *ngIf="all_data != null">
                  <div class="col-md-12">
                    <ul class="p-0 sub-overview">
                      <li class="sub-overview-items"></li>
                    </ul>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngIf="all_data.unit_status.toUpperCase() == 'OCCUPIED'">
            <div class="card card-main h-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-3 d-flex">
                    <img
                      src="https://www.indusre.app/api/upload/user/{{all_data.tenant_uid}}/image/{{all_data.tenant_profile_img}}"
                      alt class="card-img-top user-image m-auto">
                  </div>
                  <div class="col-9">
                    <h4 class="user-name">{{all_data.tenant_name}}</h4>
                    <span class="user-uid text-secondery">Tenant</span>
                    <ul class="user-details">
                      <li>Email: {{all_data.tenant_email}}</li>
                      <li>Alternative email:
                        {{all_data.tenant_alternative_email}}</li>
                      <li>Phone: {{all_data.tenant_country_code_number}} -
                        {{all_data.tenant_mobile_number}}</li>
                      <li>Alternative phone:
                        {{all_data.tenant_country_code_alternative_number}} -
                        {{all_data.tenant_alternative_mobile_number}}</li>
                      <li>Gender: {{all_data.tenant_gender}}</li>
                    </ul>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <button class="call-btn btn" (click)="call_tenant_person()"
                    title="CALL"><img
                      src="../../assets/img/svg/common-icons/phone.svg" alt>
                    <span>{{all_data.tenant_gender == 'male' ? 'Call him':
                      'Call her'}}</span></button>

                  <button class="email-btn btn" (click)="email_tenant_person()"
                    title="MAIL"><img
                      src="../../assets/img/svg/common-icons/email-with-at.svg"
                      alt> <span>{{all_data.tenant_gender == 'male' ? 'Mail him':
                      'Mail her'}}</span></button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-4" *ngIf="all_data.user_uid !== ''">
            <div class="card card-main h-100">
              <div class="card-body">
                <div class="row">
                  <div class="col-3 d-flex">
                    <img
                      src="https://www.indusre.app/api/upload/user/{{all_data.user_uid}}/image/{{all_data.user_profile_img}}"
                      alt class="card-img-top user-image m-auto">
                  </div>
                  <div class="col-9">
                    <h4 class="user-name">{{all_data.user_name}}</h4>
                    <span class="user-uid text-secondery">Owner</span>
                    <ul class="user-details">
                      <li>Email: {{all_data.user_email}}</li>
                      <li>Alternative email:
                        {{all_data.user_alternative_email}}</li>
                      <li>Phone: {{all_data.user_country_code_number}} -
                        {{all_data.user_mobile_number}}</li>
                      <li>Alternative phone:
                        {{all_data.user_country_code_alternative_number}} -
                        {{all_data.user_alternative_mobile_number}}</li>
                      <li>Gender: {{all_data.user_gender}}</li>
                    </ul>
                  </div>
                </div>
                <div class="row d-flex justify-content-center">
                  <button class="call-btn btn" (click)="call_person()"
                    title="CALL"><img
                      src="../../assets/img/svg/common-icons/phone.svg" alt>
                    <span>{{all_data.user_gender == 'male' ? 'Call him':
                      'Call her'}}</span></button>

                  <button class="email-btn btn" (click)="email_person()"
                    title="MAIL"><img
                      src="../../assets/img/svg/common-icons/email-with-at.svg"
                      alt> <span>{{all_data.user_gender == 'male' ? 'Mail him':
                      'Mail her'}}</span></button>
                </div>
              </div>
            </div>
          </div>

        </div>

        <div class="row mt-5" *ngIf="all_data != null">
          <div class="col-md-5">
            <div class="card card-main amenities h-100">
              <div class="card-body">
                <h4 class="overview-header">Amenities</h4>
                <div
                  class="row amenities-item-row d-flex justify-content-center">
                  <div class="col-md-12 d-flex m-auto">
                    <ul class="amenities-item-container">
                      <li class="d-flex"
                        *ngFor="let item of amenities; let index = i">
                        <p class="amenities-item">{{item}}</p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-7" *ngIf="all_data.unit_description !== ''">
            <div class="card card-main h-100">
              <h4 class="overview-header">Description</h4>
              <div class="card-body">
                <p>{{all_data.unit_description}}</p>
              </div>
            </div>
          </div>

          <div [ngClass]="all_data.unit_description !== '' ? 'col-md-12': 'col-md-7'" *ngIf="all_data.unit_status.toUpperCase() == 'OCCUPIED'">
            <div class="card card-main h-100">
              <h4 class="overview-header">Lease Details</h4>
              <div class="card-body">
                
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>
