@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

ngx-skeleton-loader {
  border-radius: 10px;
}

.open-external-link-icon {
  padding: 8px;
  background: #d4aa32;
  border-radius: 3px;
  margin-left: 1rem;
  img {
    width: 1rem;
    filter: invert(1);
  }
}

#full-screen-image {
  display: none;

  .close-icon {
    filter: brightness(0) saturate(100%) invert(96%) sepia(1%) saturate(0%)
      hue-rotate(145deg) brightness(84%) contrast(88%);
    width: 1.5rem;
    right: 5rem;
    position: absolute;
    width: 1.5rem;
    z-index: 100;
    top: 5rem;
    cursor: pointer;

    transition: 0.3s all ease-in-out;

    &:hover {
      transform: scaleY(1.2) scaleX(1.2);
      filter: invert(79%) sepia(23%) saturate(1398%) hue-rotate(355deg)
        brightness(90%) contrast(83%);
    }
  }
}

.lease-active {
  background-color: #84ff88;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 1px 2px 10px -5px rgba(106, 255, 86, 0.75);
}

.lease-active-text {
  background-color: #84ff88ab;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 1px 2px 10px -5px rgba(106, 255, 86, 0.75);
}

.lease-inactive {
  background-color: #ff4040;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: 1px 2px 10px -5px rgba(255, 86, 86, 0.75);
}

// .form-control:focus {
//   color: #ffffff !important;
//   background: none !important;
//   border: 0 !important;
//   outline: 0 !important;
//   box-shadow: 0 0 0 0rem #d4aa32 !important;
// }

.lease-inactive-text {
  background-color: #ff535326;
  font-size: 1rem;
  padding: 0 20px;
  border-radius: 5px;
  color: #ff0000a8;
  border: 1px solid #ff00001f;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.vacant {
  background-color: #2b333e1a;
  color: #2b333eb0 !important;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid #2b333e2e;
  font-size: 15px !important;
}
.occupant {
  background-color: #31d9371f;
  color: #0bb111 !important;
  font-weight: 600;
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid #31d9378c;
  font-size: 15px !important;
}

.main-card {
  box-shadow: none;
  border: 1px solid #e6ebf1;
  padding: 0 0;
  margin-bottom: 0;

  .card-header {
    border-bottom: 1px solid #e6ebf1;
    padding: 20px 25px;

    .overview-header {
      padding: 0;
      font-size: 20px;
      font-weight: 500;
      margin: 0;
      text-shadow: none;
    }
  }

  .card-body {
    padding: 20px;
  }
}

.item-header {
  font-size: 2rem;
  font-weight: 500;
}

.prop-status {
  font-size: 20px;
  color: #84878f;
}

.carousel-card {
  border-radius: 15px;

  .carousel-inner {
    object-fit: cover;
    object-position: bottom;
    border-radius: 10px;
    .carousel-item {
      height: 100vh !important;
    }
  }
}

.user-image {
  aspect-ratio: 1/1;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 600;
}

.user-details {
  padding: 0;
  list-style: none;
  font-size: 0.903rem;
  font-weight: 600;
}

.overview-header {
  display: flex;
  padding: 1rem 3rem;
  font-size: 1.5rem;
  font-weight: 600;
  align-items: center;
  text-shadow: 2px 2px 2px #c1c1c1;
}

.overview-row-card {
  max-height: 45vh;
}

.overview-container {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  // margin: auto;

  li {
    margin: 0.5rem 0.25rem;
    .overview-card {
      background: linear-gradient(
        145deg,
        rgba(255, 255, 255, 0.8078431373),
        #ffffff
      );
      box-shadow: 4px 3px 7px #c4c4c4, -5px -5px 5px #fff;
      border-radius: 15px;
      margin-top: 15px;
      margin-bottom: 5px;

      .overview-item {
        padding: 0rem 0.25rem;
      }

      .icon-container {
        list-style: none;
        margin: 0;
        font-weight: 600;
        .card-img-top {
          max-width: 1rem;
          filter: grayscale(1);
        }
      }
    }
  }
}

.amenities {
  background: none !important;
  box-shadow: 0 0 0 0 !important;

  .amenities-item-row {
    padding: 15px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 1px 2px 10px -5px rgba(143, 143, 143, 0.75);

    .amenities-item-container {
      list-style: none;
      display: flex;
      padding: 0;
      flex-wrap: wrap;
      li {
        background: #d4aa32;
        color: white;
        border-radius: 8px;
        padding: 0px 10px;
        margin: 2px 4px;
        box-shadow: 4px 3px 7px #c4c4c4, -5px -5px 5px #fff;
        .amenities-item {
          font-size: 12px;
          font-weight: 600;
          margin: 5px;
        }
      }
    }
  }
}

.call-btn {
  background-color: #4caf50;
  margin: 0.5rem 1rem;
  box-shadow: none;
  border-radius: 8px;
  padding: 10px 20px;
  img {
    max-width: 1.25rem;
    filter: invert(1);
  }
  span {
    font-weight: 600;
    margin: 0rem 0.25rem;
  }
}

.email-btn {
  background-color: #4c87af;
  margin: 0.5rem 1rem;
  border-radius: 9px;
  padding: 10px 20px;
  img {
    max-width: 1.25rem;
    filter: invert(1);
  }
  span {
    font-weight: 600;
    margin: 0rem 0.25rem;
  }
}

.contract-id {
  background-color: #b9b9b9;
  color: #2b333e;
  font-size: 1.125rem;
  padding: 5px 15px;
  border-radius: 10px;

  box-shadow: 0px 2px 2px -3px rgba(0, 0, 0, 0.2),
    0px 1px 2px -2px rgba(0, 0, 0, 0.14), 0px 1px 6px 1px rgba(0, 0, 0, 0.12);

  .mat-row {
    &:hover {
      cursor: pointer;
      background: #fbf9f2;

      .more-btn {
        display: block !important;
      }
      .more-btn-disabled {
        display: none;
      }
    }
  }

  .hidden {
    display: none;
  }

  .first-col {
    border-bottom-left-radius: 10px;
    font-weight: 600;
  }

  .first-col-last {
    border-bottom-left-radius: 10px;
    border-bottom: none;
    font-weight: 600;
  }

  .second-col {
    color: #a3a3a3;
    font-weight: 600;
  }
  .second-col-last {
    border-bottom: none;
    color: #a3a3a3;
    font-weight: 600;
  }

  .third-col {
    font-weight: 600;
  }
  .third-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .fourth-col {
    font-weight: 600;
  }
  .fourth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .fifth-col {
    font-weight: 600;
  }
  .fifth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .sixth-col {
    font-weight: 600;
  }
  .sixth-col-last {
    border-bottom: none;
    font-weight: 600;
  }

  .approved-status::before {
    color: #8ae16b;
    font-weight: 600;
    content: "APPROVED";
    background-color: #e9ffed;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #a9e16b85;
  }
  .declined-status::before {
    color: #ff0000;
    font-weight: 600;
    content: "DECLINED";
    background-color: #fff2f5;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #ff00003d;
  }
  .pending-status::before {
    color: #2b333ea6;
    font-weight: 700;
    content: "PENDING";
    background-color: #2b333e0f;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #2b333e2b;
  }
  .review-status::before {
    color: #d4aa32;
    font-weight: 600;
    content: "REVIEW";
    background-color: #fbf8ef;
    padding: 5px 15px;
    border-radius: 8px;
    font-size: 10px;
    border: 1px solid #e6a60040;
  }

  .eighth-col-last {
    border-bottom: none;
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .eighth-col {
    border-bottom-right-radius: 10px;
    text-align: center;
  }

  .mat-header-cell {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    color: #84878f;
    font-weight: 600;
  }

  .mat-header-row {
    background-color: #f9fafc;
  }
}

:host ::ng-deep .table-paginator {
  .mat-form-field-underline {
    display: none !important;
  }

  .mat-form-field-infix {
    border-top: none !important;
    padding: 10px 0 !important;
  }

  .mat-form-field {
    margin: 0 !important;
  }

  .mat-select-arrow-wrapper {
    margin: 0 5px !important;
    margin-top: 8px !important;
  }

  .mat-paginator {
    background: #fafafb !important;
  }
  .mat-paginator-page-size-label {
    margin: 0 10px !important;
    font-size: 13px !important;
    margin-right: 20px !important;
  }

  .mat-select-value-text {
    font-size: 14px !important;
    font-weight: 600 !important;
  }

  .mat-form-field-wrapper {
    padding: 0 !important;
  }

  .mat-paginator-page-size {
    border: 1px solid #a3a3a37d !important;
    border-radius: 8px !important;
    align-items: center !important;
  }

  .mat-select-value {
    margin-bottom: -10px !important;
  }

  .mat-icon-button {
    svg {
      border: 1px solid #c7c7c7 !important;
      border-radius: 7px !important;
      padding: 3px !important;
    }
  }
}

.table_view_class_hidden {
  display: none;
}

::ng-deep .tooltip {
  position: relative;
  background-color: transparent;
  color: #313a46 !important;
  font-size: 11px;
  font-weight: 600;
  text-shadow: 1px 1px 1px #8d8989;
}

.table-row {
  .teble {
    border-radius: 7px;
    color: #fff;
    background-color: #c1910ac4;
    box-shadow: none;

    .tbody {
      background-color: #f9f9f95c;
      font-weight: 500;
      th {
        font-weight: 500;
      }
      td {
        font-weight: 500;
      }
      tr:nth-of-type(odd) {
        background-color: #d4aa3282;
      }
      tr:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        th {
          border-bottom-left-radius: 10px;
        }
        td {
          border-bottom-right-radius: 10px;
        }
      }
    }
  }

  .detail-table {
    border-radius: 7px;
    color: #fff;
    background-color: #c1910aa8;
    box-shadow: none;

    .tbody {
      background-color: #efefef4a;
      font-weight: 500;
      tr:nth-of-type(odd) {
        background-color: #b9890082;
      }
      tr:last-child {
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
      }
    }
  }
}

.view-lease-btn {
  color: #fff;
  background-color: #2b333ed6;
  border-radius: 7px;
  padding: 10px 20px;
}

.angle-down {
  position: absolute;
  top: 35%;
  right: 2rem;
  max-width: 20px;
  filter: invert(1);
  transition: 0.5s;
  transform: translateY(-100%) rotate(0deg);
}
.angle-up {
  position: absolute;
  top: 35%;
  right: 2rem;
  max-width: 20px;
  filter: invert(1);
  transition: 0.5s;
  transform: translateY(-100%) rotate(180deg);
}

select,
select:focus {
  background: #2b333e;
  color: #fff;
  font-weight: 500;
  border-radius: 10px;
  margin-bottom: 10px;

  option {
    color: #fff;
    text-shadow: none;
    background: #2b333e;
  }
}

::ng-deep .timeline-menu {
  padding: 0 15px;

  .cal-title {
    font-size: 15px;
    font-weight: 600;
    color: #d4aa32;
    margin-bottom: 0;
  }

  .search-btn {
    padding: 6px 12px;
    background: #2b333e;
    font-weight: 500;
  }

  .mat-calendar {
    width: 15rem;
  }

  .vertical-divider {
    width: 1px;
    background: #93939340;
    margin: 0 30px;
  }
}
::ng-deep .mat-mdc-menu-panel {
  max-width: none !important;
}

::ng-deep .finacial {
  box-shadow: 0px 0px 0px;

  th {
    text-transform: uppercase;
  }
  td {
    text-transform: uppercase;
  }
  button,
  button:hover {
    background-color: #cfaa43;
    align-items: flex-end;
    display: flex;
  }

  .mat-mdc-row:nth-child(odd),
  .mat-mdc-row:nth-child(odd):hover {
    background-color: rgb(207 170 67 / 9%);
  }
}
