<div
  class="card"
  style="margin: 0"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane"
>
  <!-- <div class="card-header"></div> -->
  <div class="card-body" style="padding: 1.5rem 1.5rem">
    <div class="col">
      <div class="row m-0 align-items-start w-100">
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">Tenants</p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
        />
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">
          My Tenants
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt=""
        />
        <p class="mr-2" style="font-weight: 500; color: #3c4858b5">Details</p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt=""
        />
      </div>
      <div class="row m-0 mt-4">
        <div
          *ngIf="tenant_data.profile_photo != ''"
          style="
          width: 7rem;
          height: 7rem;
          overflow: hidden;
          background-image: url('{{usrImgPath}}{{tenant_data.profile_photo}}');
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          border-radius: 50%;
        "
        ></div>
        <img
          *ngIf="tenant_data.profile_photo == ''"
          src="assets/img/faces/avatar.webp"
          alt=""
          style="
            max-width: 7rem;
            min-width: 7rem;
            max-height: 7rem;
            min-height: 7rem;
            border-radius: 50%;
            user-select: none;
            pointer-events: none;
          "
        />
        <div class="col my-auto">
          <p class="mb-0 title-name">{{tenant_data.firstname | titlecase}}</p>
          <div class="prop-tab-card mt-2" style="width: 4rem">
            <p>Address</p>
          </div>
          <p class="mb-0 prop ml-1 mt-1">{{tenant_data.address}}</p>
        </div>
        <div class="col">
          <p class="prop-tab">Email</p>
          <p class="mb-0 prop">{{tenant_data.email}}</p>
          <p class="prop-tab mt-1">Phone</p>
          <p class="mb-0 prop mt-1">{{tenant_data.phone_number}}</p>
        </div>
        <div class="col">
          <p class="prop-tab">Nationality</p>
          <p class="mb-0 prop">{{tenant_data.nationality}}</p>
          <p class="prop-tab mt-1">Passport No.</p>
          <p class="mb-0 prop">{{tenant_data.passport_no}}</p>
        </div>
        <div class="col-2">
          <div class="btn contact-btns" (click)="messageUser()">Message</div>
          <div class="btn contact-btns">Report</div>
        </div>
      </div>
      <hr style="margin-top: 2rem" />
      <p class="details-title mt-4">Property Details</p>
      <div class="row m-0 mt-2">
        <div class="col pl-0">
          <p class="prop-tab">Name</p>
          <p class="mb-0 prop">{{tenant_data.property_name}}</p>
          <p class="prop-tab mt-1">Address</p>
          <p class="mb-0 prop mt-1">{{tenant_data.property_address}}</p>
        </div>
        <div class="col">
          <p class="prop-tab">Type</p>
          <p class="mb-0 prop">{{tenant_data.property_type}}</p>
          <p class="prop-tab mt-1">Community</p>
          <p class="mb-0 prop mt-1">{{tenant_data.property_community_name}}</p>
        </div>
        <div class="col">
          <div class="links" (click)="viewRelatedReq()">
            Property Related Requests
          </div>
          <div class="links mt-2" (click)="viewRelatedDoc()">
            Property Related Documents
          </div>
          <div (click)="navigateToPropertyDetailsPage()" class="links mt-2">
            Go to Property Details
          </div>
        </div>
      </div>
      <div class="row m-0 mt-4">
        <p class="details-title m-0 my-auto">Images</p>
        <img
          (click)="navigateToPropertyDetailsPage()"
          matTooltip="More Details"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          class="prop-link my-auto ml-2"
          src="assets/img/svg/link.svg"
          alt=""
        />
      </div>

      <div class="row m-0 mt-4">
        <div
          class="d-flex"
          *ngIf="isImagesLoading == false"
          style="max-width: 100%; overflow: auto"
        >
          <div
            *ngFor="let prop of propertyImgs;i as index;"
            style="margin-bottom: 2rem"
          >
            <img
              (click)="viewPropImage(prop)"
              class="mr-2 prop-images"
              src="{{getPropertyImage(prop)}}"
              alt=""
            />
          </div>
        </div>

        <div *ngIf="isImagesLoading == true" style="height: 170px">
          <ngx-skeleton-loader [theme]="{ width: '288px', height: '140px' }">
          </ngx-skeleton-loader>
        </div>
      </div>
    </div>
  </div>
</div>
