@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .mat-tab-requests {
  .mat-mdc-tab-group {
    .mdc-tab-indicator__content--underline {
      border-color: #d9b152 !important;
    }

    .mdc-tab--active {
      // background: black !important;

      .mdc-tab__text-label {
        transition: 0.2s;
        color: #d9b152 !important;
        font-weight: 600 !important;
      }
    }
  }
}
