<div
  class="card"
  style="margin: 0; background: none;box-shadow: 0px 0px 0px; width: 100%; height: 100%;"
  cdkDrag
  cdkDragRootElement=".cdk-overlay-pane">

  <div class="card-body">
    <div class="col mb-3">
      <div class="row m-0 align-items-start w-100 top-bar">
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">All
          Units
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt />
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">
          Unit Details
        </p>
        <img
          class="mr-2 mt-1 header-arrow-icon"
          src="assets/img/svg/admin-dashboard/arrow-right-1.svg"
          alt />
        <p class="mr-2"
          style="font-weight: 500; color: #3c4858b5; font-size: 0.87rem;">
          Add inventories
        </p>
        <img
          matTooltip="Close"
          matTooltipClass="tooltip"
          matTooltipPosition="above"
          (click)="onCloseDialog()"
          class="mr-2 mt-1 close-icon"
          src="assets/img/svg/req-details/close-circle.svg"
          alt />
      </div>

      <div class="row mx-0 mt-0 mb-1 align-items-start w-100">
        <p class="details-title my-4">
          Add Inventories
        </p>
      </div>

      <div class="row">
        <div class="col-9">
          <div class="row">
            <div class="col-4">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder
                  [(ngModel)]="inventory_name" (keyup)="checkPermission($event)">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Place</mat-label>
                <input type="text" matInput placeholder
                  [(ngModel)]="inventory_place"
                  (keyup)="checkPermission($event)">
              </mat-form-field>
            </div>
            <div class="col-4">
              <mat-form-field class="example-full-width w-100">
                <mat-label>Count</mat-label>
                <input type="number" matInput placeholder
                  [(ngModel)]="inventory_count"
                  (keyup)="checkPermission($event)">
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-dark" (click)="addInventories()"
            matTooltip="Add Inventories"
            matTooltipClass="tooltip"
            matTooltipPosition="above"
            [ngStyle]="{'background-color': permission == true ? '#2b333ee3' : '#171e2786','cursor' :  permission == true ? 'pointer' : 'not-allowed'}">Add</button>
        </div>
      </div>

      <div class="row">
        <div class="col-9">
          <ul
            style="
            list-style: none;
            display: flex;
            margin: 0;
            padding: 0;
            flex-wrap: wrap;
          ">
            <li *ngFor="let item of inventory_array;let i = index" style="
              position: relative;
              background: #ffd45b8f;
              padding: 5px 10px;
              margin: 5px;
              border-radius: 10px;
              font-size: 1rem;
              font-weight: 600;
              color: #424953;
            ">
              <ng-container>
                <button type="button"
                  matTooltip="Delete"
                  matTooltipClass="tooltip"
                  matTooltipPosition="above"
                  style="
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 15px;
                    height: 15px;
                    border: none;
                    border-radius: 50rem;
                    background: #ff00007a;
                    transform: translate(30%, -15%);
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                  "
                  (click)="deleteInventories(i)">
                  <img
                    src="assets/img/svg/common-icons/bin.svg"
                    alt="delete button"
                    style="
                  display: flex;
                  width: 12px;
                  height: 12px;
                  filter: invert(1);
                  margin: auto;
                  transform: translateX(0px);
                " />
                </button>
                {{item.inventory_name}}
              </ng-container>
            </li>
          </ul>
        </div>
        <div class="col-3">
          &nbsp;
        </div>
      </div>
    </div>
    <button type="button"
      matTooltip="Update Inventories"
      matTooltipClass="tooltip"
      matTooltipPosition="above"
      class="btn btn-dark"
      (click)="updateInventories()"
      [ngStyle]="{'background-color': inventory_array.length > 0 ? '#2b333ee3' : '#171e2786','cursor' :  inventory_array.length > 0 ? 'pointer' : 'not-allowed'}"
      style="
        position: absolute;
        bottom: 0;
        right: 0;
        margin: 25px 50px;
      ">
      Submit
    </button>
  </div>
</div>
