@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.bottom-overlay {
  width: calc(100% - 30px);
  height: 2rem;
  background: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
  position: absolute;
  bottom: 0;
}

.main-card-notifications {
  .card-header {
    background: #2b333e;
    color: white;
    padding: 2rem 3rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    span {
      font-size: 25px;
      font-weight: 500;
    }
  }

  .card-body {
    max-height: 45rem;
    overflow: scroll;
    padding: 1rem 2rem;

    .full-msg-cntnt {
      border-bottom: 1px solid rgb(201 201 201 / 40%);
    }
    .unread-dot {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #d3ab33;
      left: 0;
      top: 0;
      border-radius: 50%;
    }
    .online-dot {
      position: absolute;
      width: 1.2rem;
      height: 1.2rem;
      background: #68c131;
      top: 35%;
      border-radius: 50%;
      right: 20%;
      border: 3px solid white;
    }

    .not-img-icon {
      min-width: 5rem;
      min-height: 5rem;
      max-width: 5rem;
      max-height: 5rem;
      border-radius: 50%;
    }

    p:first-child {
      font-weight: 500;
      color: black;
    }

    p:nth-child(2) {
      font-weight: 500;
      color: #acacac;
    }

    .msg-card {
      max-width: 5rem;
      background: #d3ab33;

      span {
        font-size: 12px;
        font-weight: 500;
        letter-spacing: 0.4px;
      }
    }

    .msg-content-card {
      background: #f6f6f6;
      padding: 5px 1rem;
      p {
        font-weight: 400;
      }
    }
  }
}

.customize-card {
  position: fixed;
  width: 28%;
  transition: 0.1s all ease-in-out;
  // right: 4rem;

  .card-body {
    overflow: hidden;
    .btn {
      background: #2b333e;
      border-radius: 7px;
      padding: 10px 20px;
      img {
        padding-right: 10px;
        filter: brightness(0) invert(1);
        width: 2rem;
      }
      p {
        color: white;
      }
    }
  }
}

.customize-card-mini {
  position: fixed;
  width: 23%;
  transition: 0.1s all ease-in-out;
  // right: 4rem;

  .card-body {
    overflow: hidden;
    .btn {
      background: #2b333e;
      border-radius: 7px;
      padding: 10px 20px;
      img {
        padding-right: 10px;
        filter: brightness(0) invert(1);
        width: 2rem;
      }
      p {
        color: white;
      }
    }
  }
}
