@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.dashboard-sm-card {
  transition: 0.3s ease-out;
  cursor: pointer;
  &:hover {
    transform: scaleY(1.001) scaleX(1.001);
    box-shadow: -1px 2px 26px -9px rgba(0, 0, 0, 0.74);
    -webkit-box-shadow: -1px 2px 26px -9px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -1px 2px 26px -9px rgba(0, 0, 0, 0.74);
  }
}

.demo-table {
  width: 100%;

  .table-header-font {
    font-size: 15px;
    color: black;
    font-weight: 600;
  }

  .mat-row {
    height: 80px;
  }
}

.back-btn-row {
  margin: 0;
  width: 65px;
  justify-content: space-between;

  img {
    width: 20px;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;

    img {
      transform: translateX(-2px);
    }
  }
}
