<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->
<!------------------------------------ Mobile Screen ----------------------------------------------------->

<div class="main-content home-bg" *ngIf="screenWidth <= 425" style="padding: 0">
  <div class="container-fluid">
    <div class="col" style="padding: 0">
      <div class="row" style="margin: 0">
        <div class="col" style="padding: 0">
          <div
            routerLink="/my-requests"
            class="card"
            style="
              background-color: #d3ab33;
              padding: 20px;
              margin-bottom: 15px;
              min-height: 130px;
            "
          >
            <div class="col" style="padding: 0; text-align: center">
              <img
                src="assets/img/svg/home-page/note-2.svg"
                alt=""
                style="filter: brightness(0) invert(1); width: 35px"
              />
              <p
                style="
                  font-size: 15px;
                  font-weight: 900;
                  color: white;
                  margin-top: 20px;
                  margin-bottom: 0;
                "
              >
                My Requests
              </p>
            </div>
          </div>
        </div>
        <div class="col" style="padding-right: 0">
          <div
            routerLink="/my-properties"
            class="card"
            style="
              background-color: #d3ab33;
              padding: 20px;
              margin-bottom: 15px;
              min-height: 130px;
            "
          >
            <div class="col" style="padding: 0; text-align: center">
              <img
                src="assets/img/svg/home-page/building-4.svg"
                alt=""
                style="filter: brightness(0) invert(1); width: 35px"
              />
              <p
                style="
                  font-size: 15px;
                  font-weight: 900;
                  color: white;
                  margin-top: 20px;
                  margin-bottom: 0;
                "
              >
                My Properties
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row" style="margin: 0">
        <div class="col" style="padding: 0">
          <div
            routerLink="/reports"
            class="card"
            style="
              background-color: #d3ab33;
              padding: 20px;
              margin-top: 0;
              min-height: 130px;
            "
          >
            <div class="col" style="padding: 0; text-align: center">
              <img
                src="assets/img/svg/home-page/card-pos.svg"
                alt=""
                style="filter: brightness(0) invert(1); width: 35px"
              />
              <p
                style="
                  font-size: 15px;
                  font-weight: 900;
                  color: white;
                  margin-top: 20px;
                  margin-bottom: 0;
                "
              >
                Payments
              </p>
            </div>
          </div>
        </div>
        <div class="col" style="padding-right: 0">
          <div
            routerLink="/appointments"
            class="card"
            style="
              background-color: #d3ab33;
              padding: 20px;
              margin-top: 0;
              min-height: 130px;
            "
          >
            <div class="col" style="padding: 0; text-align: center">
              <img
                src="assets/img/svg/home-page/calendar.svg"
                alt=""
                style="filter: brightness(0) invert(1); width: 35px"
              />
              <p
                style="
                  font-size: 15px;
                  font-weight: 900;
                  color: white;
                  margin-top: 20px;
                  margin-bottom: 0;
                "
              >
                Appointments
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="card card-plain card-recent-happenings">
        <div class="card-header card-recent-happenings-head">
          <tr>
            <td>
              <img
                class="recent-happening-icon"
                src="assets/img/svg/home-page/programming-arrows.svg"
                alt=""
              />
            </td>
            <td>
              <h4 class="card-title mt-0 tableList-title">Recent Happenings</h4>
            </td>
          </tr>
        </div>
        <div class="card-body" style="background-color: #ffffff94">
          <div class="table-responsive" style="padding: 0">
            <div
              *ngIf="isRecentHappeningsLoading == true"
              style="
                display: flex;
                width: 100%;
                height: 200px;
                justify-content: center;
                align-items: center;
              "
            >
              <span
                class="spinner-border spinner-border-m mr-2"
                style="color: #d4aa32"
              >
              </span>
            </div>
            <table
              class="table table-hover"
              *ngIf="isRecentHappeningsLoading == false"
            >
              <tbody *ngIf="recentHeppenings.length != 0">
                <tr
                  *ngFor="let e of recentHeppenings"
                  class="recent-happenings-home"
                >
                  <td>
                    {{ e["content"] }}
                  </td>
                  <td>
                    {{ e["date"] }}
                  </td>
                </tr>
              </tbody>
              <div *ngIf="isRecentHappeningsLoading == false">
                <tbody
                  *ngIf="recentHeppenings.length == 0"
                  style="display: flex; justify-content: center"
                >
                  <p style="font-size: 20px; margin-top: 15px; color: #d3ab33">
                    No Recent Happenings
                  </p>
                </tbody>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<!------------------------------------ Desktop Screen ----------------------------------------------------->
<div class="main-content home-bg" *ngIf="screenWidth > 425">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header">
            <!-- <div class="card-icon home-card-icons">
                            <i class="material-icons ">article</i>
                        </div> -->
            <h3 class="card-title">01</h3>
            <p class="card-heading">My Requests</p>
            <tr>
              <td>
                <a
                  routerLink="/my-requests"
                  queryParams="{uid: user.id}"
                  class="homePage-more-info-link"
                  >More info</a
                >
              </td>
              <td>
                <img
                  class="arrow_icon_more_info"
                  src="assets/img/svg/home-page/arrow-right-1.svg"
                  alt=""
                />
              </td>
            </tr>
          </div>
          <img
            class="home-card-icon-main"
            src="assets/img/svg/home-page/note-2.svg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6" *ngIf="isLandlord">
        <div class="card card-stats">
          <div class="card-header card-header">
            <h3 class="card-title">01</h3>
            <p class="card-heading">My Properties</p>
            <tr>
              <td>
                <a
                  routerLink="/my-properties"
                  queryParams="{uid: user.id}"
                  class="homePage-more-info-link"
                  >More info</a
                >
              </td>
              <td>
                <img
                  class="arrow_icon_more_info"
                  src="assets/img/svg/home-page/arrow-right-1.svg"
                  alt=""
                />
              </td>
            </tr>
          </div>
          <img
            class="home-card-icon-main"
            src="assets/img/svg/home-page/building-4.svg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header">
            <h3 class="card-title">01</h3>
            <p class="card-heading">Upcoming Payments</p>
            <tr>
              <td>
                <a
                  routerLink="/reports"
                  queryParams="{uid: user.id}"
                  class="homePage-more-info-link"
                  >More info</a
                >
              </td>
              <td>
                <img
                  class="arrow_icon_more_info"
                  src="assets/img/svg/home-page/arrow-right-1.svg"
                  alt=""
                />
              </td>
            </tr>
          </div>
          <img
            class="home-card-icon-main"
            src="assets/img/svg/home-page/card-pos.svg"
            alt=""
          />
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
          <div class="card-header card-header">
            <h3 class="card-title">01</h3>
            <p class="card-heading">Total Appointment</p>
            <tr>
              <td>
                <a
                  routerLink="/appointments"
                  queryParams="{uid: user.id}"
                  class="homePage-more-info-link"
                  >More info</a
                >
              </td>
              <td>
                <img
                  class="arrow_icon_more_info"
                  src="assets/img/svg/home-page/arrow-right-1.svg"
                  alt=""
                />
              </td>
            </tr>
          </div>
          <img
            class="home-card-icon-main"
            src="assets/img/svg/home-page/calendar.svg"
            alt=""
          />
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-plain card-recent-happenings">
        <div class="card-header card-recent-happenings-head">
          <tr>
            <td>
              <img
                class="recent-happening-icon"
                src="assets/img/svg/home-page/programming-arrows.svg"
                alt=""
              />
            </td>
            <td>
              <h4 class="card-title mt-0 tableList-title">Recent Happenings</h4>
            </td>
          </tr>
        </div>
        <div class="card-body" style="background-color: #ffffff94">
          <div class="table-responsive">
            <table
              class="table table-hover"
              *ngIf="isRecentHappeningsLoading == true"
            >
              <tbody>
                <tr class="recent-happenings-home">
                  <td>
                    <div
                      style="
                        max-width: 850px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '850px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                  <td>
                    <div
                      style="
                        max-width: 150px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '150px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                </tr>
                <tr class="recent-happenings-home">
                  <td>
                    <div
                      style="
                        max-width: 850px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '850px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                  <td>
                    <div
                      style="
                        max-width: 150px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '150px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                </tr>
                <tr class="recent-happenings-home">
                  <td>
                    <div
                      style="
                        max-width: 850px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '850px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                  <td>
                    <div
                      style="
                        max-width: 150px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '150px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                </tr>
                <tr class="recent-happenings-home">
                  <td>
                    <div
                      style="
                        max-width: 850px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '850px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                  <td>
                    <div
                      style="
                        max-width: 150px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '150px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                </tr>
                <tr class="recent-happenings-home">
                  <td>
                    <div
                      style="
                        max-width: 850px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '850px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                  <td>
                    <div
                      style="
                        max-width: 150px;
                        max-height: 30px;
                        border-radius: 9px;
                        margin-top: 15px;
                      "
                    >
                      <ngx-skeleton-loader
                        [theme]="{ width: '150px', height: '30px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              class="table table-hover"
              *ngIf="isRecentHappeningsLoading == false"
            >
              <tbody *ngIf="recentHeppenings.length != 0">
                <tr
                  *ngFor="let e of recentHeppenings"
                  class="recent-happenings-home"
                >
                  <td>
                    {{ e["content"] }}
                  </td>
                  <td>
                    {{ e["date"] }}
                  </td>
                </tr>
              </tbody>
              <div *ngIf="isRecentHappeningsLoading == false">
                <tbody
                  *ngIf="recentHeppenings.length == 0"
                  style="display: flex; justify-content: center"
                >
                  <p style="font-size: 20px; margin-top: 15px; color: #d3ab33">
                    No Recent Happenings
                  </p>
                </tbody>
              </div>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
