@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.demo-table {
  width: 100%;
  margin-top: 40px;
  box-shadow: none;

  .mat-header-row {
    background-color: #d9d9d9;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .mat-row {
    height: 90px;
    cursor: none;
    // &:hover {
    //   background-color: #2b333e;
    //   .req-type {
    //     color: white;
    //   }

    //   .property-name {
    //     color: white;
    //   }

    //   .created-date {
    //     color: white;
    //   }
    // }
  }

  .table-header-font {
    font-size: 15px;
    color: black;
    font-weight: 600;
  }

  .request-approval {
    color: #d4aa32;
    font-weight: 400;
  }

  .approved {
    color: #8ae16b;
    font-weight: 400;
  }

  .denied {
    color: #ff0000;
    font-weight: 400;
  }
}

.close-results {
  margin-top: 3px;
  width: 16px;
  filter: brightness(0) invert(1);
  margin-left: 14px;

  &:hover {
    cursor: pointer;
  }
}

:host ::ng-deep .mat-form-field {
  width: 100% !important;
  height: 40px !important;
  border-radius: 7px !important;
  background-color: white !important;
  padding-left: 10px !important;
  border: 1px solid #a3a3a3;
  // margin-top: 25px !important;
}

:host ::ng-deep .mat-form-field-flex {
  background: none !important;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  padding: 0em 0.75em 0px 0.75em !important;
}

:host ::ng-deep .mat-select-arrow-wrapper {
  height: 0 !important;
}

:host ::ng-deep .mat-form-field-underline {
  display: none !important;
}
