button {
  margin-right: 8px;
}

.cancel-btn {
  background-color: red;
  margin-left: 20px;
  width: 200;
  height: 200;
  color: white;
  border: none;
  border-radius: 3px;
}

.submit-btn {
  background-color: green;
  margin-left: 20px;
  width: 200;
  height: 200;
  color: white;
  border: none;
  border-radius: 3px;
}

.input-text{
  margin: 10px;
  
}