@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

::ng-deep .textField {
  width: 100%;

  .mdc-notched-outline {
    .mdc-notched-outline__leading {
      border-color: #d4aa32;
    }
    .mdc-notched-outline__notch {
      border-color: #d4aa32;
    }
    .mdc-notched-outline__trailing {
      border-color: #d4aa32;
    }
  }
}
