<div class="main-content">
  <div class="container-fluid">
    <div class="row user-profile-wrap">
      <div class="col-lg">
        <div class="row">
          <div class="card user-profile-top-card col-sm" style="margin: 25px">
            <div
              class="card-body text-left"
              style="margin: 30px; margin-bottom: 10px"
            >
              <div class="row">
                <div class="row">
                  <div *ngIf="userProfilePic != false">
                    <div
                      *ngIf="userProfileFetching == false"
                      style="
                      width: 110px;
                      height: 110px;
                      border-radius: 50%;
                      background-size: cover;
                      background-position: center;
                      pointer-events: none;
                      background-image: url('{{ userProfilePic }}');
                    "
                    ></div>
                  </div>

                  <div *ngIf="userProfileFetching == false">
                    <div
                      *ngIf="userProfilePic == false"
                      style="
                        width: 110px;
                        height: 110px;
                        border-radius: 50%;
                        background-size: cover;
                        background-position: center;
                        pointer-events: none;
                        background-image: url('assets/img/faces/avatar.webp');
                      "
                    ></div>
                  </div>

                  <!-- <img
                    *ngIf="userProfileFetching == false"
                    src="{{ userProfilePic }}"
                    alt="avatar"
                    class="rounded-circle img-fluid"
                    style="
                      min-height: 110px;
                      min-width: 110px;
                      max-width: 110px;
                      max-height: 110px;
                      pointer-events: none;
                    "
                  /> -->
                  <div
                    class="change-img-btn"
                    (click)="fileInput.click()"
                    *ngIf="userProfileFetching == false"
                  >
                    <img
                      src="assets/img/svg/user-profile/camera.svg"
                      alt=""
                      style="
                        filter: brightness(0) invert(1);
                        width: 20px;
                        margin: 7px;
                      "
                    />
                    <span class="tooltiptext">Change Image</span>

                    <input
                      #fileInput
                      type="file"
                      (change)="pickImg($event)"
                      style="display: none"
                    />
                  </div>

                  <ngx-skeleton-loader
                    *ngIf="userProfileFetching == true"
                    appearance="circle"
                    [theme]="{ width: '107px', height: '107px' }"
                  >
                  </ngx-skeleton-loader>
                  <div class="col-xs">
                    <p class="fullName-user">{{ full_name }}</p>
                    <p class="user-name-subtitle">{{ getAuthType() }}</p>
                  </div>
                </div>

                <div class="col text-right">
                  <button class="btn buttons-user-profile-card">
                    <img
                      src="assets/img/svg/user-profile/edit-2.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        width: 17px;
                        margin-right: 10px;
                      "
                    />
                    Edit Profile
                  </button>
                </div>
              </div>

              <div
                class="d-flex justify-content-left mb-2"
                style="margin-top: 30px; margin-left: -12px"
              >
                <button
                  type="button"
                  class="btn"
                  [ngClass]="
                    isOverviewTabActive == true
                      ? 'buttons-user-profile-card-active'
                      : 'buttons-user-profile-card'
                  "
                  (click)="isOverviewTabClicked()"
                >
                  <img
                    src="assets/img/svg/user-profile/home.svg"
                    alt=""
                    class="user-profile-tab-svg"
                  />
                  Overview
                </button>
                <button
                  type="button"
                  class="btn"
                  [ngClass]="
                    isDocDetailsTabActive == true
                      ? 'buttons-user-profile-card-active'
                      : 'buttons-user-profile-card'
                  "
                  (click)="isDocDetailsTabClicked()"
                >
                  <img
                    src="assets/img/svg/user-profile/document-text.svg"
                    alt=""
                    class="user-profile-tab-svg"
                  />
                  Document Details
                </button>
                <button
                  *ngIf="isLandlord == true"
                  type="button"
                  class="btn"
                  [ngClass]="
                    isPropertiesTabActive == true
                      ? 'buttons-user-profile-card-active'
                      : 'buttons-user-profile-card'
                  "
                  (click)="isPropertiesTabClicked()"
                >
                  <img
                    src="assets/img/svg/user-profile/building.svg"
                    alt=""
                    class="user-profile-tab-svg"
                  />
                  My Properties
                </button>
              </div>
            </div>
          </div>
          <div class="card col-sm-3 inbox-user-profile">
            <p>Inbox</p>
          </div>
        </div>

        <div class="row">
          <!-- ------------------------Overview-------------------------------------- -->
          <!-- ------------------------Overview-------------------------------------- -->
          <!-- ------------------------Overview-------------------------------------- -->
          <div
            class="card col-sm"
            style="margin: 25px; padding: 35px"
            *ngIf="isOverviewTabActive == true"
          >
            <span class="personal-info-title">All Personal Information</span>
            <div class="row" style="margin-top: 20px">
              <div
                class="col-xs"
                style="margin-right: 120px; margin-left: 25px"
              >
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/user.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '150px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>

                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      {{ full_name }}
                    </p>
                    <p class="info-card-little-type">Passport Name</p>
                  </div>
                </div>
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/directbox-notif.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '180px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      {{ email }}
                    </p>
                    <p class="info-card-little-type">Mail Address</p>
                  </div>
                </div>
              </div>

              <div class="col-xs">
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/mobile.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 15px;
                        width: 15px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '150px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      +971 {{ phone_number }}
                    </p>
                    <p class="info-card-little-type">UAE Personal Number</p>
                  </div>
                </div>
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/call.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '150px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      04123134234
                    </p>
                    <p class="info-card-little-type">Home Number</p>
                  </div>
                </div>
              </div>
            </div>

            <hr />

            <div class="row" style="margin-top: 0px">
              <div class="col-xs" style="margin-right: 40px; margin-left: 25px">
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/house.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '200px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      {{ address }}
                    </p>
                    <p class="info-card-little-type">Home Address</p>
                  </div>
                </div>
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/location.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '130px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      R1234214
                    </p>
                    <p class="info-card-little-type">P.O Box No</p>
                  </div>
                </div>
              </div>

              <div class="col-xs">
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/briefcase.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <div
                      style="margin-left: 17px; margin-bottom: -14px"
                      *ngIf="userDetailsFetching == true"
                    >
                      <ngx-skeleton-loader
                        appearance="rectangle"
                        [theme]="{ width: '120px', height: '20px' }"
                      >
                      </ngx-skeleton-loader>
                    </div>
                    <p
                      class="info-card-little-content"
                      *ngIf="userDetailsFetching == false"
                    >
                      CEO
                    </p>
                    <p class="info-card-little-type">Employment</p>
                  </div>
                </div>
                <!-- <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <i class="material-icons">account_circle</i>
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">{{ full_name }}</p>
                    <p class="info-card-little-type">Passport Name</p>
                  </div>
                </div> -->
              </div>
            </div>
          </div>

          <!-- ------------------------Doc Details-------------------------------------- -->
          <!-- ------------------------Doc Details-------------------------------------- -->
          <!-- ------------------------Doc Details-------------------------------------- -->

          <div
            class="card col-sm"
            style="margin: 25px; padding: 35px"
            *ngIf="isDocDetailsTabActive == true"
          >
            <span class="personal-info-title">Passport Details</span>
            <div class="row" style="margin-top: 20px">
              <div
                class="col-xs"
                style="margin-right: 120px; margin-left: 25px"
              >
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/user.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">{{ full_name }}</p>
                    <p class="info-card-little-type">Passport Name</p>
                  </div>
                </div>
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/directbox-notif.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">{{ email }}</p>
                    <p class="info-card-little-type">Mail Address</p>
                  </div>
                </div>
              </div>

              <div class="col-xs">
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/mobile.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 15px;
                        width: 15px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">
                      +971 {{ phone_number }}
                    </p>
                    <p class="info-card-little-type">UAE Personal Number</p>
                  </div>
                </div>
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/call.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">04123134234</p>
                    <p class="info-card-little-type">Home Number</p>
                  </div>
                </div>
              </div>
            </div>

            <hr />
            <span class="personal-info-title">Visa Details</span>
            <div class="row" style="margin-top: 0px">
              <div class="col-xs" style="margin-right: 40px; margin-left: 25px">
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/house.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">{{ address }}</p>
                    <p class="info-card-little-type">Home Address</p>
                  </div>
                </div>
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/location.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">R1234214</p>
                    <p class="info-card-little-type">P.O Box No</p>
                  </div>
                </div>
              </div>

              <div class="col-xs">
                <div class="row" style="margin: 20px">
                  <div class="info-card-little">
                    <img
                      src="assets/img/svg/user-profile/briefcase.svg"
                      alt=""
                      style="
                        filter: invert(52%) sepia(0%) saturate(1013%)
                          hue-rotate(146deg) brightness(96%) contrast(89%);
                        margin: 13px;
                        width: 20px;
                      "
                    />
                  </div>

                  <div class="col-xs">
                    <p class="info-card-little-content">CEO</p>
                    <p class="info-card-little-type">Employment</p>
                  </div>
                </div>
                <!-- <div class="row" style="margin: 20px">
                <div class="info-card-little">
                  <i class="material-icons">account_circle</i>
                </div>

                <div class="col-xs">
                  <p class="info-card-little-content">{{ full_name }}</p>
                  <p class="info-card-little-type">Passport Name</p>
                </div>
              </div> -->
              </div>
            </div>
          </div>

          <!-- ------------------------My Properties-------------------------------------- -->
          <!-- ------------------------My Properties-------------------------------------- -->
          <!-- ------------------------My Properties-------------------------------------- -->

          <div
            class="card col-sm"
            style="margin: 25px; padding: 35px"
            *ngIf="isPropertiesTabActive == true"
          >
            <span class="personal-info-title">Properties</span>

            <div
              *ngIf="properties.length == 0"
              style="display: flex; justify-content: center; margin-top: 130px"
            >
              <p style="font-size: 20px; color: #d3ab33">
                You have'nt listed any property
              </p>
            </div>
            <div *ngIf="properties.length != 0">
              <div class="card-deck" *ngFor="let property of properties">
                <div
                  class="card text-left property-card-user-profile"
                  (click)="goToPropertyPage(property)"
                  style="cursor: pointer"
                >
                  <div class="col" style="margin: 20px; margin-left: 5px">
                    <div
                      class="row"
                      style="margin-left: 1px; margin-right: 6px"
                    >
                      <div *ngIf="propertiesImagesLoading != true">
                        <img
                          *ngIf="property.image1 != ''"
                          class="property-img-user-profile"
                          src="{{ propertiesImagesUrl }}/{{ property.image1 }}"
                          alt=""
                          style="pointer-events: none"
                        />

                        <img
                          *ngIf="property.image1 == ''"
                          src="assets/img/properties/property_placeholder.webp"
                          alt=""
                          style="
                            pointer-events: none;
                            border-radius: 7px;
                            height: 130px;
                            margin-bottom: 10px;
                          "
                        />
                      </div>

                      <div
                        *ngIf="propertiesImagesLoading == true"
                        style="
                          border-radius: 7px;
                          max-width: 170px;
                          min-width: 160px;
                          max-height: 130px;
                          min-height: 120px;
                          margin-bottom: 15px;
                        "
                      >
                        <ngx-skeleton-loader
                          [theme]="{ width: '170px', height: '130px' }"
                        >
                        </ngx-skeleton-loader>
                      </div>

                      <div class="col-xs">
                        <p class="property-id">3432987</p>
                        <p class="property-name">
                          {{ property.property_name }}
                        </p>
                        <p class="property-address">
                          {{ property.property_address }}
                        </p>
                      </div>

                      <!---------------- vertical divider --------------------->

                      <div class="vl"></div>

                      <div class="col-xs">
                        <p class="property-status">Status</p>
                        <ul style="margin-top: -10px">
                          <li class="property-status-active">
                            Active (8 months)
                          </li>
                          <li class="property-status-tours">Tours Enabled</li>
                          <li class="property-status-payments">Payments</li>
                        </ul>
                      </div>

                      <!---------------- vertical divider --------------------->

                      <div class="vl" style="margin-left: 70px"></div>

                      <div
                        class="text-right"
                        style="width: auto; margin-left: 20px"
                      >
                        <div class="col-xs" style="width: 150px">
                          <div class="btn btn-property-card">Edit</div>
                          <div class="btn btn-property-card">Actions</div>
                          <div class="btn btn-property-card">Remove</div>
                        </div>
                      </div>
                    </div>

                    <hr class="property-card-horizontal-divider" />

                    <div class="row" style="height: 5px">
                      <p class="property-card-footer-p">
                        Uploaded on: 01/02/2022 9:23 AM
                      </p>
                      <p
                        class="property-card-footer-p"
                        style="margin-left: 50px"
                      >
                        Last Updated on: 12/11/2022 9:23 AM
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="card col-sm-3 newsLetter-user-profile"
            style="height: 400px"
          >
            <p>News Letter</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
