<div class="main-content">
  <div class="container-fluid" style="max-width: 2576px">
    <div class="row m-0">
      <div class="col" *ngIf="isContentLoading == false">
        <div *ngIf="user != undefined">
          <div class="row m-0">
            <div
              *ngIf="user.profile_photo != ''"
              style="
              width: 6rem;
              height: 6rem;
              overflow: hidden;
              background-image: url('{{ usrImgPath }}{{ user.profile_photo }}');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 50%;
            "
            ></div>
            <img
              *ngIf="user.profile_photo == ''"
              src="assets/img/faces/avatar.webp"
              alt=""
              style="
                max-width: 6rem;
                min-width: 6rem;
                max-height: 6rem;
                min-height: 6rem;
                border-radius: 50%;
                user-select: none;
                pointer-events: none;
              "
            />
            <div class="col d-flex align-items-center">
              <div class="col">
                <p class="m-0 prop mb-2">{{ user.firstname }} {{ user.lastname }}</p>
                <span class="auth-info-tab">{{
                  user.auth_type | titlecase
                }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="isContentLoading == true">
        <ngx-skeleton-loader
          appearance="circle"
          [theme]="{ width: '7rem', height: '7rem' }"
        >
        </ngx-skeleton-loader>
      </div>
    </div>

    <div class="col-6 details-box mt-5">

    </div>
  </div>
</div>
