@import url(https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900);

* {
  font-family: "Montserrat";
}

.auth-info-tab {
  color: #d6a410;
  background: #d3ab331f;
  padding: 3px 7px;
  border: 1px solid #d3ab3340;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
}

.prop {
  font-size: 16px;
  font-weight: 500;
}

.details-box{
  height: 30rem;
  border: 1px solid #daa71066;
  border-radius: 10px;
}
