@import url(https://fonts.googleapis.com/css?family=Montserrat);

* {
  font-family: "Montserrat";
}

.user-profile-wrap {
  .property-card-user-profile {
    height: auto;
    background-color: #edebebd9;
    width: 97%;
    margin-left: 25px;

    .property-card-footer-p {
      margin-top: -6px;
      margin-left: 17px;
      font-size: 12px;
      color: #808080c7;
    }

    .property-card-horizontal-divider {
      width: 98%;
      margin-left: 2px;
      border-width: 1.5px;
      background-color: #d9d8d899;
      border-radius: 50px;
      margin-top: 0px;
    }

    .property-img-user-profile {
      object-fit: cover;
      overflow: hidden;
      border-radius: 7px;
      max-width: 170px;
      min-width: 160px;
      max-height: 130px;
      min-height: 120px;
      margin-bottom: 15px;
    }

    .property-id {
      margin-left: 15px;
      margin-top: 7px;
      margin-bottom: 5px;
      font-weight: 800;
      color: #d3ab33;
      max-width: 195px;
      min-width: 195px;
    }
    .property-name {
      margin-left: 15px;
      margin-bottom: 0px;
      font-weight: 600;
      max-width: 195px;
      min-width: 195px;
    }

    .property-address {
      margin-left: 15px;
      font-weight: 500;
      color: #808080c7;
      max-width: 195px;
      min-width: 195px;
    }

    .vl {
      border-left: 2px solid rgb(159 159 159 / 28%);
      margin-left: 50px;
      margin-top: 4px;
      height: 120px;
    }

    .property-status {
      margin-left: 55px;
      margin-top: 7px;
      font-weight: 800;
      color: #808080bf;
    }
    .property-status-active {
      font-size: 13px;
      font-weight: 500;
      &::marker {
        color: #8ae16b;
        font-size: 20px;
      }
    }
    .property-status-tours {
      font-size: 13px;
      font-weight: 500;
      &::marker {
        color: #8ae16b;
        font-size: 20px;
      }
    }
    .property-status-payments {
      font-size: 13px;
      font-weight: 500;
      &::marker {
        color: #d4aa32;
        font-size: 20px;
      }
    }

    .btn-property-card {
      height: 33px;
      padding-top: 9px;
      border-radius: 10px;
      width: 130px;
      background-color: #80808042;
      color: gray;
    }
  }

  hr {
    width: 92%;
    margin-left: 30px;
    border-width: 3px;
    background-color: #d3ab33;
    border-radius: 50px;
    margin-top: 0px;
  }
  .inbox-user-profile {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 10px;
  }

  .newsLetter-user-profile {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 25px;
    margin-left: 10px;
  }

  .personal-info-title {
    font-size: 22px;
    font-weight: 500;
    margin-left: 30px;
  }

  .info-card-little {
    background-color: rgb(217, 217, 217);
    height: 45px;
    width: 45px;
    border-radius: 5px;

    i {
      padding: 10px;
      color: gray;
    }
  }

  .info-card-little-content {
    margin-bottom: -4px;
    margin-left: 17px;
    font-weight: 600;
  }

  .info-card-little-type {
    margin-left: 17px;
    color: rgb(144, 143, 143);
  }

  .user-profile-top-card {
    background-image: linear-gradient(
        to bottom,
        rgb(243 243 243 / 89%) 50%,
        rgb(243 243 243 / 90%) 80%
      ),
      url("../../assets/img/bg/navbar_bg.jfif") !important;

    .change-img-btn {
      cursor: pointer;
      background-color: #d3ab33;
      height: 35px;
      width: 35px;
      border-radius: 50%;
      position: absolute;
      top: 85px;
      left: 80px;

      i {
        padding: 6px;
        color: white;
      }

      &:hover {
        .tooltiptext {
          visibility: visible;
          width: 105px;
          background-color: #2b333e;
          color: white;
          text-align: center;
          border-radius: 6px;
          padding: 3px 0;

          /* Position the tooltip */
          position: absolute;
          z-index: 1;

          font-size: 13px;
        }
      }
    }

    .tooltiptext {
      visibility: hidden;
    }

    .fullName-user {
      margin-top: 12px;
      font-size: 25px;
      font-weight: 600;
      padding-left: 20px;
    }

    .user-name-subtitle {
      margin-left: 20px;
      font-size: 18px;
      font-weight: 600;
      margin-top: -7px;
      color: #d3ab33;
    }

    .buttons-user-profile-card {
      margin-right: 15px;
      padding-left: 17px;
      padding-right: 17px;
      border-radius: 10px;
      color: gray;
      background-color: white;

      .user-profile-tab-svg {
        padding-right: 8px;
        filter: invert(52%) sepia(0%) saturate(1013%) hue-rotate(146deg)
          brightness(96%) contrast(89%);
        width: 25px;
        margin-top: -4px;
      }
    }

    .buttons-user-profile-card-active {
      margin-right: 15px;
      padding-left: 17px;
      padding-right: 17px;
      border-radius: 10px;
      background-color: #d3ab33;
      color: white;

      .user-profile-tab-svg {
        padding-right: 8px;
        filter: brightness(0) invert(1);
        width: 25px;
        margin-top: -4px;
      }
    }
  }
}
