<div class="col" [ngClass]="dropDownBtnStyles()">
  <div
    class="row dropDownBtnRow"
    style="margin: -10px -15px; width: 220px; padding: 10px 15px"
    (click)="dropDownBtnClick()"
  >
    <img src="assets/img/svg/sidebar/request-send.svg" alt="" />
    <p>Landlord Requests</p>
  </div>

  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    [ngClass]="requestActiveCheck('/payment-requests')"
    (click)="navigateToRequests('payment')"
  >
    <img src="assets/img/svg/sidebar/empty-wallet.svg" alt="" />
    <p>Payment requests</p>
  </div>
  <div
    *ngIf="isDropDownBtnsShow == true"
    class="row"
    style="margin-top: -10px"
    [ngClass]="requestActiveCheck('/inspection-requests')"
    (click)="navigateToRequests('inspection')"
  >
    <img src="assets/img/svg/sidebar/property-conditioning.svg" alt="" />
    <p>Inspection Request</p>
  </div>
</div>
